<!doctype html>
<html lang="de">
   <head>
      <meta name="robots" content="noindex">
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex">
      <title>Abonnieren Sie die E-Book-Mitgliedschaft „The Circle of Love“.</title>
      <meta name="description" content="Entdecken Sie das E-Book „The Circle of Love“ mit der Anmeldung als Mitglied. Entdecken Sie die spirituelle Reise eines Mannes in die Tiefen von Seele und Geist.">
      <meta charset="utf-8">
      <link rel="canonical" href="/de/signup/">
      <link rel="alternate" hreflang="x-default" href="/signup/">
      <link rel="alternate" hreflang="en-us" href="/signup/">  
      <link rel="alternate" hreflang="en" href="/en/signup/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/signup/">
      <link rel="alternate" hreflang="en-in" href="/en-in/signup/">
      <link rel="alternate" hreflang="es" href="/es/signup/">
      <link rel="alternate" hreflang="es-es" href="/es-es/signup/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/signup/">
      <link rel="alternate" hreflang="es-co" href="/es-co/signup/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/signup/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/signup/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/signup/"> 
      <link rel="alternate" hreflang="zh" href="/zh/signup/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/signup/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/signup/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/signup/"> 
      <link rel="alternate" hreflang="hi" href="/hi/signup/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/signup/">
      <link rel="alternate" hreflang="fr" href="/fr/signup/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/signup/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/signup/"> 
      <link rel="alternate" hreflang="pt" href="/pt/signup/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/signup/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/signup/">
      <link rel="alternate" hreflang="de" href="/de/signup/">
      <link rel="alternate" hreflang="de-de" href="/de-de/signup/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/signup/">
      <link rel="alternate" hreflang="id-id" href="/id-id/signup/">
      <link rel="alternate" hreflang="ar" href="/ar/signup/">
      <link rel="alternate" hreflang="bn" href="/bn/signup/">
      <link rel="alternate" hreflang="ko" href="/ko/signup">
      <link rel="alternate" hreflang="ru" href="/ru/signup">
      <link rel="alternate" hreflang="ur" href="/ur/signup">    
  <!--favican-->
  <link rel="icon" type="image/x-icon" href="/static/img/de/favicon.ico" sizes="32x32">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/de/styles.css" rel="stylesheet" type="text/css">
  <!--Improve page load speed with preconnect-->
  <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
  <!--Google Fonts-put off the loading of render blocking CSS-->    
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
  <!--Web app manifest-->
  <link rel="manifest" href="/static/js/de/manifest.json">  
  <meta name="theme-color" content="#0808ed">
  <link rel="icon" type="image/png" href="/static/img/de/maskable_icon_512.png" sizes="512x512">
  <link rel="icon" type="image/png" href="/static/img/de/icon-256.png" sizes="256x256">
  <link rel="icon" type="image/png" href="/static/img/de/maskable_icon_192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/de/icon-128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="/static/img/de/icon-64.png" sizes="64x64">
  <!--end manifest--> 
  <!--Materialize-->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
   <!-- Open Graph Meta Tags - Facebook Meta Tags -->
  <meta property="og:title" content="Abonnieren Sie die E-Book-Mitgliedschaft „The Circle of Love“.">
  <meta property="og:site_name" content="Heiligerbarmen">
  <meta property="og:url" content="https://holymercy.com/de/signup/">
  <meta property="og:description" content="Entdecken Sie das E-Book „The Circle of Love“ mit der Anmeldung als Mitglied. Entdecken Sie die spirituelle Reise eines Mannes in die Tiefen von Seele und Geist.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/static/img/de/spirit-dove-meta.webp">
  <!-- Open Graph Meta Tags - Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="https://holymercy.com/de/signup/">
  <meta property="twitter:url" content="https://holymercy.com/de/">
  <meta name="twitter:title" content="Abonnieren Sie die E-Book-Mitgliedschaft „The Circle of Love“.">
  <meta name="twitter:description" content="Entdecken Sie das E-Book „The Circle of Love“ mit der Anmeldung als Mitglied. Entdecken Sie die spirituelle Reise eines Mannes in die Tiefen von Seele und Geist.">
  <meta name="twitter:image" content="/static/img/de/spirit-dove-meta.webp">
  <!-- End Open Graph Meta Tags -->
  <!--ahref-->
  <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
  <meta name="ahrefs-site-verification" content="d9f39ebb1c652465540776bc69dd411e9ba90293f30344939b026700d292ea5f">
  <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
  <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
  <!--apple touch icons-->
  <link href="/static/img/de/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
  <link href="/static/img/de/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
  <link href="/static/img/de/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
  <link href="/static/img/de/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
</head>
<body>
   <header>
      <ul>
         <li><a href="/de/"><img class="logo" src="/static/img/de/holymercy-logo.webp" loading="lazy" id="logo" alt="Logo der Navigationsleiste Oben Links" aria-label="Logo der Navigationsleiste Oben Links" width="68" height="39"></a></li>
         <li><a href="/de/" aria-label="Website Homepage">Heim</a></li>
         <li>
            <a href="#" aria-label="Die Kapitel des Circle of Love">Kapitel's</a>
            <ul>
               <li><a href="/de/the-vision" aria-label="Die Vision">Die Vision</a></li>
               <li><a href="/de/spiritual-realms" aria-label="Geistige Reiche">Geistige Reiche</a></li>
               <li><a href="/de/soldiers-of-light" aria-label="Soldaten des Lichts">Soldaten des lichts</a></li>
               <li><a href="/de/guardian-angels" aria-label="Schutzengel">Schutzengel</a></li>
               <li><a href="/de/living-light" aria-label="Lebendiges Licht">Lebendiges licht</a></li>
               <li><a href="/de/unconditional-love" aria-label="Bedingungslose Liebe">Bedingungslose liebe</a></li>
               <li><a href="/de/heavenly-realms" aria-label="Himmlische Reiche">Himmlische Reiche</a></li>
            </ul>
         <li><a href="/de/about-us" aria-label="Über uns">Über uns</a></li>
         <li><a href="/de/ebook" aria-label="E-book">E-book</a></li>
         <li>
            <a href="#" aria-label="Share Link">Aktie</a>	
            <ul>
               <li><a href="/de/share-the-faith" aria-label="Teilen Sie den Glauben">Den glauben teilen</a></li>
               <li><a href="/de/powerful-scripture" aria-label="Mächtige Heilige Schriften">Mächtige Heilige Schriften</a></li>
               <li><a href="/de/prayer-request" aria-label="Gebetsanliegen">Gebetsanliegen</a></li>
               <li><a href="/de/contact-us/" aria-label="Kontaktiere Uns">Kontakt</a></li>
            </ul>
         </li>
      </ul>
   </header>
        <!--Google Translate Top-->
        <div id="google_translate_element" title="Google Translate-Schaltfläche „Sprache auswählen“."></div>
        <div id="images_hz" class="center-align"> 
         <br>
      <div class="signup-container">
         <div id="font-type"><h1>Erstellen Sie Ihr „Circle of Love“-Konto</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
           <button type="submit" aria-label="Anmelden" title="Anmelden" class="btn-auth">Anmelden</button>
      </form>
    </div>
   <br>
    <br>
    </div>
    </div>
    <footer class="footer">
      <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Spendenlink" title="Spendenlink"><p>Helfen Sie mit, den Link zu teilen</p></a>
   <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/de/contact-us/">Schreiben Sie uns eine E-Mail</a>
         <h4>Kontakt</h4>
      </div>
      <ul class="footer__nav">
         <li class="nav__item">
            <ul class="nav__ul">
               <li>
                  <a href="/de/" aria-label="Website-Homepage">Heim</a>
               </li>
               <li>
                  <a href="/de/the-vision" aria-label="Die Vision">Die Vision</a>
               </li>
               <li>
                  <a href="/de/spiritual-realms" aria-label="Geistige Reiche">Geistige Reiche</a>
               </li>
               <li>
                  <a href="/de/soldiers-of-light" aria-label="Soldaten des Lichts">Soldaten des Lichts</a>
                
               </li>
            </ul>
         </li>
         <li class="nav__item nav__item--extra">
            <ul class="nav__ul nav__ul--extra">
               <li>
                  <a href="/de/guardian-angels" aria-label="Schutzengel">Schutzengel</a>
               </li>
               <li>
                  <a href="/de/living-light" aria-label="Lebendiges Licht">Lebendiges Licht</a>
               </li>
               <li>
                  <a href="/de/heavenly-realms" aria-label="Himmlische Reiche">Himmlische Reiche</a>
               </li>
               <li>
                  <a href="/de/unconditional-love" aria-label="Bedingungslose Liebe">Bedingungslose Liebe</a>
               </li>
               <li>
                  <a href="/de/about-us" aria-label="Über uns">Über uns</a>
               </li>
               <li>
                  <a href="/de/ebook" aria-label="E-book">E-book</a>
               </li>
            </ul>
         </li>
         <li class="nav__item">
            <ul class="nav__ul">
               <li>
                  <a href="/de/share-the-faith" aria-label="Teilen Sie den Glauben">Teilen Sie den Glauben</a>
               </li>
               <li>
                  <a href="/de/powerful-scripture" aria-label="Mächtige Heilige Schriften">Mächtige Heilige Schriften</a>
               </li>
               <li>
                  <a href="/de/prayer-request" aria-label="Gebetsanliegen">Gebetsanliegen</a>
               </li>
               <li>
                  <a href="/de/terms" aria-label="Nutzungsbedingungen">Nutzungsbedingungen</a>
               </li>
            </ul>
         </li>
      </ul>
      <div class="legal">
         <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/de/facebook-24.webp" title="Link zum Facebook-Symbol" alt="Link zum Facebook-Symbol" aria-label="Link zum Facebook-Symbol" width="24" height="24"></a> 
         <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/de/twitter-24.webp" title="Link zum Twitter-Symbol" alt="Link zum Twitter-Symbol" aria-label="Link zum Twitter-Symbol" width="24" height="24"></a>
         <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/de/instagram-24.webp" title="Link zum Instagram-Symbol" alt="Link zum Instagram-Symbol" aria-label="Link zum Instagram-Symbol" width="24" height="24"></a>
         <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/de/pinterest-24.webp" title="Link zum Pinterest-Symbol" alt="Link zum Pinterest-Symbol" aria-label="Link zum Pinterest-Symbol" width="24" height="24"></a>
         <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/de/snapchat-24.webp" title="Link zum Snapchat-Symbol" alt="Link zum Snapchat-Symbol" aria-label="Link zum Snapchat-Symbol" width="24" height="24"></a>
      </div>
      <p>&copy;Copyright 2024 holymercy.com/de/ Alle Rechte vorbehalten.</p>
         <div class="legal__links"> 
         <span>In Kontakt bleiben; Holymercy wird bald großartig!</span>
         </div> 
      </footer>
        <!--google translate-->
        <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'de', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,pt,de,ar,bn,pt,ur,in,ja,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
   }, 'google_translate_element');
 }
 //]]>
         </script>
         <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
     </span>
 <!-- Google nextgen tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-9YTTLPE2DX');
</script>
<script src="/static/js/de/add-service-worker.js"></script>
<script src="/static/js/de/service-worker.js"></script>
</body>
</html>
