<!doctype html>
<html dir="rtl" lang="ar">
   <head>
      <meta name="robots" content="noindex">
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex">
      <title>قم بتسجيل الدخول إلى حساب ‘دائرة الحب’ الخاص بك</title>
      <meta name="description" content="اكتشف رحلة رجل واحد الروحية وسعيه للعثور على حقائق الإيمان مع تسجيل الدخول إلى عضوية كتابك الإلكتروني دائرة الحب.">
      <meta charset="utf-8">
      <link rel="canonical" href="/ar/login/">
      <link rel="alternate" hreflang="x-default" href="/login/">
      <link rel="alternate" hreflang="en-us" href="/login/">  
      <link rel="alternate" hreflang="en" href="/en/login/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/login/">
      <link rel="alternate" hreflang="en-in" href="/en-in/login/">
      <link rel="alternate" hreflang="es" href="/es/login/">
      <link rel="alternate" hreflang="es-es" href="/es-es/login/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/login/">
      <link rel="alternate" hreflang="es-co" href="/es-co/login/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/login/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/login/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/login/"> 
      <link rel="alternate" hreflang="zh" href="/zh/login/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/login/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/login/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/login/"> 
      <link rel="alternate" hreflang="hi" href="/hi/login/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/login/">
      <link rel="alternate" hreflang="fr" href="/fr/login/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/login/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/login/"> 
      <link rel="alternate" hreflang="pt" href="/pt/login/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/login/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/login/">
      <link rel="alternate" hreflang="de" href="/de/login/">
      <link rel="alternate" hreflang="de-de" href="/de-de/login/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/login/">
      <link rel="alternate" hreflang="id-id" href="/id-id/login/">
      <link rel="alternate" hreflang="ar" href="/ar/login/">
      <link rel="alternate" hreflang="bn" href="/bn/login/">
      <link rel="alternate" hreflang="ko" href="/ko/login">
      <link rel="alternate" hreflang="ru" href="/ru/login">
      <link rel="alternate" hreflang="ur" href="/ur/login">    
  <!--favican-->
  <link rel="icon" type="image/x-icon" href="/static/img/ar/favicon.ico" sizes="32x32">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/ar/styles.css" rel="stylesheet" type="text/css">
  <!--Improve page load speed with preconnect-->
  <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
  <!--Google Fonts-put off the loading of render blocking CSS-->    
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
  <!--Web app manifest-->
  <link rel="manifest" href="/static/js/ar/manifest.json">  
  <meta name="theme-color" content="#0808ed">
  <link rel="icon" type="image/png" href="/static/img/ar/maskable_icon_512.png" sizes="512x512">
  <link rel="icon" type="image/png" href="/static/img/ar/icon-256.png" sizes="256x256">
  <link rel="icon" type="image/png" href="/static/img/ar/maskable_icon_192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/ar/icon-128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="/static/img/ar/icon-64.png" sizes="64x64">
  <!--end manifest--> 
  <!--Materialize-->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
   <!-- Open Graph Meta Tags - Facebook Meta Tags -->
   <meta property="og:title" content="قم بتسجيل الدخول إلى حساب ‘دائرة الحب’ الخاص بك">
   <meta property="og:site_name" content="https://holymercy.com/ar/">
   <meta property="og:url" content="https://holymercy.com/ar/">
   <meta property="og:description" content="اكتشف رحلة رجل واحد الروحية وسعيه للعثور على حقائق الإيمان مع تسجيل الدخول إلى عضوية كتابك الإلكتروني دائرة الحب.">
   <meta property="og:type" content="website">
   <meta property="og:image" content="/static/img/ar/spirit-dove-meta.webp">
   <!-- Open Graph Meta Tags - Twitter Meta Tags -->
   <meta name="twitter:card" content="summary_large_image">
   <meta property="twitter:domain" content="https://holymercy.com/ar/">
   <meta property="twitter:url" content="https://holymercy.com/ar/">
   <meta name="twitter:title" content="قم بتسجيل الدخول إلى حساب ‘دائرة الحب’ الخاص بك">
   <meta name="twitter:description" content="اكتشف رحلة رجل واحد الروحية وسعيه للعثور على حقائق الإيمان مع تسجيل الدخول إلى عضوية كتابك الإلكتروني دائرة الحب.">
   <meta name="twitter:image" content="/static/img/ar/spirit-dove-meta.web">
  <!-- End Open Graph Meta Tags -->
  <!--ahref-->
  <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
  <meta name="ahrefs-site-verification" content="d9f39ebb1c652465540776bc69dd411e9ba90293f30344939b026700d292ea5f">
  <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
  <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
  <!--apple touch icons-->
  <link href="/static/img/ar/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
  <link href="/static/img/ar/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
  <link href="/static/img/ar/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
  <link href="/static/img/ar/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
    <body>
      <header>
         <ul>
            <li><a href="/ar/"><img class="logo" src="/static/img/ar/holymercy-logo.webp" loading="lazy" id="logo" alt="شعار شريط التنقل العلوي الأيسر" aria-label="شعار شريط التنقل العلوي الأيسر" width="68" height="39"></a></li>
            <li><a href="/ar/" aria-label="الصفحة الرئيسية">الصفحة الرئيسية</a></li>
            <li>
               <a href="#" aria-label="فصول كتاب دائرة الحب">دائرة الحب</a>
               <ul>
                  <li><a href="/ar/the-vision" aria-label="الرؤية">الرؤية</a></li>
                  <li><a href="/ar/spiritual-realms" aria-label="العوالم الروحية">العوالم الروحية</a></li>
                  <li><a href="/ar/soldiers-of-light" aria-label="جنود من الضوء">جنود من الضوء</a></li>
                  <li><a href="/ar/guardian-angels" aria-label="وصي الملائكة">وصي الملائكة</a></li>
                  <li><a href="/ar/living-light" aria-label="معيشة ضوء">معيشة ضوء</a></li>
                  <li><a href="/ar/unconditional-love" aria-label="غير مشروط حب">غير مشروط حب</a></li>
                  <li><a href="/ar/heavenly-realms" aria-label="السماوية العوالم">العوالم السماوية</a></li>
               </ul>
            <li><a href="/ar/about-us" aria-label="معلومات عنا">بشأن</a></li>
            <li><a href="/ar/ebook" aria-label="الكتاب الاليكتروني">الكتاب الاليكتروني</a></li>
            <li>
               <a href="#" aria-label="يشارك وصلة">يشارك</a>	
               <ul>
                  <li><a href="/ar/share-the-faith" aria-label="Share the Faith">شارك الإيمان</a></li>
                  <li><a href="/ar/powerful-scripture" aria-label="الكتاب المقدس القوي">الكتاب المقدس القوي</a></li>
                  <li><a href="/ar/prayer-request" aria-label="طلب صلاة">طلب صلاة</a></li>
               <li><a href="/ar/contact-us/" aria-label=“تلامس“> تلامس</a></li>
               </ul>
            </li>
         </ul>
      </header>
           <!--Google Translate Top-->
     <div id="google_translate_element" title="قائمة منسدلة للتحديد السريع للغة العالمية لترجمة جوجل"></div>
     <div id="images_hz" class="center-align"> 
      <br>
      <br>
      <div class="login-container">
         <div id="font-type"><h1>قم بتسجيل الدخول إلى حساب ‘دائرة الحب’ الخاص بك</h1></div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" aria-label="تسجيل دخول" title="تسجيل دخول" class="btn-auth">تسجيل الدخول</button>
         </form>
      </div>
      <p class="signup-link">لا تملك حسابا حتى الآن؟</p>
            <a href="/ar/signup/" aria-label="قم بالتسجيل" title="قم بالتسجيل" class="btn-auth">قم بالتسجيل</a>
         </div>
        <br>
        <br>
        <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="حصة المساعدة" title="حصة المساعدة"><p>حصة المساعدة</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ar/contact-us/">راسلنا عبر البريد الإلكتروني</a>
          <h4>تلامس</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ar/" aria-label="الصفحة الرئيسية">الصفحة الرئيسية</a>
                  </li>
                    <li>
                     <a href="/ar/the-vision" aria-label="الرؤية">الرؤية</a>
                  </li>
                  <li>
                     <a href="/ar/spiritual-realms" aria-label="العوالم الروحية">العوالم الروحية</a>
                  </li>
                  <li>
                     <a href="/ar/soldiers-of-light" aria-label="جنود من الضوء">جنود من الضوء</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/ar/guardian-angels" aria-label="وصي الملائكة">وصي الملائكة</a>
                  </li>
                  <li>
                     <a href="/ar/living-light" aria-label="معيشة ضوء">معيشة ضوء</a>
                  </li>
                  <li>
                     <a href="/ar/heavenly-realms" aria-label="العوالم السماوية">العوالم السماوية</a>
                  </li>
                  <li>
                     <a href="/ar/unconditional-love" aria-label="غير مشروط حب">غير مشروط حب</a>
                  </li>
                  <li>
                     <a href="/ar/about-us" aria-label="بشأن">بشأن</a>
                  </li>
                  <li>
                     <a href="/ar/ebook" aria-label="الكتاب الاليكتروني">الكتاب الاليكتروني</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ar/share-the-faith" aria-label="شارك الإيمان">شارك الإيمان</a>
                  </li>
                  <li>
                     <a href="/ar/powerful-scripture" aria-label="الكتاب المقدس القوي">الكتاب المقدس القوي</a>
                  </li>
                  <li>
                     <a href="/ar/prayer-request" aria-label="طلب صلاة">طلب صلاة</a>
                  </li>
                  <li>
                     <a href="/ar/terms" aria-label="شروط الاستخدام">شروط الاستخدام</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ar/facebook-24.webp" title="رابط أيقونة الفيسبوك" alt="رابط أيقونة الفيسبوك" aria-label="رابط أيقونة الفيسبوك" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ar/twitter-24.webp" title="رابط أيقونة تويتر" alt="رابط أيقونة تويتر" aria-label="رابط أيقونة تويتر" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ar/instagram-24.webp" title="رابط أيقونة الانستقرام" alt="رابط أيقونة الانستقرام" aria-label="رابط أيقونة الانستقرام" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ar/pinterest-24.webp" title="رابط أيقونة بنترست" alt="رابط أيقونة بنترست" aria-label="رابط أيقونة بنترست" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ar/snapchat-24.webp" title="رابط أيقونة سناب شات" alt="رابط أيقونة سناب شات" aria-label="رابط أيقونة سناب شات" width="24" height="24"></a>
         </div>
         <p>&copy;حقوق النشر 2024 Holymercy.com/ar/ جميع الحقوق محفوظة.</p>
            <div class="legal__links"> 
            <span>Holymercy على وشك أن تصبح رائعة!ابق على تواصل؛</span>
            </div> 
         </footer>
           <!--google translate-->
         <span>
               <script>
       //<![CDATA[
       function googleTranslateElementInit() {
         new google.translate.TranslateElement({
           pageLanguage: 'ar', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
           layout: google.translate.TranslateElement.InlineLayout.SIMPLE
         }, 'google_translate_element');
       }
       //]]>
               </script>
               <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
           </span>
   <!-- Google next gen tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-9YTTLPE2DX');
   </script>
    <script src="/static/js/ar/add-service-worker.js"></script>
    <script src="/static/js/ar/service-worker.js"></script>
   </body>
   </html>