<!doctype html>
<html lang="zh-Hans">
   <head>
      <meta name="robots" content="index, follow">
      <title>天国是由神的光的数量来定义的</title>
      <meta name="description" content="天国从天国之外向外延伸，有近有远。 每个人都有自己的品质以及精神和超自然之光的数量。">
      <meta charset="utf-8">
      <link rel="canonical" href="/zh/heavenly-realms/">
      <link rel="alternate" hreflang="x-default" href="/heavenly-realms/">
      <link rel="alternate" hreflang="en-us" href="/heavenly-realms/">  
      <link rel="alternate" hreflang="en" href="/en/heavenly-realms/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/heavenly-realms/">
      <link rel="alternate" hreflang="en-in" href="/en-in/heavenly-realms/">
      <link rel="alternate" hreflang="es" href="/es/heavenly-realms/">
      <link rel="alternate" hreflang="es-es" href="/es-es/heavenly-realms/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/heavenly-realms/">
      <link rel="alternate" hreflang="es-co" href="/es-co/heavenly-realms/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/heavenly-realms/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/heavenly-realms/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/heavenly-realms/">  
      <link rel="alternate" hreflang="zh" href="/zh/heavenly-realms/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/heavenly-realms/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/heavenly-realms/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/heavenly-realms/"> 
      <link rel="alternate" hreflang="hi" href="/hi/heavenly-realms/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/heavenly-realms/">
      <link rel="alternate" hreflang="fr" href="/fr/heavenly-realms/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/heavenly-realms/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/heavenly-realms/"> 
      <link rel="alternate" hreflang="pt" href="/pt/heavenly-realms/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/heavenly-realms/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/heavenly-realms/">
      <link rel="alternate" hreflang="de" href="/de/heavenly-realms/">
      <link rel="alternate" hreflang="de-de" href="/de-de/heavenly-realms/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/heavenly-realms/">
      <link rel="alternate" hreflang="id-id" href="/id-id/heavenly-realms/">
      <link rel="alternate" hreflang="ar" href="/ar/heavenly-realms/">
      <link rel="alternate" hreflang="bn" href="/bn/heavenly-realms/">
      <link rel="alternate" hreflang="ko" href="/ko/heavenly-realms/">
      <link rel="alternate" hreflang="ru" href="/ru/heavenly-realms/">
      <link rel="alternate" hreflang="ur" href="/ur/heavenly-realms/">   
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/zh/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/zh/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
     <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Google Fonts-put off the loading of render blocking CSS-->   
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/zh/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/zh/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/zh/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/zh/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/zh/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/zh/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Fb Meta Tags -->
     <meta property="og:title" content="天国是由神的光的数量来定义的">
     <meta property="og:site_name" content="圣怜悯">
     <meta property="og:url" content="https://holymercy.com/zh/heavenly-realms/">
     <meta property="og:description" content="天国从天国之外向外延伸，有近有远。 每个人都有自己的品质以及精神和超自然之光的数量。">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/zh/heavenly-realms.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/zh/">
     <meta property="twitter:url" content="https://holymercy.com/zh/heavenly-realms/">
     <meta name="twitter:title" content="天国是由神的光的数量来定义的">
     <meta name="twitter:description" content="天国从天国之外向外延伸，有近有远。 每个人都有自己的品质以及精神和超自然之光的数量。">
     <meta name="twitter:image" content="/static/img/zh/heavenly-realms.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/zh/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/zh/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/zh/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/zh/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
      <body>
       <header>
         <ul>
            <li><a href="/zh/"><img class="logo" src="/static/img/zh/holymercy-logo.webp" loading="lazy" id="logo" alt="左上导航栏徽标" aria-label="左上导航栏徽标" width="68" height="39"></a></li>
            <li><a href="/zh/" aria-label="家">家</a></li>
            <li><a href="#" aria-label="爱的圆环的章节">章节</a>
               <ul>
                  <li><a href="/zh/the-vision" aria-label="愿景">愿景</a></li>
                  <li><a href="/zh/spiritual-realms" aria-label="精神领域">精神领域</a></li>
                  <li><a href="/zh/soldiers-of-light" aria-label="光之战士">光之战士</a></li>
                  <li><a href="/zh/guardian-angels" aria-label="守护天使">守护天使</a></li>
                  <li><a href="/zh/living-light" aria-label="生命之光">生命之光</a></li>
                  <li><a href="/zh/unconditional-love" aria-label="无条件的爱">无条件的爱</a></li>
                  <li><a href="/zh/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/zh/about-us" aria-label="关于">关于</a></li>
            <li><a href="/zh/ebook" aria-label="电子书">电子书</a></li>
            <li><a href="#" aria-label="分享">分享</a>	
               <ul>
                  <li><a href="/zh/share-the-faith" aria-label="分享信仰">分享信仰</a></li>
                  <li><a href="/zh/powerful-scripture" aria-label="强大的经文">强大的经文</a></li>
                  <li><a href="/zh/prayer-request" aria-label="代祷请求">代祷请求</a></li>
                  <li><a href="/zh/contact-us/" aria-label="联络我们">联络我们</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--翻译-->
       <div id="google_translate_element" title="谷歌翻译通用语言快速选择下拉菜单"></div>
       <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <div id="main">
       <h1>天国近在咫尺，没有距离，只有信仰才能实现</h1>
          <br>
            <img src="/static/img/zh/heavenly-realms.webp" loading="lazy" title="在上帝之光的天堂领域内" alt="在上帝之光的天堂领域内" aria-label="在上帝之光的天堂领域内" class="heaven" width="499" height="499"> 
          <br>
         <p>天国就在我们面前； 通过信仰，我们学习如何到达他们所在的地方。 这让他们知道我们知道他们在那里。 这让他们能够认识到我们的真实身份，从而开始建立一种贯穿整个精神成长的纽带关系。 并创造天堂般的联系，从而成为我们的盟友、朋友、老师、监护人和同伴。 最接近我们的精神和灵魂的天国是与我们直接相连的天国。 这些是我们的希望、愿望和祈祷去寻找他们所渴望的一切的天堂：什么是永生这个问题的答案？ 以及需要神永恒的爱。 这些联系成为我们必须永远珍惜、祝福的纽带，永远不要认为这是理所当然的，这样才能使精神祝福和精神成长蓬勃发展。 这些能量、力量和力量将你的意识、精神和灵魂直接连接到上帝的所有天堂。 在地与天之间，确实存在着许多层次的天界。 在最接近上帝天堂之光的天国中，存在着所有最伟大的永恒力量，等待着我们的信仰伸出援手并与它们结合。
        </p> </div> 
        <p>通过信仰，当我们充满信心地伸出援手时，我们的精神和灵魂确实与神圣联系在一起。 通过信仰，随着我们信仰的增长，我们每个人都将学习有关天国和诸天的一切知识。 什么是天界？ 这个问题是信仰和灵性生活的最大奥秘之一，只有来自天国的人才能真正解释。 尽管对于那些被允许瞥见面纱之外的人来说，每个答案总是不同的。 原因是我们每个人都有自己独特的信仰； 因此，天界之中存在的可能性绝对是无限的。 这就是我们在天国活着的灵魂的信心力量发挥作用的方式。 不要对你的信仰或你的爱设置界限或限制； 因此，始终要允许增长。 天国里有无限的真理，我们都注定要学习和学习。 我对这些关于上帝真理的答案的追求引导我从这里到那里，从那里到这里。 因为我知道这是我在这个世界以及未来的许多人生的最终目的，所以我将与你们分享我所揭示的内容，以便你们也可以睁开眼睛看到他们的真理的可能性。
        </p>
        <p>一切精神事物都是自然和超自然事物的本质。 存在于所有造物、所有超自然天堂和所有自然宇宙中的每一种生命形式、地点或事物都包含着不同数量和品质的灵性。 所有的天界都是精神的、超自然的领域，也是有形的。 这些是天上和神圣的家园的领域。 一切诸天界之中，光明之力都是至高无上的。 是的，天界是灵界，但并非所有灵界都是天界。 为什么？ 因为光明，也因为黑暗。 当我说光时，它的定义是神圣的力量。 当我说黑暗时，它指的是一切违抗神圣之光的事物。 更复杂的是，我们必须知道黑暗中也有光明。 还有由光明组成的黑暗力量。 虽然那些光不是来自神圣的。 他们是完全相反的。 不要被他们的力量所愚弄。 只要你相信基督和圣灵，你就永远不会这样做。
        </p>
        <p>灵界和天界的一切都超乎寻常，既是天上的又是地上的。 那里的一切都具有无人能想象、理解或解释的品质。 我们的头脑还无法想象天国和天堂所包含的能量和光的美丽、光辉和雄伟力量。 通过信仰，就有坚定不移的希望，让隐藏的事物得以显现。 成为一名具有虔诚信仰的基督徒，并知道这些真理是真实的，才能让我们保持正直和狭隘，从他们的回报中受益。 这使我们的精神和灵魂最接近所有礼物中最伟大的：精神和灵魂的秘密和奥秘。 它是用一个人的全部意志和力量去努力了解信仰的力量。 这是关于不放弃，无论有多困难或需要多长时间才能得到答案。 对于我们这个世界上在这个精神层面上的人来说，每个人都在自己的精神层面上，我们的信仰无疑达到了天堂的最高点，因为我们坚信我们的希望、信仰和爱不会落空。 它将我们与天上的宝座连接起来，在那里父神、神的儿子、基督耶稣和圣灵允许我们不断地交流和沟通。 这将精神成长提升到一个新的水平。
         </p>
         <p>在我们开始进入天堂的旅程之前，我需要先与你们分享一些简单问题的简单答案，以便让这次旅程一路走来有意义。
         </p>
         <p>每个基督徒都处于自己的精神层面。 灵性是基于意识水平的。 这是一个教育过程，来自对基督和上帝的信仰、爱和信任的体验，它将一个人从一个层次提升到另一个层次。 如果这些层次就像楼梯一样，从这里向上推进到那里，以更接近天堂，那么我祈祷我能找到正确的楼梯。 我的结论是，要找到正确的答案，一个人必须拥有开放的思想、一颗仁爱的心、坚定不移的信仰、坚定的意志、信仰的力量以及不怀疑圣言的精神和灵魂的正确状态。 圣经。 这些是学习天堂和天堂真理的首要必需品，然后其他任何事情都变得有意义。 只要一次一步、一天一天地采取，迟早你会学会并被展示。
           </p>
           <h2>通往天堂的大门永远向所有人敞开</h2>
          <p>天之外，是诸天界； 这些是所有无限创造延伸的地方。 天堂之门外是所有人在进入天堂之前注定首先要学习的地方。 当然，除非一个人真正拥有上帝无条件的爱和之光在他们的灵魂中蓬勃发展，否则他们就绕过天堂领域并被允许进入上帝最神圣的光。 天门之外的诸天界，境界定义为空间，空间定义为境界。 不要让这件事复杂化； 保持简单，这样会更容易理解。 在天界里，都是比地球上更高层次的。 由于最终的定义和等级制度，任何较低的领域都不被认为是天堂的，而是精神的。 距离我们地球家园最近的天国是我们影响最近的地方。 这些领域是我们正在学习的领域，它们也在向我们学习。 取决于哪一个与更高权力的最强大真理有最强的联系，他们是其他人信任的人，因为他们看到了他们的光对我们共同生活的多元宇宙中所声称的许多真理的影响的结果。
           </p>
        <p>在这些维度和境界中，存在着无数、无穷无尽的可能性。 任何地方的精神和超自然现象都是极端的，它总是无法解释的，当然，除非有人真正亲身经历过。 由于吸引力法则，这就是能量、力量和力量的运作方式。 除非有人知道这些精神力量如何对他们有利或不利，否则他们不会知道来自天界的某些东西或某人正在试图引起他们的注意并打开他们的眼睛看到真相。 简单来说，天界的数量可能有宇宙中星星的总和。 我警告你：不要将你的灵魂射向宇宙来寻找答案或安慰。 你是地球母亲的孩子。 由这个世界的精神和灵魂而生。 天上的宇宙浩瀚无垠，我们在地球上已经有了自己的上帝，他有许多名字、多种语言和多种信仰。 我们只有一位圣灵和一位耶稣基督。
        </p>
         <p>我们现在生活的这个蓝色小世界既是精神的，也是物质的。 每个存在的天界都由其自身数量的光明、黑暗、灵性和物质性组成。 这四种元素存在于天上的万物之中，并且每种元素都有其自己的极端。 当然，天堂并不包含黑暗，尽管它拥有精神和物质的终极光明。 天堂之门的外面就是最接近的天堂领域的开始处。 从那里开始，距离天堂越远，光明就越少，虚空就越黑暗，精神和物质的变化也就越多。 目前，这是我能解释的最简单的方式。 虽然我们知道这只是一瞥，但在天国之中，还有无限的可能性。
        </p>
         <p>我们越渴望理解和构想信仰，就越接近将精神和灵魂与生命的意义和定义联系起来的力量。 一个人的灵魂已经与天堂所包含的一切相连。 所需要的只是学习如何祝福这种联系，以便与所有神圣的事物进行完全的交流和沟通。 这种力量是使灵魂蓬勃发展的力量。 所需要的只是承诺、奉献、决心以及对灵魂之光和上帝之光的信仰，它的秘密就会开始被揭示。.
         </p>
           <p>将天堂与这个世界进行比较就像将 24 克拉黄金或完美无瑕的钻石与腐烂的石头或生锈的钢铁进行比较。 天堂是我们所有人都注定要去的地方，并且当我们的时间到来时会返回。 一个人等待与上面的天堂联系的时间越长，属灵恩赐到达的时间就越长。 最好现在就开始与天堂和上帝建立牢固的联系，这样你就可以开始为未来的一切做好准备。 天堂是你的生命线； 它是你灵魂的起源，这种联系将永远是安全的。 你不必等待才能找到天堂； 一直以来，你都可以随心所欲地接近。 它现在就存在于你的心、你的灵魂、你的精神、你的信仰和你的意志的最核心。 不要忽视你感受到的这种联系； 将其提升到下一个精神层面，你将有幸看到内在和向上存在的光，从而了解活生生的灵魂的力量和奥秘。 一旦你深入了解这个信仰的奥秘，异象和奇迹就会开始发生。
           </p>
        <h3>我们来到这个世界是为了学习如何与这一切联系起来</h3>
       </div>
      <p>一旦基督徒通过信仰将他们的精神和灵魂与基督联系起来，并将他们的完全控制权交给自己的意志。 然后圣灵的力量就会用他永恒的爱充满一个人的灵魂。 这是第一次精神觉醒发生的时候。 这是人们学习并看到上帝真正的无形之光的时候。 哪种光包含已知和未知的超自然光的所有光谱和力量。 就在时间静止的那一刻，人们的灵性之眼真正打开，看到了天堂领域的一切。
           </p>
        <p>如果你感觉到了，就像我知道你能感觉到的那样，那么天堂也已经意识到你的存在了。 在天堂里生活着永恒、无条件的爱，它会尽一切努力帮助您为前往新家的旅程做好准备。 你所要做的就是祈求，成功所需的所有祝福都会赐给你。 你所要做的就是向这一切敞开你的心和灵魂，让天堂的祝福得以实现。 通过祈祷你的精神能够达到神圣，这似乎令人难以置信，但不要怀疑信仰的奥秘是最伟大的现实。 如果你想与上帝沟通，他只需一个念头或一声耳语。 这不是通过空间距离进行联系；而是通过空间距离进行联系。 这是关于对信仰奥秘的现实的信心。 这是关于相似的精神和相似的信仰如何自动联系在一起的。 天堂的一切通过信仰、精神和灵魂与尘世的一切相连； 这些是使这一切成为可能的能量力量。 天堂里有一个地方，所有的祈祷总是会被听到并总是得到回应。 当沟通无法被质疑或解释时，只有接受它才会发生。 不要怀疑天堂会感受到你的奉献、你的爱和你的信仰。
     </p>
     <p>天堂是如此不可思议、超现实，无法用任何已知的语言来表达。 这是我们的救主耶稣基督称之为家的地方。 一旦人们了解了信仰、希望和爱的力量，人们就会开始了解光、精神和灵魂的力量。 这些是与上帝同在天堂的最重要的力量，它们也是你的一部分。 它们是灵魂的元素，活在你的内心。 你与每个人的一切都有联系。 我们必须尽可能多地了解这些，以便在时机到来时做好进入最神圣之地的准备。 人学得越多，就越能意识到天堂的神圣真理。 你确实属于天堂，天堂也属于你。 你的一切都是由天堂的一切制成的。 这些天堂的碎片在你的内心充满活力，总是将你与你最初来的地方连接起来。
     </p>
     <p>天堂是生命之光的发源地，是所有现实中最真实的地方，所有的祈祷、愿望和梦想都在这里成真。 这是圣人居住的地方，他们有权监督时空多个维度的统治。 这是天使居住的地方； 有些用翅膀缓慢飞行，而另一些则可以以光速飞行，这给人一种在地球上出现和消失的错觉。 天堂中的一切事物和每个人都被上帝之光所注入和渗透，这是已知的任何光的力量的终极。 在天堂里，没有什么是暂时的； 一切都是伟大而永恒的。 在天堂里，每个人总是很忙，因为有很多工作要做。 虽然天堂里的工作不是劳动，但它是精神上的工作，总是有回报的。 天堂是宇宙中所有权威和所有力量联合起来繁衍类似力量、庆祝、赞美和荣耀上帝的地方。
      </p>
       <p>一旦一个人跨越了灵性成长中的灵性界限，天堂奥秘的答案迟早会向所有人揭示。 对于天堂来说，没有两个答案是相同的，因为我们生来都有不同的目的，都有自己的命运。 这就是事实和计划的方式。 这就是使我们每个人在上帝眼中如此独特和特殊的原因。 他是居住在我们灵魂内的光，这也是居住在天堂内的同一光。 所有的创造物都以某种方式与天堂相连，除了上帝之外，每个人都无法理解这种方式。 天堂包含了所有奇迹和奇迹的终极。 它是所有权威和力量中最高和最强大的存在并统治着自然世界和超自然领域的一切的地方。 至于星辰之中的诸天，对于诸天之中的星辰，当一个人凭着精神信仰而生活时，所有这些命运都会汇聚到一起，为诸天而存在。
     </p>
     <p>我再次坐在世界的边缘，像往常一样仰望天堂。 我的灵性之旅为了这个唯一的目的而继续：在内心实现它。 我的信仰是坚定的，我一直在为我为之而活的最终命运做准备。 实现它是我的目标。 我将财宝积攒在天上，远离尘世； 我不属于这里，我也从来不属于这里。 这种深藏在我灵魂深处的渴望让我的灵性意识让我知道我正在一天天地接近。 这与距离无关；而是与距离有关。 这是关于精神和灵魂所处的状况。这就是信仰如何教导雄心勃勃的人知道他们正在获得精神基础。 因此，谦卑的人交出他们的灵魂来寻找这个地方，在那里，一切都是神圣和真实的生活。 方向是从内心和灵魂开始的单向旅程，而信仰是引导人们到达那里的道路。 对于基督徒来说，越接近天国，他们的灵和灵魂就越了解，因为在教会和高天界，当圣灵临近时，每个人都会受到压倒性的激励。
      </p>
      <p>下面视频中的先生们确实去了天堂。 很多人都这样做，当它发生时，他们对生命、天堂和上帝的整个看法都会改变。 让每个人都知道天堂、上帝、精神和灵魂是生命最伟大的现实，成为他们一生的使命。 当濒死体验发生时，就会发生这种情况。 当一个人做梦时，他的精神和灵魂实际上可以去天堂。 一个人可以有一种出体体验，让有意识的精神和灵魂离开身体，体验天堂。 并且，许多亲近圣灵的人都有异象和启示。 通过冥想、祈祷或两者兼而有之，许多人能够体验天堂。 通过信仰的奥秘和奇迹，当信仰不怀疑时，一切皆有可能。 Fiath没有极限，可以达到难以想象的极限。 请观看下面的视频，看看这位先生是多么真诚，他确实去了天堂并回来见证真相。
      </p>
      <p>感谢您访问前 10 页。要访问<br>第七章：<em>爱的循环</em>的天界完整版 40 页，请登录或注册 7 美元会员资格。</p>
      <div class="auth-btn">
         <a href="/zh/login/" aria-label="登录" title="登录" class="btn-auth">登录</a>
        &emsp;&emsp;&emsp;
        <a href="/zh/signup/" aria-label="报名" title="报名" class="btn-auth">报名</a>
          </div>
        <br>
        <br>
       <a href="https://www.youtube.com/embed/-h_5uX-Kd2Q" target="_blank" rel="noreferrer" class="center6 blue-link" aria-label="14岁穿越；被教导在濒死体验中消极的想法">14岁穿越；被教导在濒死体验中消极的想法</a>
       <p>视频有中文字幕。点击 <img src="/static/img/zh/cogwheel-icon.webp" loading="lazy" title="齿轮图标图像" aria-label="齿轮图标图像" alt="齿轮图标图像" width="24" height="24">-> 字幕/CC -> 自动翻译</p>	   
      <br>
      <div class="center6">    
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-h_5uX-Kd2Q" title="14岁穿越；被教导在濒死体验中消极的想法" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; geolocation; web-share" allowfullscreen></iframe>
      </div>
     <div class="center3"><a href="/zh/heavenly-realms" aria-label="回到顶部链接" title="回到顶部链接">&nbsp;顶部<img src="/static/img/zh/back-to-top-link.webp" loading="lazy" alt="回到顶部链接" width="48" height="48"></a></div> 
      <br>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="捐赠链接" title="捐赠链接"><p>帮助分享链接</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/zh/contact-us/">给我们发电子邮件</a>
         <h4>接觸</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh/" aria-label="家">家</a>
                  </li>
                  <li>
                     <a href="/zh/the-vision" aria-label="愿景">愿景</a>
                  </li>
                  <li>
                     <a href="/zh/spiritual-realms" aria-label="精神领域">精神领域</a>
                  </li>
                  <li>
                     <a href="/zh/soldiers-of-light" aria-label="光之战士">光之战士</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/zh/guardian-angels" aria-label="守护天使">守护天使</a>
                  </li>
                  <li>
                     <a href="/zh/living-light" aria-label="生命之光">生命之光</a>
                  </li>
                  <li>
                     <a href="/zh/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                  </li>
                  <li>
                     <a href="/zh/unconditional-love" aria-label="无条件的爱">无条件的爱</a>
                  </li>
                  <li>
                     <a href="/zh/about-us" aria-label="关于">关于</a>
                  </li>
                  <li>
                     <a href="/zh/ebook" aria-label="电子书">电子书</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh/share-the-faith" aria-label="分享信仰">分享信仰</a>
                  </li>
                  <li>
                     <a href="/zh/powerful-scripture" aria-label="强大的经文">强大的经文</a>
                  </li>
                  <li>
                     <a href="/zh/prayer-request" aria-label="代祷请求">代祷请求</a>
                  </li>
                  <li>
                     <a href="/zh/terms" aria-label="使用条款">使用条款</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/zh/facebook-24.webp" title="Facebook 图标链接" alt="Facebook 图标链接" aria-label="Facebook 图标链接" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/twitter-24.webp" title="推特图标链接" alt="推特图标链接" aria-label="推特图标链接" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/instagram-24.webp" title="Instagram 图标链接" alt="Instagram 图标链接" aria-label="Instagram 图标链接" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/pinterest-24.webp" title="Pinterest 图标链接" alt="Pinterest 图标链接" aria-label="Pinterest 图标链接" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/snapchat-24.webp" title="Snapchat 图标链接" alt="Snapchat 图标链接" aria-label="Snapchat 图标链接" width="24" height="24"></a>
            </div>
            <p>&copy;版权所有 holymercy.com/zh/ 版权所有。</p>
            <div class="legal__links"> 
            <span>保持联系; 即将变得很棒！</span>
            </div> 
         </footer>
         <!--翻译-->
       <span>
        <script>
//<![CDATA[
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'zh', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
//]]>
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 </span>
   <!--(gtag.js)4-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/zh/add-service-worker.js"></script>
 <script src="/static/js/zh/service-worker.js"></script>
</body>