<!doctype html>
<html lang="zh-Hans">
   <head>
      <meta name="robots" content="index, follow">
      <title>应用程序隐私政策和网站条款和条件</title>
      <meta name="description" content="应用程序隐私政策和网站条款和条件：访问本网站即表示您同意对合规性负责">
      <meta charset="utf-8">
      <link rel="canonical" href="/zh/terms/">
      <link rel="alternate" hreflang="x-default" href="/terms/">
      <link rel="alternate" hreflang="en-us" href="/terms/">  
      <link rel="alternate" hreflang="en" href="/en/terms/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/terms/">
      <link rel="alternate" hreflang="en-in" href="/en-in/terms/">
      <link rel="alternate" hreflang="es" href="/es/terms/">
      <link rel="alternate" hreflang="es-es" href="/es-es/terms/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/terms/">
      <link rel="alternate" hreflang="es-co" href="/es-co/terms/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/terms/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/terms/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/terms/"> 
      <link rel="alternate" hreflang="zh" href="/zh/terms/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/terms/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/terms/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/terms/"> 
      <link rel="alternate" hreflang="hi" href="/hi/terms/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/terms/">
      <link rel="alternate" hreflang="fr" href="/fr/terms/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/terms/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/terms/"> 
      <link rel="alternate" hreflang="pt" href="/pt/terms/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/terms/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/terms/">
      <link rel="alternate" hreflang="de" href="/de/terms/">
      <link rel="alternate" hreflang="de-de" href="/de-de/terms/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/terms/">
      <link rel="alternate" hreflang="id-id" href="/id-id/terms/">
        <link rel="alternate" hreflang="ar" href="/ar/terms/">
      <link rel="alternate" hreflang="bn" href="/bn/terms/">
      <link rel="alternate" hreflang="ko" href="/ko/terms/">
      <link rel="alternate" hreflang="ru" href="/ru/terms/">
      <link rel="alternate" hreflang="ur" href="/ur/terms/">    
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/zh/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/zh/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
   <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/zh/manifest.json"> 
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/zh/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/zh/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/zh/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/zh/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/zh/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Fb Meta Tags -->
     <meta property="og:title" content="应用程序隐私政策和网站条款和条件">
     <meta property="og:site_name" content="圣怜悯">
     <meta property="og:url" content="https://holymercy.com/zh/terms/">
     <meta property="og:description" content="应用程序隐私政策和网站条款和条件：访问本网站即表示您同意对合规性负责">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/zh/angel-from-christ-meta.webp">
     <!-- Open Graph Meta Tags - tw Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/zh/">
     <meta property="twitter:url" content="https://holymercy.com/zh/terms/">
     <meta name="twitter:title" content="应用程序隐私政策和网站条款和条件">
     <meta name="twitter:description" content="应用程序隐私政策和网站条款和条件：访问本网站即表示您同意对合规性负责">
     <meta name="twitter:image" content="/static/img/zh/angel-from-christ-meta.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/zh/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/zh/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/zh/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/zh/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
      <header>
         <ul>
            <li><a href="/zh/"><img class="logo" src="/static/img/zh/holymercy-logo.webp" loading="lazy" id="logo" alt="左上导航栏徽标" aria-label="左上导航栏徽标" width="68" height="39"></a></li>
            <li><a href="/zh/" aria-label="家">家</a></li>
            <li><a href="#" aria-label="爱的圆环的章节">章节</a>
               <ul>
                  <li><a href="/zh/the-vision" aria-label="愿景">愿景</a></li>
                  <li><a href="/zh/spiritual-realms" aria-label="精神领域">精神领域</a></li>
                  <li><a href="/zh/soldiers-of-light" aria-label="光之战士">光之战士</a></li>
                  <li><a href="/zh/guardian-angels" aria-label="守护天使">守护天使</a></li>
                  <li><a href="/zh/living-light" aria-label="生命之光">生命之光</a></li>
                  <li><a href="/zh/unconditional-love" aria-label="无条件的爱">无条件的爱</a></li>
                  <li><a href="/zh/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/zh/about-us" aria-label="关于">关于</a></li>
            <li><a href="/zh/ebook" aria-label="电子书">电子书</a></li>
            <li><a href="#" aria-label="分享">分享</a>	
               <ul>
                  <li><a href="/zh/share-the-faith" aria-label="分享信仰">分享信仰</a></li>
                  <li><a href="/zh/powerful-scripture" aria-label="强大的经文">强大的经文</a></li>
                  <li><a href="/zh/prayer-request" aria-label="代祷请求">代祷请求</a></li>
                  <li><a href="/zh/contact-us/" aria-label="联络我们">联络我们</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--翻译-->
       <div id="google_translate_element" title="翻译通用语言快速选择下拉菜单"></div>
       <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>应用程序隐私政策和网站条款和条件</h1>
         <p>"og:site_name" content="holymercy.com"PWA 开发人员将 Holymercy 应用程序构建为免费应用程序。 本服务由 Holymercy PWA 开发商免费并且旨在按原样使用。
         </p>
          <h2>与 Google Play 和 Android 应用商店关联</h2> 
          <p>如果有人决定使用我的服务，此页面用于向访问者告知我有关收集、使用和披露个人信息的政策。如果您选择使用我的服务，则您同意收集和使用与本政策相关的信息。我收集的个人信息用于提供和改进服务。除本隐私政策所述之外，我不会与任何人使用或分享您的信息。除非本隐私政策中另有定义，本隐私政策中使用的术语与我们的条款和条件具有相同的含义，可在 Holymercy 访问这些条款和条件。
         </p> 
          <h3>信息收集和使用</h3> 
          <p>为了在使用我们的服务时获得更好的体验，我可能会要求您向我们提供某些个人身份信息，包括但不限于 NA。我请求的信息将保留在您的设备上，我不会以任何方式收集。该应用程序确实使用第三方服务，这些服务可能会收集用于识别您身份的信息。<a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">链接至应用Google Play 服务</a>所使用的第三方服务提供商的隐私政策</p>
          <h3>Google Play 日志数据</h3>
          <p>我想通知您，每当您使用我的服务时，如果应用程序出现错误，我会在您的手机上收集数据和信息（通过第三方产品），称为日志数据。该日志数据可能包括您设备的互联网协议（“IP”）地址、设备名称、操作系统版本、使用我的服务时应用程序的配置、您使用服务的时间和日期以及其他统计信息等信息。
          </p> 
          <h3>Google Play Cookie</h3> 
          <p>Cookie 是包含少量数据的文件，通常用作匿名唯一标识符。这些信息将从您访问的网站发送到您的浏览器，并存储在您设备的内存中。本服务不明确使用这些“cookies”。但是，该应用程序可能会使用使用“cookie”的第三方代码和库来收集信息并改进其服务。您可以选择接受或拒绝这些 cookie，并且您会知道 cookie 何时发送到您的设备。如果您选择拒绝我们的 cookie，您可能无法使用本服务的某些部分。
          </p>
          <h3>服务供应商</h3> 
         <p>由于以下原因，我可能会雇用第三方公司和个人： 为了方便我们的服务；代表我们提供服务；执行与服务相关的服务；或 协助我们分析我们的服务的使用情况。我想告知本服务的用户，这些第三方可以访问他们的个人信息。原因是代表我们执行分配给他们的任务。但是，他们有义务不披露这些信息或将这些信息用于任何其他目的。
          </p> 
          <h3>安全</h3>
          <p>我重视您对向我们提供您的个人信息的信任，因此我们正在努力使用商业上可接受的方式来保护它。但请记住，没有一种互联网传输方法或电子存储方法是 100% 安全可靠的，我不能保证其绝对安全。
            </p>
          <h3>其他网站的链接</h3> 
            <p>本服务可能包含其他网站的链接。如果您点击第三方链接，您将被定向到该网站。请注意，这些外部网站不是由我运营的。因此，我强烈建议您查看这些网站的隐私政策。我无法控制任何第三方网站或服务的内容、隐私政策或做法，也不承担任何责任。
          </p>
         <h3>儿童隐私</h3>
            <p>这些服务不针对 13 岁以下的任何人。我不会故意收集 13 岁以下儿童的个人身份信息。如果我发现 13 岁以下的儿童向我提供了个人信息，我会立即将其从我们的服务器中删除。如果您是父母或监护人，并且您知道您的孩子向我们提供了个人信息，请通过联系我们页面与我联系，以便我采取必要的措施。 
              </p>
            <h3>本隐私政策的变更</h3>
            <p>我可能会不时更新我们的隐私政策。因此，建议您定期查看此页面是否有任何更改。我将通过在此页面上发布新的隐私政策来通知您任何更改。
          </p>
          <h3>本政策自2024 h年7月17日起施行</h3>
          <p>如果您对我的隐私政策有任何疑问或建议，请联系我们。请随时通过 support@holymercy.com 与我联系。
          </p> 
            <h3>本网站上的材料受版权法和商标法保护</h3>
            <p>通过访问本网站，您同意受这些网站的使用条款和条件以及所有适用的法律和法规的约束，并且您同意您有责任遵守任何适用的当地法律。如果您不同意这些条款中的任何一项，您将被禁止使用或访问本网站。本网站包含的材料受适用的版权和商标法的保护。
            </p>
            <h3>使用许可</h3>
            <p>允许暂时下载 Holymercy.com 网站上的材料（信息或软件）的一份副本，仅供个人、非商业、暂时查看。这是授予许可，而不是所有权转让，根据本许可，您不得： 修改或复制材料；将这些材料用于任何商业目的或任何公开展示（商业或非商业）；尝试对 Holymercy.com 网站上包含的任何软件进行反编译或逆向工程；删除材料中的任何版权或其他专有符号；将材料转让给他人；或“镜像”任何其他服务器上的材料。如果您违反任何这些限制，本许可将自动终止，并且可能会被 Holymercy.com 随时终止。在您终止查看这些材料或终止本许可后，您必须销毁您拥有的所有下载材料，无论是电子格式还是印刷格式。
            </p>
            <h3>Apple 许可应用程序最终用户许可协议</h3>
            <p>通过 App Store 提供的应用程序是授权给您的，而不是出售给您的。您对每个应用程序的许可取决于您事先接受本许可应用程序最终用户许可协议（“标准 EULA”）或您与应用程序提供商之间的自定义最终用户许可协议（“自定义 EULA”）（如果提供）。您根据本标准 EULA 或自定义 EULA 获得的任何 Apple 应用程序的许可均由 Apple 授予，您根据本标准 EULA 或自定义 EULA 获得的任何第三方应用程序的许可由该第三方应用程序的应用程序提供商授予。任何受本标准 EULA 约束的应用程序在本文中均称为“许可应用程序”。应用程序提供商或适用的 Apple（“许可方”）保留本标准 EULA 中未明确授予您的许可应用程序的所有权利。</p>
            <p>A。许可范围：许可方授予您不可转让的许可，允许您在使用规则允许的情况下在您拥有或控制的任何 Apple 品牌产品上使用许可应用程序。本标准 EULA 的条款将管辖从许可应用程序中访问或购买的任何内容、材料或服务，以及许可方提供的用于替换或补充原始许可应用程序的升级，除非此类升级附有自定义 EULA。除使用规则中规定的情况外，您不得通过可被多个设备同时使用的网络分发或提供许可应用程序。您不得转让、重新分发或再许可许可应用程序，并且如果您将 Apple 设备出售给第三方，在此之前，您必须从 Apple 设备中删除许可应用程序。您不得复制（本许可和使用规则允许的除外）、逆向工程、反汇编、尝试获取许可应用程序的源代码、修改或创建许可应用程序、任何更新或其任何部分的衍生作品（除非且仅在适用法律禁止任何上述限制的情况下或在管理许可应用程序中包含的任何开源组件的使用的许可条款允许的范围内）。</p>
            <p>b. 同意使用数据：您同意许可方可以收集和使用定期收集的技术数据和相关信息，包括但不限于有关您的设备、系统和应用程序软件以及外围设备的技术信息，以方便提供软件更新、产品支持以及与许可应用程序相关的其他服务（如果有）。许可方可以使用这些信息（只要该信息不会识别您的个人身份）来改进其产品或向您提供服务或技术。</p>
            <p>C。终止。本标准 EULA 在您或许可方终止之前一直有效。如果您未能遵守本标准 EULA 的任何条款，您在本标准 EULA 下的权利将自动终止。</p>
            <p>d. 外部服务。许可应用程序可以允许访问许可方和/或第三方服务和网站（统称为“外部服务”）。您同意自行承担使用外部服务的风险。许可方不负责检查或评估任何第三方外部服务的内容或准确性，也不对任何此类第三方外部服务承担责任。任何许可应用程序或外部服务显示的数据，包括但不限于财务、医疗和位置信息，仅用于一般信息目的，许可方或其代理不提供保证。您不得以任何不符合本标准 EULA 条款或侵犯许可方或任何第三方知识产权的方式使用外部服务。您同意不使用外部服务来骚扰、辱骂、跟踪、威胁或诽谤任何个人或实体，并且许可方对任何此类使用不承担任何责任。外部服务可能无法提供所有语言版本或在您所在的国家/地区提供，并且可能不适合或不适合在任何特定地点使用。在您选择使用此类外部服务的范围内，您全权负责遵守任何适用的法律。许可方保留随时更改、暂停、删除、禁用或对任何外部服务施加访问限制或限制的权利，恕不另行通知，也不对您承担任何责任。并且可能不适合或不适合在任何特定位置使用。在您选择使用此类外部服务的范围内，您全权负责遵守任何适用的法律。许可方保留随时更改、暂停、删除、禁用或对任何外部服务施加访问限制或限制的权利，恕不另行通知，也不对您承担任何责任。并且可能不适合或不适合在任何特定位置使用。在您选择使用此类外部服务的范围内，您全权负责遵守任何适用的法律。许可方保留随时更改、暂停、删除、禁用或对任何外部服务施加访问限制或限制的权利，恕不另行通知，也不对您承担任何责任。</p>
            <p>e. 无保证：您明确承认并同意自行承担使用许可应用程序的风险。在适用法律允许的最大范围内，许可应用程序以及许可应用程序执行或提供的任何服务均按“原样”和“可用”提供，不存在任何缺陷，且不提供任何类型的保证，许可方特此否认所有保证与许可应用程序和任何服务相关的明示、暗示或法定的保证和条件，包括但不限于适销性、令人满意的质量、特定用途的适用性和准确性的默示保证和/或条件、安静的享受以及不侵犯第三方权利。许可方或其授权代表提供的任何口头或书面信息或建议均不构成保证。如果许可的应用程序或服务存在缺陷，您将承担所有必要的维修、修理或更正的全部费用。某些司法管辖区不允许排除对消费者适用法定权利的默示保证或限制，因此上述排除和限制可能不适用于您。</p>
            <p>F。责任限制。在法律不禁止的范围内，在任何情况下，许可方均不对人身伤害或任何偶然、特殊、间接或后果性损害承担责任，包括但不限于利润损失、数据丢失、业务中断或任何其他商业损害因您使用或无法使用许可应用程序而引起或与之相关的损失或损失，无论是何种原因造成的，无论责任理论如何（合同、侵权或其他），即使许可方已被告知发生此类损害的可能性。某些司法管辖区不允许限制人身伤害或偶发或继发损害的责任，因此此限制可能对您不适用。在任何情况下，许可方对您的所有损害承担的总责任（涉及人身伤害的情况下适用法律可能要求的除外）的总责任不得超过五十美元 ($50.00)。即使上述补救措施未能达到其基本目的，上述限制仍然适用。</p>
            <p>G。除非美国法律和获得许可应用程序所在司法管辖区的法律授权，否则您不得使用或以其他方式出口或再出口许可应用程序。特别是但不限于，许可应用程序不得出口或再出口到 (a) 任何美国禁运国家或 (b) 美国财政部特别指定国民名单或美国商务部拒绝人员名单上的任何人列表或实体列表。通过使用许可应用程序，您声明并保证您不在任何此类国家/地区或任何此类列表中。您还同意，您不会将这些产品用于美国法律禁止的任何目的，包括但不限于核、导弹、</p>
            <p>H。许可应用程序和相关文档属于“商业项目”，该术语在 48 CFR §2.101 中定义，由“商业计算机软件”和“商业计算机软件文档”组成，此类术语在 48 CFR §12.212 或 48 中使用。 CFR §227.7202（如适用）。根据 48 CFR §12.212 或 48 CFR §227.7202-1 至 227.7202-4（如适用），商业计算机软件和商业计算机软件文档被许可给美国政府最终用户 (a) 仅作为商业物品，并且 (b)仅根据此处的条款和条件授予所有其他最终用户的权利。根据美国版权法保留未公开的权利。</p>
            <p>我。除以下段落明确规定的范围外，本协议以及您与 Apple 之间的关系应受加利福尼亚州法律管辖，不包括其法律冲突条款。您和 Apple 同意接受加利福尼亚州圣克拉拉县法院的个人专属管辖权，以解决因本协议引起的任何争议或索赔。如果 (a) 您不是美国公民；(b) 您不住在美国；(c) 您不是从美国访问服务；(d) 您是下列国家之一的公民，您特此同意，因本协议引起的任何争议或索赔均应受下述适用法律管辖，而不考虑任何法律冲突规定，</p>
            <p>如果您是任何欧盟国家或瑞士、挪威或冰岛的公民，管辖法律和法院应为您常居住地的法律和法院。被称为《联合国国际货物销售公约》的法律被明确排除在本协议的适用之外。</p>
            <h3>免责声明</h3>
            <p>Holymery.com 应用程序和网站上的材料“按原样”提供。Holymercy.com 不做任何明示或暗示的保证，并特此否认和否定所有其他保证，包括但不限于适销性、特定用途的适用性、不侵犯知识产权或其他侵犯权利的暗示保证或条件。此外，holymercy.com 对其互联网网站上或与此类材料或与本网站链接的任何网站上的材料使用的准确性、可能的结果或可靠性不作任何保证或陈述。
            </p>
            <h3>局限性</h3>
            <p>在任何情况下，holymercy.com 或其供应商均不对因使用或无法使用holymercy.com 网站上的材料而造成的任何损害（包括但不限于数据或利润损失或由于业务中断而造成的损害）负责，即使holymercy.com 或holymercy.com 授权代表已被口头或书面告知发生此类损害的可能性。由于某些司法管辖区不允许对默示保证进行限制或对间接或附带损害的责任限制，因此这些限制可能不适用于您。
            </p>
            <h3>修订和勘误</h3>
            <p>Holymercy.com 网站上出现的材料可能包含技术、印刷或摄影错误。Holymercy.com 不保证其网站上的任何材料都是准确、完整或最新的。Holymercy.com 可能随时更改其网站上包含的材料，恕不另行通知。然而，holymercy.com 不做出任何更新材料的承诺。
            </p>
            <h3>链接</h3>
            <p>Holymercy.com 可能随时修改其网站的这些使用条款，恕不另行通知。使用本网站即表示您同意受当前版本的使用条款和条件的约束。
            </p>
            <h3>网站使用条款修改</h3>
            <p>Holymercy.com 可能随时修改其网站的这些使用条款，恕不另行通知。使用本网站即表示您同意受当前版本的使用条款和条件的约束。
            </p>
            <h3>适用法律</h3>
            <p>与 Holymercy.com 网站相关的任何索赔均应受美利坚合众国科罗拉多州法律管辖，不考虑其法律冲突条款。适用于应用程序和网站使用的一般条款和条件。我们致力于按照这些原则开展业务，以确保个人信息的机密性得到保护和维护。
            </p>
            <br>
            <br><br>
     <div class="center3"><a href="/zh/terms" aria-label="回到顶部链接" title="回到顶部链接">&nbsp;顶部<img src="/static/img/zh/back-to-top-link.webp" loading="lazy" alt="回到顶部链接" width="48" height="48"></a></div>
         <br>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="捐赠链接" title="捐赠链接"><p>帮助分享链接</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/zh/contact-us/">给我们发电子邮件</a>
         <h4>接觸</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh/" aria-label="家">家</a>
                  </li>
                  <li>
                     <a href="/zh/the-vision" aria-label="愿景">愿景</a>
                  </li>
                  <li>
                     <a href="/zh/spiritual-realms" aria-label="精神领域">精神领域</a>
                  </li>
                  <li>
                     <a href="/zh/soldiers-of-light" aria-label="光之战士">光之战士</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/zh/guardian-angels" aria-label="守护天使">守护天使</a>
                  </li>
                  <li>
                     <a href="/zh/living-light" aria-label="生命之光">生命之光</a>
                  </li>
                  <li>
                     <a href="/zh/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                  </li>
                  <li>
                     <a href="/zh/unconditional-love" aria-label="无条件的爱">无条件的爱</a>
                  </li>
                  <li>
                     <a href="/zh/about-us" aria-label="关于">关于</a>
                  </li>
                  <li>
                     <a href="/zh/ebook" aria-label="电子书">电子书</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh/share-the-faith" aria-label="分享信仰">分享信仰</a>
                  </li>
                  <li>
                     <a href="/zh/powerful-scripture" aria-label="强大的经文">强大的经文</a>
                  </li>
                  <li>
                     <a href="/zh/prayer-request" aria-label="代祷请求">代祷请求</a>
                  </li>
                  <li>
                     <a href="/zh/terms" aria-label="使用条款">使用条款</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/zh/facebook-24.webp" title="Facebook 图标链接" alt="Facebook 图标链接" aria-label="Facebook 图标链接" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/twitter-24.webp" title="推特图标链接" alt="推特图标链接" aria-label="推特图标链接" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/instagram-24.webp" title="Instagram 图标链接" alt="Instagram 图标链接" aria-label="Instagram 图标链接" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/pinterest-24.webp" title="Pinterest 图标链接" alt="Pinterest 图标链接" aria-label="Pinterest 图标链接" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh/snapchat-24.webp" title="Snapchat 图标链接" alt="Snapchat 图标链接" aria-label="Snapchat 图标链接" width="24" height="24"></a>
            </div>
            <p>&copy;版权所有 holymercy.com/zh/ 版权所有。</p>
            <div class="legal__links"> 
            <span>保持联系; 即将变得很棒！</span>
            </div> 
         </footer>
         <!--翻译-->
      <span>
        <script>
//<![CDATA[
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'zh', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
//]]>
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 </span>
   <!--(gtag.js)4-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-9YTTLPE2DX');
</script>
<script src="/static/js/zh/add-service-worker.js"></script>
<script src="/static/js/zh/service-worker.js"></script>
</body>