<!doctype html>
<html lang="zh-Hk">
   <head>
      <meta name="robots" content="noindex">
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex">
     <title>会员页面可访问“爱的圈子”的章节</title>
     <meta name="description" content="加入我们的会员资格，访问《爱的圈子》的章节，这是一本关于分享圣灵的信仰、爱和光的电子书。">
      <meta charset="utf-8">
      <link rel="canonical" href="/zh-hk/membership/">
      <link rel="alternate" hreflang="x-default" href="/membership/">
      <link rel="alternate" hreflang="en-us" href="/membership/">  
      <link rel="alternate" hreflang="en" href="/en/membership/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/membership/">
      <link rel="alternate" hreflang="en-in" href="/en-in/membership/">
      <link rel="alternate" hreflang="es" href="/es/membership/">
      <link rel="alternate" hreflang="es-es" href="/es-es/membership/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/membership/">
      <link rel="alternate" hreflang="es-co" href="/es-co/membership/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/membership/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/membership/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/membership/"> 
      <link rel="alternate" hreflang="zh" href="/zh/membership/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/membership/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/membership/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/membership/"> 
      <link rel="alternate" hreflang="hi" href="/hi/membership/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/membership/">
      <link rel="alternate" hreflang="fr" href="/fr/membership/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/membership/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/membership/"> 
      <link rel="alternate" hreflang="pt" href="/pt/membership/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/membership/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/membership/">
      <link rel="alternate" hreflang="de" href="/de/membership/">
      <link rel="alternate" hreflang="de-de" href="/de-de/membership/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/membership/">
      <link rel="alternate" hreflang="id-id" href="/id-id/membership/">
      <link rel="alternate" hreflang="ar" href="/ar/membership/">
      <link rel="alternate" hreflang="bn" href="/bn/membership/">
        <link rel="alternate" hreflang="ko" href="/ko/membership/">
      <link rel="alternate" hreflang="ru" href="/ru/membership/">
      <link rel="alternate" hreflang="ur" href="/ur/membership/">   
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/zh-hk/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/static/css/zh-hk/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">  
      <!--Google Fonts-put off the loading of render blocking CSS-->   
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/zh-hk/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/zh-hk/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/zh-hk/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/zh-hk/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/zh-hk/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/zh-hk/icon-64.png" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facmembership Meta Tags -->
     <meta property="og:title" content="会员页面可访问“爱的圈子”的章节">
     <meta property="og:site_name" content="圣怜悯">
     <meta property="og:url" content="https://holymercy.com/zh-hk/membership/">
     <meta property="og:description" content="加入我们的会员资格，访问《爱的圈子》的章节，这是一本关于分享圣灵的信仰、爱和光的电子书。">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/zh-hk/the-circle-of-love-bookcover.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/zh-hk/">
     <meta property="twitter:url" content="https://holymercy.com/zh-hk/membership/">
     <meta name="twitter:title" content="会员页面可访问“爱的圈子”的章节">
     <meta name="twitter:description" content="加入我们的会员资格，访问《爱的圈子》的章节，这是一本关于分享圣灵的信仰、爱和光的电子书。">
     <meta name="twitter:image" content="/static/img/zh-hk/the-circle-of-love-bookcover.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/zh-hk/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/zh-hk/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/zh-hk/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/zh-hk/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
      </head>
    <body>
      <header>
         <ul>
            <li><a href="/zh-hk/"><img class="logo" src="/static/img/zh-hk/holymercy-logo.webp" loading="lazy" id="logo" alt="左上导航栏徽标" aria-label="左上导航栏徽标" width="68" height="39"></a></li>
            <li><a href="/zh-hk/" aria-label="家">家</a></li>
            <li><a href="#" aria-label="爱的圆环的章节">章节</a>
               <ul>
                  <li><a href="/zh-hk/the-vision" aria-label="愿景">愿景</a></li>
                  <li><a href="/zh-hk/spiritual-realms" aria-label="精神领域">精神领域</a></li>
                  <li><a href="/zh-hk/soldiers-of-light" aria-label="光之战士">光之战士</a></li>
                  <li><a href="/zh-hk/guardian-angels" aria-label="守护天使">守护天使</a></li>
                  <li><a href="/zh-hk/living-light" aria-label="生命之光">生命之光</a></li>
                  <li><a href="/zh-hk/unconditional-love" aria-label="无条件的爱">无条件的爱</a></li>
                  <li><a href="/zh-hk/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/zh-hk/about-us" aria-label="关于">关于</a></li>
            <li><a href="/zh-hk/ebook" aria-label="电子书">电子书</a></li>
            <li><a href="#" aria-label="分享">分享</a>	
               <ul>
                  <li><a href="/zh-hk/share-the-faith" aria-label="分享信仰">分享信仰</a></li>
                  <li><a href="/zh-hk/powerful-scripture" aria-label="强大的经文">强大的经文</a></li>
                  <li><a href="/zh-hk/prayer-request" aria-label="代祷请求">代祷请求</a></li>
                  <li><a href="/zh-hk/contact-us/" aria-label="联络我们">联络我们</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
      <div id="google_translate_element" title="谷歌翻译选择语言按钮"></div>
      <div id="images_hz" class="center-align">  
     <div id="kontent">
      <div id="font-type">
         <h1>用于访问图书章节的会员页面 <em> 《爱的圆圈》</em></h1>
         <br>
       <p>欢迎 {{ request.user.username }} </p>
       <br>
       {%  if 'Chapter 1' in sales %}
       <p>要访问完整的 40 页版本的第一章：愿景，请单击下面的链接。 
       </p>
          <p>最后修订于 2024 年 4 月 5 日。</p>
       <br>
       <a href="/zh-hk/chapter1/" aria-label="访问第一章：愿景" title="访问第一章：愿景" class="btn-auth">访问内容</a>
       {% else %}
       <p>要访问完整的 40 页版本的《第一章：愿景》，单击下面的按钮购买 7 美元的会员资格。
       </p>
          <p>最后修订于 2024 年 4 月 5 日。</p>
       <br>
       <p class="cta">点击下面的按钮立即购买第一章</p>
       {{ paypal1.render }}            
       {% endif %}   
   <br><br><br>
   {%  if 'Chapter 2' in sales %}
   <p>要访问完整的 40 页版本的第二章：精神领域，请单击下面的链接。
   </p>
      <p>最后修订于 2024 年 4 月 5 日。</p>
   <br>
   <a href="/zh-hk/chapter2/" aria-label="访问第二章：精神境界" title="访问第二章：精神境界" class="btn-auth">访问内容</a>
   {% else %}
   <p>要访问完整的 40 页版本的第二章：精神领域，单击下面的按钮购买 7 美元的会员资格。
   </p>
      <p>最后修订于 2024 年 4 月 5 日。</p>
   <br>
   <p class="cta">点击下面的按钮立即购买第二章</p>
   {{ paypal2.render }}            
   {% endif %}   
     <br><br><br>
     {%  if 'Chapter 3' in sales %}
     <p>要访问完整的 40 页版本的第三章：光之战士，请单击下面的链接。
     </p>
        <p>最后修订于 2024 年 4 月 5 日。</p>
     <br>
     <a href="/zh-hk/chapter3/" aria-label="访问第三章：光之士兵" title="访问第三章：光之士兵" class="btn-auth">访问内容</a>
     {% else %}
     <p>要访问完整的 40 页版本的第三章：光之战士，单击下面的按钮购买 7 美元的会员资格。
     </p>
        <p>最后修订于 2024 年 4 月 5 日。</p>
     <br>
     <p class="cta">点击下面的按钮立即购买第三章</p>
     {{ paypal3.render }}            
     {% endif %}  
        <br><br><br>
        {%  if 'Chapter 4' in sales %}
        <p>要访问完整的 40 页版本的第四章：守护天使，请单击下面的链接。 
        </p>
           <p>最后修订于 2024 年 4 月 5 日。</p>
        <br>
        <a href="/zh-hk/chapter4/" aria-label="访问第四章：守护天使" title="访问第四章：守护天使" class="btn-auth">访问内容</a>
        {% else %}
        <p>要访问完整的 40 页版本的第四章：守护天使，单击下面的按钮购买 7 美元的会员资格。
        </p>
           <p>最后修订于 2024 年 4 月 5 日。</p>
        <br>
        <p class="cta">点击下面的按钮立即购买第四章</p>
        {{ paypal4.render }}            
        {% endif %}  
    <br><br><br>
    {%  if 'Chapter 5' in sales %}
    <p>要访问完整的 40 页版本的第五章：活光，请单击下面的链接。
    </p>
       <p>最后修订于 2024 年 4 月 5 日。</p>
    <br>
    <a href="/zh-hk/chapter5/" aria-label="访问第五章：活光" title="访问第五章：活光" class="btn-auth">访问内容</a>
    {% else %}
    <p>要访问完整的 40 页版本的第五章：活光，单击下面的按钮购买 7 美元的会员资格。
    </p>
       <p>最后修订于 2024 年 4 月 5 日。</p>
    <br>
    <p class="cta">点击下面的按钮立即购买第五章</p>
    {{ paypal5.render }}            
    {% endif %}  
       <br><br><br>
       {%  if 'Chapter 6' in sales %}
       <p>要访问完整的 40 页版本的第六章：无条件的爱，请单击下面的链接。 
       </p>
          <p>最后修订于 2024 年 4 月 5 日。</p>
       <br>
       <a href="/zh-hk/chapter6/" aria-label="访问第六章：无条件的爱" title="访问第六章：无条件的爱" class="btn-auth">访问内容</a>
       {% else %}
       <p>要阅读完整的 40 页版本的《第六章：无条件的爱》，单击下面的按钮购买 7 美元的会员资格。
       </p>
          <p>最后修订于 2024 年 4 月 5 日。</p>
       <br>
       <p class="cta">点击下面的按钮立即购买第六章</p>
       {{ paypal6.render }}            
       {% endif %}  
   <br><br><br>
   {%  if 'Chapter 7' in sales %}
   <p>要访问完整的 40 页版本的《第七章：天堂境界》，请单击下面的链接。
   </p>
      <p>最后修订于 2024 年 4 月 5 日。</p>
   <br>
   <a href="/zh-hk/chapter7/" aria-label="进入第七章：天域" title="进入第七章：天域" class="btn-auth">访问内容</a>
   {% else %}
   <p>要访问完整的 40 页版本的第七章：天堂领域，单击下面的按钮购买 7 美元的会员资格。
   </p>
      <p>最后修订于 2024 年 4 月 5 日。</p>
   <br>
   <p class="cta">点击下面的按钮立即购买第七章</p>
   {{ paypal7.render }}            
   {% endif %}  
      <br><br><br>
      {%  if 'The Circle of Love' in sales %}
      <p>要访问完整的 280 页版本 <br><em> 《爱的圆圈》</em>, 点击下面的链接。
      </p>
         <p>最后修订于 2024 年 4 月 5 日。</p>
      <br>
      <a href="/zh-hk/thecircleoflove/" aria-label="《爱的圆圈》" title="《爱的圆圈》" class="btn-auth">访问内容</a>
      {% else %}
      <p>要访问完整的 280 页版本 <em> 《爱的圆圈》</em>, 单击下面的按钮购买 40 美元的会员资格。
      </p>
         <p>最后修订于 2024 年 4 月 5 日。</p>
      <br>
      <p class="cta">点击下面的按钮立即购买<em>爱的圆圈</em></p>
      {{ paypal8.render }}         
      {% endif %} 
   <br><br><br>
         <div class="auth-btn">
            <a href="/zh-hk/logout/" aria-label="登出" title="登出" class="btn-auth" >登出</a>
         </div>
         <br>
        <br> 
        <div class="center3"><a href="/zh-hk/membership" aria-label="回到顶部链接" title="回到顶部链接">&nbsp;顶部<img src="/static/img/zh-hk/back-to-top-link.webp" loading="lazy" alt="回到顶部链接" width="48" height="48"></a></div>  
        <br> 
      </div>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="捐赠链接" title="捐赠链接"><p>帮助分享链接</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/zh-hk/contact-us/">给我们发电子邮件</a>
         <h4>接觸</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh-hk/" aria-label="家">家</a>
                  </li>
                  <li>
                     <a href="/zh-hk/the-vision" aria-label="愿景">愿景</a>
                  </li>
                  <li>
                     <a href="/zh-hk/spiritual-realms" aria-label="精神领域">精神领域</a>
                  </li>
                  <li>
                     <a href="/zh-hk/soldiers-of-light" aria-label="光之战士">光之战士</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/zh-hk/guardian-angels" aria-label="守护天使">守护天使</a>
                  </li>
                  <li>
                     <a href="/zh-hk/living-light" aria-label="生命之光">生命之光</a>
                  </li>
                  <li>
                     <a href="/zh-hk/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                  </li>
                  <li>
                     <a href="/zh-hk/unconditional-love" aria-label="无条件的爱">无条件的爱</a>
                  </li>
                  <li>
                     <a href="/zh-hk/about-us" aria-label="关于">关于</a>
                  </li>
                  <li>
                     <a href="/zh-hk/ebook" aria-label="电子书">电子书</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh-hk/share-the-faith" aria-label="分享信仰">分享信仰</a>
                  </li>
                  <li>
                     <a href="/zh-hk/powerful-scripture" aria-label="强大的经文">强大的经文</a>
                  </li>
                  <li>
                     <a href="/zh-hk/prayer-request" aria-label="代祷请求">代祷请求</a>
                  </li>
                  <li>
                     <a href="/zh-hk/terms" aria-label="使用条款">使用条款</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/zh-hk/facebook-24.webp" title="Facebook 图标链接" alt="Facebook 图标链接" aria-label="Facebook 图标链接" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-hk/twitter-24.webp" title="推特图标链接" alt="推特图标链接" aria-label="推特图标链接" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-hk/instagram-24.webp" title="Instagram 图标链接" alt="Instagram 图标链接" aria-label="Instagram 图标链接" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-hk/pinterest-24.webp" title="Pinterest 图标链接" alt="Pinterest 图标链接" aria-label="Pinterest 图标链接" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-hk/snapchat-24.webp" title="Snapchat 图标链接" alt="Snapchat 图标链接" aria-label="Snapchat 图标链接" width="24" height="24"></a>
            </div>
            <p>&copy;版权所有 holymercy.com/zh-hk/ 版权所有。</p>
            <div class="legal__links"> 
            <span>保持联系; 即将变得很棒！</span>
            </div> 
         </footer>
         <!--翻译-->
       <span>
        <script>
   //<![CDATA[
   function googleTranslateElementInit() {
   new google.translate.TranslateElement({
    pageLanguage: 'zh', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
   }, 'google_translate_element');
   }
   //]]>
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </span>
      <!--(gtag.js)4-->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   
   gtag('config', 'G-9YTTLPE2DX');
   </script>
    <script src="/static/js/zh-hk/add-service-worker.js"></script>
    <script src="/static/js/zh-hk/service-worker.js"></script>
   </body>
   </html>