<!doctype html>
<html lang="en">
   <head>
      <meta name="robots" content="index, follow">
      <title>Christian literature that blesses hope, faith, spirit, and soul</title>
      <meta name="description" content="Discover 'The Circle of Love' e-book with membership signup. Explore one man's spiritual journey into the depths of soul and spirit.">
      <meta charset="utf-8">
      <link rel="canonical" href="/en-gb/ebook/">
      <link rel="alternate" hreflang="x-default" href="/ebook/">
      <link rel="alternate" hreflang="en-us" href="/ebook/">  
      <link rel="alternate" hreflang="en" href="/en/ebook/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/ebook/">
      <link rel="alternate" hreflang="en-in" href="/en-in/ebook/">
      <link rel="alternate" hreflang="es" href="/es/ebook/">
      <link rel="alternate" hreflang="es-es" href="/es-es/ebook/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/ebook/">
      <link rel="alternate" hreflang="es-co" href="/es-co/ebook/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/ebook/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/ebook/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/ebook/"> 
      <link rel="alternate" hreflang="zh" href="/zh/ebook/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/ebook/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/ebook/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/ebook/"> 
      <link rel="alternate" hreflang="hi" href="/hi/ebook/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/ebook/">
      <link rel="alternate" hreflang="fr" href="/fr/ebook/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/ebook/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/ebook/"> 
      <link rel="alternate" hreflang="pt" href="/pt/ebook/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/ebook/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/ebook/">
      <link rel="alternate" hreflang="de" href="/de/ebook/">
      <link rel="alternate" hreflang="de-de" href="/de-de/ebook/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/ebook/">
      <link rel="alternate" hreflang="id-id" href="/id-id/ebook/">
      <link rel="alternate" hreflang="ar" href="/ar/ebook/">
      <link rel="alternate" hreflang="bn" href="/bn/ebook/">
      <link rel="alternate" hreflang="ko" href="/ko/ebook/">
      <link rel="alternate" hreflang="ru" href="/ru/ebook/">
      <link rel="alternate" hreflang="ur" href="/ur/ebook/"> 
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/en-gb/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/en-gb/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/en-gb/manifest.json">  
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/en-gb/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/en-gb/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/en-gb/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/en-gb/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/en-gb/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
     <meta property="og:title" content="Christian literature that blesses hope, faith, spirit, and soul">
     <meta property="og:site_name" content="holymercy">
     <meta property="og:url" content="https://holymercy.com/en-gb/ebook/">
     <meta property="og:description" content="Discover 'The Circle of Love' e-book with membership signup. Explore one man's spiritual journey into the depths of soul and spirit.">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/en-gb/the-circle-of-love-bookcover.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com">
     <meta property="twitter:url" content="https://holymercy.com/en-gb/ebook/">
     <meta name="twitter:title" content="Christian literature that blesses hope, faith, spirit, and soul">
     <meta name="twitter:description" content="Discover 'The Circle of Love' e-book with membership signup. Explore one man's spiritual journey into the depths of soul and spirit.">
     <meta name="twitter:image" content="/static/img/en-gb/the-circle-of-love-bookcover.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/en-gb/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/en-gb/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/en-gb/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/en-gb/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
     <header>
         <ul>
            <li><a href="/en-gb/"><img class="logo" src="/static/img/en-gb/holymercy-logo.webp" loading="lazy" id="logo" alt="Top left Navigation Bar Logo" aria-label="Top left Navigation Bar Logo" width="68" height="39"></a></li>
            <li><a href="/en-gb/" aria-label="Website Homepage">Home</a></li>
            <li>
               <a href="#" aria-label="The Circle of Love's chapters">Chapters</a>
               <ul>
                  <li><a href="/en-gb/the-vision" aria-label="The Vision">The Vision</a></li>
                  <li><a href="/en-gb/spiritual-realms" aria-label="Spiritual Realms">Spiritual Realms</a></li>
                  <li><a href="/en-gb/soldiers-of-light" aria-label="Soldiers of Light">Soldiers of Light</a></li>
                  <li><a href="/en-gb/guardian-angels" aria-label="Guardian Angels">Guardian Angels</a></li>
                  <li><a href="/en-gb/living-light" aria-label="Living Light">Living Light</a></li>
                  <li><a href="/en-gb/unconditional-love" aria-label="Unconditional Love">Unconditional Love</a></li>
                  <li><a href="/en-gb/heavenly-realms" aria-label="Heavenly Realms">Heavenly Realms</a></li>
               </ul>
            <li><a href="/en-gb/about-us" aria-label="About Us">About</a></li>
            <li><a href="/en-gb/ebook" aria-label="E-book">E-book</a></li>
            <li>
               <a href="#" aria-label="Share Link">Share</a>	
               <ul>
                  <li><a href="/en-gb/share-the-faith" aria-label="Share the Faith">Share the Faith</a></li>
                  <li><a href="/en-gb/powerful-scripture" aria-label="Powerful Scripture">Powerful Scripture</a></li>
                  <li><a href="/en-gb/prayer-request" aria-label="Prayer Request"> Prayer Request</a></li>
                  <li><a href="/en-gb/contact-us/" aria-label="Contact Us">Contact Us</a></li>
               </ul>
            </li>
         </ul>
      </header>
         <!--Google Translate Top-->
         <div id="google_translate_element" title="google translate pick language button"></div>
         <div id="images_hz" class="center-align">  
        <div id="kontent">
         <div id="font-type">
            <br>
            <img src="/static/img/en-gb/the-circle-of-love-bookcover.webp" loading="lazy" title="'The Circle of Love' Book Cover" alt="'The Circle of Love' Book Cover" aria-label="'The Circle of Love' Book Cover" class="center-circle" width="341" height="224">
            <h1>Login or sign up to access e-book membership page</h1>
         <br>
         <p>Hello, I am Bernie, the author of <em> The Circle of Love,</em> an ongoing project undergoing constant refinement until every chapter 
            reaches its completion. Though still evolving, I am eager to share it, extending an invitation for others to join me on a profound spiritual 
            quest towards a deeper connection with Heaven and God. </p>
         <br>
         <p>The membership page features convenient 'buy now' buttons, granting immediate access to each individual chapter as well as the complete e-book 
            upon purchase. Each chapter is priced at US$7., while the full version is available for US$40. Memberships offer lifetime access with a one-time 
            payment. Additionally, the membership page includes the last revision dates for each chapter, ensuring ease of reading. Please don't hesitate 
            to reach out via email with any questions, inquiries, or concerns.
       </p>
        <br>
         <div class="auth-btn">
            <a href="/en-gb/login/" aria-label="Login" title="Login" class="btn-auth">Login</a>
            <a href="/en-gb/signup/" aria-label="Sign up" title="Sign up" class="btn-auth">Sign up</a>
         </div>
         <br><br><br>
      </div>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Donation Link" title="Donation Link"><p>Help Share Link</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/en-gb/contact-us/">Email Us</a>
            <h4>Contact</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/en-gb/" aria-label="Website Homepage">Home</a>
                  </li>
             <li>
                     <a href="/en-gb/the-vision" aria-label="The Vision">The Vision</a>
                  </li>
                  <li>
                     <a href="/en-gb/spiritual-realms" aria-label="Spiritual Realms">Spiritual Realms</a>
                  </li>
                  <li>
                     <a href="/en-gb/soldiers-of-light" aria-label="Soldiers of Light">Soldiers of Light</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/en-gb/guardian-angels" aria-label="Guardian Angels">Guardian Angels</a>
                  </li>
                  <li>
                     <a href="/en-gb/living-light" aria-label="Living Light">Living Light</a>
                  </li>
                  <li>
                     <a href="/en-gb/heavenly-realms" aria-label="Heavenly Realms">Heavenly Realms</a>
                  </li>
                  <li>
                     <a href="/en-gb/unconditional-love" aria-label="Unconditional Love">Unconditional Love</a>
                  </li>
                  <li>
                     <a href="/en-gb/about-us" aria-label="About">About</a>
                  </li>
                  <li>
                     <a href="/en-gb/ebook" aria-label="E-book">E-book</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/en-gb/share-the-faith" aria-label="Share the Faith">Share the Faith</a>
                  </li>
                  <li>
                     <a href="/en-gb/powerful-scripture" aria-label="Powerful Scripture">Powerful Scripture</a>
                  </li>
                  <li>
                     <a href="/en-gb/prayer-request" aria-label="Prayer Request">Prayer Request</a>
                  </li>
                  <li>
                     <a href="/en-gb/terms" aria-label="Terms of Use">Terms of Use</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/en-gb/facebook-24.webp" title="Facebook Icon Link" alt="Facebook Icon Link" aria-label="Facebook Icon Link" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-gb/twitter-24.webp" title="Twitter Icon Link" alt="Twitter Icon Link" aria-label="Twitter Icon Link" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-gb/instagram-24.webp" title="Instagram Icon Link" alt="Instagram Icon Link" aria-label="Instagram Icon Link" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-gb/pinterest-24.webp" title="Pinterest Icon Link" alt="Pinterest Icon Link" aria-label="Pinterest Icon Link" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-gb/snapchat-24.webp" title="Snapchat Icon Link" alt="Snapchat Icon Link" aria-label="Snapchat Icon Link" width="24" height="24"></a>
         </div>
         <p>&copy;Copyright 2024 holymercy.com/en/ All rights reserved.</p>
            <div class="legal__links"> 
            <span>Stay in touch; holymercy's about to get awesome!</span>
            </div> 
         </footer>
        <!--google translate-->
      <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    //]]>
            </script>
            <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </span>
<!-- Google next gen tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/en-gb/add-service-worker.js"></script>
 <script src="/static/js/en-gb/service-worker.js"></script>
</body>
</html>