<!doctype html>
<html lang="ko">
   <head>
      <meta name="robots" content="index, follow">
      <title>천국과 하나님께 더 가까워지기 위한 강력한 영적 진리</title>
      <meta name="description" content="거룩함은 믿음과 사랑, 성령의 빛을 나누고 자기 정신을 강화하는 것입니다. 천국과 하나님께 더 가까이 다가가는 것입니다.">
      <meta charset="utf-8">
      <link rel="canonical" href="/ko/">
      <link rel="alternate" hreflang="x-default" href="/">
      <link rel="alternate" hreflang="en-us" href="/">   
      <link rel="alternate" hreflang="en" href="/en/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/">
      <link rel="alternate" hreflang="en-in" href="/en-in/">
      <link rel="alternate" hreflang="es" href="/es/">
      <link rel="alternate" hreflang="es-es" href="/es-es/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/">
      <link rel="alternate" hreflang="es-co" href="/es-co/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/"> 
      <link rel="alternate" hreflang="zh" href="/zh/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/"> 
      <link rel="alternate" hreflang="hi" href="/hi/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/">
      <link rel="alternate" hreflang="fr" href="/fr/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/"> 
      <link rel="alternate" hreflang="pt" href="/pt/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/">
      <link rel="alternate" hreflang="de" href="/de/">
      <link rel="alternate" hreflang="de-de" href="/de-de/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/">
      <link rel="alternate" hreflang="id-id" href="/id-id/">
      <link rel="alternate" hreflang="ar" href="/ar/">
      <link rel="alternate" hreflang="bn" href="/bn/">
      <link rel="alternate" hreflang="ko" href="/ko/">
      <link rel="alternate" hreflang="ru" href="/ru/">
      <link rel="alternate" hreflang="ur" href="/ur/">
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/ko/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/ko/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/ko/manifest.json">  
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/ko/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/ko/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/ko/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/ko/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/ko/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="천국과 하나님께 더 가까워지기 위한 강력한 영적 진리">
      <meta property="og:site_name" content="거룩한 자비">
      <meta property="og:url" content="https://holymercy.com/ko/">
      <meta property="og:description" content="거룩한 자비는 믿음과 사랑, 성령의 빛을 나누고 자아 정신을 강화하는 것입니다. 천국과 하나님께 더 가까이 다가가는 것입니다.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/ko/spirit-dove-meta.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com/ko/">
      <meta property="twitter:url" content="https://holymercy.com/ko/">
      <meta name="twitter:title" content="천국과 하나님께 더 가까워지기 위한 강력한 영적 진리">
      <meta name="twitter:description" content="거룩한 자비는 믿음과 사랑, 성령의 빛을 나누고 자아 정신을 강화하는 것입니다. 천국과 하나님께 더 가까이 다가가는 것입니다.">
      <meta name="twitter:image" content="/static/img/ko/spirit-dove-meta.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <meta name="ahrefs-site-verification" content="d9f39ebb1c652465540776bc69dd411e9ba90293f30344939b026700d292ea5f">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/ko/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/ko/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/ko/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/ko/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
   <header>
         <ul>
            <li><a href="/ko/"><img class="logo" src="/static/img/ko/holymercy-logo.webp" loading="lazy" id="logo" alt="왼쪽 상단 탐색 모음 로고" aria-label="왼쪽 상단 탐색 모음 로고" width="68" height="39"></a></li>
            <li><a href="/ko/" aria-label="홈페이지">홈페이지</a></li>
            <li>
               <a href="#" aria-label="'사랑의 원'의 장들">챕터</a>
               <ul>
                  <li><a href="/ko/the-vision" aria-label="시력">시력</a></li>
                  <li><a href="/ko/spiritual-realms" aria-label="영적 영역">영적 영역</a></li>
                  <li><a href="/ko/soldiers-of-light" aria-label="빛의 병사들">빛의 병사들</a></li>
                  <li><a href="/ko/guardian-angels" aria-label="수호 천사들">수호 천사들</a></li>
                  <li><a href="/ko/living-light" aria-label="살아있는 빛">살아있는 빛</a></li>
                  <li><a href="/ko/unconditional-love" aria-label="무조건적인 사랑">무조건적인 사랑</a></li>
                  <li><a href="/ko/heavenly-realms" aria-label="천국의 영역">천국의 영역</a></li>
               </ul>
            <li><a href="/ko/about-us" aria-label="회사 소개">회사 소개</a></li>
            <li><a href="/ko/ebook" aria-label="전자책">전자책</a></li>
            <li>
               <a href="#" aria-label="공유링크">공유링크</a>	
               <ul>
                  <li><a href="/ko/share-the-faith" aria-label="믿음을 나누라">믿음을 나누라</a></li>
                  <li><a href="/ko/powerful-scripture" aria-label="강력한 경전">강력한 경전</a></li>
                  <li><a href="/ko/prayer-request" aria-label="기도요청">기도요청</a></li>
                  <li><a href="/ko/contact-us/" aria-label="문의하기">문의하기</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--Google Translate Top-->
       <div id="google_translate_element" title="구글 번역 범용 언어 빠른 선택 드롭다운"></div>
       <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>우리 영혼의 빛은 하느님의 빛입니다. 우리의 진정한 영원한 사랑의 선물</h1>
         <br>
         <br>
         <img src="/static/img/ko/spirit-dove.webp" loading="lazy" title="성령의 비둘기: 그리스도의 하나님의 성령 세례" alt="성령의 비둘기: 그리스도의 하나님의 성령 세례" aria-label="성령의 비둘기: 그리스도의 하나님의 성령 세례" class="heaven" width="512" height="512">
         <br>
         <br>
         <main>
            <p>거룩함은 믿음과 사랑과 성령의 빛을 나누는 것입니다. 그리고 각자를 천국과 하나님께 더 가까이 다가갈 수 있는 자아의 정신을 강화합니다. 하나님께서 우리에게 생명의 호흡을 주셨을 때 그것은 살아 있는 의식과 살아 있는 영과 살아 있는 혼과 함께 왔다는 것을 우리는 압니다. 이러한 지식과 인식을 통해 우리는 이제 신앙을 다음 단계로 끌어올릴 수 있으며, 신앙이 어떻게 개별 생명력을 정의하기 위해 독립적이고 의존적으로 작용하는지 배울 수 있습니다. 영적인 인식은 천상의 통찰력을 높이고 우리가 현재 연결되어 있고 필연적으로 가야 할 천상의 진리에 대해 우리를 준비시키는 곳입니다. 신앙은 내부와 외부에서 인식될 때 번성하는 초자연적인 것에 대한 자기 인식을 일깨워줍니다. 나눔은 성령과 통하는 자에게 영적인 활력을 주는 축복의 본질입니다. 우리 모두는 나눔을 통해 서로를 도울 수 있으며, 계속해서 우리를 축복할 수 있는 거룩한 자비의 기회를 허락할 수 있습니다.</p>
            <br>
            <h2>천국과 신에 가까워지면 영원이 드러난다</h2>
      </main>
         <br>
       <br>
         <img src="/static/img/ko/the-circle-of-love-bookcover.webp" loading="lazy" title="사랑의 서클 북커버" alt="사랑의 서클 북커버" aria-label="사랑의 서클 북커버" class="center-circle" width="341" height="224">
         <br>
         <br>
         <p><em> 사랑의 원</em> 이 책은 나의 신앙이 배운 영적, 초자연적 원천에 관한 것입니다. 이는 삶의 궁극적인 이유가 영적인 진리를 배우는 것이며, 이를 통해 각 사람을 천국과 신에게 더 가까이 데려가는 것이라는 개념에 기초합니다. 우리는 모두 지구라는 하나의 세계에서 함께 살고 있는 동시에 각자 자신만의 별도의 영적 세계에 살고 있습니다. 일부는 이러한 현실을 알고 있지만 일부는 그렇지 않습니다. 자신의 영적 자아를 포함한 모든 영적인 것은 설득력과 직관적으로 공유됩니다. 이것이 모든 초자연적인 것의 본질이고, 자연에 속한 모든 것의 초자연적인 것입니다. 그리고 개인의 신앙 상태에 따라, 자신의 동의 여부에 관계없이 자신이 소유한 영적 인식의 양과 질에 따라 그 사람의 영이 연결되는 전부입니다. 동일한 에너지를 가진 정령은 항상 끌어당기는 반면 반대되는 정령은 항상 밀어냅니다. 따라서 모든 사람의 정신은 항상 어떤 식으로든, 좋든 나쁘든 영향을 받습니다. 그리고 적어도 사실이 인식되는 지점까지 영적 인식이 성장할 때까지는 항상 이해할 수 없습니다.
         </p>
         &emsp; 
         <p>각 장 제목 아래에는 간략한 소개가 나와 있습니다.<em> 사랑의 원 </em> 7장, 120,657 단어, 257 페이지로 구성되어 있습니다. 질문이나 의견이 있는 경우 문의 양식을 <a href="mailto:support@holymercy.com" aria-label="holymercy.com 이메일 주소" title="holymercy.com 이메일 주소">support [~에] holymercy [점] com 지원</a> 으로 보내주세요. </p>
         <div class="chaptertitle">
           <a href="/ko/the-vision" aria-label="제1장: 비전의 확장 버전 읽기" title="제1장: 비전의 확장 버전 읽기">제1장: 비전</a>&emsp;&emsp;&emsp;57페이지 중 10페이지
         </div>
         <br> 
         <p>준비하세요! 우리는 영적인 모든 것이 유형이고 유형인 모든 것이 영적인 초자연적인 세계로 여행을 떠나려고 합니다. 각각은 뚜렷한 특성을 가지고 있지만 신앙이 진화함에 따라 하나가 됩니다. 우리는 영적인 것과 초자연적인 것이 물질적인 것과 자연적인 것의 본질이고 생명의 호흡의 힘과 정의가 나오는 곳에서 영과 영혼이 가장 중요하며 앞으로도 그럴 것입니다. 그렇기 때문에 우리는 앞으로 있을 모든 일에 대비하기 위해 세상의 모든 영적 진리의 자양분에 대해 배우기 위해 우리 몸의 일부로 여기 이 세상에 있습니다. 그리고 우리가 여기서 어디로 가든지, 이 세상을 떠날 때 어떤 모습을 취하든 우리는 항상 우리의 영과 영혼의 본질에 의해 정의될 것입니다. 이를 염두에 두고 진실로 물리적인 것과 물질적인 것이 오직 영적인 진리에 의해서만 정의되는 곳으로 여행합시다. 그리스도를 통해 우리에게 계시된 한 마디 말에도 의문을 제기하거나 의심하지 않고, 따라서 항상 알려지지 않은 진리가 드러나도록 허용하는 믿음 안의 장소로 말입니다. 사람이 하늘에 눈을 뜨고 신앙을 변화시키기 시작하면 새로운 인식이 시작되는 곳입니다.
         </p>
         <p>당신의 믿음이 더 큰 영적 현실에 도달하는 것을 막았던 경계를 제거했으므로 당신이 나와 함께 그곳으로 가는 것은 정말 멋진 일이 될 것입니다. 이제 당신은 믿음이 무한하다는 것을 알았으므로 이전에 가본 적이 없는 곳으로 자유롭게 갈 수 있습니다. 온 하늘은 여러분이 이 위대한 생명의 신비에 관한 모든 것에 대한 천상의 진리를 배우기를 기다리고 있었습니다. 거기까지 가는 방법을 배우는 데 오랜 시간이 걸렸고, 이제 길을 알았으니 여러분과 공유하겠습니다. 나는 당신이 반대편에 있는 모든 것에 대해 궁금해했다는 것을 알고 있습니다. 그것은 전혀 미스터리가 아닙니다. 의식, 정신, 영혼을 모든 것에 열면 정말 간단합니다. 이때부터 모든 것이 드러나기 시작합니다. 이때부터 인생이 이해되기 시작합니다. 삶의 이유를 정의하고 신자들이 영, 혼, 천상, 하나님의 궁극적인 진리에 대한 자연적 감각을 일깨우면서 영적인 축복을 추구하는 데 야심을 갖도록 강요하는 것은 궁극적 현실입니다. 이제 당신은 믿음을 통해 무엇이든 가능하다고 믿었으므로 내가 알고 있는 영적인 미지의 세계로 자유롭게 모험을 떠날 수 있습니다.
         </p>
         <div class="chaptertitle">
            <a href="/ko/spiritual-realms" aria-label="제2장 확장판: 영적 영역" title="제2장 확장판: 영적 영역">제2장: 영적 영역</a>&emsp;&emsp;&emsp;30페이지 중 3개
         </div>
         <br>
         <p>우리는 무엇보다도 영이요 영혼이며, 무엇보다도 하나님과 연결되는 영적인 것과 연결되는 방법을 배웁니다. 우리는 먼저 우리의 영혼을 하늘과 연결해주는 가장 높은 영적 힘을 느끼는 법을 배웁니다. 믿음을 통해 우리가 현실이라고 이해하는 모든 것에는 그 자체로 영적이고 초자연적인 정의가 있다는 것이 드러납니다. 처음에는 볼 수도, 만질 수도, 느낄 수도 없었지만, 믿음으로 존재한다는 것을 마음과 영혼으로 알았습니다. 우리는 발견되기를 기다리고 있는 뭔가가 더 있다는 것을 알고 있었습니다. 우리는 그 존재와 힘을 느꼈습니다. 우리의 믿음이 성장함에 따라 하늘에 존재하는 모든 것의 결실이 드러나기 시작했고 이해되기 시작했습니다. 우리는 하나님의 성령과 연결되어 안에서 밖으로, 밖에서 안으로 보는 법을 배웠습니다. 영적 영역, 그 차원, 하늘의 신비와 힘이 보이기 시작했습니다. 이것이 성령을 믿는 믿음이 역사하는 방식입니다. 나에게 드러난 것은 여러분과 공유하기로 되어 있지만 나는 이제 막 배우기 시작했습니다. 상상할 수 없고 설명할 수 없는 것을 의심하지 않는 열린 마음으로 이 말을 받아들이고 보상을 받는 축복을 받으십시오.</p> 
         <br>
         <div class="chaptertitle">
           <a href="/ko/soldiers-of-light" aria-label="3장 확장판: 빛의 병사들" title="3장 확장판: 빛의 병사들">제3장: 빛의 병사들</a>&emsp;&emsp;&emsp;40페이지 중 5페이지
         </div>
         <br> 
         <p>군인에게 믿음과 빛과 사랑의 힘은 성경의 말씀에서 나옵니다. 성경은 하나님의 갑옷과 살아 있는 영혼의 본질입니다. 그러므로 빛의 군인은 자신의 입장을 고수하고 반대를 받을 때 자신의 사랑과 믿음이 상징하는 모든 것을 보호하는 방법을 배웁니다. 따라서 우리가 일시적으로 집이라고 부르는 이 작은 푸른 세계는 모든 하늘의 빛의 영역과 모든 영적 어둠의 영역의 중심 안에 있다는 것을 배우는 것입니다. 빛의 군인은 강하고 확고하게 서는 법을 배웁니다. 따라서 전투는 멀고 적어집니다. 그리고 아주 드물게 어떤 영적인 힘이나 힘이 자신의 영을 침해하거나 침투하려고 시도한다면, 이것이 바로 그들이 뛰어난 곳과 때입니다. 무엇보다도 그들의 하나님의 갑옷은 그들의 능력과 의지에 있어서 하나님의 말씀으로 정의됩니다. 빛의 군인은 자신의 영혼이 무엇을 위해 창조되었는지 정확히 아는 그리스도의 군인입니다. 빛의 병사들은 각자 자신의 영적 수준에 있으며, 모두 다음 단계로 나아가기 위해 노력합니다. 인생의 다른 기술과 마찬가지로 항상 배울 것이 있습니다. 그리고 빛의 군사는 전투에 있어서 성경에 대한 지식이 사느냐 죽느냐의 문제라는 것을 압니다.
            </p>
         <br>
         <div class="chaptertitle">
           <a href="/ko/guardian-angels" aria-label="4장: 수호 천사의 확장 버전을 읽어 보세요." title="4장: 수호 천사의 확장 버전을 읽어 보세요.">4장: 수호 천사</a>&emsp;&emsp;&emsp;30페이지 중 4개
         </div>
         <br>
         <p>이 세상에는 우리가 살아가는 동안 우리 가까이에 존재하는 천사들이 있습니다. 그들은 우리를 감시하지 않으며 주어진 시간에 우리가 무엇을 하고 있는지 알지 못합니다. 하지만 그들은 우리의 영을 느끼고 영혼의 빛을 볼 수 있기 때문에 항상 우리가 어떤 영적 상태에 있는지 알고 있습니다. 영적인 영역과 초자연적인 영역 및 세계를 구별하고 그들은 우리의 능력을 알고 있습니다. 일단 그들이 여러분의 믿음과 의지의 힘을 신뢰하게 되자, 영적 성장에 관해 배우는 데 필요한 것이 무엇인지 밝히기 시작했습니다. 그들은 우리가 현재 살고 있는 거룩한 영역에 들어갈 준비를 갖기를 원합니다. 이들은 여기 지구와 거기에서 신과 가장 가까운 영적, 초자연적 연결을 갖고 있는 영역입니다.</p>
         <br>
         <div class="chaptertitle">
            <a href="/ko/living-light" aria-label="5장: 살아있는 빛의 확장 버전을 읽어 보세요." title="5장: 살아있는 빛의 확장 버전을 읽어 보세요.">제5장: 살아있는 빛</a>&emsp;&emsp;&emsp;40페이지 중 5개
         </div>
         <br>
         <p>당신의 영혼의 초자연적인 살아있는 빛은 하나님의 살아있는 빛입니다. 내가 어떻게 알아? 나는 내 영혼의 내면을 들여다보고, 그 에너지와 힘을 보고, 영혼이 어떻게 천국과 신과 직접적으로 연결되어 있는지 배울 수 있게 되었습니다. 하나님은 살아 있는 빛이십니다. 왜냐하면 하나님은 존재하는 모든 초자연적, 자연적 빛의 궁극적인 정의이시기 때문입니다. 모든 빛 중에서 가장 신성한 이 빛은 신앙을 통해 쉽게 발견하고, 느끼고, 접근하고, 볼 수 있습니다. 왜냐하면 이 살아있는 빛은 사람의 살아있는 영혼의 본질이기 때문입니다. 우리의 영혼은 하나님 자신의 빛과 호흡으로 살아갑니다. 그것 없이는 아무것도 존재할 수 없거나 존재하지 않을 것입니다. 신은 가장 위대한 빛의 힘이시며, 기적과 계시가 일어나기 시작할 때 그분의 사랑이 그들의 영혼에 들어오기를 갈망하는 모든 사람에게 빛을 주시어 연결이 굳건히 유지되어 더 높은 차원에 접근할 수 있도록 하십니다. 하나님과 그리스도가 자신의 마음과 영과 영혼 안으로 초대될 때, 하늘의 빛에 속한 모든 것이 당신 자신의 영혼을 축복함에 따라 영적인 변화가 일어나기 시작합니다. 이것은 당신이 내부와 위로부터 그들 모두와 결합되어 있음을 진정으로 아는 때입니다. 그리고 일단 합류하면, 당신의 살아있는 영혼은 가장 위대하고 끝없는 영적 보물을 수확하기 시작합니다. 진리, 빛, 신앙, 사랑, 영, 영혼의 영원하고 영원한 비밀을 배우기 위한 연결입니다. 이 비밀은 항상 여러분 자신의 것이며 그리스도를 통해 영원함이 보장됩니다.</p>
         <br>
         <div class="chaptertitle">
           <a href="/ko/unconditional-love" aria-label="6장 확장판: 무조건적인 사랑" title="6장 확장판: 무조건적인 사랑">제6장 조건 없는 사랑</a>&emsp;&emsp;&emsp;20페이지 중 4페이지
         </div>
         <br>
         <p>무조건적인 사랑의 본질과 사람의 살아있는 영혼의 영원한 빛은 우리의 영이 하나님의 하늘에 더 가까이 다가갈 수 있는 방법을 가르칩니다. 믿음과 함께 자신의 무조건적인 사랑은 우리의 의식, 영, 영혼을 하나님의 성령과 사랑하는 예수 그리스도에 속한 모든 것과 연결하는 직접적인 영적, 초자연적 생명선입니다. 그것은 하나님으로부터 오는 빛을 살짝 보여주며 어둠의 세력을 피하고 보호하는 방법을 가르쳐 줍니다. 우리는 천국에 있는 모든 것과 하나님과의 직접적인 의사소통을 방해하는 장벽과 방해물을 통해 영적으로 발전하기 위해 이 모든 진리를 배워야 합니다. 우리가 있는 곳과 신 사이의 거리는 우리와 하나님 사이의 거리에 관한 것이 아닙니다. 차원과 공간과 시간의 거리를 초월하는 우리 자신의 영과 영혼이 지닌 믿음의 힘에 관한 것입니다. 그리고 사람이 굳건하고 확고하게 옹호하는 성경의 진리에 대해 이야기합니다. 그 덕분에 우리는 바로 지금, 실시간으로 그분의 임재 앞에 설 수 있게 되었습니다. 신앙을 일깨우고 우리 각자의 영적인 목적과 운명에 눈을 뜨기 위해 계시가 주어지도록 허용합니다. 동시에 신성의 영원하고 영적이며 초자연적인 진리를 경험합니다.</p>
         <br>
         <div class="chaptertitle">
            <a href="/ko/heavenly-realms" aria-label="7장: 천국의 영역의 확장판을 읽어보세요" title="7장: 천국의 영역의 확장판을 읽어보세요">제7장: 천상 영역</a>&emsp;&emsp;&emsp;40페이지 중 5페이지
         </div>
         <br>
         <p>천국의 영역이 우리 앞에 있습니다. 신앙을 통해 우리는 그들이 있는 곳으로 다가가는 방법을 배웁니다. 그러면 그들이 거기에 있다는 것을 우리가 알고 있다는 것을 그들에게 알릴 수 있습니다. 이는 그들이 우리가 진정 누구인지 인식할 수 있게 하고, 영적 성장 전반에 걸쳐 지속되는 유대 관계를 시작하게 합니다. 그리고 천상의 연결을 만들어 우리의 동맹자, 친구, 교사, 수호자, 동반자가 됩니다. 우리의 영과 영혼에 가장 가까운 천상계는 우리와 직접적으로 연결되어 있는 영역입니다. 이곳은 우리의 소망과 소망과 기도가 갈망하는 모든 것을 찾기 위해 가는 하늘의 영역입니다. 영생이란 무엇입니까?라는 질문에 대한 답입니다. 그리고 하나님의 영원한 사랑이 필요합니다. 이러한 연결은 항상 소중히 여겨야 하고, 축복받아야 하며, 영적인 축복과 영적 성장이 번성하도록 당연하게 여겨서는 안 되는 유대가 됩니다. 이것은 당신의 의식, 영, 영혼을 하나님의 모든 하늘에 직접 연결하는 에너지, 힘, 힘입니다. 지구와 천국 사이에는 여러 수준의 천국 영역이 존재합니다. 그리고 하나님의 하늘 빛에 가장 가까운 하늘 영역에는 가장 크고 영원한 힘이 거하는 곳이 있으며, 우리의 믿음이 그들 모두에게 다가가 결합하기를 기다리고 있습니다. </p> 
         <br>
         <img src="/static/img/ko/angel-with-crossed-hands.webp" loading="lazy" title="교차 손을 가진 천사의 스테인드 글라스 이미지" alt="교차 손을 가진 천사의 스테인드 글라스 이미지" aria-label="교차 손을 가진 천사의 스테인드 글라스 이미지" class="angel-about" width="233" height="262"> 
         <br>
         <h3>Holymercy.com/ko/를 공유해 주세요</h3>
      </div>
     <br>
     <div class="center3"><a href="/ko/" aria-label="맨 위로 링크" title="맨 위로 링크">&nbsp;톱<img src="/static/img/ko/back-to-top-link.webp" loading="lazy" alt="맨 위로 링크" width="48" height="48"></a></div>                                                                                                                                                                              
     <br>
   </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="기부 링크" title="기부 링크"><p>도움말 공유 링크</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ko/contact-us/">이메일</a>
            <h4>문의하기</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ko/" aria-label="홈페이지">홈페이지</a>
                  </li>
                    <li>
                     <a href="/ko/the-vision" aria-label="시력">시력</a>
                  </li>
                  <li>
                     <a href="/ko/spiritual-realms" aria-label="영적 영역">영적 영역</a>
                  </li>
                  <li>
                     <a href="/ko/soldiers-of-light" aria-label="빛의 병사들">빛의 병사들</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/ko/guardian-angels" aria-label="수호 천사들">수호 천사들</a>
                  </li>
                  <li>
                     <a href="/ko/living-light" aria-label="살아있는 빛">살아있는 빛</a>
                  </li>
                  <li>
                     <a href="/ko/heavenly-realms" aria-label="천국의 영역">천국의 영역</a>
                  </li>
                  <li>
                     <a href="/ko/unconditional-love" aria-label="무조건적인 사랑">무조건적인 사랑</a>
                  </li>
                  <li>
                     <a href="/ko/about-us" aria-label="회사 소개">회사 소개</a>
                  </li>
                  <li>
                     <a href="/ko/ebook" aria-label="전자책">전자책</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ko/share-the-faith" aria-label="믿음을 나누라">믿음을 나누라</a>
                  </li>
                  <li>
                     <a href="/ko/powerful-scripture" aria-label="강력한 경전">강력한 경전</a>
                  </li>
                  <li>
                     <a href="/ko/prayer-request" aria-label="기도요청">기도요청</a>
                  </li>
                  <li>
                     <a href="/ko/terms" aria-label="이용약관">이용약관</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ko/facebook-24.webp" title="페이스북 아이콘 링크" alt="페이스북 아이콘 링크" aria-label="페이스북 아이콘 링크" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/twitter-24.webp" title="트위터 아이콘 링크" alt="트위터 아이콘 링크" aria-label="트위터 아이콘 링크" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/instagram-24.webp" title="인스타그램 아이콘 링크" alt="인스타그램 아이콘 링크" aria-label="인스타그램 아이콘 링크" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/pinterest-24.webp" title="핀터레스트 아이콘 링크" alt="핀터레스트 아이콘 링크" aria-label="핀터레스트 아이콘 링크" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/snapchat-24.webp" title="스냅챗 아이콘링크" alt="스냅챗 아이콘링크" aria-label="스냅챗 아이콘링크" width="24" height="24"></a>
         </div>
         <p>&copy;저작권 2024 holymercy.com/ko/ 판권 소유.</p>
            <div class="legal__links"> 
            <span>연락을 유지하다; 성스러운 일이 곧 굉장해질 것입니다!</span>
            </div> 
         </footer>
        <!--google translate-->
      <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'ko', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    //]]>
            </script>
            <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </span>
<!-- Google next gen tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
<script src="/static/js/ko/add-service-worker.js"></script>
<script src="/static/js/ko/service-worker.js"></script>
</body>
</html>