<!doctype html>
<html lang="ko">
   <head>
      <meta name="robots" content="index, follow">
      <title>강력한 성서: 영혼의 빛을 위한 양식</title>
      <meta name="description" content="성경은 우리의 마음과 영과 영혼을 하나님, 그리스도, 성령과 연결시켜 주는 하나님의 강력한 말씀입니다.">
      <meta charset="utf-8">
      <link rel="canonical" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
    <!--favican-->
    <link rel="icon" type="image/x-icon" href="/static/img/ko/favicon.ico" sizes="32x32">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/ko/styles.css" rel="stylesheet" type="text/css">
    <!--Improve page load speed with preconnect-->
    <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
    <!--Google Fonts-put off the loading of render blocking CSS-->    
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
    <!--Web app manifest-->
    <link rel="manifest" href="/static/js/ko/manifest.json"> 
    <meta name="theme-color" content="#0808ed">
    <link rel="icon" type="image/png" href="/static/img/ko/maskable_icon_512.png" sizes="512x512">
    <link rel="icon" type="image/png" href="/static/img/ko/icon-256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="/static/img/ko/maskable_icon_192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/ko/icon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/static/img/ko/icon-64.png" sizes="64x64">
    <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="강력한 성서: 영혼의 빛을 위한 양식">
      <meta property="og:site_name" content="거룩한 자비">
      <meta property="og:url" content="https://holymercy.com/ko/powerful-scripture/">
      <meta property="og:description" content="성경은 우리의 마음과 영과 영혼을 하나님, 그리스도, 성령과 연결시켜 주는 하나님의 강력한 말씀입니다.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/ko/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com/ko/">
      <meta property="twitter:url" content="https://holymercy.com/ko/powerful-scripture/">
      <meta name="twitter:title" content="강력한 성서: 영혼의 빛을 위한 양식">
      <meta name="twitter:description" content="성경은 우리의 마음과 영과 영혼을 하나님, 그리스도, 성령과 연결시켜 주는 하나님의 강력한 말씀입니다.">
      <meta name="twitter:image" content="/static/img/ko/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/ko/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/ko/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/ko/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/ko/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
   <header>
         <ul>
            <li><a href="/ko/"><img class="logo" src="/static/img/ko/holymercy-logo.webp" loading="lazy" id="logo" alt="왼쪽 상단 탐색 모음 로고" aria-label="왼쪽 상단 탐색 모음 로고" width="68" height="39"></a></li>
            <li><a href="/ko/" aria-label="홈페이지">홈페이지</a></li>
            <li>
               <a href="#" aria-label="'사랑의 원'의 장들">챕터</a>
               <ul>
                  <li><a href="/ko/the-vision" aria-label="시력">시력</a></li>
                  <li><a href="/ko/spiritual-realms" aria-label="영적 영역">영적 영역</a></li>
                  <li><a href="/ko/soldiers-of-light" aria-label="빛의 병사들">빛의 병사들</a></li>
                  <li><a href="/ko/guardian-angels" aria-label="수호 천사들">수호 천사들</a></li>
                  <li><a href="/ko/living-light" aria-label="살아있는 빛">살아있는 빛</a></li>
                  <li><a href="/ko/unconditional-love" aria-label="무조건적인 사랑">무조건적인 사랑</a></li>
                  <li><a href="/ko/heavenly-realms" aria-label="천국의 영역">천국의 영역</a></li>
               </ul>
            <li><a href="/ko/about-us" aria-label="회사 소개">회사 소개</a></li>
            <li><a href="/ko/ebook" aria-label="전자책">전자책</a></li>
            <li>
               <a href="#" aria-label="공유링크">공유링크</a>	
               <ul>
                  <li><a href="/ko/share-the-faith" aria-label="믿음을 나누라">믿음을 나누라</a></li>
                  <li><a href="/ko/powerful-scripture" aria-label="강력한 경전">강력한 경전</a></li>
                  <li><a href="/ko/prayer-request" aria-label="기도요청">기도요청</a></li>
                  <li><a href="/ko/contact-us/" aria-label="문의하기">문의하기</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
     <div id="google_translate_element" title="구글번역 언어선택 버튼"></div>
      <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>하나님과 예수 그리스도와 성령의 신성한 말씀</h1>
         <div class="centercandles">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
            <img  src="/static/img/ko/leftside-candle-gif.webp" loading="lazy" title="촛불은 기도와 믿음, 그리고 세상의 빛이신 그리스도의 현존을 상징합니다." alt="촛불은 기도와 믿음, 그리고 세상의 빛이신 그리스도의 현존을 상징합니다." aria-label="촛불은 기도와 믿음, 그리고 세상의 빛이신 그리스도의 현존을 상징합니다." width="100" height="208">
            <img  src="/static/img/ko/angel-applauding.webp" loading="lazy" title="신의 천사에 박수를 보내는 스테인드글라스" alt="신의 천사에 박수를 보내는 스테인드글라스" aria-label="신의 천사에 박수를 보내는 스테인드글라스" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/ko/rightside-candle-gif.webp" loading="lazy" title="신성한 개입, 축복, 인도가 필요한 기도 캔들" alt="신성한 개입, 축복, 인도가 필요한 기도 캔들" aria-label="신성한 개입, 축복, 인도가 필요한 기도 캔들" width="100" height="208">
            <br>    
            <br>  
         </div> 
         <br>    
         <br> 
         <div class="header">
            <p>성경의 축복으로 당신의 영혼에 영양을 공급하십시오. 그러면 성경은 당신을 축복하고 영적인 것과 초자연적인 것에 대해 가르칠 것입니다.</p>
            <h2>하나님의 사랑에 관한 강력한 성경</h2>
          <section>
               <h3>고린도전서 1:30</h3>
               <br> 
               <br>
               <p>너희는 하나님으로부터 나와서 너희에게 지혜와 의로움과 거룩함과 구원함이 되신 그리스도 예수 안에 있느니라.</p>
               <br>    
               <h3>요한복음 11:25-26</h3>
               <br>    
               <br>  
               <p>예수께서 그 여자에게 말씀하셨다. “나는 부활이요 생명이다. 나를 믿는 사람은 죽어도 살 것이다. 그리고 나를 믿으며 사는 사람은 영원히 죽지 않을 것이다. 당신은 이것을 믿습니까?”.</p>
               <h3>로마서 8:2</h3>
               <br>    
               <br>  
               <p>그리스도 예수로 말미암아 생명의 성령의 법이 죄와 사망의 법에서 너를 해방하였느니라.</p>
               <h3>로마서 10:9</h3>
               <br>    
               <br>  
               <p>네가 만일 네 입으로 예수를 주로 시인하고 하나님께서 그를 죽은 자 가운데서 살리신 것을 네 마음에 믿으면 구원을 얻으리라.</p>
               <h3>로마서 13:12</h3>
               <br>    
               <br>  
               <p>밤은 이제 멀리 갔습니다. 그 날이 다가왔습니다. 그러므로 우리가 어둠의 일을 벗고 빛의 갑옷을 입자.</p>
               <h3>로마서 15:13</h3>
               <br>    
               <br>  
               <p>소망의 하나님이 모든 기쁨과 평강을 믿음 안에서 너희에게 충만하게 하사 성령의 능력으로 소망이 넘치게 하시기를 원하노라</p>
               <h3>로마서 16:20</h3>
               <br>    
               <br>  
               <p>평강의 하나님께서 속히 사탄을 여러분의 발 아래서 상하게 하실 것입니다. 우리 주 예수 그리스도의 은혜가 여러분과 함께 있기를 빕니다.</p>
               <h3>마태복음 6:9</h3>
               <br>
               <p>구하라, 그러면 주실 것이다. 찾으라, 그러면 너희도. 찾을 것이다; 두드리라 그러면 너희에게 열릴 것이요 구하는 이마다 받고 그리고 찾는 사람. 발견하다; 두드리는 이에게는 열릴 것이요.</p>
               <h3>마태복음 7:7</h3>
               <br>   
               <br>  
               <p>하늘에 계신 우리 아버지 이름이 찬송하리로다 나라이 임하시며 뜻이 하늘에서 이룬 것 같이 땅에서도 이루어지이다 오늘 우리에게 일용할 양식을 주시고 우리의 죄를 용서하여 주옵소서. 우리가 우리에게 죄 지은 자를 용서하는 것같이 하옵소서. 그리고 우리를 유혹에 빠지지 않게 하시고 악에서 구하소서.</p>
               <h3>마태복음 28:19</h3>
               <br>    
               <br>  
               <p>그러므로 너희는 가서 모든 민족을 제자로 삼아 아버지와 아들과 성령의 이름으로 세례를 베풀라.</p>
               <h3>요한복음 3:16</h3>
               <br>    
               <br>  
               <p>하나님이 세상을 이처럼 사랑하사 독생자를 주셨으니 이는 그를 믿는 자마다 멸망치 않고 영생을 얻게 하려 하심이니라.</p>
               <h3>요한복음 14:13</h3>
               <br>    
               <br>  
               <p>너희가 내 이름으로 무엇을 구하든지 내가 행하리니 이는 아버지께서 아들로 말미암아 영광을 받으시게 하려 함이라.</p>
               <h3>고린도후서 10:4-5</h3>
               <br>    
               <br>  
               <p>우리가 싸우는 무기는 이 세상에 속한 것이 아닙니다. 오히려 그들은 견고한 진을 무너뜨리는 신성한 능력을 가지고 있습니다. 모든 이론을 파하며 하나님 아는 것을 대적하여 높아진 것을 다 파하고 모든 생각을 사로잡아 그리스도에게 복종하게 하니</p>
               <h3>갈라디아서 5:22</h3>
               <br>    
               <br>  
               <p>성령의 열매는 사랑과 희락과 화평과 오래 참음과 자비와 양선과 충성과 온유와 절제니 그런 일을 금지할 법이 없습니다.</p>
               <h3>에베소서 6:10-18</h3>
               <br>    
               <br>  
               <p>마지막으로, 주님 안에서와 그분의 강력한 힘으로 강건하십시오. 마귀의 간계를 능히 대적하기 위하여 하나님의 전신갑주를 입으라. 우리의 씨름은 혈과 육에 대한 것이 아니요 정사와 권세와 이 어두움의 세상 주관자들과 하늘에 있는 악의 영들에게 대함이라. 그러므로 하나님의 전신갑주를 취하라 이는 악한 날에 너희가 능히 대적하고 모든 일을 행한 후에 서기 위함이라. 그런즉 굳게 서서 진리로 허리띠를 띠고 의의 흉배를 붙이고 발에는 평안의 복음의 예비를 신으라. 이 모든 것에 더하여 믿음의 방패를 가지라 이로써 능히 악한 자의 모든 불화살을 소멸하고 구원의 투구와 성령의 검 곧 하나님의 말씀을 가지라. 그리고 모든 경우에 온갖 기도와 간구로 성령 안에서 기도하십시오.</p>
               <h3>빌립보서 4:7</h3>
               <br>    
               <br>  
               <p>모든 지각에 뛰어난 하나님의 평강이 그리스도 예수 안에서 너희 마음과 생각을 지키시리라.</p>
               <h3>골로새서 1:12</h3>
               <br>    
               <br>  
               <p>빛 가운데서 거룩한 자의 유업을 함께 받을 자격을 주신 아버지께 감사하라.</p>
               <h3>데살로니가전서 5:23</h3>
               <br>    
               <br>  
               <p>이제 평강의 하나님이 친히 너희를 온전히 거룩하게 하시고 우리 주 예수 그리스도 강림하실 때에 너희 온 영과 혼과 몸이 흠 없이 보전되기를 원하노라.</p>
               <h3>디모데후서 1:7</h3>
               <br>    
               <br>  
               <p>하나님이 우리에게 주신 것은 두려워하는 마음이 아니요 오직 능력과 사랑과 절제하는 마음입니다.</p>
               <h3>히브리서 13:20</h3>
               <br>    
               <br>  
               <p>이제 영원한 언약의 피로 죽은 자들을 살리신 우리 주 예수 곧 양의 큰 목자이신 평강의 하나님이 모든 선한 일을 내게 주사 그 뜻을 행하기에 합당하도록 하시고 우리 가운데서 기뻐하시는 일을 행하시기를 원하노라 그에게 예수 그리스도로 말미암아 영광이 세세토록 있기를 원하노라. 아멘</p>
               <h3>요한1서 1:7</h3>
               <br>    
               <br>  
               <p>그가 빛 가운데 계신 것 같이 우리도 빛 가운데 행하면 우리가 서로 사귐이 있고 하나님의 아들 예수의 피가 우리를 모든 죄에서 깨끗하게 하실 것이요.</p>
               <h3>요한1서 3:3</h3>
               <br>    
               <br>  
               <p>이와 같이 예수께 바라는 자는 그의 깨끗하심과 같이 자기를 깨끗하게 하느니라.</p>
            </section>
           <div class="center3"><a href="/ko/powerful-scripture/" aria-label="맨 위로 링크" title="맨 위로 링크">&nbsp;톱<img src="/static/img/ko/back-to-top-link.webp" loading="lazy" alt="맨 위로 링크" width="48" height="48"></a></div>
            <br>
          </div>
      </div>
      </div>
         <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="기부 링크" title="기부 링크"><p>도움말 공유 링크</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ko/contact-us/">이메일</a>
            <h4>문의하기</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ko/" aria-label="홈페이지">홈페이지</a>
                  </li>
                    <li>
                     <a href="/ko/the-vision" aria-label="시력">시력</a>
                  </li>
                  <li>
                     <a href="/ko/spiritual-realms" aria-label="영적 영역">영적 영역</a>
                  </li>
                  <li>
                     <a href="/ko/soldiers-of-light" aria-label="빛의 병사들">빛의 병사들</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/ko/guardian-angels" aria-label="수호 천사들">수호 천사들</a>
                  </li>
                  <li>
                     <a href="/ko/living-light" aria-label="살아있는 빛">살아있는 빛</a>
                  </li>
                  <li>
                     <a href="/ko/heavenly-realms" aria-label="천국의 영역">천국의 영역</a>
                  </li>
                  <li>
                     <a href="/ko/unconditional-love" aria-label="무조건적인 사랑">무조건적인 사랑</a>
                  </li>
                  <li>
                     <a href="/ko/about-us" aria-label="회사 소개">회사 소개</a>
                  </li>
                  <li>
                     <a href="/ko/ebook" aria-label="전자책">전자책</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ko/share-the-faith" aria-label="믿음을 나누라">믿음을 나누라</a>
                  </li>
                  <li>
                     <a href="/ko/powerful-scripture" aria-label="강력한 경전">강력한 경전</a>
                  </li>
                  <li>
                     <a href="/ko/prayer-request" aria-label="기도요청">기도요청</a>
                  </li>
                  <li>
                     <a href="/ko/terms" aria-label="이용약관">이용약관</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ko/facebook-24.webp" title="페이스북 아이콘 링크" alt="페이스북 아이콘 링크" aria-label="페이스북 아이콘 링크" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/twitter-24.webp" title="트위터 아이콘 링크" alt="트위터 아이콘 링크" aria-label="트위터 아이콘 링크" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/instagram-24.webp" title="인스타그램 아이콘 링크" alt="인스타그램 아이콘 링크" aria-label="인스타그램 아이콘 링크" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/pinterest-24.webp" title="핀터레스트 아이콘 링크" alt="핀터레스트 아이콘 링크" aria-label="핀터레스트 아이콘 링크" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ko/snapchat-24.webp" title="스냅챗 아이콘링크" alt="스냅챗 아이콘링크" aria-label="스냅챗 아이콘링크" width="24" height="24"></a>
         </div>
         <p>&copy;저작권 2024 holymercy.com/ko/ 판권 소유.</p>
            <div class="legal__links"> 
            <span>연락을 유지하다; 성스러운 일이 곧 굉장해질 것입니다!</span>
            </div> 
         </footer>
        <!--google translate-->
      <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'ko', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    //]]>
            </script>
            <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </span>
<!-- Google next gen tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/ko/add-service-worker.js"></script>
 <script src="/static/js/ko/service-worker.js"></script>
</body>
</html>