<!doctype html>
<html lang="zh-Sg">
   <head>
      <meta name="robots" content="noindex">
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex">
      <title>为爱从上而来的神圣真理而进行的属灵旅程</title>
      <meta name="description" content="我们即将带领我们的精神踏上超自然之旅；在那里，所有有形的都是精神的，所有精神的都是有形的。">
      <meta charset="utf-8">
      <link rel="canonical" href="/zh-sg/the-vision">
      <link rel="alternate" hreflang="x-default" href="/chapter1/">
      <link rel="alternate" hreflang="en-us" href="/chapter1/">   
      <link rel="alternate" hreflang="en" href="/en/chapter1/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/chapter1/">
      <link rel="alternate" hreflang="en-in" href="/en-in/chapter1/">
      <link rel="alternate" hreflang="es" href="/es/chapter1/">
      <link rel="alternate" hreflang="es-es" href="/es-es/chapter1/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/chapter1/">
      <link rel="alternate" hreflang="es-co" href="/es-co/chapter1/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/chapter1/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/chapter1/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/chapter1/"> 
      <link rel="alternate" hreflang="zh" href="/zh/chapter1/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/chapter1/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/chapter1/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/chapter1/"> 
      <link rel="alternate" hreflang="hi" href="/hi/chapter1/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/chapter1/">
      <link rel="alternate" hreflang="fr" href="/fr/chapter1/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/chapter1/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/chapter1/"> 
      <link rel="alternate" hreflang="pt" href="/pt/chapter1/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/chapter1/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/chapter1/">
      <link rel="alternate" hreflang="de" href="/de/chapter1/">
      <link rel="alternate" hreflang="de-de" href="/de-de/chapter1/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/chapter1/">
      <link rel="alternate" hreflang="id-id" href="/id-id/chapter1/">
      <link rel="alternate" hreflang="ar" href="/ar/chapter1/">
      <link rel="alternate" hreflang="bn" href="/bn/chapter1/">
      <link rel="alternate" hreflang="ko" href="/ko/chapter1/">
      <link rel="alternate" hreflang="ru" href="/ru/chapter1/">
      <link rel="alternate" hreflang="ur" href="/ur/chapter1/">
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/zh-sg/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/zh-sg/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
      <!--Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/zh-sg/manifest.json"> 
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/zh-sg/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/zh-sg/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/zh-sg/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/zh-sg/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/zh-sg/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Fb Meta Tags -->
     <meta property="og:title" content="而来的神圣真理而进行的属灵旅程">
     <meta property="og:site_name" content="圣怜悯">
     <meta property="og:url" content="https://holymercy.com/zh-sg/chapter1/">
     <meta property="og:description" content="我们即将带领我们的精神踏上超自然之旅；在那里，所有有形的都是精神的，所有精神的都是有形的。">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/zh-sg/the-vision.webp">
     <!-- Open Graph Meta Tags - tw Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/zh-sg/">
     <meta property="twitter:url" content="https://holymercy.com/zh-sg/chapter1/">
     <meta name="twitter:title" content="为爱从上而来的神圣真理而进行的属灵旅程">
     <meta name="twitter:description" content="我们即将带领我们的精神踏上超自然之旅；在那里，所有有形的都是精神的，所有精神的都是有形的。">
     <meta name="twitter:image" content="/static/img/zh-sg/the-vision.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/zh-sg/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/zh-sg/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/zh-sg/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/zh-sg/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
      <header>
         <ul>
            <li><a href="/zh-sg/"><img class="logo" src="/static/img/zh-sg/holymercy-logo.webp" loading="lazy" id="logo" alt="左上导航栏徽标" aria-label="左上导航栏徽标" width="68" height="39"></a></li>
            <li><a href="/zh-sg/" aria-label="家">家</a></li>
            <li><a href="#" aria-label="爱的圆环的章节">章节</a>
               <ul>
                  <li><a href="/zh-sg/the-vision" aria-label="愿景">愿景</a></li>
                  <li><a href="/zh-sg/spiritual-realms" aria-label="精神领域">精神领域</a></li>
                  <li><a href="/zh-sg/soldiers-of-light" aria-label="光之战士">光之战士</a></li>
                  <li><a href="/zh-sg/guardian-angels" aria-label="守护天使">守护天使</a></li>
                  <li><a href="/zh-sg/living-light" aria-label="生命之光">生命之光</a></li>
                  <li><a href="/zh-sg/unconditional-love" aria-label="无条件的爱">无条件的爱</a></li>
                  <li><a href="/zh-sg/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/zh-sg/about-us" aria-label="关于">关于</a></li>
            <li><a href="/zh-sg/ebook" aria-label="电子书">电子书</a></li>
            <li><a href="#" aria-label="分享">分享</a>	
               <ul>
                  <li><a href="/zh-sg/share-the-faith" aria-label="分享信仰">分享信仰</a></li>
                  <li><a href="/zh-sg/powerful-scripture" aria-label="强大的经文">强大的经文</a></li>
                  <li><a href="/zh-sg/prayer-request" aria-label="代祷请求">代祷请求</a></li>
                  <li><a href="/zh-sg/contact-us/" aria-label="联络我们">联络我们</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--翻译-->
       <div id="google_translate_element" title="翻译通用语言快速选择下拉菜单"></div>
       <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <div id="main">
            <h1>欢迎，{{ request.user.username }}，阅读完整版的第一章：愿景</h1>
            <br>
         <img src="/static/img/zh-sg/the-vision.webp" loading="lazy" title="愿景的形象" alt="愿景的形象" aria-label="愿景的形象" class="the-vision" width="480" height="286">
         <br>
      <p>做好准备!我们即将带领我们的精神踏上超自然之, 进入超自然世界，所有灵性的东西都是有形的，而所有有形的东西都是灵性的。 每个人都有独特的特征，尽管随着信仰的发展，它们是同一的。 我们现在、将来永远是精神和灵魂最重要的，其中精神和超自然是物质和自然的本质，也是生命呼吸的力量和定义的来源。 它们作为我们身体的一部分来到这个世界，学习所有世俗精神真理的维持，为我们未来的一切做好准备。 无论我们从这里走向何方，也无论我们以何种形式离开这个世界，我们都将永远由我们的精神和灵魂的本质所定义。 牢记这一点，事实上，让我们踏上旅程，到达一个物理和物质仅由精神真理定义的地方。 信仰中不会质疑或怀疑通过基督向我们启示的任何一句话，因此总是允许未知的真理被揭示。 一旦人们睁开眼睛看天国并开始转变他们的信仰，新的意识就会开始。
      </p>
      </div>
      <p>既然你已经消除了阻碍你的信仰达到更大精神现实的界限，那么能和我一起去那里真是太棒了。 现在您知道信仰是无限的，您可以自由地前往以前从未去过的地方。 诸天都在等待着你了解关于生命这一伟大奥秘的一切天国真理。 我花了很长时间才学会如何到达那里，现在我知道了路，我将与大家分享。 我知道你对另一边的一切感到好奇。 这根本不是什么神秘的事。 是真的
一旦你向这一切敞开你的意识、你的精神和你的灵魂，就很简单了。 这就是一切开始显露出来的时候。 这是生命开始有意义的时候。 它是终极现实，它定义了生命的理由，迫使信徒雄心勃勃地追求精神祝福，同时唤醒他们对精神、灵魂、天国和神的终极真理的自然感官。 既然你相信通过信仰一切皆有可能，你就可以自由地冒险进入我已经意识到的精神未知领域。
      </p>
      <p>在我们开始旅程之前，我需要提前与您分享许多关于未知的精神真理。 如果通过思想、精神或信仰，在一个人开始自己学习之前，很难想象另一边实际存在什么。 是的，一个人越接近圣灵，无论是内在还是外在，所启示的就越多。 这就是信仰和灵性成长的运作方式。 一旦信心明显增强，一个人就会与周围的一切更加融为一体。 这就是你和他们都知道你们正在被拉近的方式。 这就是您了解他们想要分享的内容的方式。 随着信仰的成长，它会发生。 我们不必为了我们的灵魂而死去才能了解另一边存在的一切。 通过基督和住在一个人灵魂内的圣灵，超自然的未知事物变得众所周知。 一切都会在需要揭示的正确时间向每个人揭示，所以准备好进入你以前只能想象的最令人敬畏的精神生活。 它正在等待您熟悉这一切。 准备好更加接近我们的圣主。 如果一个人没有准备好圣经知识来探索属灵的未知，那么有关属灵真理的事实就会被延迟。 人必须了解神的话语所启示的内容，才能有足够的信心走进光明。 在基督里就是与他完全联合，这会带来所有属灵力量和真理的所有祝福。 这就是为什么始终努力尽可能多地学习上帝之光、信仰的奥秘、自我精神的行为以及灵魂本质之光的重要性。 一旦一个人开始了解这些奥秘，这就是一场永无止境的灵性成长之旅，也是永生的最大目标。 这一切都是为了将信仰提升到一个新的水平，一次一步。
      </p>
      <p>首先要理解并永远记住的是，精神和超自然领域的一切都是由精神、能量、力量以及光明或黑暗的力量组成的。 光明与黑暗不能以任何一种精神、力量或实体形式共存。 在所有创造物或存在的任何地方都存在着上帝的这条法则，没有任何妥协。 它不能被破坏、抛弃或妥协。 没有中间地带； 从来没有，也永远不会有； 它要么是一侧，要么是另一侧。
      </p>
      <p>光以某种形式存在于所有造物中。 光明可以穿透黑暗，但黑暗却无法穿透光明。 黑暗不能存在于光明中，尽管光明可以存在于黑暗中。 要知道所有的精神、能量、力量、能力以及精神和超自然领域都是由光的品质和数量定义的。 而且距离光明越远，黑暗就越多。 我们知道，由于上帝的恩典和慈爱，这个世界上大多数的灵体和宗教都直接与他自己的圣光相连。 不要评判或歧视这个世界上的任何其他信仰或宗教，因为我们都在寻求获得我们的精神和灵魂迫切需要获得的相同的精神真理。
      </p>
      <p>如果一个人寻求一切神圣的东西，就需要学习很多东西来确保一个人始终受到保护。 天界和灵界，相当浩瀚，有许多未知的极限。 虽然有些人会欢迎你并祝福你，但另一些人会试图操纵和摧毁你。 在精神领域内，有时很难区分光明的力量和黑暗的力量。 当然，除非一个人拥有圣灵，即居住在他们灵魂内的上帝的圣光。 这本身就是信仰所拥有的最重要的力量和精神真理，这是赋予所有人学习如何与上天和上帝诸天中存在的一切进行沟通的最强大的力量。 神的圣灵需要住在一个人的灵和灵魂中，才能完全洞察所有精神、能量、力量和能力的起源。 这种洞察力是能够超越精神领域进入天堂领域所需要的。 基督徒的生活就是要时刻意识到光明与黑暗之间的属灵争战是持续不断的。 大多数领域都由光明或黑暗的力量统治。 有许多东西是由两者组成的，例如在我们自己的世界中，地球。 在这些地方，争夺统治权和权威的属灵战争正在激烈进行。 作为一名基督徒，只要信仰坚强并且了解真理，这就不会影响我们。 我将与你们分享我现在所知道的一切，我们在一起，这样它可以帮助你们为即将到来的一切做好准备。
      </p>
      <p>我们每个人所拥有的精神生活从我们每个人第一次来到这个世界时就开始了，以及每个人何时以及为什么的可能性都是个体的。 其原因在我们第一次意识到意识出现之前就超出了我们的理解。 自己的精神和灵魂始终存在于我们每个人的内心，等待着被发现和认识。 他们所谓的精神是什么？ 对于每个人来说，这种觉醒发生在人生的不同阶段。 对于某些人来说，这种情况在年轻时就发生得很早，而对于另一些人来说，这种情况发生得很晚。 对于某些人来说，直到他们到达另一边才发生这种情况。 我们都想永远活下去。 我们都想找到通往天堂的路。 让我与你们分享我对精神的认识从哪里开始以及它带我走向何方。
       </p>
      <h2>目标是认识自我的精神并了解其能力</h2>
      </div>
      <br>
      <br>
      <p>让我们从自我的精神开始。每个人都有精神；我们每个人都是天生的。正如尽责性成熟一样，自我的精神也会成熟。每个人都拥有一种非常独特的精神。你是你自己的个人良心、精神和灵魂，不同于世界上任何其他人。自我精神的奥秘在整个生命过程中不断变化和增强。你自己的精神是你最内在的自我与上天相连的一切的精确反映。诸天神界就是这样知道你的立场，你到底有多强大、有多真实。这就是精神能量如何连接或排斥你自己的精神；这不是选择；这是通过对精神真理的认识与否。他们和你一样了解你的精神。没有人可以躲避自己更高的真理。当涉及到更高的权力时，当他们开始控制时，自我精神的组成和联系才是真正重要的。有精灵会保护你，不管你知不知道。他们会保护你，因为他们看到了你灵魂中的光。一个人所有的欲望、价值观、道德、情感、信仰、意志、希望、快乐、恐惧、力量、弱点，以及其他一切定义自己的东西都是从内部散发出来的。自我精神由良心和灵魂的能量组成，反映了一个人为之而生和为之而死的一切。它的本质是成为自身所有其他力量的盟友，成为一种独特的、独立的力量，尽管它认识到当与圣洁结合时它是最强大的。一个人所有的内在灵性力量必须和谐一致地一起工作，而不是分开工作，才能不断地发生启示。如果有人祝福他们的精神，精神就会显露出来并分享它对你生活的目的。
      </p>
      <p>如果一个人没有意识到他们的精神，他们的精神就会耐心地等待信仰成长到足以发现它的存在。一直在等待它完全投降给你。自我的精神一旦被认出，就会变得喜出望外，知道它不再是独立的了。它从旁观者的意愿中找到安慰和满足；那是它所属的地方。一旦被发现，它会教给你一切你需要知道的，让你为幸福的灵性生活做好准备。自我的精神必须与其盟友自我良知和谐一致，才能永远尝试探索精神上的未知。良心是一种精神，一种力量，正如自我精神和灵魂一样。所有人都必须联合起来，灵性成长才能逐渐发生并进入天堂。
      </p>
      <p>我将首先分享需要了解的基本原则，以确保您未来所有的精神遭遇都是愉快的。只有你一个人，是唯一对你的良心、你的精神和你的灵魂所构成的一切拥有最终控制权的人。这些加在一起是所有定义每个人自己的精神身份的总和。这些力量的自我调节对于获得自我控制和保持最终的自我权威和完整性至关重要。这三种个体生命力必须和谐地协同工作，才能获得尽可能丰富的精神生活。调节是一个学习的过程，对于基督徒来说，它是关于学习所有属灵真理的基础知识。如果不参考、研究和沉思圣经，就无法了解这些真理。没有其他捷径或任何其他方式可以体验、揭示或解释属灵真理。一旦学会，就必须将它们应用到一个人的生活中，而不是为了自我辩解而改变或改变。正如您的身体需要适当的营养以达到最佳健康状态一样，良心、精神和灵魂也需要适当的营养。精神和灵魂总是寻求滋养。他们因属灵的果子而茁壮成长，这些果子是仁爱、喜乐、和平、忍耐、恩慈、良善、信实、温柔和节制。它们被称为水果的原因之一是因为它们是精神滋养和成长的精神食粮。灵魂不喜欢被引入任何与这些果实相反的东西，例如仇恨、愤怒或任何其他负能量。这将导致精神变得不健康和不快乐，并经历悲伤和痛苦。精神渴望一切圣洁和真实的事物；它渴望舒适、陪伴和爱。随着意识的增长，自我的精神变得能够为自己推理，服从它所属的人的信仰和灵魂。
      </p>
      <p>精神上存在的一切都由积极或消极的力量组成。消极的是对积极的大多数人造成破坏的任何事情。积极的是祝福和有益于精神成长的一切。如果你用能量和燃料喂养你的精神和灵魂，你就会祝福你自己，你的精神也会得到祝福，并反过来祝福你，并反过来祝福他人。如果你用任何圣洁的东西来喂养你活着的灵魂，你的灵魂就会欢欣鼓舞，祝福和赞美天堂和上帝的一切。最好不要将自己与任何可疑或消极的精神能量联系起来，以实现最佳的精神成长。内部和外部的影响决定了信仰、灵性和自身超自然的一切。这完全取决于一个人的信仰；信仰对生命、自然世界以及与一个人的自我相关的超自然的所有力量具有最终权威。这就是让自己为成功做好准备的答案是多么基本和简单。你可以很容易地通过你的生活方式来定义你生活的精神状态。你对你信仰的数量和质量负全部责任。一个人通过他们采取的每一个行动和他们的每一个想法来决定自己的精神命运。一个人的每一个行动和每一个思想都会同时影响一个人的精神存在状态。
      </p>
      <p>头脑的所有思想，身体的所有欲望，心灵的所有渴望，以及灵魂的所有意志，都是创造一个人的自我精神的条件。这一切都在生命早期开始发生，甚至在这些人类能力的有意识意识被认可之前就开始了。作为一个孩子，一个人的精神本能地渴望培育爱。在这个年幼的阶段，取决于每个孩子所接受的爱的质量和数量，这种向往开始塑造和调节一个人的精神。随着一个人身心的成熟，自我的精神会继续独立和独立地发展。独立地通过自由意志和依赖地通过所有最接近的影响。在照顾年轻人时，请明智地考虑这些情况。你和你拥有的精神影响着你接触到的一切，无论好坏，无论你是否知道这一事实。
      </p>
      <p>自我精神是你通过良心的条件使你的生命力成为的一切。 它是一种无形的力量，被感知和生活的理由所激发； 它看不见，但很容易感觉到。 一个人的精神状况和行为直接与一个人的精神状态相一致。 当思想是正能量的时候，自我的精神在指挥和祝福。 当思想带有负面能量时，自我的精神就不受控制，并受到负面能量的影响。 这是自己精神的本性。 小心外界的影响，因为没有你的同意和控制，它就会毫无防备。 虚弱的精神会影响一个人拥有的所有其他能量。 一个人必须学会控制自己的精神，因为如果他们不这样做，外界的能量、力量或力量就会。 没有圣灵成为监督一个人整个生命的主导力量，外在的能量就会渗透到所有脆弱的事物中，并竭尽全力破坏它，而不是一个人的知识或意愿。 你不希望这种情况发生，因为如果它发生，你将与力量和精神作战以重新获得指挥权。 有时说起来容易做起来难。 只要把你的心放在所有神圣的事物上，你就永远不必担心失去自己的权威。 如果您祝福它并让它为您自己的利益教导您它的秘密，那么您的精神确实会祝福您。
      </p>
      <p>自我精神既是一种微妙的能量，也是一种值得学习和借鉴的强大力量。 是的，自我的精神会教给你它所知道的一切； 它知道有助于让我们变得强大的答案和真理。 虽然在精神成长足以让人安心之前它不会透露它的秘密，但它知道你什么时候在听它，知道你是否在浪费它的时间。 它渴望被承认，并耐心地等待通过遵守而获得活力。 自我的精神是精神物质的一种流动形式，完全独立，需要时间才能被其主人的思想和心灵识别。 它有时会自行漫游，直到被发现。 它存在的规则是不能妥协的。 通过识别，一个人开始意识到它的行为，并学会理解它所做的所有事情的原因。 不管是好是坏，灵魂都会服从所有属于它的接收者的东西。 精神与自己所有的能量结合在一起，因为它洞察了它所能做的一切。 它最深处的家是在心里，在灵魂里，在意志里。 每个人都必须共同努力以实现相同的目标。 一旦知道它的存在，就很容易完全理解它的欲望。 它有必须遵守的规则，并且总是寻求实现。 最重要的是，它渴望所有圣洁真实的事物都充满活力。 如果你用正义给你的精神加油，它会祝福你并不断地引导你。 每个人都有自己的精神和意志，随着信仰的增长，他们必须从中学习。 知道一个人的精神和染料在来世比什么都不知道更幸运，因为来世的一切都是由光和精神统治的。 意志和精神共同努力实现你的精神目标，都渴望实现你人生的终极目标。 你对灵魂的奥秘和你对精神的了解是人生最重要的两个目的； 除了你和上帝，没有人或任何力量存在于所有创造物中，永远不会知道它所能做的一切。
      </p>
      <p>让你的精神学会与你的身、心、意和谐相处； 然后你的精神将成为一股不可阻挡的力量，学习成为所有永恒的一部分，以及更高更神圣维度的天赋知识。 我们对这些祝福的认识带来了信仰的智慧，它用永恒的一切滋养精神和灵魂，并教导我们每个人自己的生命力、自然力量、超自然力量和力量 光明与黑暗，但最重要的是，上帝的力量。 精神的属性包括等待随着精神意识的增长而被揭示的奥秘。 该精神具有吸引其他能量、力量和精神的相似品质，就像它自己的一样。 虽然，最重要的是，它希望满足于它所属的良心和灵魂。 这是精神的家园。 它住在里面的某个地方。 永远不要忘记，自我的精神会吸引相同的能量并排斥不同的能量； 这就是它的本质。 精神最终会受到行动和思想以及它接触到的所有精神和超自然能量的影响，无论好坏。
      </p>
      <p>没有什么可以将你自己的良心、精神或灵魂分开——没有力量、没有爱、没有深度，也没有意志可以。 他们是永远的，他们将永远是你的。 只有你才能决定你的精神会因为所有精神上的纯洁而变得多么强大和充满活力。 无论你被告知什么，你都是唯一对自己的生命力拥有完全权威的人。 没有任何存在于黑暗中的力量或力量可以拥有或控制你自己的精神或灵魂，除了你，而且只有你一个人。 它是你的，它永远是你的一部分。 当然，除非你暂时相信一些不真实的东西，否则你的精神就会成为真相之外的东西的囚徒，或者成为更强大力量的牺牲品。 即使那样，你的灵魂仍然属于你，但由于缺乏控制，你是囚犯或奴隶。 一个人可以通过获得精神力量和臣服于所有神圣的事物来重新获得权威。 唯有你是唯一一个通过你自己的能量、力量、力量和意志对你的精神拥有最终权威的人。
      </p>
      <p>任何事、任何人、任何地方，任何有疑问或反对的地方，都不要让你的思想在那里游荡，因为它们会受到负面力量的影响，你的精神也会随之而来。 自我精神与自我思想的能量直接相关。 它们是独立的和独立的，但当它们结合在一起时，它们就会成为它们自己的力量。 消极思想会违背自己的意愿吸引消极能量并排斥积极能量。 这是超自然灵体的本性。 你的思想不会离开你的思想，但你的精神可以随时随地去到任何地方，这是肯定的。 它会在您不知情或无法控制的情况下执行此操作。 如果去了不该去的地方，如果圣灵的联合不够强大，很容易成为俘虏。 如果精神被俘虏，那么一个人的思想也会被俘虏。 你不想让你的精神在没有保护的情况下变得脆弱。 所以，教导你的思想和精神留意一切圣洁的事物。
         <br>&emsp;&emsp;&emsp;同样，如果自我精神停留在所有圣洁的事物上，它就会吸引积极的影响力并祝福它遇到的一切。 它排斥所有消极的东西，它会立即发生。 思想集中于正，则可以最大限度地控制自己的思想和精神； 这是完全的精神自由。 必须完成这一点才能获得冒险进入最神圣领域所需的那种精神力量。 随着属灵的成长、决心、祷告和意志，转变会改变心智状态和灵性状态，以收获祝福和奖赏，同时更接近圣灵。
      </p>
      <p>在你对善恶的理解足够强之前，最好不要冒险进入属灵的未知领域。 一个人必须足够坚强，才能穿过死亡阴影的山谷，并且不惧怕邪恶，因为圣灵住在他们的灵魂中。 一个人必须足够坚强才能站在基督面前，并且知道他们竭尽全力通过他们的生活方式取悦他。 不了解善恶的真相，就不要让生活从你身边溜走。 如果一个人现在被光明和黑暗所蒙蔽，当他们到达另一边时，他们将被蒙蔽。 相信我，你不想在那里被蒙蔽。 你必须先了解真相和谎言，然后才能进一步进入天堂，甚至更接近所有天堂中最明亮、最圣洁的光芒。 一路上会有很多东西要学； 毕竟，那是永生的目的。 所以，现在就为即将到来的未来做好准备吧。
      </p>
      <P>现在够了； 我们稍后再谈。 让我们回到精神。 你的精神是你整个实体的一部分，永远不会分开。 离开这个世界的时候，你的良心、你的精神、你的灵魂的结合，决定了你去天国的什么地方。 这不是你想去的地方； 这是你值得去的地方，你的精神和灵魂已经结合的地方。 那就是它一直生活在自身之外的地方； 那就是它所属的地方。 是的，你是构成物质宇宙和灵性领域的伟大力量的一部分，你拥有生命的天赋和自由意志的天赋，可以选择对你来说最重要的东西。 因此，准备好生活在所有神圣事物的天堂维度中，因为生命在这个世界之外继续存在，正如耶稣告诉我们的那样。 永远不要怀疑或质疑我们圣主的应许； 仅此一项就足以阻止或减缓一个人的精神成长。
      </p>
      <p>你由灵性物质和物质物质组成。 就像物质有质量一样，你这个灵性存在完全由灵性能量构成。 你的存在，你的生命力，是意识、活生生的灵魂和活生生的精神的结合。 因为我们是一种精神力量，我们的力量会自动与其他能量、力量和力量结合。 这只是一个人自己精神生活的事实，不能也永远不会改变。 您根据自己的价值观和道德选择与您的精神相关的一切。 无论好坏，我们既是万物的一部分，又与万物分离，受到光明或黑暗的影响。 如果一个人受到两者的影响，当你进入来世时，你就不能把你的黑暗带入光明的国度。 没有回旋的余地; 他们都有自己的命令，不能偏离他们。 黑暗永远不会让你看到它的本色，它会隐藏在它自己的光之后。 它会让你相信它的奇迹和奇迹是唯一最重要的真理。 没有圣灵住在你的心和你的灵魂里，你会被愚弄，黑暗的光会把你带入绝望，而圣灵的光总是分享和揭示所有光明和一切隐藏的真理 那是黑暗的。
      </p>
      <p>至于精神和精神，它们都存在于所有自我之外，我们生活的这个物质世界和宇宙中存在的一切有形的东西也由精神物质组成。 这意味着所有的创造物既是一种或另一种形式的物质，又是一种或另一种形式的精神。 对于那些活在灵里而不怀疑的人来说，有形的和属灵的是一回事。 作为基督徒，我们很容易毫无疑问地接受这个真理，因为基督和先知在世时就向我们证明了这一点。 我们有幸拥有身体和精神，与上帝的所有创造物合而为一。 因为你所是的一切也是天所造的； 因为你是这一切的一部分，上帝非常爱你，渴望你发现他的真理。
      </p>
      <br>
      <p>既然您知道完全控制自己的思想和精神是多么重要，这将有助于调节和加强您的信仰。 这些力量只是人生天赋的众多力量中的一小部分，对于任何成功的精神之旅都必须强大。 我们只是为我们的远足做准备迈出了第一步。 而对于你的精神所渴望的一切，你必须了解天堂的所有力量和力量，这样你就不会缺乏知识和力量。 只要让自己振作起来，请求耶稣教导你，他就会揭示一切。 给它时间，因为很快你就会了解到另一边是什么，你的灵性意识将开始蓬勃发展并引导你进入灵性上未知的一切。
      </p>
      <div class="auth-btn">
         <a href="/zh-sg/membership/" aria-label="返回会员页面" title="返回会员页面" class="btn-auth">返回会员页面</a>
         &emsp;&emsp;&emsp;
         <a href="/zh-sg/logout/" aria-label="登出" title="登出" class="btn-auth">登出</a>
      </div>
      <div class="center3"><a href="/zh-sg/chapter1/" aria-label="回到顶部链接" title="回到顶部链接">&nbsp;顶部<img src="/static/img/zh/back-to-top-link.webp" loading="lazy" alt="回到顶部链接" width="48" height="48"></a></div>
      </div>
      <br>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="捐赠链接" title="捐赠链接"><p>帮助分享链接</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/zh-sg/contact-us/">给我们发电子邮件</a>
         <h4>接觸</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh-sg/" aria-label="家">家</a>
                  </li>
                  <li>
                     <a href="/zh-sg/the-vision" aria-label="愿景">愿景</a>
                  </li>
                  <li>
                     <a href="/zh-sg/spiritual-realms" aria-label="精神领域">精神领域</a>
                  </li>
                  <li>
                     <a href="/zh-sg/soldiers-of-light" aria-label="光之战士">光之战士</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/zh-sg/guardian-angels" aria-label="守护天使">守护天使</a>
                  </li>
                  <li>
                     <a href="/zh-sg/living-light" aria-label="生命之光">生命之光</a>
                  </li>
                  <li>
                     <a href="/zh-sg/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                  </li>
                  <li>
                     <a href="/zh-sg/unconditional-love" aria-label="无条件的爱">无条件的爱</a>
                  </li>
                  <li>
                     <a href="/zh-sg/about-us" aria-label="关于">关于</a>
                  </li>
                  <li>
                     <a href="/zh-sg/ebook" aria-label="电子书">电子书</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/zh-sg/share-the-faith" aria-label="分享信仰">分享信仰</a>
                  </li>
                  <li>
                     <a href="/zh-sg/powerful-scripture" aria-label="强大的经文">强大的经文</a>
                  </li>
                  <li>
                     <a href="/zh-sg/prayer-request" aria-label="代祷请求">代祷请求</a>
                  </li>
                  <li>
                     <a href="/zh-sg/terms" aria-label="使用条款">使用条款</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/zh-sg/facebook-24.webp" title="Facebook 图标链接" alt="Facebook 图标链接" aria-label="Facebook 图标链接" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-sg/twitter-24.webp" title="推特图标链接" alt="推特图标链接" aria-label="推特图标链接" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-sg/instagram-24.webp" title="Instagram 图标链接" alt="Instagram 图标链接" aria-label="Instagram 图标链接" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-sg/pinterest-24.webp" title="Pinterest 图标链接" alt="Pinterest 图标链接" aria-label="Pinterest 图标链接" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/zh-sg/snapchat-24.webp" title="Snapchat 图标链接" alt="Snapchat 图标链接" aria-label="Snapchat 图标链接" width="24" height="24"></a>
            </div>
            <p>&copy;版权所有 holymercy.com/zh-sg/ 版权所有。</p>
            <div class="legal__links"> 
            <span>保持联系; 即将变得很棒！</span>
            </div> 
         </footer>
         <!--翻译-->
     <span>
        <script>
//<![CDATA[
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'zh', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
//]]>
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 </span>
   <!--(gtag.js)4-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-9YTTLPE2DX');
</script>
<script src="/static/js/zh-sg/add-service-worker.js"></script>
<script src="/static/js/zh-sg/service-worker.js"></script>
</body>