<!doctype html>
<html dir="rtl" lang="ur">
   <head>
      <meta name="robots" content="index, follow">
      <title>طاقتور مقدس صحیفہ: روح کی روشنی کے لیے رزق</title>
      <meta name="description" content="مقدس صحیفے خدا کے طاقتور الفاظ ہیں جو ہمارے دلوں، روحوں اور روحوں کو خدا، مسیح اور روح القدس سے جوڑتے ہیں۔">
      <meta charset="utf-8">
      <link rel="canonical" href="/ur/powerful-scripture/">
      <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
    <!--favican-->
    <link rel="icon" type="image/x-icon" href="/static/img/ur/favicon.ico" sizes="32x32">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/ur/styles.css" rel="stylesheet" type="text/css">
    <!--Improve page load speed with preconnect-->
    <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
    <!--Google Fonts-put off the loading of render blocking CSS-->    
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
    <!--Web app manifest-->
    <link rel="manifest" href="/static/js/ur/manifest.json"> 
    <meta name="theme-color" content="#0808ed">
    <link rel="icon" type="image/png" href="/static/img/ur/maskable_icon_512.png" sizes="512x512">
    <link rel="icon" type="image/png" href="/static/img/ur/icon-256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="/static/img/ur/maskable_icon_192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/ur/icon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/static/img/ur/icon-64.png" sizes="64x64">
    <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="طاقتور مقدس صحیفہ: روح کی روشنی کے لیے رزق">
      <meta property="og:site_name" content="مقدس رحمت">
      <meta property="og:url" content="https://holymercy.com/ur/powerful-scripture/">
      <meta property="og:description" content="مقدس صحیفے خدا کے طاقتور الفاظ ہیں جو ہمارے دلوں، روحوں اور روحوں کو خدا، مسیح اور روح القدس سے جوڑتے ہیں۔">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/ur/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com/ur/">
      <meta property="twitter:url" content="https://holymercy.com/ur/powerful-scripture/">
      <meta name="twitter:title" content="طاقتور مقدس صحیفہ: روح کی روشنی کے لیے رزق">
      <meta name="twitter:description" content="مقدس صحیفے خدا کے طاقتور الفاظ ہیں جو ہمارے دلوں، روحوں اور روحوں کو خدا، مسیح اور روح القدس سے جوڑتے ہیں۔">
      <meta name="twitter:image" content="/static/img/ur/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/ur/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/ur/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/ur/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/ur/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
   <header>
         <ul>
            <li><a href="/ur/"><img class="logo" src="/static/img/ur/holymercy-logo.webp" loading="lazy" id="logo" alt="اوپر بائیں نیویگیشن بار کا لوگو" aria-label="اوپر بائیں نیویگیشن بار کا لوگو" width="68" height="39"></a></li>
            <li><a href="/ur/" aria-label="ہوم پیج">ہوم پیج</a></li>
            <li>
               <a href="#" aria-label="محبت کے ابواب کا دائرہ">ابواب</a>
               <ul>
                  <li><a href="/ur/the-vision" aria-label="دی ویژن">دی ویژن</a></li>
                  <li><a href="/ur/spiritual-realms" aria-label="روحانی دائرے">روحانی دائرے</a></li>
                  <li><a href="/ur/soldiers-of-light" aria-label="روشنی کے سپاہی">روشنی کے سپاہی</a></li>
                  <li><a href="/ur/guardian-angels" aria-label="گارڈین فرشتے">گارڈین فرشتے</a></li>
                  <li><a href="/ur/living-light" aria-label="زندہ روشنی">زندہ روشنی</a></li>
                  <li><a href="/ur/unconditional-love" aria-label="غیر مشروط محبت">غیر مشروط محبت</a></li>
                <li><a href="/ur/heavenly-realms" aria-label="آسمانی دائروں">آسمانی دائروں</a></li>
               </ul>
            <li><a href="/ur/about-us" aria-label="بارے میں">بارے میں</a></li>
            <li><a href="/ur/ebook" aria-label="ای بک">ای بک</a></li>
            <li>
               <a href="#" aria-label="بانٹنا">بانٹنا</a>	
               <ul>
                  <li><a href="/ur/share-the-faith" aria-label="ایمان کو شیئر کریں۔">ایمان کو شیئر کریں۔</a></li>
                  <li><a href="/ur/powerful-scripture" aria-label="طاقتور صحیفہ">طاقتور صحیفہ</a></li>
                  <li><a href="/ur/prayer-request" aria-label="دعا کی درخواست">دعا کی درخواست</a></li>
                  <li><a href="/ur/contact-us/" aria-label="ہم سے رابطہ کریں۔">ہم سے رابطہ کریں۔</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
      <div id="google_translate_element" title="گوگل ٹرانسلیٹ یونیورسل لینگویج کوئیک سلیکٹ ڈراپ ڈاؤن"></div>
      <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>خدا کے الہی الفاظ، یسوع مسیح، اور روح القدس</h1>
         <div class="centercandles">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
            <img  src="/static/img/ur/leftside-candle-gif.webp" loading="lazy" title="موم بتیاں دعا، ایمان اور مسیح کی موجودگی، دنیا کی روشنی کی علامت ہیں۔" alt="موم بتیاں دعا، ایمان اور مسیح کی موجودگی، دنیا کی روشنی کی علامت ہیں۔" aria-label="موم بتیاں دعا، ایمان اور مسیح کی موجودگی، دنیا کی روشنی کی علامت ہیں۔" width="100" height="208">
            <img  src="/static/img/ur/angel-applauding.webp" loading="lazy" title="داغدار شیشہ خدا کے فرشتہ کی تعریف کرتا ہے۔" alt="داغدار شیشہ خدا کے فرشتہ کی تعریف کرتا ہے۔" aria-label="داغدار شیشہ خدا کے فرشتہ کی تعریف کرتا ہے۔" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/ur/rightside-candle-gif.webp" loading="lazy" title="دعائیں، برکتیں، اور رہنمائی کی شمع" alt="دعائیں، برکتیں، اور رہنمائی کی شمع" aria-label="دعائیں، برکتیں، اور رہنمائی کی شمع" width="100" height="208">
            <br>    
            <br>  
         </div> 
         <br>    
         <br> 
         <div class="header">
            <p>اپنی روح کو مقدس صحیفوں کی نعمتوں سے پروان چڑھائیں، اور وہ آپ کو برکت دیں گے اور آپ کو روحانی اور مافوق الفطرت کے بارے میں سکھائیں گے۔</p>
            <h2>خدا کی محبت کے طاقتور مقدس صحیفے</h2>
          <section>
               <h3>1 کرنتھیوں 1:30</h3>
               <br> 
               <br>
               <p>آپ مسیح یسوع میں ہیں جو آپ کے لیے خدا کی طرف سے حکمت، نیز راستبازی، تقدیس اور مخلصی بن گیا۔</p>
               <br>    
               <h3>یوحنا 11:25-26</h3>
               <br>    
               <br>  
               <p>یسوع نے اُس سے کہا، ”قیامت اور زندگی میں ہوں۔ جو مجھ پر ایمان لاتا ہے وہ زندہ رہے گا، خواہ وہ مر جائیں۔ اور جو کوئی مجھ پر ایمان لے کر جیتا ہے وہ کبھی نہیں مرے گا۔ کیا آپ اس پر یقین رکھتے ہیں؟"</p>
               <h3>رومیوں 8:2</h3>
               <br>    
               <br>  
               <p>مسیح یسوع کے ذریعے زندگی کی روح کے قانون نے آپ کو گناہ اور موت کے قانون سے آزاد کیا ہے۔</p>
               <h3>رومیوں 10:9</h3>
               <br>    
               <br>  
               <p>اگر آپ اپنے منہ سے اقرار کرتے ہیں کہ یسوع خُداوند ہے اور آپ کے دل میں یقین ہے کہ خُدا نے اُسے مُردوں میں سے زندہ کیا، تو آپ بچ جائیں گے۔</p>
               <h3>رومیوں 13:12</h3>
               <br>    
               <br>  
               <p>رات بہت گزر گئی دن ہاتھ میں ہے. پس آئیے ہم تاریکی کے کاموں کو ترک کر کے روشنی کا زرہ پہن لیں۔</p>
               <h3>رومیوں 15:13</h3>
               <br>    
               <br>  
               <p>اُمید کا خُدا آپ کو ایمان میں پوری خوشی اور سکون سے بھر دے، تاکہ روح القدس کی طاقت سے آپ اُمید میں بڑھ جائیں۔ </p>
               <h3>رومیوں 16:20</h3>
               <br>    
               <br>  
               <p>امن کا خدا جلد ہی شیطان کو آپ کے پیروں تلے کچل دے گا۔ ہمارے خداوند یسوع مسیح کا فضل تمہارے ساتھ رہے۔</p>
               <h3>میتھیو 6:9</h3>
               <br>
               <p>مانگو تو تمہیں دیا جائے گا۔ تلاش کرو، اور تم. مل جائے گا کھٹکھٹاو تو تمہارے لیے کھول دیا جائے گا۔ کیونکہ جو کوئی مانگتا ہے وہ پاتا ہے۔ اور وہ جو تلاش کرتا ہے۔ ڈھونڈتا ہے اور جو کھٹکھٹاتا ہے اس کے لیے کھول دیا جائے گا۔</p>
               <h3>میتھیو 7:7</h3>
               <br>   
               <br>  
               <p>اے ہمارے باپ جو آسمان پر ہے، تیرا نام مقدس ہو، تیری بادشاہی آئے، تیری مرضی زمین پر پوری ہو جیسا کہ آسمان پر ہے۔ آج کے دن ہمیں ہماری روزی روٹی دے اور ہماری خطاؤں کو معاف فرما۔ جیسا کہ ہم ان لوگوں کو معاف کرتے ہیں جو ہمارے خلاف زیادتی کرتے ہیں۔ اور ہمیں آزمائش میں نہ ڈالے بلکہ برائی سے بچائے۔</p>
               <h3>میتھیو 28:19</h3>
               <br>    
               <br>  
               <p>پس جاؤ اور قوموں کو شاگرد بناؤ اور انہیں باپ اور بیٹے اور روح القدس کے نام سے بپتسمہ دو۔</p>
               <h3>یوحنا 3:16</h3>
               <br>    
               <br>  
               <p>خُدا نے دُنیا سے اِس قدر محبت کی کہ اُس نے اپنا اکلوتا بیٹا بخش دیا، تاکہ جو کوئی اُس پر ایمان لائے ہلاک نہ ہو بلکہ ہمیشہ کی زندگی پائے۔</p>
               <h3>یوحنا 14:13</h3>
               <br>    
               <br>  
               <p>جو کچھ تم میرے نام سے مانگو گے وہ میں کروں گا تاکہ باپ بیٹے میں جلال پائے۔</p>
               <h3>2 کرنتھیوں 10:4-5</h3>
               <br>    
               <br>  
               <p>ہم جن ہتھیاروں سے لڑتے ہیں وہ اس دنیا کے نہیں ہیں۔ اس کے برعکس، ان کے پاس مضبوط قلعوں کو گرانے کی خدائی طاقت ہے۔ ہم ان دلیلوں اور ہر ڈھونگ کو تباہ کر دیتے ہیں جو خود کو خدا کے علم کے خلاف کھڑا کرتا ہے، اور ہم ہر خیال کو اسیر کر لیتے ہیں تاکہ اسے مسیح کا فرمانبردار بنایا جا سکے۔</p>
               <h3>گلتیوں 5:22</h3>
               <br>    
               <br>  
               <p>روح کا پھل محبت، خوشی، امن، صبر، مہربانی، نیکی، وفاداری، نرمی اور ضبط نفس ہے۔ ایسی چیزوں کے خلاف کوئی قانون نہیں ہے۔</p>
               <h3>افسیوں 6:10-18</h3>
               <br>    
               <br>  
               <p>آخر میں، خُداوند اور اُس کی زبردست طاقت میں مضبوط بنو۔ خدا کے مکمل ہتھیار پہن لو، تاکہ آپ شیطان کی چالوں کے خلاف اپنا موقف اختیار کر سکیں۔ کیونکہ ہماری جدوجہد گوشت اور خون کے خلاف نہیں ہے، بلکہ حکمرانوں، حکام کے خلاف، اس تاریک دنیا کی طاقتوں کے خلاف اور آسمانی دائروں میں برائی کی روحانی قوتوں کے خلاف ہے۔ لہٰذا، خُدا کے پورے ہتھیار پہن لو، تاکہ جب بُرائی کا دن آئے تو تم اپنی زمین پر کھڑے رہو، اور سب کچھ کر لینے کے بعد، کھڑے رہو۔ تو ثابت قدم رہو، سچائی کی پٹی اپنی کمر کے گرد باندھ کر، راستبازی کا سینہ بند اس کی جگہ پر، اور اپنے پاؤں اس تیاری کے ساتھ جو امن کی خوشخبری سے آتی ہے۔ ان سب کے ساتھ ساتھ ایمان کی ڈھال بھی اٹھائیں جس سے آپ شیطان کے تمام بھڑکتے تیروں کو بجھا سکتے ہیں۔ نجات کا ہیلمٹ لے لو، اور روح کی تلوار، جو خدا کا کلام ہے۔ اور روح کے ساتھ ہر موقع پر ہر قسم کی دعاؤں اور درخواستوں کے ساتھ دعا کریں۔</p>
               <h3>فلپیوں 4:7</h3>
               <br>    
               <br>  
               <p>خدا کا امن جو تمام سمجھ سے بالاتر ہے مسیح یسوع میں آپ کے دلوں اور دماغوں کی حفاظت کرے گا۔</p>
               <h3>2 کلسیوں 1:12</h3>
               <br>    
               <br>  
               <p>باپ کا شکریہ ادا کرنا جس نے آپ کو نور میں مقدس کی وراثت میں حصہ لینے کے قابل بنایا ہے۔.</p>
               <h3>1 تھسلنیکیوں 5:23</h3>
               <br>    
               <br>  
               <p>اب سلامتی کا خدا خود آپ کو مکمل طور پر مقدس کرے، اور آپ کی پوری روح اور روح اور جسم ہمارے خداوند یسوع مسیح کی آمد پر بے عیب رہے۔</p>
               <h3>2 تیمتھیس 1:7</h3>
               <br>    
               <br>  
               <p>خُدا نے ہمیں ڈرپوک کا جذبہ نہیں دیا، بلکہ طاقت، محبت اور ضبطِ نفس کا۔</p>
               <h3>عبرانیوں 13:20</h3>
               <br>    
               <br>  
               <p>اب سلامتی کا خدا، جس نے ابدی عہد کے خون کے ذریعے مردہ ہمارے خداوند یسوع کو واپس لایا، بھیڑوں کے وہ عظیم شیپرڈ، مجھے اپنی مرضی پوری کرنے کے لیے ہر اچھی چیز سے آراستہ کرے، اور وہ ہم میں وہ کام کرے جو ہمیں پسند ہے۔ وہ، یسوع مسیح کے ذریعے، جس کی ابد تک جلال ہو۔ آمین</p>
               <h3>1 یوحنا 1:7</h3>
               <br>    
               <br>  
               <p>اگر ہم روشنی میں چلتے ہیں، جیسا کہ وہ روشنی میں ہے، تو ہماری ایک دوسرے کے ساتھ رفاقت ہے، اور یسوع خدا کے بیٹے کا خون ہمیں تمام گناہوں سے پاک کرتا ہے۔</p>
               <h3>1 یوحنا 3:3</h3>
               <br>    
               <br>  
               <p>جو کوئی بھی اس طرح یسوع میں امید رکھتا ہے وہ اپنے آپ کو پاک کرتا ہے جیسا کہ وہ پاک ہے۔</p>
            </section>
           <div class="center3"><a href="/ur/powerful-scripture/" aria-label="اوپر کی طرف واپس" title="اوپر کی طرف واپس">&nbsp;اوپر<img src="/static/img/ur/back-to-top-link.webp" loading="lazy" alt="اوپر کی طرف واپس" width="48" height="48"></a></div> 
            <br>
          </div>
      </div>
      </div>
         <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="عطیہ لنک" title="عطیہ لنک"><p>شئیر کرنے میں مدد کریں۔</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ur/contact-us/">ہمیں ای میل کریں</a>
            <h4>رابطہ کریں۔</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ur/" aria-label="ہوم پیج">ہوم پیج</a>
                  </li>
                    <li>
                     <a href="/ur/the-vision" aria-label="دی ویژن">دی ویژن</a>
                  </li>
                  <li>
                     <a href="/ur/spiritual-realms" aria-label="روحانی دائرے">روحانی دائرے</a>
                  </li>
                  <li>
                     <a href="/ur/soldiers-of-light" aria-label="روشنی کے سپاہی">روشنی کے سپاہی</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/ur/guardian-angels" aria-label="گارڈین فرشتے">گارڈین فرشتے</a>
                  </li>
                  <li>
                     <a href="/ur/living-light" aria-label="زندہ روشنی">زندہ روشنی</a>
                  </li>
                  <li>
                     <a href="/ur/heavenly-realms" aria-label="آسمانی دائروں">آسمانی دائروں</a>
                  </li>
                  <li>
                     <a href="/ur/unconditional-love" aria-label="غیر مشروط محبت">غیر مشروط محبت</a>
                  </li>
                  <li>
                     <a href="/ur/about-us" aria-label="بارے میں">بارے میں</a>
                  </li>
                  <li>
                     <a href="/ur/ebook" aria-label="ای بک">ای بک</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/ur/share-the-faith" aria-label="ایمان کو شیئر کریں۔">ایمان کو شیئر کریں۔</a>
                  </li>
                  <li>
                     <a href="/ur/powerful-scripture" aria-label="طاقتور صحیفہ">طاقتور صحیفہ</a>
                  </li>
                  <li>
                     <a href="/ur/prayer-request" aria-label="دعا کی درخواست">دعا کی درخواست</a>
                  </li>
                  <li>
                     <a href="/ur/terms" aria-label="استعمال کرنے کی شرائط">استعمال کرنے کی شرائط</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ur/facebook-24.webp" title="فیس بک آئیکن لنک" alt="فیس بک آئیکن لنک" aria-label="فیس بک آئیکن لنک" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ur/twitter-24.webp" title="ٹویٹر آئیکن لنک" alt="ٹویٹر آئیکن لنک" aria-label="ٹویٹر آئیکن لنک" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ur/instagram-24.webp" title="انسٹاگرام آئیکن لنک" alt="انسٹاگرام آئیکن لنک" aria-label="انسٹاگرام آئیکن لنک" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ur/pinterest-24.webp" title="پنٹیرسٹ آئیکن کا لنک" alt="پنٹیرسٹ آئیکن کا لنک" aria-label="پنٹیرسٹ آئیکن کا لنک" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ur/snapchat-24.webp" title="سنیپ چیٹ آئیکن لنک" alt="سنیپ چیٹ آئیکن لنک" aria-label="سنیپ چیٹ آئیکن لنک" width="24" height="24"></a>
         </div>
         <p>&copy;کاپی رائٹ 2024 holymercy.com/ur/ جملہ حقوق محفوظ ہیں۔</p>
            <div class="legal__links"> 
            <span>رابطہ قائم رکھنا؛ holymercy بہت اچھا حاصل کرنے کے بارے میں ہے!</span>
            </div> 
         </footer>
        <!--google translate-->
      <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'ur', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    //]]>
            </script>
            <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </span>
<!-- Google next gen tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/ur/add-service-worker.js"></script>
 <script src="/static/js/ur/service-worker.js"></script>
</body>
</html>