<!doctype html>
<html lang="fr-ca">
   <head>
      <meta name="robots" content="index, follow">
      <title>Puissante Ecriture Sainte: Subsistance pour la Lumière de l'Ame</title>
      <meta name="description" content="Les Saintes Écritures sont les puissantes paroles de Dieu qui relient nos cœurs, nos esprits et nos âmes à Dieu, au Christ et au Saint-Esprit">
      <meta charset="utf-8">
      <link rel="canonical" href="/fr-ca/powerful-scripture/">
        <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/fr-ca/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/fr-ca/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/fr-ca/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/fr-ca/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/fr-ca/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/fr-ca/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/fr-ca/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/fr-ca/icon-64.png" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="Puissante Ecriture Sainte: Subsistance pour la Lumière de l'Ame">
      <meta property="og:site_name" content="Sainte miséricorde">
      <meta property="og:url" content="https://holymercy.com/fr-ca/powerful-scripture/">
      <meta property="og:description" content="Les Saintes Écritures sont les puissantes paroles de Dieu qui relient nos cœurs, nos esprits et nos âmes à Dieu, au Christ et au Saint-Esprit">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/fr-ca/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com">
      <meta property="twitter:url" content="https://holymercy.com/fr-ca/powerful-scripture/">
      <meta name="twitter:title" content="Puissante Ecriture Sainte: Subsistance pour la Lumière de l'Ame">
      <meta name="twitter:description" content="Les Saintes Écritures sont les puissantes paroles de Dieu qui relient nos cœurs, nos esprits et nos âmes à Dieu, au Christ et au Saint-Esprit">
      <meta name="twitter:image" content="/static/img/fr-ca/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/fr-ca/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/fr-ca/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/fr-ca/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/fr-ca/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
      <header>
         <ul>
         <li><a href="/fr-ca/"><img class="logo" src="/static/img/fr-ca/holymercy-logo.webp" loading="lazy" id="logo" alt="Logo de la barre de navigation en haut à gauche" aria-label="Logo de la barre de navigation en haut à gauche" width="68" height="39"></a></li>
            <li><a href="/fr-ca/" aria-label="Page d'accueil du site Web">Maison</a></li>
            <li>
               <a href="#" aria-label="Le Cercle de L'amour's chapitres">Chapitres</a>
               <ul>
                  <li><a href="/fr-ca/the-vision" aria-label="La Vision">La vision</a></li>
                  <li><a href="/fr-ca/spiritual-realms" aria-label="Royaumes Spirituels">Royaumes Spirituels</a></li>
                  <li><a href="/fr-ca/soldiers-of-light" aria-label="Soldats de la Lumière">Soldats de la Lumière</a></li>
                  <li><a href="/fr-ca/guardian-angels" aria-label="Anges Gardiens">Anges Gardiens</a></li>
                  <li><a href="/fr-ca/living-light" aria-label="Lumière Vivante">Lumière Vivante</a></li>
                  <li><a href="/fr-ca/unconditional-love" aria-label="Amour Inconditionnel">Amour inconditionnel</a></li>
                  <li><a href="/fr-ca/heavenly-realms" aria-label="Royaumes Célestes">Royaumes célestes</a></li>
               </ul>
            <li><a href="/fr-ca/about-us" aria-label="À propos de nous">À propos</a></li>
            <li><a href="/fr-ca/ebook" aria-label="E-livre">E-livre</a></li>
              <li>
               <a href="#" aria-label="Lien de partage">Partager</a>	
               <ul>
                  <li><a href="/fr-ca/share-the-faith" aria-label="Partagez la Foi">Partagez la foi</a></li>
                  <li><a href="/fr-ca/powerful-scripture" aria-label="Écriture Puissante">Des Écritures Puissantes</a></li>
                  <li><a href="/fr-ca/prayer-request" aria-label="Demande de Prière">Demande de prière</a></li>
                  <li><a href="/fr-ca/contact-us/" aria-label="Contactez-nous">Contactez-nous</a></li>
               </ul>
            </li>
         </ul>
      </header>
          <!--Google Translate Top-->
          <div id="google_translate_element" title="google translate choisir le bouton de langue"></div>
          <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>Paroles divines de Dieu, de Jésus-Christ et du Saint-Esprit</h1>
         <br>
         <div class="centercandles">                                         
            <img src="/static/img/fr-ca/leftside-candle-gif.webp" loading="lazy" title="Les bougies symbolisent la prière, la foi et la présence du Christ, la lumière du monde GIF" alt="Les bougies symbolisent la prière, la foi et la présence du Christ, la lumière du monde GIF" aria-label="Les bougies symbolisent la prière, la foi et la présence du Christ, la lumière du monde GIF" width="100" height="208">
            <img src="/static/img/fr-ca/angel-applauding.webp" loading="lazy" title="Vitrail, Applaudir, Ange, de, Dieu, Image" alt="Vitrail, Applaudir, Ange, de, Dieu, Image" aria-label="Vitrail, Applaudir, Ange, de, Dieu, Image" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/fr-ca/rightside-candle-gif.webp" loading="lazy" title="Prières dites dans le besoin d'une intervention divine, de bénédictions et de conseils Candle GIF" alt="Prières dites dans le besoin d'une intervention divine, de bénédictions et de conseils Candle GIF" aria-label="Prières dites dans le besoin d'une intervention divine, de bénédictions et de conseils Candle GIF" width="100" height="208">
            <br>    
            <br>  
         </div>
         <br>    
         <br> 
         <div class="header">
            <p>Éduquez votre âme avec la béatitude des Saintes Écritures, et elles vous béniront et vous enseigneront le spirituel et le surnaturel.</p>
            <h2>Puissantes Écritures saintes de l’amour de Dieu</h2>
            <section>
               <h3>1 Corinthiens 1:30</h3>
               <br> 
               <br>
               <p>Vous êtes en Jésus-Christ qui est devenu pour vous sagesse de Dieu, ainsi que justice, sanctification et rédemption.</p>
               <br>    
               <h3>Jean 11:25-26</h3>
               <br>    
               <br>  
               <p>Jésus lui dit : « Je suis la résurrection et la vie. Celui qui croit en moi vivra, même s'il meurt; et quiconque vit en croyant en moi ne mourra jamais. Croyez-vous cela ?</p>
               <h3>Romains 8:2</h3>
               <br>    
               <br>  
               <p>Par le Christ Jésus, la loi de l'Esprit de vie vous a affranchi de la loi du péché et de la mort.</p>
               <h3>Romains 10:9</h3>
               <br>    
               <br>  
               <p>Si vous confessez de votre bouche que Jésus est Seigneur et croyez dans votre cœur que Dieu l'a ressuscité des morts, vous serez sauvé.</p>
               <h3>Romains 13:12</h3>
               <br>    
               <br>  
               <p>La nuit est loin ; le jour est proche. Alors rejetons les actions des ténèbres et revêtons l'armure de la lumière.</p>
               <h3>Romans 15:13 </h3>
               <br>    
               <br>  
               <p>May the God of hope fill you with all joy and peace in believing, so that by the power of the Holy Spirit you may abound in hope. </p>
               <h3>Romains 16:20</h3>
               <br>    
               <br>  
               <p>Le Dieu de paix écrasera rapidement Satan sous vos pieds. La grâce de notre Seigneur Jésus-Christ soit avec vous.</p>
               <h3>Matthieu 6:9</h3>
               <br>
               <p>Demandez, et il vous sera donné ; cherchez, et vous. trouvera ; frappez, et l'on vous ouvrira. Car tout
                  celui qui demande reçoit; et celui qui cherche. trouve; et à celui qui frappe, on lui ouvrira.</p>
               <h3>Matthieu 7:7</h3>
               <br>   
               <br>  
               <p>Notre Père qui es aux Cieux, que ton nom soit auréolé, que ton règne vienne, que ta volonté soit faite sur la terre comme au Ciel. Donne-nous aujourd'hui notre pain quotidien et pardonne-nous nos offenses. Comme nous pardonnons à ceux qui nous ont offensés. Et ne nous soumets pas à la tentation mais délivre-nous du mal.</p>
               <h3>Matthieu 28:19</h3>
               <br>    
               <br>  
               <p>Allez donc, faites des nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit.</p>
               <h3>Jean 3:16</h3>
               <br>    
               <br>  
               <p>Dieu a tant aimé le monde qu'il a donné son fils unique, afin que quiconque croit en lui ne périsse pas, mais qu'il ait la vie éternelle.</p>
               <h3>Jean 14:13</h3>
               <br>    
               <br>  
               <p>Tout ce que vous demanderez en mon nom, je le ferai, afin que le Père soit glorifié dans le Fils.</p>
               <h3>2 Corinthiens 10:4-5</h3>
               <br>    
               <br>  
               <p>Les armes avec lesquelles nous combattons ne sont pas de ce monde. Au contraire, ils ont le pouvoir divin de démolir les forteresses. Nous démolissons les arguments et toute prétention qui s'opposent à la connaissance de Dieu, et nous capturons toute pensée pour la rendre obéissante à Christ.</p>
               <h3>Galatians 5:22</h3>
               <br>    
               <br>  
               <p>Le fruit de l'Esprit est l'amour, la joie, la paix, la patience, la bonté, la bonté, la fidélité, la douceur et la maîtrise de soi ; contre de telles choses il n'y a pas de loi.</p>
               <h3>Ephésiens 6:10-18</h3>
               <br>    
               <br>  
               <p>Enfin, soyez forts dans le Seigneur et dans sa grande puissance. Mettez l'armure complète de Dieu, afin que vous puissiez prendre position contre les plans du diable. Car notre lutte n'est pas contre la chair et le sang, mais contre les dirigeants, contre les autorités, contre les puissances de ce monde de ténèbres et contre les forces spirituelles du mal dans les royaumes célestes. Par conséquent, revêtez l'armure complète de Dieu, afin que, lorsque le jour du mal viendra, vous puissiez tenir bon et, après avoir tout fait, tenir bon. Tenez donc ferme, avec la ceinture de la vérité bouclée autour de votre taille, avec la cuirasse de la justice à sa place, et avec vos pieds équipés de la promptitude qui
                  vient de l'évangile de la paix. En plus de tout cela, prenez le bouclier de la foi, avec lequel vous pourrez éteindre toutes les flèches enflammées du malin. Prenez le casque du salut et l'épée de l'Esprit, qui est la parole de Dieu. Et priez dans l'Esprit en toutes occasions avec toutes sortes de prières et de requêtes.</p>
               <h3>Philippians 4:7</h3>
               <br>    
               <br>  
               <p>La paix de Dieu qui transcende toute compréhension gardera vos cœurs et vos pensées en Jésus-Christ.</p>
               <h3>2 Colossiens 1:12</h3>
               <br>    
               <br>  
               <p>Giving thanks to the Father who has qualified you to share in the inheritance of the holy one’s in light.</p>
               <h3>1 Thessalonians 5:23</h3>
               <br>    
               <br>  
               <p>Maintenant, que le Dieu de paix lui-même vous sanctifie complètement, et que tout votre esprit, votre âme et votre corps soient gardés irréprochables à la venue de notre Seigneur Jésus-Christ.</p>
               <h3>2 Timothée 1:7</h3>
               <br>    
               <br>  
               <p>Dieu ne nous a pas donné un esprit de timidité, mais de puissance, d'amour et d'autodiscipline.</p>
               <h3>Hébreux 13:20</h3>
               <br>    
               <br>  
               <p>Maintenant que le Dieu de paix, qui par le sang de l'alliance éternelle a ramené le mort notre Seigneur Jésus, ce grand berger des brebis, me dote de tout ce qui est bon pour faire sa volonté, et qu'il fasse en nous ce qui est agréable à lui, par Jésus-Christ, à qui soit la gloire aux siècles des siècles. Amen</p>
               <h3>1 Jean 1:7</h3>
               <br>    
               <br>  
               <p>Si nous marchons dans la lumière, comme il est dans la lumière, nous sommes en communion les uns avec les autres, et le sang de Jésus, fils de Dieu, nous purifie de tout péché.</p>
               <h3>1 Jean 3:3</h3>
               <br>    
               <br>  
               <p>Quiconque espère ainsi en Jésus se purifie comme il est pur.</p>
            </section>
          <div class="center3"><a href="/fr-ca/powerful-scripture/" aria-label="Lien de retour en haut" title="Lien de retour en haut">&nbsp;en haut<img src="/static/img/fr-ca/back-to-top-link.webp" loading="lazy" alt="Lien de retour en haut" width="48" height="48"></a></div>   
            <br>
          </div>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Lien de Don" title="Lien de Don"><p>Aide Partager le Lien</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/fr-ca/contact-us/">Envoyez-nous un email</a>
         <h4>Contact</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/fr-ca/" aria-label="Page d'accueil du site Web">Maison</a>
                  </li>
                  <li>
                     <a href="/fr-ca/the-vision" aria-label="La Vision">La Visionn</a>
                  </li>
                  <li>
                     <a href="/fr-ca/spiritual-realms" aria-label="Royaumes Spirituels">Royaumes Spirituels</a>
                  </li>
                  <li>
                     <a href="/fr-ca/soldiers-of-light" aria-label="Soldats de la Lumière">Soldats de la Lumière</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/fr-ca/guardian-angels" aria-label="Anges Gardiens">Anges Gardiens</a>
                  </li>
                  <li>
                     <a href="/fr-ca/living-light" aria-label="Lumière Vivante">Lumière Vivante</a>
                  </li>
                  <li>
                     <a href="/fr-ca/heavenly-realms" aria-label="Royaumes Célestes">Royaumes Célestes</a>
                  </li>
                  <li>
                     <a href="/fr-ca/unconditional-love" aria-label="Amour Inconditionnel">Amour Inconditionnel</a>
                  </li>
                  <li>
                     <a href="/fr-ca/about-us" aria-label="À propos">À propos</a>
                  </li>
                  <li>
                     <a href="/fr-ca/ebook" aria-label="E-livre">E-livre</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/fr-ca/share-the-faith" aria-label="Partagez la Foi">Partagez la Foi</a>
                  </li>
                  <li>
                     <a href="/fr-ca/powerful-scripture" aria-label="Écriture Puissante">Des Écritures Puissantes</a>
                  </li>
                  <li>
                     <a href="/fr-ca/prayer-request" aria-label="Demande de prière">Demande de prière</a>
                  </li>
                  <li>
                     <a href="/fr-ca/terms" aria-label="Conditions d'utilisation">Conditions d'utilisation</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/fr-ca/facebook-24.webp" title="Icône Facebook Lien" alt="Icône Facebook Lien" aria-label="Icône Facebook Lien" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr-ca/twitter-24.webp" title="Icône Twitter Lien" alt="Icône Twitter Lien" aria-label="Icône Twitter Lien" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr-ca/instagram-24.webp" title="Icône Instagram Lien" alt="Icône Instagram Lien" aria-label="Icône Instagram Lien" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr-ca/pinterest-24.webp" title="Icône Pinterest Lien" alt="Icône Pinterest Lien" aria-label="Icône Pinterest Lien" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr-ca/snapchat-24.webp" title="Icône Snapchat Lien" alt="Icône Snapchat Lien" aria-label="Icône Snapchat Lien" width="24" height="24"></a>
         </div>
         <p>&copy;Copyright 2024 holymercy.com/fr/ Tous les droits sont réservés.</p>
            <div class="legal__links"> 
            <span>Reste en contact; Holymercy est sur le point de devenir génial !</span>
            </div> 
         </footer>
            <!--google translate-->
       <span>
           <script>
   //<![CDATA[
   function googleTranslateElementInit() {
     new google.translate.TranslateElement({
       pageLanguage: 'fr', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
       layout: google.translate.TranslateElement.InlineLayout.SIMPLE
     }, 'google_translate_element');
   }
   //]]>
           </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   </span>
   <!-- Google next gen tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   
   gtag('config', 'G-9YTTLPE2DX');
   </script>
 <script src="/static/js/fr-ca/add-service-worker.js"></script>
 <script src="/static/js/fr-ca/service-worker.js"></script>
   </body>
   </html>