<!doctype html>
<html lang="bn">
   <head>
      <meta name="robots" content="index, follow">
      <title>শক্তিশালী পবিত্র ধর্মগ্রন্থ: আত্মার আলোর জন্য ভরণপোষণ</title>
      <meta name="description" content="পবিত্র ধর্মগ্রন্থ হল ঈশ্বরের শক্তিশালী শব্দ যা আমাদের হৃদয়, আত্মা এবং আত্মাকে ঈশ্বর, খ্রীষ্ট এবং পবিত্র আত্মার সাথে সংযুক্ত করে।">
      <meta charset="utf-8">
      <link rel="canonical" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
    <!--favican-->
    <link rel="icon" type="image/x-icon" href="/static/img/bn/favicon.ico" sizes="32x32">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bn/styles.css" rel="stylesheet" type="text/css">
    <!--Improve page load speed with preconnect-->
    <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
    <!--Google Fonts-put off the loading of render blocking CSS-->    
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
    <!--Web app manifest-->
    <link rel="manifest" href="/static/js/bn/manifest.json"> 
    <meta name="theme-color" content="#0808ed">
    <link rel="icon" type="image/png" href="/static/img/bn/maskable_icon_512.png" sizes="512x512">
    <link rel="icon" type="image/png" href="/static/img/bn/icon-256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="/static/img/bn/maskable_icon_192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/bn/icon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/static/img/bn/icon-64.png" sizes="64x64">
    <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="শক্তিশালী পবিত্র ধর্মগ্রন্থ: আত্মার আলোর জন্য ভরণপোষণ">
      <meta property="og:site_name" content="পবিত্ররহমত">
      <meta property="og:url" content="https://holymercy.com/bn/powerful-scripture/">
      <meta property="og:description" content="পবিত্র ধর্মগ্রন্থ হল ঈশ্বরের শক্তিশালী শব্দ যা আমাদের হৃদয়, আত্মা এবং আত্মাকে ঈশ্বর, খ্রীষ্ট এবং পবিত্র আত্মার সাথে সংযুক্ত করে।">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/bn/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com/bn/">
      <meta property="twitter:url" content="https://holymercy.com/bn/powerful-scripture/">
      <meta name="twitter:title" content="শক্তিশালী পবিত্র ধর্মগ্রন্থ: আত্মার আলোর জন্য ভরণপোষণ">
      <meta name="twitter:description" content="পবিত্র ধর্মগ্রন্থ হল ঈশ্বরের শক্তিশালী শব্দ যা আমাদের হৃদয়, আত্মা এবং আত্মাকে ঈশ্বর, খ্রীষ্ট এবং পবিত্র আত্মার সাথে সংযুক্ত করে।">
      <meta name="twitter:image" content="/static/img/bn/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/bn/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/bn/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/bn/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/bn/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
   <header>
         <ul>
            <li><a href="/bn/"><img class="logo" src="/static/img/bn/holymercy-logo.webp" loading="lazy" id="logo" alt="উপরের বাম নেভিগেশন বার লোগো" aria-label="উপরের বাম নেভিগেশন বার লোগো" width="68" height="39"></a></li>
            <li><a href="/bn/" aria-label="ওয়েবসাইট হোমপেজ">হোম</a></li>
            <li><a href="#" aria-label="ভালবাসার অধ্যায়গুলির বৃত্ত">অধ্যায়সমূহ</a>
               <ul>
                  <li><a href="/bn/the-vision" aria-label="ভিশন">ভিশন</a></li>
                  <li><a href="/bn/spiritual-realms" aria-label="আধ্যাত্মিক রাজ্য">আধ্যাত্মিক রাজ্য</a></li>
                  <li><a href="/bn/soldiers-of-light" aria-label="আলোর সৈনিকরা">আলোর সৈনিকরা</a></li>
                  <li><a href="/bn/guardian-angels" aria-label="গার্ডিয়ান এঞ্জেলস">গার্ডিয়ান এঞ্জেলস</a></li>
                  <li><a href="/bn/living-light" aria-label="লিভিং লাইট">লিভিং লাইট</a></li>
                  <li><a href="/bn/unconditional-love" aria-label="নিঃশর্ত ভালবাসা">নিঃশর্ত ভালবাসা</a></li>
                  <li><a href="/bn/heavenly-realms" aria-label="স্বর্গের অঞ্চল">স্বর্গের অঞ্চল</a></li>
               </ul>
            <li><a href="/bn/about-us" aria-label="আমাদের সম্পর্কে">আমাদের সম্পর্কে</a></li>
            <li><a href="/bn/ebook" aria-label="ই-বুক">ই-বুক</a></li>
            <li><a href="#" aria-label="ভাগ করুন">ভাগ করুন</a>	
               <ul>
                  <li><a href="/bn/share-the-faith" aria-label="বিশ্বাস শেয়ার করুন">বিশ্বাস শেয়ার করুন</a></li>
                  <li><a href="/bn/powerful-scripture" aria-label="শক্তিশালী শাস্ত্র">শক্তিশালী শাস্ত্র</a></li>
                  <li><a href="/bn/prayer-request" aria-label="প্রার্থনার অনুরোধ">প্রার্থনার অনুরোধ</a></li>
                  <li><a href="/bn/contact-us/" aria-label="আমাদের সাথে যোগাযোগ করুন">আমাদের সাথে যোগাযোগ করুন</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
      <div id="google_translate_element" title="গুগল ট্রান্সলেট সার্বজনীন ভাষা দ্রুত নির্বাচন করুন ড্রপডাউন"></div>
      <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>ঈশ্বরের ঐশ্বরিক শব্দ, যীশু খ্রীষ্ট এবং পবিত্র আত্মা</h1>
         <div class="centercandles">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
            <img  src="/static/img/bn/leftside-candle-gif.webp" loading="lazy" title="মোমবাতিগুলি প্রার্থনা, বিশ্বাস এবং খ্রীষ্টের উপস্থিতি, বিশ্বের আলোর প্রতীক" alt="মোমবাতিগুলি প্রার্থনা, বিশ্বাস এবং খ্রীষ্টের উপস্থিতি, বিশ্বের আলোর প্রতীক" aria-label="মোমবাতিগুলি প্রার্থনা, বিশ্বাস এবং খ্রীষ্টের উপস্থিতি, বিশ্বের আলোর প্রতীক" width="100" height="208">
            <img  src="/static/img/bn/angel-applauding.webp" loading="lazy" title="স্টেইনড গ্লাস অ্যাঞ্জেল অফ গডের প্রশংসা করছে" alt="স্টেইনড গ্লাস অ্যাঞ্জেল অফ গডের প্রশংসা করছে" aria-label="স্টেইনড গ্লাস অ্যাঞ্জেল অফ গডের প্রশংসা করছে" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/bn/rightside-candle-gif.webp" loading="lazy" title="প্রার্থনার প্রয়োজনে ঐশ্বরিক হস্তক্ষেপ, আশীর্বাদ ও পথনির্দেশের মোমবাতি" alt="প্রার্থনার প্রয়োজনে ঐশ্বরিক হস্তক্ষেপ, আশীর্বাদ ও পথনির্দেশের মোমবাতি" aria-label="প্রার্থনার প্রয়োজনে ঐশ্বরিক হস্তক্ষেপ, আশীর্বাদ ও পথনির্দেশের মোমবাতি" width="100" height="208">
            <br>    
            <br>  
         </div> 
         <br>    
         <br> 
         <div class="header">
            <p>পবিত্র ধর্মগ্রন্থের আনন্দ দিয়ে আপনার আত্মাকে পুষ্ট করুন, এবং তারা আপনাকে আশীর্বাদ করবে এবং আপনাকে আধ্যাত্মিক এবং অতিপ্রাকৃতিক বিষয়ে শিক্ষা দেবে।</p>
            <h2>ঈশ্বরের ভালবাসার শক্তিশালী পবিত্র ধর্মগ্রন্থ</h2>
          <section>
               <h3>1 করিন্থীয় 1:30</h3>
               <br> 
               <br>
               <p>আপনি খ্রীষ্ট যীশুতে আছেন যিনি আপনার জন্য ঈশ্বরের কাছ থেকে জ্ঞান, সেইসাথে ধার্মিকতা, পবিত্রতা এবং মুক্তি হয়েছিলেন।</p>
               <br>    
               <br>  
               <h3>জন 11:25-26</h3>
               <br>    
               <br>  
               <p>যীশু তাকে বললেন, “আমিই পুনরুত্থান ও জীবন। যে আমাকে বিশ্বাস করে সে মরে গেলেও বেঁচে থাকবে; এবং যে আমার উপর বিশ্বাস করে বেঁচে থাকে সে কখনো মরবে না। আপনি কি এটা বিশ্বাস করেন?"</p>
               <h3>রোমানস্ 8:2</h3>
               <br>    
               <br>  
               <p>খ্রীষ্ট যীশুর মাধ্যমে জীবনের আত্মার আইন আপনাকে পাপ ও মৃত্যুর আইন থেকে মুক্ত করেছে৷</p>
               <h3>রোমানস 10:9</h3>
               <br>    
               <br>  
               <p>আপনি যদি আপনার মুখে স্বীকার করেন যে যীশু প্রভু এবং আপনার হৃদয়ে বিশ্বাস করেন যে ঈশ্বর তাকে মৃতদের মধ্য থেকে জীবিত করেছেন, আপনি রক্ষা পাবেন।</p>
               <h3>রোমান 13:12</h3>
               <br>    
               <br>  
               <p>রাত অনেক দূরে; দিন হাতে আছে. তাই আসুন আমরা অন্ধকারের কাজগুলিকে ত্যাগ করি এবং আলোর বর্ম পরিধান করি।</p>
               <h3>রোমানস 15:13</h3>
               <br>    
               <br>  
               <p>আশার ঈশ্বর আপনাকে বিশ্বাসে সমস্ত আনন্দ ও শান্তিতে পূর্ণ করুন, যাতে পবিত্র আত্মার শক্তিতে আপনি আশায় পরিপূর্ণ হতে পারেন।</p>
               <h3>রোমান 16:20</h3>
               <br>    
               <br>  
               <p>শান্তির ঈশ্বর দ্রুত শয়তানকে আপনার পায়ের নিচে পিষে ফেলবেন। আমাদের প্রভু যীশু খ্রীষ্টের অনুগ্রহ তোমাদের সঙ্গে থাকুক৷</p>
               <h3>ম্যাথু 6:9</h3>
               <br>
               <p>চাও, তোমাকে দেওয়া হবে; খোঁজ, এবং আপনি. পাবে; ধাক্কা দাও, আর তোমাদের জন্য খুলে দেওয়া হবে৷ কারণ যে কেউ চায় সে পায়৷ এবং যে খুঁজছে. খুঁজে পায়; এবং যে ধাক্কা দেয় তার জন্য তা খুলে দেওয়া হবে৷</p>
               <h3>ম্যাথু 7:7</h3>
               <br>   
               <br>  
               <p>আমাদের পিতা যিনি স্বর্গে আছেন, তোমার নাম পবিত্র হোক, তোমার রাজ্য আসুক, তোমার ইচ্ছা যেমন স্বর্গে তেমনি পৃথিবীতেও পূর্ণ হোক। এই দিন আমাদের প্রতিদিনের রুটি দিন এবং আমাদের অপরাধ ক্ষমা করুন। যারা আমাদের বিরুদ্ধে অন্যায় করে আমরা তাদের ক্ষমা করি। এবং আমাদের প্রলোভনের মধ্যে নিয়ে যাবেন না কিন্তু মন্দ থেকে রক্ষা করুন।</p>
               <h3>ম্যাথু 28:19</h3>
               <br>    
               <br>  
               <p>অতএব যাও এবং জাতিদের শিষ্য কর, পিতা, পুত্র ও পবিত্র আত্মার নামে তাদের বাপ্তিস্ম দাও।</p>
               <h3>জন 3:16</h3>
               <br>    
               <br>  
               <p>ঈশ্বর জগৎকে এতটাই ভালোবাসলেন যে তিনি তাঁর একমাত্র পুত্রকে দিয়েছেন, যে কেউ তাঁকে বিশ্বাস করে ধ্বংস হবে না, কিন্তু অনন্ত জীবন পাবে।</p>
               <h3>জন 14:13</h3>
               <br>    
               <br>  
               <p>তোমরা আমার নামে যা কিছু চাইবে, আমি তা করব, যাতে পিতা পুত্রের মধ্যে মহিমান্বিত হন৷</p>
               <h3>2 করিন্থীয় 10:4-5</h3>
               <br>    
               <br>  
               <p>আমরা যে অস্ত্র দিয়ে যুদ্ধ করি তা এই পৃথিবীর নয়। বরঞ্চ, দুর্গগুলো ধ্বংস করার ঐশ্বরিক ক্ষমতা তাদের রয়েছে। আমরা ঈশ্বরের জ্ঞানের বিরুদ্ধে নিজেকে সেট করে এমন যুক্তি এবং প্রতিটি ভান ভেঙে ফেলি এবং খ্রীষ্টের বাধ্য করার জন্য আমরা প্রতিটি চিন্তাকে বন্দী করি।</p>
               <h3>গালাতীয় 5:22</h3>
               <br>    
               <br>  
               <p>আত্মার ফল হল প্রেম, আনন্দ, শান্তি, ধৈর্য, দয়া, ধার্মিকতা, বিশ্বস্ততা, ভদ্রতা এবং আত্মনিয়ন্ত্রণ; এই ধরনের জিনিস বিরুদ্ধে কোন আইন নেই.</p>
               <h3>ইফিষীয় 6:10-18</h3>
               <br>    
               <br>  
               <p>অবশেষে, প্রভুতে এবং তাঁর পরাক্রমশালী শক্তিতে বলবান হও। ঈশ্বরের সম্পূর্ণ বর্ম পরিধান করুন, যাতে আপনি শয়তানের পরিকল্পনার বিরুদ্ধে আপনার অবস্থান নিতে পারেন। কারণ আমাদের সংগ্রাম রক্তমাংসের বিরুদ্ধে নয়, বরং শাসকদের বিরুদ্ধে, কর্তৃপক্ষের বিরুদ্ধে, এই অন্ধকার জগতের শক্তির বিরুদ্ধে এবং স্বর্গীয় রাজ্যে মন্দের আধ্যাত্মিক শক্তির বিরুদ্ধে। অতএব, ঈশ্বরের পূর্ণ বর্ম পরিধান করুন, যাতে মন্দের দিন যখন আসে তখন আপনি আপনার মাটিতে দাঁড়াতে সক্ষম হন এবং আপনি সবকিছু করার পরেও দাঁড়াতে পারেন। তাহলে দৃঢ়ভাবে দাঁড়াও, তোমার কোমরে বেঁধে থাকা সত্যের বেল্ট, ধার্মিকতার বক্ষবন্ধনী তার জায়গায়, এবং তোমার পায়ে শান্তির সুসমাচার থেকে আসা প্রস্তুতির সাথে ফিট কর। এই সব ছাড়াও, বিশ্বাসের ঢাল নিন, যা দিয়ে আপনি শয়তানের সমস্ত জ্বলন্ত তীর নিভিয়ে দিতে পারেন। পরিত্রাণের শিরস্ত্রাণ নিন, এবং আত্মার তলোয়ার, যা ঈশ্বরের বাক্য। এবং সব ধরনের প্রার্থনা এবং অনুরোধের সাথে সমস্ত অনুষ্ঠানে আত্মার সাথে প্রার্থনা করুন৷</p>
               <h3>ফিলিপীয় 4:7</h3>
               <br>    
               <br>  
               <p>ঈশ্বরের শান্তি যা সমস্ত বোধগম্যতা অতিক্রম করে তা খ্রীষ্ট যীশুতে আপনার হৃদয় ও মন রক্ষা করবে৷</p>
               <h3>2 কলসীয় 1:12</h3>
               <br>    
               <br>  
               <p>পিতাকে ধন্যবাদ জানাই যিনি আপনাকে আলোতে পবিত্রের উত্তরাধিকারের অংশীদার হতে যোগ্য করেছেন।</p>
               <h3>1 থিসালনীকীয় 5:23</h3>
               <br>    
               <br>  
               <p>এখন শান্তির ঈশ্বর নিজেই আপনাকে সম্পূর্ণরূপে পবিত্র করুন এবং আমাদের প্রভু যীশু খ্রীষ্টের আগমনে আপনার সমস্ত আত্মা, আত্মা এবং দেহ নির্দোষ থাকুক।</p>
               <h3>2 টিমোথি 1:7</h3>
               <br>    
               <br>  
               <p>ঈশ্বর আমাদের ভীরুতার আত্মা দেননি, কিন্তু শক্তি, প্রেম এবং আত্ম-শৃঙ্খলার আত্মা দিয়েছেন।</p>
               <h3>হিব্রু 13:20</h3>
               <br>    
               <br>  
               <p>এখন শান্তির ঈশ্বর, যিনি শাশ্বত চুক্তির রক্তের মাধ্যমে মৃত আমাদের প্রভু যীশুকে ফিরিয়ে এনেছিলেন, মেষের সেই মহান শেপার্ড, তাঁর ইচ্ছা পালন করার জন্য আমাকে সব কিছু দিয়ে সজ্জিত করুন এবং তিনি আমাদের মধ্যে যা খুশি তা কাজ করুন। তাঁকে, যীশু খ্রীষ্টের মাধ্যমে, যাঁর মহিমা চিরকাল হোক৷ আমীন</p>
               <h3>1 জন 1:7</h3>
               <br>    
               <br>  
               <p>যদি আমরা আলোতে চলি, যেমন তিনি আলোতে আছেন, আমাদের একে অপরের সাথে সহভাগিতা আছে এবং ঈশ্বরের পুত্র যীশুর রক্ত আমাদের সমস্ত পাপ থেকে পরিষ্কার করে।</p>
               <h3>1 জন 3:3</h3>
               <br>    
               <br>  
               <p>যে কেউ এইভাবে যীশুতে আশা করে সে নিজেকে শুদ্ধ করে যেমন তিনি শুদ্ধ।</p>
            </section>
           <div class="center3"><a href="/bn/powerful-scripture/" aria-label="শীর্ষ লিঙ্কে ফিরে যান" title="শীর্ষ লিঙ্কে ফিরে যান">&nbsp;শীর্ষ<img src="/static/img/bn/back-to-top-link.webp" loading="lazy" alt="শীর্ষ লিঙ্কে ফিরে যান" width="48" height="48"></a></div>
            <br>
          </div>
      </div>
      </div>
         <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="অনুদান লিঙ্ক" title="অনুদান লিঙ্ক"><p>সাহায্য লিঙ্ক শেয়ার করুন</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/bn/contact-us/">আমাদেরকে ইমেইল করুন</a>
            <h4>আমাদের সাথে যোগাযোগ করুন</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/bn/" aria-label="ওয়েবসাইট হোমপেজ">হোম</a>
                  </li>
                    <li>
                     <a href="/bn/the-vision" aria-label="ভিশন">ভিশন</a>
                  </li>
                  <li>
                     <a href="/bn/spiritual-realms" aria-label="আধ্যাত্মিক রাজ্য">আধ্যাত্মিক রাজ্য</a>
                  </li>
                  <li>
                     <a href="/bn/soldiers-of-light" aria-label="আলোর সৈনিকরা">আলোর সৈনিকরা</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/bn/guardian-angels" aria-label="গার্ডিয়ান এঞ্জেলস">গার্ডিয়ান এঞ্জেলস</a>
                  </li>
                  <li>
                     <a href="/bn/living-light" aria-label="লিভিং লাইট">লিভিং লাইট</a>
                  </li>
                  <li>
                     <a href="/bn/heavenly-realms" aria-label="স্বর্গের অঞ্চল">স্বর্গের অঞ্চল</a>
                  </li>
                  <li>
                     <a href="/bn/unconditional-love" aria-label="নিঃশর্ত ভালবাসা">নিঃশর্ত ভালবাসা</a>
                  </li>
                  <li>
                     <a href="/bn/about-us" aria-label="আমাদের সম্পর্কে">আমাদের সম্পর্কে</a>
                  </li>
                  <li>
                     <a href="/bn/ebook" aria-label="ই-বুক">ই-বুক</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/bn/share-the-faith" aria-label="বিশ্বাস শেয়ার করুন">বিশ্বাস শেয়ার করুন</a>
                  </li>
                  <li>
                     <a href="/bn/powerful-scripture" aria-label="শক্তিশালী শাস্ত্র">শক্তিশালী শাস্ত্র</a>
                  </li>
                  <li>
                     <a href="/bn/prayer-request" aria-label="প্রার্থনার অনুরোধ">প্রার্থনার অনুরোধ</a>
                  </li>
                  <li>
                     <a href="/bn/terms" aria-label="ব্যবহারের শর্তাবলী">ব্যবহারের শর্তাবলী</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/bn/facebook-24.webp" title="ফেসবুক আইকন লিঙ্ক" alt="ফেসবুক আইকন লিঙ্ক" aria-label="ফেসবুক আইকন লিঙ্ক" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/bn/twitter-24.webp" title="টুইটার আইকন লিঙ্ক" alt="টুইটার আইকন লিঙ্ক" aria-label="টুইটার আইকন লিঙ্ক" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/bn/instagram-24.webp" title="ইনস্টাগ্রাম আইকন লিঙ্ক" alt="ইনস্টাগ্রাম আইকন লিঙ্ক" aria-label="ইনস্টাগ্রাম আইকন লিঙ্ক" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/bn/pinterest-24.webp" title="Pinterest আইকন লিঙ্ক" alt="Pinterest আইকন লিঙ্ক" aria-label="Pinterest আইকন লিঙ্ক" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/bn/snapchat-24.webp" title="স্ন্যাপচ্যাট আইকন লিঙ্ক" alt="স্ন্যাপচ্যাট আইকন লিঙ্ক" aria-label="স্ন্যাপচ্যাট আইকন লিঙ্ক" width="24" height="24"></a>
         </div>
         <p>&copy;কপিরাইট 2024 holymercy.com/bn/ সর্বস্বত্ব সংরক্ষিত।</p>
            <div class="legal__links"> 
            <span>সাথে থাকুন; holymercy সন্ত্রস্ত পেতে সম্পর্কে!</span>
            </div> 
         </footer>
        <!--google translate-->
      <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'bn', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    //]]>
            </script>
            <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </span>
<!-- Google next gen tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/bn/add-service-worker.js"></script>
 <script src="/static/js/bn/service-worker.js"></script>
</body>
</html>