<!doctype html>
<html lang="en-in">
   <head>
      <meta name="robots" content="index, follow">
      <title>Powerful Holy Scripture: Sustenance for the Light of the Soul</title>
      <meta name="description" content="The Holy Scriptures are the powerful words of God that connect our hearts, spirits, and souls with God, Christ, and the Holy Spirit">
      <meta charset="utf-8">
      <link rel="canonical" href="/en-in/powerful-scripture/">
        <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/en-in/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/en-in/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
   <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/en-in/manifest.json">
      <meta name="theme-color" content="#673596">
      <link rel="icon" type="image/webp" href="/static/img/en-in/maskable_icon_512.webp" sizes="512x512">
      <link rel="icon" type="image/webp" href="/static/img/en-in/icon-256.webp" sizes="256x256">
      <link rel="icon" type="image/webp" href="/static/img/en-in/maskable_icon_192.webp" sizes="192x192">
      <link rel="icon" type="image/webp" href="/static/img/en-in/icon-128.webp" sizes="128x128">
      <link rel="icon" type="image/webp" href="/static/img/en-in/icon-64.webp" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="Powerful Holy Scripture: Sustenance for the Light of the Soul">
      <meta property="og:site_name" content="holymercy">
      <meta property="og:url" content="https://holymercy.com/en-in/powerful-scripture/">
      <meta property="og:description" content="The Holy Scriptures are the powerful words of God that connect our hearts, spirits, and souls with God, Christ, and the Holy Spirit">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/en-in/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com/en-in/">
      <meta property="twitter:url" content="https://holymercy.com/en-in/powerful-scripture/">
      <meta name="twitter:title" content="Powerful Holy Scripture: Sustenance for the Light of the Soul">
      <meta name="twitter:description" content="The Holy Scriptures are the powerful words of God that connect our hearts, spirits, and souls with God, Christ, and the Holy Spirit">
      <meta name="twitter:image" content="/static/img/en-in/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/en-in/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/en-in/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/en-in/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/en-in/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
      <header>
         <ul>
            <li><a href="/en-in/"><img class="logo" src="/static/img/en-in/holymercy-logo.webp" loading="lazy" id="logo" alt="Top left Navigation Bar Logo" aria-label="Top left Navigation Bar Logo" width="68" height="39"></a></li>
            <li><a href="/en-in/" aria-label="Website Homepage">Home</a></li>
            <li>
               <a href="#" aria-label="The Circle of Love's chapters">Chapters</a>
               <ul>
                  <li><a href="/en-in/the-vision" aria-label="The Vision">The Vision</a></li>
                  <li><a href="/en-in-spiritual-realms" aria-label="Spiritual Realms">Spiritual Realms</a></li>
                  <li><a href="/en-in-soldiers-of-light" aria-label="Soldiers of Light">Soldiers of Light</a></li>
                  <li><a href="/en-in-guardian-angels" aria-label="Guardian Angels">Guardian Angels</a></li>
                  <li><a href="/en-in-living-light" aria-label="Living Light">Living Light</a></li>
                  <li><a href="/en-in-unconditional-love" aria-label="Unconditional Love">Unconditional Love</a></li>
                  <li><a href="/en-in-heavenly-realms" aria-label="Heavenly Realms">Heavenly Realms</a></li>
               </ul>
            <li><a href="/en-in/about-us" aria-label="About Us">About</a></li>
            <li><a href="/en-in/ebook" aria-label="E-book">E-book</a></li>
            <li>
               <a href="#" aria-label="Share Link">Share</a>	
               <ul>
                  <li><a href="/en-in/share-the-faith" aria-label="Share the Faith">Share the Faith</a></li>
                  <li><a href="/en-in/powerful-scripture" aria-label="Powerful Scripture">Powerful Scripture</a></li>
                  <li><a href="/en-in/prayer-request" aria-label="Prayer Request"> Prayer Request</a></li>
                  <li><a href="/en-in/contact-us/" aria-label="Contact Us">Contact Us</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
      <div id="google_translate_element" title="google translate pick language button"></div>
      <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>Divine Words of God, Jesus Christ, and the Holy Spirit</h1>
         <div class="centercandles">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
            <img src="/static/img/en-in/leftside-candle-gif.webp" loading="lazy" title="Candles symbolize prayer, faith, and the presence of Christ, the light of the world GIF" alt="Candles symbolize prayer, faith, and the presence of Christ, the light of the world GIF" aria-label="Candles symbolize prayer, faith, and the presence of Christ, the light of the world GIF" width="100" height="208">
            <img src="/static/img/en-in/angel-applauding.webp" loading="lazy" title="Stained Glass Applauding Angel of God Image" alt="Stained Glass Applauding Angel of God Image" aria-label="Stained Glass Applauding Angel of God Image" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/en-in/rightside-candle-gif.webp" loading="lazy" title="Prayers said in the need of divine intervention, blessings, and guidance Candle GIF" alt="Prayers said in the need of divine intervention, blessings, and guidance Candle GIF" aria-label="Prayers said in the need of divine intervention, blessings, and guidance Candle GIF" width="100" height="208">
            <br>    
            <br>  
         </div> 
         <br>    
         <br> 
         <div class="header">
            <p>Nourish your soul with the bliss of the Holy Scriptures, and they will bless you and teach you about the spiritual and supernatural.</p>
            <h2>Powerful Holy Scriptures of God's Love</h2>
            <section>
               <h3>1 Corinthians 1:30</h3>
               <br> 
               <br>
               <p>You are in Christ Jesus who became for you wisdom from God, as well as righteousness, sanctification and redemption.</p>
               <br>    
               <h3>John 11:25-26</h3>
               <br>    
               <br>  
               <p>Jesus said to her, “I am the resurrection and the life. The one who believes in me will live, even though they die; and whoever lives by believing in me will never die. Do you believe this?”,</p>
               <h3>Romans 8:2</h3>
               <br>    
               <br>  
               <p>Through Christ Jesus the law of the Spirit of life has set you free from the law of sin and death.</p>
               <h3>Romans 10:9</h3>
               <br>    
               <br>  
               <p>If you confess with your mouth that Jesus is Lord and believe in your heart that God raised him from the dead, you will be saved.</p>
               <h3>Romans 13:12</h3>
               <br>    
               <br>  
               <p>The night is far gone; the day is at hand. So then let us cast off the deeds of darkness and put on the armor of light.</p>
               <h3>Romans 15:13 </h3>
               <br>    
               <br>  
               <p>May the God of hope fill you with all joy and peace in believing, so that by the power of the Holy Spirit you may abound in hope. </p>
               <h3>Romans 16:20</h3>
               <br>    
               <br>  
               <p>The God of peace will quickly crush Satan under your feet. The grace of our Lord Jesus Christ be with you.</p>
               <h3>Mathew 6:9</h3>
               <br>
               <p>Ask, and it shall be given you; seek, and ye. shall find; knock, and it shall be opened unto you: For every 
                  one that asketh receiveth; and he that seeketh. findeth; and to him that knocketh it shall be opened.</p>
               <h3>Mathew 7:7</h3>
               <br>   
               <br>  
               <p>Our Father who art in Heaven, haloed be thy name, thy kingdom come, thy will be done on earth as it is in Heaven. Give us this day our daily bread and forgive us our trespasses. As we forgive those who trespass against us. And lead us not into temptation but deliver us from evil.</p>
               <h3>Mathew 28:19 </h3>
               <br>    
               <br>  
               <p>Go therefore and make disciples of the nations, baptizing them in the name of the Father, and the Son, and the Holy Spirit.</p>
               <h3>John 3:16 </h3>
               <br>    
               <br>  
               <p>God so loved the world that he gave his one and only son, that whoever believes in him shall not perish, but have eternal life.</p>
               <h3>John 14:13</h3>
               <br>    
               <br>  
               <p>Whatever you ask in my name, I will do it, so that the Father may be glorified in the Son.</p>
               <h3>2 Corinthians 10:4-5</h3>
               <br>    
               <br>  
               <p>The weapons we fight with are not of this world. On the contrary, they have divine power to demolish strongholds. We demolish arguments and every pretension that sets itself up against the knowledge of God, and we take captive every thought to make it obedient to Christ.</p>
               <h3>Galatians 5:22</h3>
               <br>    
               <br>  
               <p>The fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faithfulness, gentleness and self-control; against such things there is no law.</p>
               <h3>Ephesians 6:10-18</h3>
               <br>    
               <br>  
               <p>Finally, be strong in the Lord and in his mighty power. Put on the full armor of God, so that you can take your stand against the devil’s schemes. For our struggle is not 
                  against flesh and blood, but against the rulers, against the authorities, against the powers of this dark world and against the spiritual forces of evil in the heavenly 
                  realms. Therefore, put on the full armor of God, so that when the day of evil comes you may be able to stand your ground, and after you have done everything, to stand. 
                  Stand firm then, with the belt of truth buckled around your waist, with the breastplate of righteousness in its place, and with your feet fitted with the readiness that 
                  comes from the gospel of peace. In addition to all this, take up the shield of faith, with which you can extinguish all the flaming arrows of the evil one. Take the
                  helmet of salvation, and the sword of the Spirit, which is the word of God. And pray in the Spirit in all occasions with all kinds of prayers and requests.</p>
               <h3>Philippians 4:7</h3>
               <br>    
               <br>  
               <p>The peace of God which transcends all understanding will guard your hearts and your minds in Christ Jesus.</p>
               <h3>2 Colossians 1:12 </h3>
               <br>    
               <br>  
               <p>Giving thanks to the Father who has qualified you to share in the inheritance of the holy one’s in light.</p>
               <h3>1 Thessalonians 5:23</h3>
               <br>    
               <br>  
               <p>Now may the God of peace himself sanctify you completely, and may your whole spirit and soul and body be kept blameless at the coming of our Lord Jesus Christ.</p>
               <h3>2 Timothy 1:7</h3>
               <br>    
               <br>  
               <p>God did not give us a spirit of timidity, but of power, of love and of self-discipline.</p>
               <h3>Hebrews 13:20</h3>
               <br>    
               <br>  
               <p>Now may the God of peace, who through the blood of the eternal covenant brought back the dead our Lord Jesus, that great Shepard of the sheep, equip me with everything good for doing his will, and may he work in us what is pleasing to him, through Jesus Christ, to whom be glory for ever and ever. Amen</p>
               <h3>1 John 1:7</h3>
               <br>    
               <br>  
               <p>If we walk in the light, as he is in the light, we have fellowship with one another, and the blood of Jesus God’s son cleanses us from all sin.</p>
               <h3>1 John 3:3</h3>
               <br>    
               <br>  
               <p>Anyone who thus hopes in Jesus purifies himself as he is pure.</p>
            </section>
          <div class="center3"><a href="/en-in/powerful-scripture/" aria-label="Back to Top Link" title="Back to Top Link">&nbsp;Top<img src="/static/img/en-in/back-to-top-link.webp" loading="lazy" alt="Back to Top Link" width="48" height="48"></a></div>
            <br>
          </div>
      </div>
      </div>
      <footer class="footer">
            <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Donation Link" title="Donation Link"><p>Help Share Link</p></a>
         <div class="footer__addr">
               <br>
               <a class="footer__btn" href="/en-in/contact-us/">Email Us</a>
               <h4>Contact</h4>
            </div>
            <ul class="footer__nav">
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/en-in/" aria-label="Website Homepage">Home</a>
                     </li>
                     <li>
                        <a href="/en-in/the-vision" aria-label="The Vision">The Vision</a>
                     </li>
                     <li>
                        <a href="/en-in-spiritual-realms" aria-label="Spiritual Realms">Spiritual Realms</a>
                     </li>
                     <li>
                        <a href="/en-in-soldiers-of-light" aria-label="Soldiers of Light">Soldiers of Light</a>
                      
                     </li>
                  </ul>
               </li>
               <li class="nav__item nav__item--extra">
                  <ul class="nav__ul nav__ul--extra">
                     <li>
                        <a href="/en-in-guardian-angels" aria-label="Guardian Angels">Guardian Angels</a>
                     </li>
                     <li>
                        <a href="/en-in-living-light" aria-label="Living Light">Living Light</a>
                     </li>
                     <li>
                        <a href="/en-in-heavenly-realms" aria-label="Heavenly Realms">Heavenly Realms</a>
                     </li>
                     <li>
                        <a href="/en-in-unconditional-love" aria-label="Unconditional Love">Unconditional Love</a>
                     </li>
                     <li>
                        <a href="/en-in/about-us" aria-label="About">About</a>
                     </li>
                     <li>
                        <a href="/en-in/ebook" aria-label="E-book">E-book</a>
                     </li>
                  </ul>
               </li>
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/en-in/share-the-faith" aria-label="Share the Faith">Share the Faith</a>
                     </li>
                     <li>
                        <a href="/en-in/powerful-scripture" aria-label="Powerful Scripture">Powerful Scripture</a>
                     </li>
                     <li>
                        <a href="/en-in/prayer-request" aria-label="Prayer Request">Prayer Request</a>
                     </li>
                     <li>
                        <a href="/en-in/terms" aria-label="Terms of Use">Terms of Use</a>
                     </li>
                  </ul>
               </li>
            </ul>
            <div class="legal">
               <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/en-in/facebook-24.webp" title="Facebook Icon Link" alt="Facebook Icon Link" aria-label="Facebook Icon Link" width="24" height="24"></a> 
               <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-in/twitter-24.webp" title="Twitter Icon Link" alt="Twitter Icon Link" aria-label="Twitter Icon Link" width="24" height="24"></a>
               <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-in/instagram-24.webp" title="Instagram Icon Link" alt="Instagram Icon Link" aria-label="Instagram Icon Link" width="24" height="24"></a>
               <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-in/pinterest-24.webp" title="Pinterest Icon Link" alt="Pinterest Icon Link" aria-label="Pinterest Icon Link" width="24" height="24"></a>
               <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/en-in/snapchat-24.webp" title="Snapchat Icon Link" alt="Snapchat Icon Link" aria-label="Snapchat Icon Link" width="24" height="24"></a>
            </div>
            <p>&copy;Copyright 2024 holymercy.com/en/ All rights reserved.</p>
               <div class="legal__links"> 
               <span>Stay in touch; holymercy's about to get awesome!</span>
               </div> 
            </footer>
           <!--google translate-->
         <span>
               <script>
       //<![CDATA[
       function googleTranslateElementInit() {
         new google.translate.TranslateElement({
           pageLanguage: 'en', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
           layout: google.translate.TranslateElement.InlineLayout.SIMPLE
         }, 'google_translate_element');
       }
       //]]>
               </script>
               <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
           </span>
   <!-- Google next gen tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-9YTTLPE2DX');
   </script>
    <script src="/static/js/en-in/add-service-worker.js"></script>
    <script src="/static/js/en-in/service-worker.js"></script>
  </body>
   </html>