<!doctype html>
<html lang="id-id">
   <head>
      <meta name="robots" content="index, follow">
      <title>Dukungan rohani, nasihat, permohonan doa, dan pertanyaan alkitabiah</title>
      <meta name="description" content="Hubungi kami mengenai bantuan spiritual. Kami memberikan dukungan dan nasihat, menerima permohonan doa dan menjawab pertanyaan-pertanyaan alkitabiah tentang Tuhan.">
      <meta charset="utf-8">
      <link rel="canonical" href="/id-id/contact-us/">
        <link rel="alternate" hreflang="x-default" href="/contact-us/">
      <link rel="alternate" hreflang="en-us" href="/contact-us/">  
      <link rel="alternate" hreflang="en" href="/en/contact-us/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/contact-us/">
      <link rel="alternate" hreflang="en-in" href="/en-in/contact-us/">
      <link rel="alternate" hreflang="es" href="/es/contact-us/">
      <link rel="alternate" hreflang="es-es" href="/es-es/contact-us/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/contact-us/">
      <link rel="alternate" hreflang="es-co" href="/es-co/contact-us/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/contact-us/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/contact-us/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/contact-us/"> 
      <link rel="alternate" hreflang="zh" href="/zh/contact-us/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/contact-us/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/contact-us/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/contact-us/"> 
      <link rel="alternate" hreflang="hi" href="/hi/contact-us/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/contact-us/">
      <link rel="alternate" hreflang="fr" href="/fr/contact-us/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/contact-us/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/contact-us/"> 
      <link rel="alternate" hreflang="pt" href="/pt/contact-us/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/contact-us/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/contact-us/">
      <link rel="alternate" hreflang="de" href="/de/contact-us/">
      <link rel="alternate" hreflang="de-de" href="/de-de/contact-us/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/contact-us/">
      <link rel="alternate" hreflang="id-id" href="/id-id/contact-us/">
      <link rel="alternate" hreflang="ar" href="/ar/contact-us/">
      <link rel="alternate" hreflang="bn" href="/bn/contact-us/"> 
      <link rel="alternate" hreflang="ko" href="/ko/contact-us/">
      <link rel="alternate" hreflang="ru" href="/ru/contact-us/">
      <link rel="alternate" hreflang="ur" href="/ur/contact-us/">    
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/id-id/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/id-id/styles.css" rel="stylesheet" type="text/css">
      <link href="/static/css/id-id/contact.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
      <!--Google Fonts-put off the loading of render blocking CSS-->  
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/id-id/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/id-id/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/id-id/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/id-id/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/id-id/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/id-id/icon-64.png" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
     <meta property="og:title" content="Dukungan rohani, nasihat, permohonan doa, dan pertanyaan alkitabiah">
     <meta property="og:site_name" content="belas kasihan suci">
     <meta property="og:url" content="https://holymercy.com/id-id/contact-us/">
     <meta property="og:description" content="Hubungi kami mengenai bantuan spiritual. Kami memberikan dukungan dan nasihat, menerima permohonan doa dan menjawab pertanyaan-pertanyaan alkitabiah tentang Tuhan.">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/id-id/angel-from-christ-meta.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/id-id/">
     <meta property="twitter:url" content="https://holymercy.com/id-id/contact-us/">
     <meta name="twitter:title" content="Dukungan rohani, nasihat, permohonan doa, dan pertanyaan alkitabiah">
     <meta name="twitter:description" content="Hubungi kami mengenai bantuan spiritual. Kami memberikan dukungan dan nasihat, menerima permohonan doa dan menjawab pertanyaan-pertanyaan alkitabiah tentang Tuhan.">
     <meta name="twitter:image" content="/static/img/id-id/angel-from-christ-meta.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/id-id/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/id-id/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/id-id/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/id-id/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
      <header>
         <ul>
            <li><a href="/id-id/"><img class="logo" src="/static/img/id-id/holymercy-logo.webp" loading="lazy" id="logo" alt="Logo Bilah Navigasi kiri atas" aria-label="Logo Bilah Navigasi kiri atas" width="68" height="39"></a></li>
            <li><a href="/id-id/" aria-label="Rumah">Rumah</a></li>
            <li><a href="#" aria-label="Bab-bab Lingkaran Cinta">Bab</a>
               <ul>
                  <li><a href="/id-id/the-vision" aria-label="Visi Tersebut">Visi Tersebut</a></li>
                  <li><a href="/id-id/spiritual-realms" aria-label="Alam Spiritual">Alam Spiritual</a></li>
                  <li><a href="/id-id/soldiers-of-light" aria-label="Prajurit Cahaya">Prajurit Cahaya</a></li>
                  <li><a href="/id-id/guardian-angels" aria-label="Malaikat Pelindung">Malaikat Pelindung</a></li>
                  <li><a href="/id-id/living-light" aria-label="Cahaya Hidup">Cahaya Hidup</a></li>
                  <li><a href="/id-id/unconditional-love" aria-label="Cinta Tanpa Syarat">Cinta Tanpa Syarat</a></li>
                  <li><a href="/id-id/heavenly-realms" aria-label="Alam Surgawi">Alam Surgawi</a></li>
               </ul>
            <li><a href="/id-id/about-us" aria-label="Tentang">Tentang</a></li>
            <li><a href="/id-id/ebook" aria-label="E-buku">E-buku</a></li>
            <li><a href="#" aria-label="Membagikan">Membagikan</a>	
               <ul>
                  <li><a href="/id-id/share-the-faith" aria-label="Bagikan Iman">Bagikan Iman</a></li>
                  <li><a href="/id-id/powerful-scripture" aria-label="Kitab Suci Yang Kuat">Kitab Suci Yang Kuat</a></li>
                  <li><a href="/id-id/prayer-request" aria-label="Permintaan Doa">Permintaan Doa</a></li>
                  <li><a href="/id-id/contact-us/" aria-label="Hubungi Kami">Hubungi Kami</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--Google Translate Top-->
       <div id="google_translate_element" title="Tombol pilih bahasa Google Terjemahan"></div>>
       <div id="images_hz" class="center-align">
      <div id="font-type">
		  <h1>Untuk dukungan spiritual, nasihat, permohonan doa, dan pertanyaan alkitabiah</h1>
         <br>
         <br>
      <br>                                     
      <img src="/static/img/id-id/dove-stained-glass.webp" loading="lazy" class="contact-dove" title="Merpati Simbol Roh Kudus Turun" aria-label="Merpati Simbol Roh Kudus Turun" alt="Merpati Simbol Roh Kudus Turun" width="299" height="289">
      <br>
      <br>
      <p>Hubungi kami jika ada masalah spiritual atau supranatural. Kami ingin membantu Anda dengan cara apa pun yang kami bisa. Kami memiliki jawaban yang akan membantu Anda dan memberi Anda kenyamanan. Umat Kristiani diharapkan untuk saling membantu. Kita semua mempunyai pertanyaan rohani, dan terkadang jawabannya sulit ditemukan tanpa bantuan. Kita semua di sini untuk mempelajari segala sesuatu yang kita bisa tentang kebenaran rohani dan pertumbuhan untuk lebih dekat dengan Surga dan Tuhan. Kita harus menanggapi hal ini dengan serius; kita hanya berada di dunia ini untuk waktu yang singkat. Kami selalu siap membantu. Anda akan tetap anonim, dan privasi Anda akan selalu dirahasiakan. Situs web ini menggunakan fitur keamanan optimal dan enkripsi aman untuk transfer email.
      </p>
      <h2>Hubungi kami; kesejahteraan spiritual Anda penting bagi kami</h2>
      </div>
      <br><br>   
      <div class="wrapper">
         <form class="contact-form" action="/id-id/contact-submit/"  method="post">{% csrf_token %}
            <div class="input-fields">
               <input name="name" id="name" type="text" class="input" placeholder="Nama" required>
               <input name="email" id="mail" type="email" class="input" placeholder="Alamat email" required>
               <input name="subject" id="subject" type="text" class="input" placeholder="Subjek" required>
               <input name="lang" id="lang" type="hidden" value="/id-id/contact-us/">
            </div>
            <div class="msg">
               <textarea name="message" placeholder="Pesan" required></textarea>
            </div>
            <input type="submit" name="submit" value="kirim">
         </form>
      </div>
      <br><br><br><br> 
         </div>
         <footer class="footer">
            <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Tautan Donasi" title="Tautan Donasi"><p>Bantu Bagikan Tautan</p></a>
         <div class="footer__addr">
               <br>
               <a class="footer__btn" href="/id-id/contact-us/" aria-label="Hubungi Kami">Hubungi Kami</a>
               <h4>E-mail</h4>
            </div>
            <ul class="footer__nav">
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/id-id/" aria-label="Beranda Situs Web">Beranda</a>
                     </li>
                     <li>
                        <a href="/id-id/the-vision" aria-label="Visi Tersebut">Visi Tersebut</a>
                     </li>
                     <li>
                        <a href="/id-id/spiritual-realms" aria-label="Alam Spiritual">Alam Spiritual</a>
                     </li>
                     <li>
                        <a href="/id-id/soldiers-of-light" aria-label="Prajurit Cahaya">Prajurit Cahaya</a>
                      </li>
                  </ul>
               </li>
               <li class="nav__item nav__item--extra">
                  <ul class="nav__ul nav__ul--extra">
                     <li>
                        <a href="/id-id/guardian-angels" aria-label="Malaikat Pelindung">Malaikat Pelindung</a>
                     </li>
                     <li>
                        <a href="/id-id/living-light" aria-label="Cahaya Hidup">Cahaya Hidup</a>
                     </li>
                     <li>
                        <a href="/id-id/heavenly-realms" aria-label="Alam Surgawi">Alam Surgawi</a>
                     </li>
                     <li>
                        <a href="/id-id/unconditional-love" aria-label="Cinta Tanpa Syarat">Cinta Tanpa Syarat</a>
                     </li>
                     <li>
                        <a href="/id-id/about-us" aria-label="Tentang">Tentang</a>
                     </li>
                     <li>
                        <a href="/id-id/ebook" aria-label="E-buku">E-buku</a>
                     </li>
                  </ul>
               </li>
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/id-id/share-the-faith" aria-label="Bagikan Iman">Bagikan Iman</a>
                     </li>
                     <li>
                        <a href="/id-id/powerful-scripture" aria-label="Kitab Suci Yang Kuat">Kitab Suci Yang Kuat</a>
                     </li>
                     <li>
                        <a href="/id-id/prayer-request" aria-label="Permintaan Doa">Permintaan Doa</a>
                     </li>
                     <li>
                        <a href="/id-id/terms" aria-label="Syarat Penggunaan">Syarat Penggunaan</a>
                     </li>
                  </ul>
               </li>
            </ul>
            <div class="legal">
               <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/id-id/facebook-24.webp" title="Tautan Ikon Facebook" alt="Tautan Ikon Facebook" aria-label="Tautan Ikon Facebook" width="24" height="24"></a> 
               <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/id-id/twitter-24.webp" title="Tautan Ikon Twitter" alt="Tautan Ikon Twitter" aria-label="Tautan Ikon Twitter" width="24" height="24"></a>
               <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/id-id/instagram-24.webp" title="Tautan Ikon Instagram" alt="Tautan Ikon Instagram" aria-label="Tautan Ikon Instagram" width="24" height="24"></a>
               <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/id-id/pinterest-24.webp" title="Tautan Ikon Pinterest" alt="Tautan Ikon Pinterest" aria-label="Tautan Ikon Pinterest" width="24" height="24"></a>
               <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/id-id/snapchat-24.webp" title="Tautan Ikon Snapchat" alt="Tautan Ikon Snapchat" aria-label="Tautan Ikon Snapchat" width="24" height="24"></a>
            </div>
             <p>&copy;Hak Cipta 2024 Holymercy.com/id-id/ Seluruh hak cipta.</p>
               <div class="legal__links"> 
               <span>Tetap berhubungan; Holymercy akan menjadi luar biasa!</span>
               </div> 
            </footer>
               <!--google translate-->
            <span>
              <script>
      //<![CDATA[
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'idid', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
      }
      //]]>
              </script>
              <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </span>
         <!-- Google next gen tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-9YTTLPE2DX');
         </script>
        <script src="/static/js/id-id/add-service-worker.js"></script>
        <script src="/static/js/id-id/service-worker.js"></script>
      </body>
      </html>