<!doctype html>
<html lang="hi-in">
   <head>
      <meta name="robots" content="noindex">
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex">
      <title>अपने 'सर्कल ऑफ लव' अकाउंट में लॉग इन करें</title>
      <meta name="description" content="अपने 'द सर्कल ऑफ लव' ई-बुक सदस्यता लॉगिन के साथ एक व्यक्ति की आध्यात्मिक प्रेरणा और आस्था की सच्चाइयों को खोजने की उसकी खोज का पता लगाएं।">
      <meta charset="utf-8">
      <link rel="canonical" href="/hi-in/login/">
      <link rel="alternate" hreflang="x-default" href="/login/">
      <link rel="alternate" hreflang="en-us" href="/login/">  
      <link rel="alternate" hreflang="en" href="/en/login/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/login/">
      <link rel="alternate" hreflang="en-in" href="/en-in/login/">
      <link rel="alternate" hreflang="es" href="/es/login/">
      <link rel="alternate" hreflang="es-es" href="/es-es/login/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/login/">
      <link rel="alternate" hreflang="es-co" href="/es-co/login/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/login/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/login/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/login/"> 
      <link rel="alternate" hreflang="zh" href="/zh/login/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/login/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/login/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/login/"> 
      <link rel="alternate" hreflang="hi" href="/hi/login/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/login/">
      <link rel="alternate" hreflang="fr" href="/fr/login/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/login/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/login/"> 
      <link rel="alternate" hreflang="pt" href="/pt/login/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/login/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/login/">
      <link rel="alternate" hreflang="de" href="/de/login/">
      <link rel="alternate" hreflang="de-de" href="/de-de/login/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/login/">
      <link rel="alternate" hreflang="id-id" href="/id-id/login/">
      <link rel="alternate" hreflang="ar" href="/ar/login/">
      <link rel="alternate" hreflang="bn" href="/bn/login/">
      <link rel="alternate" hreflang="ko" href="/ko/login">
      <link rel="alternate" hreflang="ru" href="/ru/login">
      <link rel="alternate" hreflang="ur" href="/ur/login">    
  <!--favican-->
  <link rel="icon" type="image/x-icon" href="/static/img/hi-in/favicon.ico" sizes="32x32">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/hi-in/styles.css" rel="stylesheet" type="text/css">
  <!--Improve page load speed with preconnect-->
  <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
  <!--Google Fonts-put off the loading of render blocking CSS-->    
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
  <!--Web app manifest-->
  <link rel="manifest" href="/static/js/hi-in/manifest.json">  
  <meta name="theme-color" content="#0808ed">
  <link rel="icon" type="image/png" href="/static/img/hi-in/maskable_icon_512.png" sizes="512x512">
  <link rel="icon" type="image/png" href="/static/img/hi-in/icon-256.png" sizes="256x256">
  <link rel="icon" type="image/png" href="/static/img/hi-in/maskable_icon_192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/hi-in/icon-128.png" sizes="128x128">
  <link rel="icon" type="image/png" href="/static/img/hi-in/icon-64.png" sizes="64x64">
  <!--end manifest--> 
  <!--Materialize-->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
   <!-- Open Graph Meta Tags - Facebook Meta Tags -->
   <meta property="og:title" content="अपने 'सर्कल ऑफ लव' अकाउंट में लॉग इन करें">
   <meta property="og:site_name" content="पवित्र दया">
   <meta property="og:url" content="https://holymercy.com/hi-in/login">
   <meta property="og:description" content="अपने 'द सर्कल ऑफ लव' ई-बुक सदस्यता लॉगिन के साथ एक व्यक्ति की आध्यात्मिक प्रेरणा और आस्था की सच्चाइयों को खोजने की उसकी खोज का पता लगाएं।">
   <meta property="og:type" content="website">
   <meta property="og:image" content="/static/img/hi-in/spirit-dove-meta.webp">
   <!-- Open Graph Meta Tags - Twitter Meta Tags -->
   <meta name="twitter:card" content="summary_large_image">
   <meta property="twitter:domain" content="holymercy.com/hi-in/">
   <meta property="twitter:url" content="https://holymercy.com/hi-in/login">
   <meta name="twitter:title" content="अपने 'सर्कल ऑफ लव' अकाउंट में लॉग इन करें">
   <meta name="twitter:description" content="अपने 'द सर्कल ऑफ लव' ई-बुक सदस्यता लॉगिन के साथ एक व्यक्ति की आध्यात्मिक प्रेरणा और आस्था की सच्चाइयों को खोजने की उसकी खोज का पता लगाएं।">
   <meta name="twitter:image" content="/static/img/hi-in/spirit-dove-meta.web">
  <!-- End Open Graph Meta Tags -->
  <!--ahref-->
  <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
  <meta name="ahrefs-site-verification" content="d9f39ebb1c652465540776bc69dd411e9ba90293f30344939b026700d292ea5f">
  <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
  <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
  <!--apple touch icons-->
  <link href="/static/img/hi-in/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
  <link href="/static/img/hi-in/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
  <link href="/static/img/hi-in/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
  <link href="/static/img/hi-in/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
    <body>
      <header>
         <ul>
            <li><a href="/hi-in/"><img class="logo" src="/static/img/hi-in/holymercy-logo.webp" loading="lazy" id="logo" alt="शीर्ष बाएँ नेविगेशन बार लोगो" aria-label="शीर्ष बाएँ नेविगेशन बार लोगो" width="68" height="39"></a></li>
            <li><a href="/hi-in/" aria-label="वेबसाइट होमपेज">घर</a></li>
            <li><a href="#" aria-label="प्रेम के चक्र के अध्याय">अध्याय</a>
               <ul>
                <li><a href="/hi-in/the-vision" aria-label="द विजन">द विजन</a></li>
                  <li><a href="/hi-in/spiritual-realms" aria-label="आध्यात्मिक रियल्म्स">आध्यात्मिक रियल्म्स</a></li>
                  <li><a href="/hi-in/soldiers-of-light" aria-label="प्रकाश के सैनिक">प्रकाश के सैनिक</a></li>
                  <li><a href="/hi-in/guardian-angels" aria-label="अभिभावक स्वर्गदूतों">अभिभावक स्वर्गदूतों</a></li>
                  <li><a href="/hi-in/living-light" aria-label="जीवित प्रकाश">जीवित प्रकाश</a></li>
                  <li><a href="/hi-in/unconditional-love" aria-label="बिना शर्त प्रेम">बिना शर्त प्रेम</a></li>
                  <li><a href="/hi-in/heavenly-realms" aria-label="स्वर्गीय रियल्म्स">स्वर्गीय रियल्म्स</a></li>
               </ul>
            <li><a href="/hi-in/about-us" aria-label="हमारे बारे में">के बारे में</a></li>
            <li><a href="/hi-in/ebook" aria-label="ई-पुस्तक">ई-पुस्तक</a></li>
              <li><a href="#" aria-label="लिंक शेयर करें">शेयर करना</a>	
               <ul>
                  <li><a href="/hi-in/share-the-faith" aria-label="विश्वास साझा करें">विश्वास साझा करें</a></li>
                  <li><a href="/hi-in/powerful-scripture" aria-label="शक्तिशाली शास्त्र">शक्तिशाली शास्त्र</a></li>
                  <li><a href="/hi-in/prayer-request" aria-label="प्रार्थना का अनुरोध">प्रार्थना का अनुरोध</a></li>
                  <li><a href="/hi-in/contact-us/" aria-label="संपर्क करें">संपर्क करें</a></li>
               </ul>
            </li>
         </ul>
      </header>
           <!--Google Translate Top-->
     <div id="google_translate_element" title="Google अनुवाद सार्वभौमिक भाषा त्वरित चयन ड्रॉपडाउन"></div>
     <div id="images_hz" class="center-align"> 
      <br>
      <br>
      <div class="login-container">
         <div id="font-type"><h1>अपने 'सर्किल ऑफ लव' खाते में लॉगिन करें</h1></div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" aria-label="लॉग इन करें" title="लॉग इन करें" class="btn-auth">लॉग इन करें</button>
         </form>
      </div>
      <p class="signup-link">कोई खाता नहीं है?</p>
            <a href="/hi-in/signup/" aria-label="साइन अप करें" title="साइन अप करें" class="btn-auth">साइन अप करें</a>
         </div>
        <br>
        <br>
        <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="दान लिंक" title="दान लिंक"><p>लिंक साझा करने में सहायता करें</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/hi-in/contact-us/">हमें ईमेल करें</a>
         <h4>संपर्क</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/hi-in/" aria-label="वेबसाइट होमपेज">घर</a>
                  </li>
                  <li>
                     <a href="/hi-in/the-vision" aria-label="दृष्टिकोण">दृष्टिकोण</a>
                  </li>
                  <li>
                     <a href="/hi-in/spiritual-realms" aria-label="आध्यात्मिक रियल्म्स">आध्यात्मिक रियल्म्स</a>
                  </li>
                  <li>
                     <a href="/hi-in/soldiers-of-light" aria-label="प्रकाश के सैनिक">प्रकाश के सैनिक</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/hi-in/guardian-angels" aria-label="अभिभावक स्वर्गदूतों">अभिभावक स्वर्गदूतों</a>
                  </li>
                  <li>
                     <a href="/hi-in/living-light" aria-label="जीवित प्रकाश">जीवित प्रकाश</a>
                  </li>
                  <li>
                     <a href="/hi-in/heavenly-realms" aria-label="स्वर्गीय रियल्म्स">स्वर्गीय रियल्म्स</a>
                  </li>
                  <li>
                     <a href="/hi-in/unconditional-love" aria-label="बिना शर्त प्रेम">बिना शर्त प्रेम</a>
                  </li>
                  <li>
                     <a href="/hi-in/about-us" aria-label="के बारे में">के बारे में</a>
                  </li>
                  <li>
                     <a href="/hi-in/ebook" aria-label="ई-पुस्तक">ई-पुस्तक</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/hi-in/share-the-faith" aria-label="विश्वास साझा करें">विश्वास साझा करें</a>
                  </li>
                  <li>
                     <a href="/hi-in/powerful-scripture" aria-label="शक्तिशाली शास्त्र">शक्तिशाली शास्त्र</a>
                  </li>
                  <li>
                     <a href="/hi-in/prayer-request" aria-label="प्रार्थना का अनुरोधt">प्रार्थना का अनुरोध</a>
                  </li>
                  <li>
                     <a href="/hi-in/terms" aria-label="उपयोग की शर्तें">उपयोग की शर्तें</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/hi-in/facebook-24.webp" title="फेसबुक आइकन लिंक" alt="फेसबुक आइकन लिंक" aria-label="फेसबुक आइकन लिंक" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/twitter-24.webp" title="ट्विटर आइकन लिंक" alt="ट्विटर आइकन लिंक" aria-label="ट्विटर आइकन लिंक" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/instagram-24.webp" title="इंस्टाग्राम आइकन लिंक" alt="इंस्टाग्राम आइकन लिंक" aria-label="इंस्टाग्राम आइकन लिंक" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/pinterest-24.webp" title="Pinterest चिह्न लिंक" alt="Pinterest चिह्न लिंक" aria-label="Pinterest चिह्न लिंक" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/snapchat-24.webp" title="स्नैपचैट आइकन लिंक" alt="स्नैपचैट आइकन लिंक" aria-label="स्नैपचैट आइकन लिंक" width="24" height="24"></a>
         </div>
         <p>&copy;कॉपीराइट 2024 holymercy.com/hi-in/ सर्वाधिकार सुरक्षित।</p>
            <div class="legal__links"> 
            <span>संपर्क में रहना; होलीमर्सी का कमाल होने वाला है!</span>
            </div> 
         </footer>
            <!--google translate-->
         <span>
           <script>
   //<![CDATA[
   function googleTranslateElementInit() {
     new google.translate.TranslateElement({
       pageLanguage: 'hi', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
       layout: google.translate.TranslateElement.InlineLayout.SIMPLE
     }, 'google_translate_element');
   }
   //]]>
           </script>
           <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
       </span>
       <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-9YTTLPE2DX');
   </script>
    <script src="/static/js/hi-in/add-service-worker.js"></script>
    <script src="/static/js/hi-in/service-worker.js"></script>
   </body>
   </html>