<!doctype html>
<html lang="hi-in">
   <head>
      <meta name="robots" content="index, follow">
      <title>शक्तिशाली पवित्र शास्त्र: आत्मा के प्रकाश के लिए जीविका</title>
      <meta name="description" content="पवित्र शास्त्र परमेश्वर के शक्तिशाली शब्द हैं जो हमारे हृदयों, आत्माओं और आत्माओं को परमेश्वर, मसीह और पवित्र आत्मा से जोड़ते हैं।">
      <meta charset="utf-8">
      <link rel="canonical" href="/hi-in/powerful-scripture/">
        <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/hi-in/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/hi-in/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/hi-in/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/hi-in/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/hi-in/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/hi-in/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/hi-in/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/hi-in/icon-64.png" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="शक्तिशाली पवित्र शास्त्र: आत्मा के प्रकाश के लिए जीविका">
      <meta property="og:site_name" content="पवित्र दया">
      <meta property="og:url" content="https://holymercy.com/hi-in/powerful-scripture/">
      <meta property="og:description" content="पवित्र शास्त्र परमेश्वर के शक्तिशाली शब्द हैं जो हमारे हृदयों, आत्माओं और आत्माओं को परमेश्वर, मसीह और पवित्र आत्मा से जोड़ते हैं।">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/hi-in/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com/hi-in/">
      <meta property="twitter:url" content="https://holymercy.com/hi-in/powerful-scripture/">
      <meta name="twitter:title" content="शक्तिशाली पवित्र शास्त्र: आत्मा के प्रकाश के लिए जीविका">
      <meta name="twitter:description" content="पवित्र शास्त्र परमेश्वर के शक्तिशाली शब्द हैं जो हमारे हृदयों, आत्माओं और आत्माओं को परमेश्वर, मसीह और पवित्र आत्मा से जोड़ते हैं।">
      <meta name="twitter:image" content="/static/img/hi-in/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/hi-in/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/hi-in/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/hi-in/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/hi-in/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
      <header>
         <ul>
            <li><a href="/hi-in/"><img class="logo" src="/static/img/hi-in/holymercy-logo.webp" loading="lazy" id="logo" alt="शीर्ष बाएँ नेविगेशन बार लोगो" aria-label="शीर्ष बाएँ नेविगेशन बार लोगो" width="68" height="39"></a></li>
            <li><a href="/hi-in/" aria-label="वेबसाइट होमपेज">घर</a></li>
            <li><a href="#" aria-label="प्रेम के चक्र के अध्याय">अध्याय</a>
               <ul>
                <li><a href="/hi-in/the-vision" aria-label="द विजन">द विजन</a></li>
                  <li><a href="/hi-in/spiritual-realms" aria-label="आध्यात्मिक रियल्म्स">आध्यात्मिक रियल्म्स</a></li>
                  <li><a href="/hi-in/soldiers-of-light" aria-label="प्रकाश के सैनिक">प्रकाश के सैनिक</a></li>
                  <li><a href="/hi-in/guardian-angels" aria-label="अभिभावक स्वर्गदूतों">अभिभावक स्वर्गदूतों</a></li>
                  <li><a href="/hi-in/living-light" aria-label="जीवित प्रकाश">जीवित प्रकाश</a></li>
                  <li><a href="/hi-in/unconditional-love" aria-label="बिना शर्त प्रेम">बिना शर्त प्रेम</a></li>
                  <li><a href="/hi-in/heavenly-realms" aria-label="स्वर्गीय रियल्म्स">स्वर्गीय रियल्म्स</a></li>
               </ul>
            <li><a href="/hi-in/about-us" aria-label="हमारे बारे में">के बारे में</a></li>
            <li><a href="/hi-in/ebook" aria-label="ई-पुस्तक">ई-पुस्तक</a></li>
              <li><a href="#" aria-label="लिंक शेयर करें">शेयर करना</a>	
               <ul>
                  <li><a href="/hi-in/share-the-faith" aria-label="विश्वास साझा करें">विश्वास साझा करें</a></li>
                  <li><a href="/hi-in/powerful-scripture" aria-label="शक्तिशाली शास्त्र">शक्तिशाली शास्त्र</a></li>
                  <li><a href="/hi-in/prayer-request" aria-label="प्रार्थना का अनुरोध">प्रार्थना का अनुरोध</a></li>
                  <li><a href="/hi-in/contact-us/" aria-label="संपर्क करें">संपर्क करें</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
      <div id="google_translate_element" title="Google अनुवाद भाषा बटन चुनें"></div>
      <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>ईश्वर, यीशु मसीह और पवित्र आत्मा के दिव्य शब्द</h1>
         <br>
         <div class="centercandles">                                         
            <img  src="/static/img/hi-in/leftside-candle-gif.webp" loading="lazy" title="मोमबत्तियाँ प्रार्थना, विश्वास और मसीह की उपस्थिति, दुनिया GIF की रोशनी का प्रतीक हैं" alt="मोमबत्तियाँ प्रार्थना, विश्वास और मसीह की उपस्थिति, दुनिया GIF की रोशनी का प्रतीक हैं" aria-label="मोमबत्तियाँ प्रार्थना, विश्वास और मसीह की उपस्थिति, दुनिया GIF की रोशनी का प्रतीक हैं" width="100" height="208">
            <img  src="/static/img/hi-in/angel-applauding.webp" loading="lazy" title="सना हुआ ग्लास भगवान की छवि की सराहना करते हुए" alt="सना हुआ ग्लास भगवान की छवि की सराहना करते हुए" aria-label="सना हुआ ग्लास भगवान की छवि की सराहना करते हुए" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/hi-in/rightside-candle-gif.webp" loading="lazy" title="ईश्वरीय हस्तक्षेप, आशीर्वाद और मार्गदर्शन कैंडल जीआईएफ की आवश्यकता में कही गई प्रार्थना" alt="ईश्वरीय हस्तक्षेप, आशीर्वाद और मार्गदर्शन कैंडल जीआईएफ की आवश्यकता में कही गई प्रार्थना" aria-label="ईश्वरीय हस्तक्षेप, आशीर्वाद और मार्गदर्शन कैंडल जीआईएफ की आवश्यकता में कही गई प्रार्थना" width="100" height="208">
            <br>    
            <br>  
         </div>
         <br>    
         <br> 
         <div class="header">
            <p>अपनी आत्मा को पवित्र ग्रंथों के आनंद से पोषित करें, और वे आपको आशीर्वाद देंगे और आपको आध्यात्मिक और अलौकिक के बारे में सिखाएंगे।</p>
            <h2>ईश्वर के प्रेम के लिए शक्तिशाली पवित्र ग्रंथ</h2>
            <section>
               <h3>1 कुरिन्थियों 1:30</h3>
               <br> 
               <br>
               <p>
                  तुम मसीह यीशु में हो, जो तुम्हारे लिये परमेश्वर की ओर से ज्ञान, और साथ ही धर्म, और पवित्रीकरण, और छुटकारा भी बना।</p>
               <br>    
               <h3>जॉन 11:25-26</h3>
               <br>    
               <br>  
               <p>यीशु ने उससे कहा, “पुनरुत्थान और जीवन मैं ही हूँ। जो मुझ पर विश्वास करता है वह मरने पर भी जीवित रहेगा; और जो कोई मुझ पर विश्वास करके जीवित रहेगा, वह कभी न मरेगा। क्या आप इस पर विश्वास करते हैं?”</p>
               <h3>रोमियों 8:2</h3>
               <br>    
               <br>  
               <p>मसीह यीशु के द्वारा जीवन की आत्मा की व्यवस्था ने तुम्हें पाप और मृत्यु की व्यवस्था से स्वतंत्र कर दिया है।</p>
               <h3>रोमियों 10:9</h3>
               <br>    
               <br>  
               <p>यदि तू अपने मुंह से अंगीकार करे, कि यीशु ही प्रभु है, और अपके मन से विश्वास करे, कि परमेश्वर ने उसे मरे हुओं में से जिलाया, तो तू निश्चय उद्धार पाएगा।</p>
               <h3>रोमियों 13:12</h3>
               <br>    
               <br>  
               <p>रात बहुत जा चुकी है; दिन हाथ में है। सो आओ हम अन्धकार के कामोंको तज कर ज्योति के हथियार बान्ध लें.</p>
               <h3>रोमियों 15:13</h3>
               <br>    
               <br>  
               <p>आशा का परमेश्वर आपको विश्वास करने में सभी आनंद और शांति से भर दे, ताकि पवित्र आत्मा की शक्ति से आप आशा में समृद्ध हो सकें। </p>
               <h3>रोमियों 16:20</h3>
               <br>    
               <br>  
               <p>शान्ति का परमेश्वर शैतान को तुम्हारे पाँवों से शीघ्र कुचलवा देगा। हमारे प्रभु यीशु मसीह का अनुग्रह तुम पर बना रहे।</p>
               <h3>मत्ती 6:9</h3>
               <br>
               <p>मांगो, तो तुम्हें दिया जाएगा; खोजो, और तुम। मिल जाएगा; खटखटाओ, तो तुम्हारे लिये खोला जाएगा। 8 हर एक के लिथे
                                    जो माँगता है वह पाता है; और वह जो चाहता है। खोज; और जो खटखटाएगा उसके लिये खोला जाएगा।</p>
               <h3>मत्ती 7:7</h3>
               <br>   
               <br>  
               <p>
                  हमारे पिता जो स्वर्ग में हैं, आपका नाम पवित्र हो, आपका राज्य आए, आपकी इच्छा जैसे स्वर्ग में पूरी होती है वैसे ही पृथ्वी पर भी हो। इस दिन हमारी प्रतिदिन की रोटी हमें दे और हमारे अपराधों को क्षमा कर। जैसा कि हम उन लोगों को क्षमा करते हैं जो हमारे विरुद्ध अपराध करते हैं। और हमें परीक्षा में न ला, परन्तु बुराई से बचा।</p>
               <h3>मत्ती 28:19 </h3>
               <br>    
               <br>  
               <p>इसलिए जाओ और अन्यजातियों को चेला बनाओ, और उन्हें पिता और पुत्र और पवित्र आत्मा के नाम से बपतिस्मा दो।</p>
               <h3>जॉन 3:6 </h3>
               <br>    
               <br>  
               <p>परमेश्वर ने जगत से ऐसा प्रेम रखा कि उस ने अपना एकलौता पुत्र दे दिया, ताकि जो कोई उस पर विश्वास करे, वह नाश न हो, परन्तु अनन्त जीवन पाए।</p>
               <h3>जॉन 14:13</h3>
               <br>    
               <br>  
               <p>जो कुछ तुम मेरे नाम से मांगोगे, मैं उसे करूंगा, कि पुत्र के द्वारा पिता की महिमा हो।</p>
               <h3>2 कुरिन्थियों 10:4-5</h3>
               <br>    
               <br>  
               <p>हम जिन हथियारों से लड़ते हैं, वे इस संसार के नहीं हैं। इसके विपरीत, उनके पास गढ़ों को ध्वस्त करने की दैवीय शक्ति है। हम तर्कों को और हर एक ढोंग को जो परमेश्वर के ज्ञान के विरुद्ध खड़ा होता है, खण्डन करते हैं, और हर एक विचार को कैद करके मसीह का आज्ञाकारी बनाते हैं।</p>
               <h3>गलातियों 5:22</h3>
               <br>    
               <br>  
               <p>आत्मा का फल प्रेम, आनन्द, शान्ति, धीरज, कृपा, भलाई, विश्वास, नम्रता, और संयम है; ऐसी चीजों के विरुद्ध कोई भी कानून नहीं है।</p>
               <h3>इफिसियों 6:10-18</h3>
               <br>    
               <br>  
               <p>अंत में, प्रभु में और उसकी महान शक्ति में बलवान बनो। परमेश्वर के सारे हथियार बान्ध लो, कि तुम शैतान की युक्तियों के साम्हने खड़े रह सको। हमारे संघर्ष के लिए नहीं है
                  मांस और लहू के विरुद्ध, परन्तु प्रधानों के विरुद्ध, अधिकारियों के विरुद्ध, इस संसार के अन्धकार के हाकिमों के विरुद्ध, और उस दुष्टता की आत्मिक सेनाओं के विरुद्ध जो स्वर्ग में हैं।
                  क्षेत्र। इसलिये परमेश्वर के सारे हथियार बान्ध लो, कि जब विपत्ति का दिन आए तब तुम खड़े रह सको, और सब कुछ कर चुकने के बाद स्थिर रह सको।
                  सत्य का पट्टा कमर पर बँधा हुआ, धर्म की झिलम अपनी जगह पर, और पांव उस तैयारी से सजे हुए, डटे रहो,
                  शांति के सुसमाचार से आता है। इन सब के साथ विश्वास की ढाल उठा लो, जिस से तुम उस दुष्ट के सब जलते हुए तीरोंको बुझा सको। लो
                  उद्धार का टोप, और आत्मा की तलवार, जो परमेश्वर का वचन है। और हर समय और हर प्रकार से आत्मा में प्रार्थना, और बिनती करते रहो।</p>
               <h3>फिलिप्पियों 4:7</h3>
               <br>    
               <br>  
               <p>परमेश्वर की शान्ति जो सारी समझ से परे है, तुम्हारे हृदय और तुम्हारे विचारों को मसीह यीशु में सुरक्षित रखेगी।</p>
               <h3>2 कुलुस्सियों 1:12</h3>
               <br>    
               <br>  
               <p>उस पिता को धन्यवाद देना जिसने तुम्हें उस पवित्र जन की ज्योति में मीरास में सहभागी होने के योग्य बनाया है।</p>
               <h3>1 थिस्सलुनीकियों 5:23</h3>
               <br>    
               <br>  
               <p>अब शान्ति का परमेश्वर आप ही तुम्हें पूरी रीति से पवित्र करे, और तुम्हारी आत्मा और प्राण और देह हमारे प्रभु यीशु मसीह के आने तक निर्दोष रहें॥</p>
               <h3>2 तीमुथियुस 1:7</h3>
               <br>    
               <br>  
               <p>परमेश्वर ने हमें कायरता की नहीं, बल्कि शक्ति, प्रेम और आत्मानुशासन की आत्मा दी है।</p>
               <h3>इब्रानियों 13:20</h3>
               <br>    
               <br>  
               <p>अब शान्ति का परमेश्वर, जो सनातन वाचा के लोहू के द्वारा भेड़ों के उस महान चरवाहे हमारे प्रभु यीशु को मरे हुओं को लौटा ले आया, वह मुझे हर उस भलाई से सुसज्जित करे, जिस से वह अपनी इच्छा पूरी करे, और वह हम में वह करे जो उसे भाता है। उसे, यीशु मसीह के द्वारा, जिसकी महिमा युगानुयुग होती रहे। तथास्तु</p>
               <h3>1 यूहन्ना 1:7</h3>
               <br>    
               <br>  
               <p>यदि जैसा वह ज्योति में है, वैसे ही हम भी ज्योति में चलें, तो एक दूसरे से सहभागिता रखते हैं, और परमेश्वर के पुत्र यीशु का लोहू हमें सब पापों से शुद्ध करता है।</p>
               <h3>1 यूहन्ना 3:3</h3>
               <br>    
               <br>  
               <p>जो कोई यीशु पर इस प्रकार आशा रखता है, वह अपने आप को वैसा ही पवित्र करता है जैसा वह पवित्र है।</p>
            </section>
            <div class="center3"><a href="/hi-in/powerful-scripture/" aria-label="शीर्ष लिंक पर वापस जाएँ" title="शीर्ष लिंक पर वापस जाएँ">&nbsp;शीर्ष<img src="/static/img/hi-in/back-to-top-link.webp" loading="lazy" alt="शीर्ष लिंक पर वापस जाएँ" width="48" height="48"></a></div>
            <br>
          </div>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="दान लिंक" title="दान लिंक"><p>लिंक साझा करने में सहायता करें</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/hi-in/contact-us/">हमें ईमेल करें</a>
         <h4>संपर्क</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/hi-in/" aria-label="वेबसाइट होमपेज">घर</a>
                  </li>
                  <li>
                     <a href="/hi-in/the-vision" aria-label="दृष्टिकोण">दृष्टिकोण</a>
                  </li>
                  <li>
                     <a href="/hi-in/spiritual-realms" aria-label="आध्यात्मिक रियल्म्स">आध्यात्मिक रियल्म्स</a>
                  </li>
                  <li>
                     <a href="/hi-in/soldiers-of-light" aria-label="प्रकाश के सैनिक">प्रकाश के सैनिक</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/hi-in/guardian-angels" aria-label="अभिभावक स्वर्गदूतों">अभिभावक स्वर्गदूतों</a>
                  </li>
                  <li>
                     <a href="/hi-in/living-light" aria-label="जीवित प्रकाश">जीवित प्रकाश</a>
                  </li>
                  <li>
                     <a href="/hi-in/heavenly-realms" aria-label="स्वर्गीय रियल्म्स">स्वर्गीय रियल्म्स</a>
                  </li>
                  <li>
                     <a href="/hi-in/unconditional-love" aria-label="बिना शर्त प्रेम">बिना शर्त प्रेम</a>
                  </li>
                  <li>
                     <a href="/hi-in/about-us" aria-label="के बारे में">के बारे में</a>
                  </li>
                  <li>
                     <a href="/hi-in/ebook" aria-label="ई-पुस्तक">ई-पुस्तक</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/hi-in/share-the-faith" aria-label="विश्वास साझा करें">विश्वास साझा करें</a>
                  </li>
                  <li>
                     <a href="/hi-in/powerful-scripture" aria-label="शक्तिशाली शास्त्र">शक्तिशाली शास्त्र</a>
                  </li>
                  <li>
                     <a href="/hi-in/prayer-request" aria-label="प्रार्थना का अनुरोधt">प्रार्थना का अनुरोध</a>
                  </li>
                  <li>
                     <a href="/hi-in/terms" aria-label="उपयोग की शर्तें">उपयोग की शर्तें</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/hi-in/facebook-24.webp" title="फेसबुक आइकन लिंक" alt="फेसबुक आइकन लिंक" aria-label="फेसबुक आइकन लिंक" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/twitter-24.webp" title="ट्विटर आइकन लिंक" alt="ट्विटर आइकन लिंक" aria-label="ट्विटर आइकन लिंक" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/instagram-24.webp" title="इंस्टाग्राम आइकन लिंक" alt="इंस्टाग्राम आइकन लिंक" aria-label="इंस्टाग्राम आइकन लिंक" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/pinterest-24.webp" title="Pinterest चिह्न लिंक" alt="Pinterest चिह्न लिंक" aria-label="Pinterest चिह्न लिंक" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/hi-in/snapchat-24.webp" title="स्नैपचैट आइकन लिंक" alt="स्नैपचैट आइकन लिंक" aria-label="स्नैपचैट आइकन लिंक" width="24" height="24"></a>
         </div>
         <p>&copy;कॉपीराइट 2024 holymercy.com/hi-in/ सर्वाधिकार सुरक्षित।</p>
            <div class="legal__links"> 
            <span>संपर्क में रहना; होलीमर्सी का कमाल होने वाला है!</span>
            </div> 
         </footer>
            <!--google translate-->
         <span>
           <script>
   //<![CDATA[
   function googleTranslateElementInit() {
     new google.translate.TranslateElement({
       pageLanguage: 'hi', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
       layout: google.translate.TranslateElement.InlineLayout.SIMPLE
     }, 'google_translate_element');
   }
   //]]>
           </script>
           <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
       </span>
      <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-9YTTLPE2DX');
   </script>
 <script src="/static/js/hi-in/add-service-worker.js"></script>
 <script src="/static/js/hi-in/service-worker.js"></script>
   </body>
   </html>