<!doctype html>
<html lang="fr">
   <head>
      <meta name="robots" content="noindex">
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex">
      <title>Adhésion pour accéder aux chapitres de « Le Cercle de l'Amour »</title>
      <meta name="description" content="Adhésion pour accéder aux chapitres de « Le Cercle de l'Amour », un livre électronique sur le partage de la foi, de l'amour et de la lumière du Saint-Esprit.">
      <meta charset="utf-8">
      <link rel="canonical" href="/fr/membership/">
      <link rel="alternate" hreflang="x-default" href="/membership/">
      <link rel="alternate" hreflang="en-us" href="/membership/">  
      <link rel="alternate" hreflang="en" href="/en/membership/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/membership/">
      <link rel="alternate" hreflang="en-in" href="/en-in/membership/">
      <link rel="alternate" hreflang="es" href="/es/membership/">
      <link rel="alternate" hreflang="es-es" href="/es-es/membership/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/membership/">
      <link rel="alternate" hreflang="es-co" href="/es-co/membership/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/membership/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/membership/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/membership/"> 
      <link rel="alternate" hreflang="zh" href="/zh/membership/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/membership/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/membership/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/membership/"> 
      <link rel="alternate" hreflang="hi" href="/hi/membership/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/membership/">
      <link rel="alternate" hreflang="fr" href="/fr/membership/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/membership/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/membership/"> 
      <link rel="alternate" hreflang="pt" href="/pt/membership/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/membership/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/membership/">
      <link rel="alternate" hreflang="de" href="/de/membership/">
      <link rel="alternate" hreflang="de-de" href="/de-de/membership/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/membership/">
      <link rel="alternate" hreflang="id-id" href="/id-id/membership/">
      <link rel="alternate" hreflang="ar" href="/ar/membership/">
      <link rel="alternate" hreflang="bn" href="/bn/membership/">
        <link rel="alternate" hreflang="ko" href="/ko/membership/">
      <link rel="alternate" hreflang="ru" href="/ru/membership/">
      <link rel="alternate" hreflang="ur" href="/ur/membership/">   
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/fr/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/static/css/fr/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">  
      <!--Google Fonts-put off the loading of render blocking CSS-->   
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/fr/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/fr/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/fr/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/fr/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/fr/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/fr/icon-64.png" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facmembership Meta Tags -->
     <meta property="og:title" content="Adhésion pour accéder aux chapitres de « Le Cercle de l'Amour »">
     <meta property="og:site_name" content="Sainte miséricorde">
     <meta property="og:url" content="https://holymercy.com/fr/membership/">
     <meta property="og:description" content="Adhésion pour accéder aux chapitres de « Le Cercle de l'Amour », un livre électronique sur le partage de la foi, de l'amour et de la lumière du Saint-Esprit.">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/fr/the-circle-of-love-bookcover.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/fr/">
     <meta property="twitter:url" content="https://holymercy.com/fr/membership/">
     <meta name="twitter:title" content="Adhésion pour accéder aux chapitres de « Le Cercle de l'Amour »">
     <meta name="twitter:description" content="Adhésion pour accéder aux chapitres de « Le Cercle de l'Amour », un livre électronique sur le partage de la foi, de l'amour et de la lumière du Saint-Esprit.">
     <meta name="twitter:image" content="/static/img/fr/the-circle-of-love-bookcover.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/fr/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/fr/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/fr/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/fr/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
      </head>
    <body>
      <header>
         <ul>
         <li><a href="/fr/"><img class="logo" src="/static/img/fr/holymercy-logo.webp" loading="lazy" id="logo" alt="Logo de la barre de navigation en haut à gauche" aria-label="Logo de la barre de navigation en haut à gauche" width="68" height="39"></a></li>
            <li><a href="/fr/" aria-label="Page d'accueil du site Web">Maison</a></li>
            <li><a href="#" aria-label="Le Cercle de L'amour's chapitres">Chapitres</a>
               <ul>
                  <li><a href="/fr/the-vision" aria-label="La Vision">La Vision</a></li>
                  <li><a href="/fr/spiritual-realms" aria-label="Royaumes Spirituels">Royaumes Spirituels</a></li>
                  <li><a href="/fr/soldiers-of-light" aria-label="Soldats de la Lumière">Soldats de la Lumière</a></li>
                  <li><a href="/fr/guardian-angels" aria-label="Anges Gardiens">Anges Gardiens</a></li>
                  <li><a href="/fr/living-light" aria-label="Lumière Vivante">Lumière Vivante</a></li>
                  <li><a href="/fr/unconditional-love" aria-label="Amour Inconditionnel">Amour Inconditionnel</a></li>
                  <li><a href="/fr/heavenly-realms" aria-label="Royaumes Célestes">Royaumes Célestes</a></li>
               </ul>
            <li><a href="/fr/about-us" aria-label="À propos de nous">À Propos</a></li>
            <li><a href="/fr/ebook" aria-label="E-livre">E-livre</a></li>
              <li><a href="#" aria-label="Lien de partage">Partager</a>	
               <ul>
                  <li><a href="/fr/share-the-faith" aria-label="Partagez la Foi">Partagez la Foi</a></li>
                  <li><a href="/fr/powerful-scripture" aria-label="Écriture Puissante">Des Écritures Puissantes</a></li>
                  <li><a href="/fr/prayer-request" aria-label="Demande de Prière">Demande de Prière</a></li>
                  <li><a href="/fr/contact-us/" aria-label="Contactez-nous">Contactez-nous</a></li>
               </ul>
            </li>
         </ul>
      </header>
      <!--Google Translate Top-->
      <div id="google_translate_element" title="google translate choisir le bouton de langue"></div>
      <div id="images_hz" class="center-align">  
     <div id="kontent">
      <div id="font-type">
         <h1>Page d'adhésion pour accéder aux chapitres de livres de <em> "Le Cercle de l'Amour"</em></h1>
         <br>
       <p> Bienvenu{{ request.user.username }} </p>
       <br>
       {%  if 'Chapter 1' in sales %}
       <p>Pour accéder à la version complète de 40 pages du Chapitre Un : La Vision, cliquez sur le lien ci-dessous. 
       </p>
          <p>Dernière révision le 2024-04-05.</p>
       <br>
       <a href="/fr/chapter1/" aria-label="Accéder au chapitre un: La vision" title="Accéder au chapitre un : La vision" class="btn-auth">Accéder au contenu</a>
       {% else %}
       <p>Pour accéder à la version complète de 40 pages du Chapitre Un : La Vision, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
       </p>
          <p>Dernière révision le 2024-04-05.</p>
       <br>
       <p class="cta">Cliquez sur le bouton ci-dessous pour acheter le chapitre 1 maintenant</p>
       {{ paypal1.render }}            
       {% endif %}   
   <br><br><br>
   {%  if 'Chapter 2' in sales %}
   <p>Pour accéder à la version complète de 40 pages du chapitre deux : Royaumes Spirituels, cliquez sur le lien ci-dessous.
   </p>
      <p>Dernière révision le 2024-04-05.</p>
   <br>
   <a href="/fr/chapter2/" aria-label="Accéder au chapitre deux : Royaumes Spirituels" title="Accéder au chapitre deux : Royaumes Spirituels" class="btn-auth">Accéder au contenu</a>
   {% else %}
   <p>Pour accéder à la version complète de 40 pages du chapitre deux : Royaumes Spirituels, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
   </p>
      <p>Dernière révision le 2024-04-05.</p>
   <br>
   <p class="cta">Cliquez sur le bouton ci-dessous pour acheter le chapitre deux maintenant</p>
   {{ paypal2.render }}            
   {% endif %}   
     <br><br><br>
     {%  if 'Chapter 3' in sales %}
     <p>Pour accéder à la version complète de 40 pages du chapitre trois : Soldats de Lumière, cliquez sur le lien ci-dessous.
     </p>
        <p>Dernière révision le 2024-04-05.</p>
     <br>
     <a href="/fr/chapter3/" aria-label="Accédez au chapitre trois : Soldats de Lumière" title="Accédez au chapitre trois : Soldats de Lumière" class="btn-auth">Accéder au contenu</a>
     {% else %}
     <p>Pour accéder à la version complète de 40 pages du chapitre trois : Soldats de Lumière, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
     </p>
        <p>Dernière révision le 2024-04-05.</p>
     <br>
     <p class="cta">Cliquez sur le bouton ci-dessous pour acheter le chapitre trois maintenant</p>
     {{ paypal3.render }}            
     {% endif %}  
        <br><br><br>
        {%  if 'Chapter 4' in sales %}
        <p>Pour accéder à la version complète de 40 pages du chapitre quatre : Anges Gardiens, cliquez sur le lien ci-dessous. 
        </p>
           <p>Dernière révision le 2024-04-05.</p>
        <br>
        <a href="/fr/chapter4/" aria-label="Accédez au chapitre quatre : Anges Gardiens" title="Accédez au chapitre quatre : Anges Gardiens" class="btn-auth">Accéder au contenu</a>
        {% else %}
        <p>Pour accéder à la version complète de 40 pages du chapitre quatre : Anges Gardiens, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
        </p>
           <p>Dernière révision le 2024-04-05.</p>
        <br>
        <p class="cta">Cliquez sur le bouton ci-dessous pour acheter le chapitre quatre maintenant</p>
        {{ paypal4.render }}            
        {% endif %}  
    <br><br><br>
    {%  if 'Chapter 5' in sales %}
    <p>Pour accéder à la version complète de 40 pages du chapitre cinq : Lumière Vivante cliquez sur le lien ci-dessous.
    </p>
       <p>Dernière révision le 2024-04-05.</p>
    <br>
    <a href="/fr/chapter5/" aria-label="Accédez au chapitre cinq : Lumière Vivante" title="Accédez au chapitre cinq : Lumière Vivante" class="btn-auth">Accéder au contenu</a>
    {% else %}
    <p>Pour accéder à la version complète de 40 pages du chapitre cinq : Lumière Vivante, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
    </p>
       <p>Dernière révision le 2024-04-05.</p>
    <br>
    <p class="cta">Cliquez sur le bouton ci-dessous pour acheter le chapitre cinq maintenant</p>
    {{ paypal5.render }}            
    {% endif %}  
       <br><br><br>
       {%  if 'Chapter 6' in sales %}
       <p>Pour accéder à la version complète de 40 pages du chapitre six : Amour Inconditionnel, cliquez sur le lien ci-dessous.
       </p>
          <p>Dernière révision le 2024-04-05.</p>
       <br>
       <a href="/fr/chapter6/" aria-label="Accédez au chapitre six : Amour inconditionnel" title="Accédez au chapitre six : Amour inconditionnel" class="btn-auth">Accéder au contenu</a>
       {% else %}
       <p>Pour accéder à la version complète de 40 pages du chapitre six : Amour Inconditionnel, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
       </p>
          <p>Dernière révision le 2024-04-05.</p>
       <br>
       <p class="cta">Cliquez sur le bouton ci-dessous pour acheter le chapitre six maintenant</p>
       {{ paypal6.render }}            
       {% endif %}  
   <br><br><br>
   {%  if 'Chapter 7' in sales %}
   <p>Pour accéder à la version complète de 40 pages du chapitre sept : Royaumes Célestes, cliquez sur le lien ci-dessous.
   </p>
      <p>Dernière révision le 2024-04-05.</p>
   <br>
   <a href="/fr/chapter7/" aria-label="Accédez au chapitre sept : Royaumes célestes" title="Accédez au chapitre sept : Royaumes célestes" class="btn-auth">Accéder au contenu</a>
   {% else %}
   <p>Pour accéder à la version complète de 40 pages du Chapitre Sept : Royaumes Célestes, cliquez sur le bouton ci-dessous pour acheter un abonnement de 7 $.
   </p>
      <p>Dernière révision le 2024-04-05.</p>
   <br>
   <p class="cta">Cliquez sur le bouton ci-dessous pour acheter <em>Le Cercle de l'Amour</em> maintenant</p>
   {{ paypal7.render }}            
   {% endif %}  
      <br><br><br>
      {%  if 'The Circle of Love' in sales %}
      <p>Pour accéder à la version complète de 280 pages de <br><em> Le Cercle de l'Amour</em>, Cliquez sur le lien ci-dessous.
      </p>
         <p>Dernière révision le 2024-04-05.</p>
      <br>
      <a href="/fr/thecircleoflove/" aria-label="Accédez à « Le Cercle de l'Amour »" title="Accédez à « Le Cercle de l'Amour »" class="btn-auth">Accéder au contenu</a>
      {% else %}
      <p>Pour accéder à la version complète de 280 pages de <em> Le Cercle de l'Amour</em>, cliquez sur le bouton ci-dessous pour acheter un abonnement de 40 $.
      </p>
         <p>Dernière révision le 2024-04-05.</p>
      <br>
      {{ paypal8.render }}         
      {% endif %} 
   <br><br><br>
         <div class="auth-btn">
            <a href="/fr/logout/" aria-label="Se déconnecter" title="Se déconnecter" class="btn-auth">Se déconnecter</a>
         </div>
         <br> 
        <div class="center3"><a href="/fr/membership/" aria-label="Lien de retour en haut" title="Lien de retour en haut">&nbsp;en haut<img src="/static/img/fr/back-to-top-link.webp" loading="lazy" alt="Lien de retour en haut" width="48" height="48"></a></div> 
      </div>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Lien de Don" title="Lien de Don"><p>Aide Partager le Lien</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/fr/contact-us/">Envoyez-nous un email</a>
         <h4>Contact</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/fr/" aria-label="Page d'accueil du site Web">Maison</a>
                  </li>
                  <li>
                     <a href="/fr/the-vision" aria-label="La Vision">La Visionn</a>
                  </li>
                  <li>
                     <a href="/fr/spiritual-realms" aria-label="Royaumes Spirituels">Royaumes Spirituels</a>
                  </li>
                  <li>
                     <a href="/fr/soldiers-of-light" aria-label="Soldats de la Lumière">Soldats de la Lumière</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/fr/guardian-angels" aria-label="Anges Gardiens">Anges Gardiens</a>
                  </li>
                  <li>
                     <a href="/fr/living-light" aria-label="Lumière Vivante">Lumière Vivante</a>
                  </li>
                  <li>
                     <a href="/fr/heavenly-realms" aria-label="Royaumes Célestes">Royaumes Célestes</a>
                  </li>
                  <li>
                     <a href="/fr/unconditional-love" aria-label="Amour Inconditionnel">Amour Inconditionnel</a>
                  </li>
                  <li>
                     <a href="/fr/about-us" aria-label="À propos">À propos</a>
                  </li>
                  <li>
                     <a href="/fr/ebook" aria-label="E-livre">E-livre</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/fr/share-the-faith" aria-label="Partagez la Foi">Partagez la Foi</a>
                  </li>
                  <li>
                     <a href="/fr/powerful-scripture" aria-label="Écriture Puissante">Des Écritures Puissantes</a>
                  </li>
                  <li>
                     <a href="/fr/prayer-request" aria-label="Demande de prière">Demande de prière</a>
                  </li>
                  <li>
                     <a href="/fr/terms" aria-label="Conditions d'utilisation">Conditions d'utilisation</a>
                  </li>
               </ul>
            </li>
         </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/fr/facebook-24.webp" title="Icône Facebook Lien" alt="Icône Facebook Lien" aria-label="Icône Facebook Lien" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr/twitter-24.webp" title="Icône Twitter Lien" alt="Icône Twitter Lien" aria-label="Icône Twitter Lien" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr/instagram-24.webp" title="Icône Instagram Lien" alt="Icône Instagram Lien" aria-label="Icône Instagram Lien" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr/pinterest-24.webp" title="Icône Pinterest Lien" alt="Icône Pinterest Lien" aria-label="Icône Pinterest Lien" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/fr/snapchat-24.webp" title="Icône Snapchat Lien" alt="Icône Snapchat Lien" aria-label="Icône Snapchat Lien" width="24" height="24"></a>
         </div>
         <p>&copy;Copyright 2024 holymercy.com/fr/ Tous les droits sont réservés.</p>
            <div class="legal__links"> 
            <span>Reste en contact; Holymercy est sur le point de devenir génial !</span>
            </div> 
         </footer>
            <!--google translate-->
       <span>
           <script>
   //<![CDATA[
   function googleTranslateElementInit() {
     new google.translate.TranslateElement({
       pageLanguage: 'fr', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
       layout: google.translate.TranslateElement.InlineLayout.SIMPLE
     }, 'google_translate_element');
   }
   //]]>
           </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   </span>
   <!-- Google next gen tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   
   gtag('config', 'G-9YTTLPE2DX');
   </script>
   <script src="/static/js/fr/add-service-worker.js"></script>
    <script src="/static/js/fr/service-worker.js"></script>
   </body>
   </html>