<!doctype html>
<html lang="es-ar">
   <head>
      <meta name="robots" content="index, follow">
      <title>Poderosa Sagrada Escritura: Sustento para la Luz del Alma</title>
      <meta name="description" content="Las Sagradas Escrituras son las poderosas palabras de Dios que conectan nuestros corazones, espíritus y almas con Dios, Cristo y el Espíritu Santo">
      <meta charset="utf-8">
      <link rel="canonical" href="/es-ar/powerful-scripture/">
        <link rel="alternate" hreflang="x-default" href="/powerful-scripture/">
      <link rel="alternate" hreflang="en-us" href="/powerful-scripture/">  
      <link rel="alternate" hreflang="en" href="/en/powerful-scripture/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/powerful-scripture/">
      <link rel="alternate" hreflang="en-in" href="/en-in/powerful-scripture/">
      <link rel="alternate" hreflang="es" href="/es/powerful-scripture/">
      <link rel="alternate" hreflang="es-es" href="/es-es/powerful-scripture/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/powerful-scripture/">
      <link rel="alternate" hreflang="es-co" href="/es-co/powerful-scripture/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/powerful-scripture/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/powerful-scripture/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh" href="/zh/powerful-scripture/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/powerful-scripture/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/powerful-scripture/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/powerful-scripture/">
      <link rel="alternate" hreflang="hi" href="/hi/powerful-scripture/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/powerful-scripture/">
      <link rel="alternate" hreflang="fr" href="/fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/powerful-scripture/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/powerful-scripture/">
      <link rel="alternate" hreflang="pt" href="/pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/powerful-scripture/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/powerful-scripture/">
      <link rel="alternate" hreflang="de" href="/de/powerful-scripture/">
      <link rel="alternate" hreflang="de-de" href="/de-de/powerful-scripture/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/powerful-scripture/">
      <link rel="alternate" hreflang="id-id" href="/id-id/powerful-scripture/">
      <link rel="alternate" hreflang="ar" href="/ar/powerful-scripture/">
      <link rel="alternate" hreflang="bn" href="/bn/powerful-scripture/">
      <link rel="alternate" hreflang="ko" href="/ko/powerful-scripture/">
      <link rel="alternate" hreflang="ru" href="/ru/powerful-scripture/">
      <link rel="alternate" hreflang="ur" href="/ur/powerful-scripture/">
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/es-ar/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/es-ar/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
    <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/es-ar/manifest.json"> 
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/es-ar/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/es-ar/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/es-ar/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/es-ar/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/es-ar/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
      <meta property="og:title" content="Poderosa Sagrada Escritura: Sustento para la Luz del Alma">
      <meta property="og:site_name" content="Santa misericordia">
      <meta property="og:url" content="https://holymercy.com/es-ar/powerful-scripture/">
      <meta property="og:description" content="Las Sagradas Escrituras son las poderosas palabras de Dios que conectan nuestros corazones, espíritus y almas con Dios, Cristo y el Espíritu Santo">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/img/es-ar/angel-applauding.webp">
      <!-- Open Graph Meta Tags - Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="holymercy.com">
      <meta property="twitter:url" content="/es-ar/powerful-scripture/">
      <meta name="twitter:title" content="Poderosa Sagrada Escritura: Sustento para la Luz del Alma">
      <meta name="twitter:description" content="Las Sagradas Escrituras son las poderosas palabras de Dios que conectan nuestros corazones, espíritus y almas con Dios, Cristo y el Espíritu Santo">
      <meta name="twitter:image" content="/static/img/es-ar/angel-applauding.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/es-ar/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/es-ar/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/es-ar/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/es-ar/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
   </head>
   <body>
      <header>
         <ul>
            <li><a href="/es-ar/"><img class="logo" src="/static/img/es-ar/holymercy-logo.webp" loading="lazy" id="logo" alt="Logotipo de la barra de navegación superior izquierda" aria-label="Logotipo de la barra de navegación superior izquierda" width="68" height="39"></a></li>
            <li><a href="/es-ar/" aria-label="Página de inicio del sitio web">Hogar</a></li>
            <li>
               <a href="#" aria-label="El círculo del amor's capítulos">Capítulos</a>
               <ul>
                  <li><a href="/es-ar/the-vision/" aria-label="La Visión">La Visión</a></li>
                  <li><a href="/es-ar/spiritual-realms/" aria-label="Reinos Espirituales">Reinos Espirituales</a></li>
                  <li><a href="/es-ar/soldiers-of-light/" aria-label="Soldados de Luz">Soldados de Luz</a></li>
                  <li><a href="/es-ar/guardian-angels/" aria-label="Ángeles Guardianes">Ángeles Guardianes</a></li>
                  <li><a href="/es-ar/living-light/" aria-label="Luz Viva">Luz Viva</a></li>
                  <li><a href="/es-ar/unconditional-love/" aria-label="Amor Incondicional">Amor Incondicional</a></li>
                  <li><a href="/es-ar/heavenly-realms/" aria-label="Cielos Reinos">Cielos Reinos</a></li>
               </ul>
            <li><a href="/es-ar/about-us/" aria-label="Acerca De">Acerca De</a></li>
            <li><a href="/es-ar/ebook/" aria-label="E-libro">E-libro</a></li>
             <li>
               <a href="#" aria-label="Compartir">Compartir</a>	
               <ul>
                  <li><a href="/es-ar/share-the-faith/" aria-label="Comparte La Fe">Comparte La Fe</a></li>
                  <li><a href="/es-ar/powerful-scripture/" aria-label="Poderosas Sagradas Escrituras">Poderosas Sagradas Escrituras</a></li>
                  <li><a href="/es-ar/prayer-request/" aria-label="Solicitud de Oración">Solicitud de Oración</a></li>
                  <li><a href="/es-ar/contact-us/" aria-label="Contacto">Contacto</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--Parte superior del traductor de Google-->
      <div id="google_translate_element" title="Botón de selección de idioma del traductor de google"></div>
      <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <h1>Palabras Divinas de Dios, Jesucristo y el Espíritu Santo</h1>
         <br>
         <div class="centercandles">                                         
            <img  src="/static/img/es-ar/leftside-candle-gif.webp" loading="lazy" title="Las velas simbolizan la oración, la fe y la presencia de Cristo, la luz del mundo GIF" alt="Las velas simbolizan la oración, la fe y la presencia de Cristo, la luz del mundo GIF" aria-label="Las velas simbolizan la oración, la fe y la presencia de Cristo, la luz del mundo GIF" width="100" height="208">
            <img  src="/static/img/es-ar/angel-applauding.webp" loading="lazy" title="Vitral Aplaudiendo Ángel de Dios Imagen" alt="Vitral Aplaudiendo Ángel de Dios Imagen" aria-label="Vitral Aplaudiendo Ángel de Dios Imagen" class="angel-between-gifs" width="233" height="262">
            <img src="/static/img/es-ar/rightside-candle-gif.webp" loading="lazy" title="Prayers said in the need of divine intervention, blessings, and guidance Candle GIF" alt="Prayers said in the need of divine intervention, blessings, and guidance Candle GIF" aria-label="Prayers said in the need of divine intervention, blessings, and guidance Candle GIF" width="100" height="208">
            <br>    
            <br>  
         </div>
         <br>    
         <br> 
         <div class="header">
            <p>Nutre tu alma con la dicha de las Sagradas Escrituras, y ellas te bendecirán y te enseñarán acerca de lo espiritual y lo sobrenatural.</p>
            <h2>Sagradas Escrituras poderosas del amor de Dios</h2>
            <section>
               <h3>1 Corintios 1:30</h3>
               <br> 
               <br>
               <p>Vosotros estáis en Cristo Jesús, que se ha hecho para vosotros sabiduría de Dios, así como justicia, santificación y redención.</p>
               <br>    
               <h3>Juan 11:25-26</h3>
               <br>    
               <br>  
               <p>Jesús le dijo: “Yo soy la resurrección y la vida. El que cree en mí vivirá, aunque muera; y el que vive creyendo en mí, no morirá jamás. ¿Cree usted esto?"</p>
               <h3>Romanos 8:2</h3>
               <br>    
               <br>  
               <p>Por Cristo Jesús la ley del Espíritu de vida os ha librado de la ley del pecado y de la muerte.</p>
               <h3>Romanos 10:9</h3>
               <br>    
               <br>  
               <p>Si confiesas con tu boca que Jesús es el Señor y crees en tu corazón que Dios le levantó de los muertos, serás salvo.</p>
               <h3>Romanos 13:12</h3>
               <br>    
               <br>  
               <p>La noche está muy avanzada; el día está a la mano. Así pues, desechemos las obras de las tinieblas y vistámonos las armas de la luz.</p>
               <h3>Romanos 15:13 </h3>
               <br>    
               <br>  
               <p>Que el Dios de la esperanza os llene de todo gozo y paz en el creer, para que por el poder del Espíritu Santo abundéis en esperanza.</p>
               <h3>Romanos 16:20</h3>
               <br>    
               <br>  
               <p>El Dios de paz aplastará rápidamente a Satanás bajo vuestros pies. La gracia de nuestro Señor Jesucristo sea con vosotros.</p>
               <h3>Mateo 6:9</h3>
               <br>
               <p>Pedid, y se os dará; buscad, y vosotros. encontrará; llamad, y se os abrirá: 8 Porque toda el que pide recibe; y el que busca. encuentra; y al que llama, se le abre.</p>
               <h3>Mateo 7:7</h3>
               <br>   
               <br>  
               <p>Padre nuestro que estás en los cielos, santificado sea tu nombre, venga tu reino, hágase tu voluntad en la tierra como en el cielo. Danos hoy nuestro pan de cada día y perdona nuestras ofensas. Como nosotros perdonamos a los que nos ofenden. Y no nos dejes caer en la tentación mas líbranos del mal.</p>
               <h3>Mateo 28:19</h3>
               <br>    
               <br>  
               <p>Id, pues, y haced discípulos a las naciones, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo.</p>
               <h3>Juan 3:16</h3>
               <br>    
               <br>  
               <p>Tanto amó Dios al mundo que dio a su hijo unigénito, para que todo el que crea en él no se pierda, mas tenga vida eterna.</p>
               <h3>Juan 14:13</h3>
               <br>    
               <br>  
               <p>Todo lo que pidáis en mi nombre, lo haré, para que el Padre sea glorificado en el Hijo.</p>
               <h3>2 Corintios 10:4-5</h3>
               <br>    
               <br>  
               <p>Las armas con las que luchamos no son de este mundo. Por el contrario, tienen poder divino para demoler fortalezas. Derribamos argumentos y toda altivez que se levanta contra el conocimiento de Dios, y llevamos cautivo todo pensamiento para hacerlo obediente a Cristo.</p>
               <h3>Gálatas 5:22</h3>
               <br>    
               <br>  
               <p>The fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faithfulness, gentleness and self-control; against such things there is no law.</p>
               <h3>Efesios 6:10-18</h3>
               <br>    
               <br>  
               <p>Finalmente, sean fuertes en el Señor y en su gran poder. Vestíos de toda la armadura de Dios, para que podáis estar firmes contra las asechanzas del diablo. Porque nuestra lucha no es
                  contra carne y sangre, sino contra principados, contra autoridades, contra los poderes de este mundo tenebroso y contra las huestes espirituales del mal en el cielo
                  reinos Por lo tanto, pónganse toda la armadura de Dios, para que cuando venga el día malo, puedan mantenerse firmes, y después de haber hecho todo, para estar firmes.
                  Estad, pues, firmes, con el cinturón de la verdad ceñido a vuestros lomos, con la coraza de la justicia en su lugar, y ceñidos los pies con el apresto que
                  proviene del evangelio de la paz. Además de todo esto, tomad el escudo de la fe, con que podáis apagar todos los dardos de fuego del maligno. toma el
                  yelmo de salvación, y la espada del Espíritu, que es la palabra de Dios. Y orad en el Espíritu en toda ocasión con todo tipo de oraciones y peticiones.</p>
               <h3>Filipenses 4:7</h3>
               <br>    
               <br>  
               <p>La paz de Dios que sobrepasa todo entendimiento guardará vuestros corazones y vuestros pensamientos en Cristo Jesús.</p>
               <h3>2 Colosenses 1:12</h3>
               <br>    
               <br>  
               <p>Dando gracias al Padre que os ha hecho aptos para participar de la herencia de los santos en luz.</p>
               <h3>1 Tesalonicenses 5:23</h3>
               <br>    
               <br>  
               <p>Ahora bien, que el mismo Dios de paz os santifique por completo, y que todo vuestro espíritu, alma y cuerpo sean guardados irreprensibles para la venida de nuestro Señor Jesucristo.</p>
               <h3>2 Timoteo 1:7</h3>
               <br>    
               <br>  
               <p>Dios no nos ha dado un espíritu de timidez, sino de poder, de amor y de autodisciplina.</p>
               <h3>Hebreos 13:20</h3>
               <br>    
               <br>  
               <p>Y el Dios de paz, que por la sangre de la alianza eterna resucitó a los muertos nuestro Señor Jesús, el gran Pastor de las ovejas, me capate de todo bien para hacer su voluntad, y obre en nosotros lo que es agradable a él, por Jesucristo, a quien sea la gloria por los siglos de los siglos. Amén</p>
               <h3>1 Juan 1:7</h3>
               <br>    
               <br>  
               <p>
                  Si caminamos en la luz, como él está en la luz, tenemos comunión unos con otros, y la sangre de Jesús, el hijo de Dios, nos limpia de todo pecado.</p>
               <h3>1 Juan 3:3</h3>
               <br>    
               <br>  
               <p>Quien así espera en Jesús, se purifica como él es puro.</p>
            </section>
          <div class="center3"><a href="/es-ar/powerful-scripture/" aria-label="Volver al enlace superior" title="Volver al enlace superior">&nbsp;Cima<img src="/static/img/es-ar/back-to-top-link.webp" loading="lazy" alt="Volver al enlace superior" width="48" height="48"></a></div>
            <br>
          </div>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="Enlace de Donación" title="Enlace de Donación"><p>Ayuda Compartir Enlace</p></a>
      <div class="footer__addr">
         <br>
         <a class="footer__btn" href="/es-ar/contact-us/">Envíanos un correo electrónico</a>
         <h4>Contacto</h4>
         </div>
         <ul class="footer__nav">
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/es-ar/" aria-label="Página de inicio del sitio web">Hogar</a>
                  </li>
                  <li>
                     <a href="/es-ar/the-vision" aria-label="La Visión">La Visión</a>
                  </li>
                  <li>
                     <a href="/es-ar/spiritual-realms" aria-label="Reinos Espirituales">Reinos Espirituales</a>
                  </li>
                  <li>
                     <a href="/es-ar/soldiers-of-light" aria-label="Soldados de Luz">Soldados de Luz</a>
                   
                  </li>
               </ul>
            </li>
            <li class="nav__item nav__item--extra">
               <ul class="nav__ul nav__ul--extra">
                  <li>
                     <a href="/es-ar/guardian-angels" aria-label="Ángeles Guardianes">Ángeles Guardianes</a>
                  </li>
                  <li>
                     <a href="/es-ar/living-light" aria-label="Luz Viva">Luz Viva</a>
                  </li>
                  <li>
                     <a href="/es-ar/heavenly-realms" aria-label="Cielos Reinos">Cielos Reinos</a>
                  </li>
                  <li>
                     <a href="/es-ar/unconditional-love" aria-label="Amor Incondicional">Amor Incondicional</a>
                  </li>
                  <li>
                     <a href="/es-ar/about-us" aria-label="Acerca De">Acerca De</a>
                  </li>
                  <li>
                     <a href="/es-ar/ebook" aria-label="E-libro">E-libro</a>
                  </li>
               </ul>
            </li>
            <li class="nav__item">
               <ul class="nav__ul">
                  <li>
                     <a href="/es-ar/share-the-faith" aria-label="Comparte La Fe">Comparte La Fe</a>
                  </li>
                  <li>
                     <a href="/es-ar/powerful-scripture" aria-label="Poderosas Sagradas Escrituras">Poderosas Sagradas Escrituras</a>
                  </li>
                  <li>
                     <a href="/es-ar/prayer-request" aria-label="Solicitud de Oración">Solicitud de Oración</a>
                  </li>
                  <li>
                     <a href="/es-ar/terms" aria-label="Condiciones De Uso">Condiciones De Uso</a>
                  </li>
               </ul>
            </li>
         </ul>
        <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/es-ar/facebook-24.webp" title="Enlace de Icono de Facebook" alt="Enlace de Icono de Facebook" aria-label="Enlace de Icono de Facebook" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/es-ar/twitter-24.webp" title="Enlace de Icono de Twitter" alt="Enlace de Icono de Twitter" aria-label="Enlace de Icono de Twitter" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/es-ar/instagram-24.webp" title="Enlace de Icono de Instagram" alt="Enlace de Icono de Instagram" aria-label="Enlace de Icono de Instagram" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/es-ar/pinterest-24.webp" title="Enlace de Icono de Pinterest" alt="Enlace de Icono de Pinterest" aria-label="Enlace de Icono de Pinterest" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/es-ar/snapchat-24.webp" title="Enlace de Icono de Snapchat" alt="Enlace de Icono de Snapchat" aria-label="Enlace de Icono de Snapchat" width="24" height="24"></a>
         </div>
         <p>&copy;Derechos De Autor 2024 holymercy.com/es/ Reservados todos los derechos.</p>
               <div class="legal__links"> 
               <span>Mantente en contacto; ¡Holymercy está a punto de volverse increíble!</span>
               </div> 
            </footer>
            <!--google translate-->
            <span>
           <script>
   //<![CDATA[
   function googleTranslateElementInit() {
     new google.translate.TranslateElement({
       pageLanguage: 'es', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
       layout: google.translate.TranslateElement.InlineLayout.SIMPLE
     }, 'google_translate_element');
   }
   //]]>
           </script>
           <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
       </span>
   <!-- Google next gen tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-9YTTLPE2DX');
   </script>
    <script src="/static/js/es-ar/add-service-worker.js"></script>
 <script src="/static/js/es-ar/service-worker.js"></script>
   </body>
   </html>