<!doctype html>
<html lang="ja-jp">
   <head>
      <meta name="robots" content="index, follow">
      <title>私がこれまで知られている中で最も偉大なスピリチュアルな目覚めを遂げた方法</title>
      <meta name="description" content="私たちは、神、イエス・キリスト、そして聖霊は、真理を求めるすべての人に霊的な光、愛、信仰を与える永遠の光であると信じています。">
      <meta charset="utf-8">
      <link rel="canonical" href="/ja-jp/about-us/">
      <link rel="alternate" hreflang="x-default" href="/about-us/">
      <link rel="alternate" hreflang="en-us" href="/about-us/">  
      <link rel="alternate" hreflang="en" href="/en/about-us/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/about-us/">
      <link rel="alternate" hreflang="en-in" href="/en-in/about-us/">
      <link rel="alternate" hreflang="es" href="/es/about-us/">
      <link rel="alternate" hreflang="es-es" href="/es-es/about-us/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/about-us/">
      <link rel="alternate" hreflang="es-co" href="/es-co/about-us/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/about-us/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/about-us/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/about-us/"> 
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/about-us/"> 
      <link rel="alternate" hreflang="zh" href="/zh/about-us/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/about-us/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/about-us/"> 
      <link rel="alternate" hreflang="hi" href="/hi/about-us/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/about-us/">
      <link rel="alternate" hreflang="fr" href="/fr/about-us/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/about-us/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/about-us/"> 
      <link rel="alternate" hreflang="pt" href="/pt/about-us/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/about-us/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/about-us/">
      <link rel="alternate" hreflang="de" href="/de/about-us/">
      <link rel="alternate" hreflang="de-de" href="/de-de/about-us/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/about-us/">
      <link rel="alternate" hreflang="id-id" href="/id-id/about-us/">
     <link rel="alternate" hreflang="ar" href="/ar/about-us/">
      <link rel="alternate" hreflang="bn" href="/bn/about-us/">
      <link rel="alternate" hreflang="ko" href="/ko/about-us/">
      <link rel="alternate" hreflang="ru" href="/ru/about-us/">
      <link rel="alternate" hreflang="ur" href="/ur/about-us/">  
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/ja-jp/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/ja-jp/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
      <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"> 
      <!--Google Fonts-put off the loading of render blocking CSS-->    
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/ja-jp/manifest.json">  
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
     <meta property="og:title" content="私がこれまで知られている中で最も偉大なスピリチュアルな目覚めを遂げた方法">
     <meta property="og:site_name" content="聖なる慈悲">
     <meta property="og:url" content="https://holymercy.com/ja-jp/about-us/">
     <meta property="og:description" content="私たちは、神、イエス・キリスト、そして聖霊は、真理を求めるすべての人に霊的な光、愛、信仰を与える永遠の光であると信じています。">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/ja-jp/angel-from-christ-meta.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/ja-jp/">
     <meta property="twitter:url" content="https://holymercy.com/ja-jp/about-us/">
     <meta name="twitter:title" content="私がこれまで知られている中で最も偉大なスピリチュアルな目覚めを遂げた方法">
     <meta name="twitter:description" content="私たちは、神、イエス・キリスト、そして聖霊は、真理を求めるすべての人に霊的な光、愛、信仰を与える永遠の光であると信じています。">
     <meta name="twitter:image" content="/static/img/ja-jp/angel-from-christ-meta.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/ja-jp/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
      <header>
         <ul>
            <li><a href="/ja-jp/"><img class="logo" src="/static/img/ja-jp/holymercy-logo.webp" loading="lazy" id="logo" alt="左上のナビゲーション バーのロゴ" aria-label="左上のナビゲーション バーのロゴ" width="68" height="39"></a></li>
            <li><a href="/ja-jp/" aria-label="ウェブサイト ホームページ">家</a></li>
            <li><a href="#" aria-label="『サークル・オブ・ラブ』の章">章</a>
               <ul>
                  <li><a href="/ja-jp/the-vision" aria-label="ビジョン">ビジョン</a></li>
                  <li><a href="/ja-jp/spiritual-realms" aria-label="霊的領域">霊的領域</a></li>
                  <li><a href="/ja-jp/soldiers-of-light" aria-label="光の戦士たち">光の戦士たち</a></li>
                  <li><a href="/ja-jp/guardian-angels" aria-label="ガーディアンエンジェルス">ガーディアンエンジェルス</a></li>
                  <li><a href="/ja-jp/living-light" aria-label="リビングライト">リビングライト</a></li>
                  <li><a href="/ja-jp/unconditional-love" aria-label="無条件の愛">無条件の愛</a></li>
                  <li><a href="/ja-jp/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/ja-jp/about-us" aria-label="だいたい">だいたい</a></li>
            <li><a href="/ja-jp/ebook" aria-label="電子書籍">電子書籍</a></li>
            <li><a href="#" aria-label="共有">共有</a>	
               <ul>
                  <li><a href="/ja-jp/share-the-faith" aria-label="信仰を分かち合う">信仰を分かち合う</a></li>
                  <li><a href="/ja-jp/powerful-scripture" aria-label="力強い経典">力強い経典</a></li>
                  <li><a href="/ja-jp/prayer-request" aria-label="祈りのお願い">祈りのお願い</a></li>
                  <li><a href="/ja-jp/contact-us/" aria-label="コンタクト">コンタクト</a></li>
               </ul>
            </li>
         </ul>
      </header>
       <!--Google Translate Top-->
       <div id="google_translate_element" title="Google翻訳の言語を選択するボタン"></div>
       <div id="images_hz" class="center-align">
      <div id="font-type">
       <h1>私は自分の愛と魂をイエス・キリストと神に明け渡しました</h1>
         <br>
         <br>
         <img src="/static/img/ja-jp/rose-crowned-angel.webp" loading="lazy" title="光の輪と祈りの手を持った天使" alt="光の輪と祈りの手を持った天使" aria-label="光の輪と祈りの手を持った天使" class="heaven" width="512" height="512">
         <br>
       <br>
       <p>私は自分の信仰を世界に伝えるために holymercy.com を始めました。 私にこれらの信仰の言葉を書く資格は何でしょうか？ できる限り聖霊に近づきたいという私の圧倒的な願望と決意。 この世界でも私の人生でも、私にとってこれ以上に重要なものはありません。 私たち自身の個々の霊を含むすべての霊と同様に、聖霊も生きており、繁栄するために生きていることを学びました。 私は、自己スピリット、自己魂、自己意識が、個人の生命力を定義する 3 つのユニークな人生の贈り物であることを学びました。 そして、聖霊に近づけば近づくほど、人生の理由が圧倒的に理解できるようになることを学びました。 そして、その存在が感じられれば感じるほど、もっと学びたいと思うようになり、もっと近づけるように努力します。 私の人生の目的は、終わることのない天国の神に祈ることです。
      </p>
      <p>継続的な精神的成長への切望は、私の絶え間ない執着です。 私の人生における探求は、聖霊の光についてできるだけ多くを学び、そのすべてと一つになることです。 今、私は聖霊が自分の心、霊、魂の中に宿っていることがどのような感じかを学び始めていますが、聖霊の臨在が与える至福に匹敵する力は他にありません。 聖霊は神の霊であり、すべての中で最も偉大で最も強力な生命力です。 生命の理由と謎について学ぶために、リクエストに応じてすべての人に与えられます。 学べば学ぶほど、より多くのことが明らかになり、神に近づくことができます。 これは信仰の神秘を通して自動的に起こります。 これはスピリチュアルな目覚めが起こる多くの方法のうちの 1 つにすぎません。 聖霊の愛、命、光、力を真剣に求めることによって、誰でも聖霊を受け取ることができ、その力が自分の心と魂の中に来てそこに宿るようになります。 聖霊が内側に入ってくると感じると、キリスト、聖霊、そして神が持つ圧倒的な力によって、人は霊的に生まれ変わり、永遠に変わります。
      </p>
      <p>自分自身の霊と魂を認識する方法を学ぶことは、人が聖霊とコミュニケーションする方法を学び始めると起こります。 私は、聖なるすべてのものに対する何らかの霊的成長が起こる前に、聖霊との交わりとコミュニケーションが不可欠であると結論付けました。 コミュニケーションはシンプルです。 それは信仰と揺るぎない希望を持って心から生まれます。 私は、揺るぎない信仰の定義、自己の精神の知識、魂の光の認識、そして心の無条件の愛の知識が、霊的成長のために祈り、学ぶべき最も重要な4つの力であると結論付けました。 あなた自身の力であるこれらのそれぞれの力は、私たちにその霊的な真実を教えてくれるために発見されるのを待っています。 あなたは彼らの所有者であり、あなたを導き、祝福し、守る彼らの番人です。 それらはあなたのものであり、これからもずっとあなたのものです。 それぞれが、あなたの信仰と力が成長するために、自分の力をあなたに明け渡すのを待っています。 それらはあなたの願望であり、あなたの意志です。 それらは私たちに永遠の命の究極の理由を教え、この世を去るときの避けられない運命に備えさせるものです。 自分が霊であること、魂であること、そして何よりもまず神の子であることを決して疑ってはなりません。
      </p>
     <h2>あなたの魂は永遠の生きた光であり、神の愛です</h2>
      <br>
      <br>
      <p>スピリチュアルな目覚めは、人生でいつでも訪れる可能性があります。 求められれば簡単に手に入れることができます。 そして、時にはそれが予想外のときに起こることもあります。 霊的な目覚めとは、聖霊が意識的な心、エネルギー的な霊、魂の命とつながり、その人の人生観全体を瞬時かつ継続的に変えることです。 人は初めて目覚めを迎えるとき、その圧倒的な存在感により、自分が聖霊と交わっていることを瞬時に知ります。 聖霊の力は非常に強力な力であり、それを感じると、神が存在するすべての中で最も偉大な現実であることが間違いなく認識されるほどです。 目覚めは、私たちの自然な感覚を超自然的なものや神聖なものに対してより敏感にします。 誰でも覚醒することができ、生涯を通じて継続的に覚醒することができます。 人がしなければならないのは、聖霊が自分の人生に来てくださるように祈ることだけです。そうすれば、聖霊はそうしてくださるでしょう。 目覚めとともに、自分の精神生活全体に関する啓示と再評価がもたらされます。 
         </p>
      <p>聖霊の近くに留まることで、私は継続的に徐々に霊的な成長を遂げることができます。 それがさらに私の魅力を刺激します。 聖霊への信仰は、生きている魂に栄養を与え、エネルギーを与える生命力です。 それはすべて、ある信仰のレベルから次のレベルへ、段階的に霊的に成長することです。 前日から学ぶことで、毎日が新たな一日に近づきます。 私は自分の間違いを繰り返さないことを学びました。 これは霊的に進歩するために必要なことです。 私は聖霊との絶え間ない交わりとコミュニケーションに夢中になっています。 そして今、私は彼が何兆もの銀河、領域、次元離れていようと関係ないことを本当に知っています。 信仰の神秘を通して、彼の存在は常に私の中にあります。 私が彼の中にいるのと同じように、彼も私の中にいます。 私たちを隔てるものは何もありません。 そして私は彼の愛に飲まれて日に日に近づいています。 私は彼が私に望んでいる人間になることを学んでいます。 私は両手を広げて彼の前に立ち、内に宿るこの強烈な憧れが絶えず変化することを求めます。 そして、私の願いが応えられつつあることを私は知っています。なぜなら、霊的な成長とともに、すべての人に見つけられることを切望し、辛抱強く待っている神の豊かで無限の愛に対する圧倒的な認識が生まれるからです。
      </p>
      <p>私は、前回よりもさらに強烈な、別のスピリチュアルな目覚めを経験していることを知っています。 私のすべての感覚は、彼の存在の近さに完全に圧倒されました。 彼のことは、もはや意味をなす人生の唯一の事実です。 彼の真実を知った後は、他に何も問題はありません。 信仰によって、私はベールの向こう側を見るためにその一線を越えました、そして私はそこに住むすべてのものを切望しています。 彼を通して、そして彼のために、私の力は成長し続けます。それは、すべての光の中で最も明るい場所、つまり彼の故郷に向かう信仰に従うことを誓うすべての人に彼が約束しています。is home is.
      </p>
      <p>天体との結合が起こると、霊的な目覚めが起こります。 それは、これまで感じたことのない圧倒的なエネルギーと興奮とともに起こります。 それは、人の現実をより高度な超自然的な極限に変える、人生を変えるような経験です。 自己は、神についてできる限り多くのことを学ぼうと自信を持って決意し、抗いがたい決意を新たにして継続的な理解を望み始めます。 人は信仰が天への命綱であることをすぐに学び、信仰が高まるにつれて絆の強さも増していきます。 そして意識が成長するにつれて、自己認識の光はその現実を共有します。なぜなら、それが上からの愛に属していることを知り、より高次の真実と一つになることを喜ぶからです。
      </p>
      <p>信仰における霊的な成長の過程で、人は霊的な一線を越えて、すべての生きた永遠の真理が生まれる向こう側に入る運命にある時期があります。 そこでは強化が表現され、聖霊の光で祝福され、信念が火に通されて洗練されます。 どちらの状況も交差点で発生するため、今後のあらゆることに備えてください。 あなたの未来は、あなたが勝つ力にかかっています。 強く立つために学ぶべきスピリチュアルな教訓はたくさんあります。 それぞれが自分の運命に沿って進むために、異なる真実を教えられます。 霊的な成長を通して霊的な目覚めが起こり、霊的な目覚めを通してさらに霊的な成長が起こります。 両者は信仰を高めるために協力します。 そして、決意があればあるほど、より頻繁に。 すべての人に与えられる祝福がたくさんあります。 聖霊はすべての人の弱さと強さを知っています。 これが各人の人生における次の霊的教訓を決定する方法です。 霊的な成長を、最後に明らかにされたレッスンが理解され、適用された後にのみ次のレッスンに進む、連続的なレッスンまたは認識レベルとして考えることができます。 慰め主は今ここにいて、祝福された未来につながる、成功し充実した霊的生活に向けてすべての人を備えるためにいます。 最善の結果が継続的に起こるように、心と魂と力を尽くして聖霊を讃えることを学びましょう。
      </p>
      <p>自分の心と魂の中の聖霊に気づくと、自分の人生はただ一つの目的、つまり彼だけになることだけを目的としていることがわかりました。 彼が私に望むことは何でもします。 彼のご意志が私の人生で成されますように。 何を学ばなければならないとしても、私は主を喜ばせるために必要なことをすべて学びます。 そして、彼に少しでも近づきたいという願いが私の使命です。憧れ、全力で努力します。 これが私の人生の目的です。 そして、私の救いが安全であり、いつか私が彼とともにそこにいることを知っていることは、神がすべての人に与える約束です。
      </p>
      <p>これまで知られているものと知られていないスピリチュアルな答えをシンプルにしてください。 説明できない霊的な疑問や存在に関する謎を考えて、悩まないでください。 それがまさに信仰の定義です。神の力と言葉を何の証拠もなく信じ、自分の本能と直観に耳を傾けることです。 これが信仰の仕組みです。 これが信仰が祝福と報いをもたらす方法です。 このようにして、信仰は次に何を学ぶべきかを明らかにします。 私たちは、父なる神、イエス・キリスト、そして聖霊が持つ神聖な力を測り始めることさえできません。 ましてや彼らにあえて質問するなどということはありません。 私たち人間の心は、聖三位一体の全能性の最高の威厳や、神の御心のままに何でもできる神の能力を理解することができません。 遍在は神の美徳であり、そのおかげで神は宇宙のすべての部分を満たし、あらゆる場所に一度に存在します。 そして全知、つまり過去、現在、未来のすべてを完全かつ永遠に知っているという神の属性です。 私たちは信仰や天に疑問を持たないことを学ばなければなりません。 これが永遠の命が明らかにするものです。
      </p>
      <p>これほど純真さに満ちた霊が、どうして霊的な風に逆らって投げられるのでしょうか？ なぜなら、霊的な光と霊的な闇に関して善悪を知るためには、人生のどの時点でもこのようなことが起こらなければならないからです。 自己精神のように純粋で真実なものは、成功するために多くの真実を学ばなければなりません。 心配しないでください; これは、霊性が生きており、永遠であり、真実であることを学んだすべての人に起こります。 かつては無邪気に満ちていた精神が、どうやって元の場所に戻ることができるのでしょうか? 私はイエス・キリストを通して救いへの道を見つけました。だからこそ、彼は他の人たちのために、同じものを受け取るためにここに来ました。
      </p>
      <p>これらの言葉は、行間を読むことができる人にとっては励ましに満ちています。 私は生涯を通じて、心の奥底にあるこれらの真実の核心に迫ろうと努力してきました。 私はこれまでの人生を通じて、これらの真実から繰り返し逸脱してきました。 多くの時間が失われましたが、学ぼうと決意していたので決して無駄にはなりませんでした。 これは私に、批判しないこと、自分の精神をコントロールすること、守る場合以外は決して戦わないことを教えてくれました。 私は許し、忘れる方法を学びました。 そして私は常に愛し、愛される方法を学んでいきます。 霊的真理を学ぶことは決して終わることのないプロセスであり、これが永遠の命を得る理由の一つにすぎません。
      </p>
         <br>
         <br>                                                                  
       <h3>このビデオは生きた真実を語っており、素晴らしいです!</h3>
       <br>
       <br>
       <a href="https://www.youtube.com/embed/wzIi__BGIBY" target="_blank" rel="noreferrer" class="center6 blue-link" aria-label="聖霊があなたの中に入ったときに起こる5つの信じられないこと">聖霊があなたの中に入ったときに起こる5つの信じられないこと</a>
       <p>動画の字幕は日本語で利用可能 > クリック <img src="/static/img/ja-jp/cogwheel-icon.webp" loading="lazy" title="歯車アイコン画像" aria-label="歯車アイコン画像" alt="歯車アイコン画像" width="24" height="24">-> 字幕/CC -> 自動翻訳</p>	  
        <br>
      <div class="center6">    
         <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wzIi__BGIBY" loading="lazy" title="YouTube ビデオ「聖霊があなたの中に入ったときに起こる 5 つの信じられないこと」" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; geolocation; web-share" allowfullscreen></iframe> 
         <br>
         <br> 
         <br>
      </div>
      <h4>ビデオのトランスクリプト</h4>
      <br>
      <p>さて、誰が個々のクリスチャンの心に聖霊を送り込むのでしょうか？ 主イエス・キリストがそうしてくださる間は。 彼はまだ仕事中です。 主イエス・キリストはどこから聖霊を送られるのでしょうか？ 父なる神から、神が神であった限り愛されてきたすべての人の心に。 人生のある時期、ある時は子供の頃、ある時は十代の時、そしてある時は老年期にさえあります。 天におられる主イエス・キリストは、父なる神から彼らの心に聖霊を送ってくださいます。 そして、聖霊が男性、女性、少年、少女の人生に降臨すると、5つの驚くべきことが起こります。
      </p>
         <p>第一に、神は新たな誕生をもたらします。 ある若い男性が私に、「私にはそれが理解できない。私はずっとクリスチャンホームで過ごしてきたのです。」と言ったことがあります。 私は何千もの福音の説教を聞き、何千もの教会の礼拝に出席しましたが、それは私にとって何の意味もありませんでした。 そしてある日、それが彼を襲い、自分の中で変化が起こり始めたのを自分の目で確認したと彼は言います。 それが新たな誕生です。 新しい人生を始めるようなものです。 あなたは自然出産によってこの世に生まれてきました。 あなたは霊的な誕生を通じて霊的な世界に入ります。 イエスはヨハネ 3 章 3 節で、まことに真実に、新しく生まれなければ誰も神の国を見ることはできないと言われました。 あなたは物質的な世界に来るので、自然な出産のためにはそれは物質的なものでなければならないことがわかります。 もしあなたが霊的な世界に行くなら、それは霊的な誕生でなければなりません。 誰が霊的な誕生をもたらすことができるでしょうか？ あなたはできる？ いいえ、聖霊だけです。 そして人々は、霊的な誕生によって、霊的なものを見たり、霊的なものを経験したりするために、霊的な世界に霊的な次元に連れて行かれます。
         </p>
        <p>イエスはそれを生まれ変わること、あるいは上から生まれることと呼んでいます。 ヨハネ 3:6 によると、肉から生まれたものは肉です。 そして、霊から生まれるものは霊です。 そして生まれ変わることは、男性や女性があなたのためにできることではありません。 あなたの両親はあなたのためにそれをすることはできません。 あなたの友達はあなたのためにそれをすることはできません。 聖霊だけが人を生まれ変わらせることができます。 そして、聖霊なる神ご自身だけが、人々を霊的な次元、霊的な世界に連れて行ってくださるのです。 神の王国さえ見ることができません。 聖霊の働きがなければ霊的世界を見ることさえできません。 それを私たちは新生と呼んでいます。 それが聖霊があなたの中に入ったときに最初に行うことです。 彼はあなたに新たな誕生を与えます。 第二に、聖霊が私たちの生活、愛情、知性、感情、そして私たちのすべての中に来られました。 その時、彼は実際に私たちの中に住み始めます。 イエスは弟子たちにこう言われました。「イエスはあなたたちとともにおられ、あなたたちの中にいるでしょう。真のクリスチャンのしるし、真に新しく生まれ変わった神の子のしるしは、聖霊がその人または彼女の中に住んでいることです。」 そして聖書は、キリストの御霊を持たない人がいるとすれば、それはその人が自分のものではないからであると述べています。
        </p>
        <p>さて、あなた方の多くは、キリストに自分の命を捧げる前、クリスチャンと交友関係にあったかもしれません。そして、彼には何かがある、彼女には何かがある、しかし、それを指で確かめることは決してできなかったが、そうはしなかった、と自分に言い聞かせたかもしれません。 彼らが持っていたものを正確に表現する言葉や言語を持っていません。 そして真実は、聖霊はあなたが彼らの内側に見たものであり、それがクリスチャンをクリスチャンたらしめているということです。 聖霊の働き。 そして、神は私たちを霊的な領域に連れて行った後も、私たちから離れません。 彼は私たちの中に生きています。 彼は私たちの中に住んでいます。 新約聖書のコリント人への手紙第一 6 節 9 節では、私たちの体さえも聖霊の神殿と呼ばれるほどです。 ギリシャ語で聖霊の神殿。ご存知のように神殿は大きな建物でしたが、大きな建物の中に聖なる場所がありました。 そして、聖所の中に至聖所があり、それはパウロがあなたの体を表すために使っている言葉です。つまり、新しく生まれ変わったクリスチャンであるあなた方一人一人は皆、聖霊とともに住んでいます。 神はあなたの中にいて、神はあなたとともにいる、あるいはあなたとともにいます。
         </p> 
         <p>だからこそ、聖書は、この世にいる者よりも、わたしのうちにいる者の方が偉大である、と言っているのです。 あなたの中には、人間の頭では理解できない力が秘められています。 あなたはあなたが思っているよりも強力なので、新生クリスチャンであるあなた一人一人には神の御霊が住んでいます、それが二番目です。 第三に、聖霊は私たちが聖書を理解できるようにしてくださいます。
         </p> 
         <p>精神世界に戻りましょう。 使徒パウロは、生来の人、不信者は神の御霊のものを受け入れないと言います。 もちろん、彼は使徒パウロのようなことを言うことはできません。なぜなら、それらは彼にとって愚かであり、神の事柄は霊的に識別されているからです。 聖書は霊的な本です。 温度計よりも多くの度数を持っていても、聖書を理解できなくても構いません。 アルバート・アインシュタインのIQを持っていても、聖書を理解できなくても構いません。 一方、世俗的な見方からすれば高度な教育を受けていない普通のクリスチャンでも、聖書を開いてそれを理解することに喜びを感じることができます。 そしてその中にイエス・キリストを見ることです。 それをどう説明しますか？ スピリチュアルな本だから。 それはスピリチュアルな世界であり、スピリチュアルな本とこのスピリチュアルな世界のハンドブックを理解しようとするなら。 あなたには霊的な感覚が必要ですが、私たちに霊的な感覚を与えてくれるのは聖霊ご自身だけです。 だからこそ、聖書を祈りから切り離すことはできないし、してはいけないし、あえて切り離すべきではないのです。
        </p>
         <p>4番目：聖霊は神の子供たちに霊的な経験を与えます。 クリスチャンが聖書を読んだり、聖書について考えたりするとき、多くの場合、驚きと畏怖の念で満たされます。 彼はただ立ち止まって座ったり、ただ神を賞賛するために散歩に出かけたりするだけです。 それがパウロがピリピ人への手紙 3 節 3 節で言っている意味です。「わたしたちは霊において神を礼拝する割礼の者だからです。」 そしてこれが、イエスが神は霊であり、神を崇拝する者は霊と真実において神を崇拝しなければならない、と言ったときの意味です。 そして時々人々は十字架のことを考えると、自分の心が流水に侵されているように感じます。 それは神の愛で溢れ始めるほどです。 神の愛は私たちの心に注がれている、とパウロはローマ人への手紙に書いています。 私たちに与えてくださった聖霊によって、そして時には私たちは喜びに満たされるのです。 そうです、神の国は食べ物や飲み物ではなく、義と平和、そして聖霊による喜びだからです。 そしてクリスチャンは人生において厳しい経験をすることがあります。 普通の人なら通常は壊れてしまうような経験。 誰かが自分の殻に閉じこもりたくなるような経験でも、クリスチャンや神の子は、そのような状況でも主の喜びを持っていることがわかります。なぜなら、彼は聖霊からの希望に満たされているからです。 そして、聖書のローマ人への手紙 15 章 13 節とガラテヤ人への手紙 5 節 5 節で次のように述べられています。その希望はどこから来るのでしょうか。 誰から？ 彼から聖霊が来ます。 
        </p>
        <p>5 番目の祈り: 聖霊は私たちが祈るのを助けてくださいます。 祈りはあなたの言葉や語彙とは何の関係もありません。 祈りはパフォーマンスではありません。 それは心の問題です。 すべての本当の祈りは聖霊の中にあり、私たちは皆、同じ主イエス・キリストを通して、一つの霊によって天の父に近づくことができると聖書で教えられています。 ですから、あなたがこれまで祈り、心を込めてきたときはいつもそうなのです。 それは聖霊の働きでした。 さて、聖霊は 5 つの異なる方法で私たちを助けてくださいますが、今日はそのうちの 3 つの方法についてのみ説明します。 ローマ人への手紙 8 章 26 節を読んでみましょう。「同様に、御霊は私たちの弱さを助けてくださいます。なぜなら、私たちは何を祈るべきかわからないからです。しかし、御霊ご自身が言葉にならないほど深いうめきをもって私たちのために執り成してくださいます。」とあります。 まず第一に、聖霊は文字通り私の祈りのパートナーです。 助け主が一緒に祈ってくれていると知るのは、何と素晴らしいことでしょう。 イエスが遣わしてくださった慰め手は、あなたが祈るたびに、あなたと一緒に祈ってくれています。 言い換えれば、イエス様があなたの隣に座って祈っているようなものです。 ちょうど弟子たちが祈ったときにイエスがすぐ隣にいたのと同じです。 あなたが祈るたびに、文字通り聖霊があなたの手を握ってくださいます。
         </p> 
         <p>第二に、聖霊は私たちの祈りのパートナーであるため、神はあなたのために執り成してくれます。 彼はただ私たちに祈りを捧げるだけではありません。 御霊は私たちのために祈ってくださいます。 彼は私のために祈ってくれていますし、神の前であなたのために祈ってくれています。 これはとても素晴らしいことだと私は信じています。なぜなら、私は人生の中で助けが必要な時期があったからです。 そして、私たちが成し遂げた進歩の多くはこのおかげだと信じています。 聖霊の働きのためです。 そして第三に、彼は私が感じていることを解釈します。 私に祈りの助けが必要な理由は、私には感情があり、本当の災難に見舞われたときに感情が邪魔をすることがあるためです。 あなたが本当に暗い時期を経験していて、感情の中で心の極度の痛みを経験しているとき。 時々、出てくるのはうめき声、叫び声、うめき声だけで、言葉では自分の気持ちを完全に表現できないときがあります。 私たちの生活や祈りにおける最大の進歩のいくつかは、このような瞬間に訪れると私は信じています。なぜなら、聖霊はあなたが感じていること、あなたが伝えようとしていることを解釈してくれるからです。 そして彼はそれを神に伝えます。 人生の中で祈っていたときのことを思い返してみると、きっと一度は、自分は一人ではないと感じたことがあると思います。 そしてそれはあなたがそうでなかったからです。 聖霊があなたとともにおられ、あなたとともに祈ってくださいました。
      </p>
      <h4>私たちに関しては</h4>
      </div>
      <p>他の世界や存在する他の領域からの力は、神の聖霊の力が提供する防御線を突破することはできません。 彼はあらゆる力の中で最も高く最も強力であり、すべての霊と彼とつながりたいと願うすべての魂に聖霊を分かち合います。 人がしなければならないのは、最大の霊的目覚めが始まるために、神の聖霊が自分の魂の中に来てくださるように祈ることだけです。</p>
      <br>
      <p>私たちは、サポートを必要とする人に無料で秘密厳守のスピリチュアルなアドバイスや祈りのリクエストを提供するアウトリーチプログラムに取り組んでいます。 ご不安な点がございましたらお気軽にご相談ください。 私たちは、皆さんが集中し、情報を得て、霊的に強くなれるよう、私たちが学んだことをすべて共有し、支援できることを楽しみにしています。 私たちの救い主である主にすべての賛美と栄光を <a href="https://en.wikipedia.org/wiki/Jesus" target="_blank" rel="noreferrer" aria-label="wikipedia-Jesus" title="Jesus Christ Wikipedia Link"> イエス </a>
      <a href="https://en.wikipedia.org/wiki/Christ_(title)" target="_blank" rel="noreferrer" aria-label="キリストのウィキペディアリンク" title="キリストのウィキペディアリンク"> キリスト、</a> 
      ために <a href="https://en.wikipedia.org/wiki/Salvation" target="_blank" rel="noreferrer" aria-label="人類の救い ウィキペディアへのリンク" title="人類の救い ウィキペディアへのリンク">救い、</a> 
      <a href="https://en.wikipedia.org/wiki/Redemption_(theology)" target="_blank" rel="noreferrer" aria-label="クリスチャンの救いのウィキペディアへのリンク" title="クリスチャンの救いのウィキペディアへのリンク">償還、</a> そして彼の愛
      <a href="https://en.wikipedia.org/wiki/Holy_Spirit" target="_blank" rel="noreferrer" aria-label="神の霊 ウィキペディアへのリンク" title="神の霊 ウィキペディアへのリンク">その聖霊</a>、誰ですその
      <a href="https://en.wikipedia.org/wiki/Incarnation_(Christianity)" target="_blank" rel="noreferrer" aria-label="神の子ウィキペディア" title="神の子ウィキペディア">化身</a> の 
      <a href="https://en.wikipedia.org/wiki/Yahweh" target="_blank" rel="noreferrer" aria-label="ユダヤ教、キリスト教、アブラハムの宗教における神 ウィキペディア" title="ユダヤ教、キリスト教、アブラハムの宗教における神 ウィキペディア">全能</a>
      <a href="https://en.wikipedia.org/wiki/God" target="_blank" rel="noreferrer" aria-label="創造主であり至高の存在である神" title="創造主であり至高の存在である神">神</a>。 誰が永遠に何よりも上に君臨するだろう。 ハレルヤ、アーメン。</p>
      <br>
      <br>
      <div class="center3"><a href="/ja-jp/about-us/" aria-label="トップへ戻る リンク" title="トップへ戻る リンク">&nbsp;トップ<img src="/static/img/ja-jp/back-to-top-link.webp" loading="lazy" alt="トップへ戻る リンク" width="48" height="48"></a></div>
      <br>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="寄付リンク" title="寄付リンク"><p>ヘルプ共有リンク</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ja-jp/contact-us/">私達に電子メールを送り</a>
            <h4>コンタクト</h4>
            </div>
            <ul class="footer__nav">
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                           <a href="/ja-jp/" aria-label="ホームページ">家</a>
                     </li>
                     <li>
                        <a href="/ja-jp/the-vision" aria-label="ビジョン">ビジョン</a>
                     </li>
                     <li>
                        <a href="/ja-jp/spiritual-realms" aria-label="霊的領域">霊的領域</a>
                     </li>
                     <li>
                        <a href="/ja-jp/soldiers-of-light" aria-label="光の戦士たち">光の戦士たち</a>
                      </li>
                  </ul>
               </li>
               <li class="nav__item nav__item--extra">
                  <ul class="nav__ul nav__ul--extra">
                     <li>
                        <a href="/ja-jp/guardian-angels" aria-label="ガーディアンエンジェルス">ガーディアンエンジェルス</a>
                     </li>
                     <li>
                        <a href="/ja-jp/living-light" aria-label="リビングライト">リビングライト</a>
                     </li>
                     <li>
                        <a href="/ja-jp/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                     </li>
                     <li>
                        <a href="/ja-jp/unconditional-love" aria-label="無条件の愛">無条件の愛</a>
                     <li>
                        <a href="/ja-jp/about-us/" aria-label="だいたい">だいたい</a>
                     </li>
                     <li>
                        <a href="/ja-jp/ebook" aria-label="電子書籍">電子書籍</a>
                     </li>
                  </ul>
               </li>
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/ja-jp/share-the-faith" aria-label="信仰を分かち合う">信仰を分かち合う</a>
                     </li>
                     <li>
                        <a href="/ja-jp/powerful-scripture" aria-label="力強い経典">力強い経典</a>
                     </li>
                     <li>
                        <a href="/ja-jp/prayer-request" aria-label="祈りのお願い">祈りのお願い</a>
                     </li>
                     <li>
                        <a href="/ja-jp/terms" aria-label="利用規約">利用規約</a>
                     </li>
                  </ul>
               </li>
            </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ja-jp/facebook-24.webp" title="フェイスブック アイコンリンク" alt="フェイスブック アイコンリンク" aria-label="フェイスブック アイコンリンク" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/twitter-24.webp" title="ツイッター アイコンリンク" alt="ツイッター アイコンリンク" aria-label="ツイッター アイコンリンク" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/instagram-24.webp" title="インスタグラム アイコンリンク" alt="インスタグラム アイコンリンク" aria-label="インスタグラム アイコンリンク" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/pinterest-24.webp" title="ピンタレスト アイコンリンク" alt="ピンタレスト アイコンリンク" aria-label="ピンタレスト アイコンリンク" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/snapchat-24.webp" title="スナップチャット アイコンリンク" alt="スナップチャット アイコンリンク" aria-label="スナップチャットアイコンリンク" width="24" height="24"></a>
         </div>
         <p>&copy;著作権 2024 holymercy.com/ja-jp/ 全著作権所有</p>
            <div class="legal__links"> 
            <span>連絡を取り合いましょう。ホーリーマーシーはこれから素晴らしいものになります！</span>
            </div> 
         </footer>
        <!--google translate-->
       <span>
            <script>
    //<![CDATA[
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'ja', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,id,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    //]]>
            </script>
            <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </span>

      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/ja-jp/add-service-worker.js"></script>
 <script src="/static/js/ja-jp/service-worker.js"></script>
</body>
</html>