<!doctype html>
<html lang="ja-jp">
   <head>
      <meta name="robots" content="index, follow">
      <title>魂の生きた光は神ご自身の超自然的な光です</title>
      <meta name="description" content="あなたの魂はあなたの生命力であり、神からの生きた光です。 信仰、真実、愛の強力な超自然的な光である聖霊と永遠に結びつきます。">
      <meta charset="utf-8">
      <link rel="canonical" href="/ja-jp/living-light/">
      <link rel="alternate" hreflang="x-default" href="/living-light/">
      <link rel="alternate" hreflang="en-us" href="/living-light/">
      <link rel="alternate" hreflang="en" href="/en/living-light/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/living-light/">
      <link rel="alternate" hreflang="en-in" href="/en-in/living-light/">
      <link rel="alternate" hreflang="es" href="/es/living-light/">
      <link rel="alternate" hreflang="es-es" href="/es-es/living-light/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/living-light/">
      <link rel="alternate" hreflang="es-co" href="/es-co/living-light/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/living-light/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/living-light/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/living-light/">
      <link rel="alternate" hreflang="zh" href="/zh/living-light/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/living-light/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/living-light/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/living-light/"> 
      <link rel="alternate" hreflang="hi" href="/hi/living-light/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/living-light/">
      <link rel="alternate" hreflang="fr" href="/fr/living-light/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/living-light/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/living-light/"> 
      <link rel="alternate" hreflang="pt" href="/pt/living-light/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/living-light/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/living-light/">
      <link rel="alternate" hreflang="de" href="/de/living-light/">
      <link rel="alternate" hreflang="de-de" href="/de-de/living-light/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/living-light/">
      <link rel="alternate" hreflang="id-id" href="/id-id/living-light/">
      <link rel="alternate" hreflang="ar" href="/ar/living-light/">
      <link rel="alternate" hreflang="bn" href="/bn/living-light/">
      <link rel="alternate" hreflang="ko" href="/ko/living-light/">
      <link rel="alternate" hreflang="ru" href="/ru/living-light/">
      <link rel="alternate" hreflang="ur" href="/ur/living-light/">   
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/ja-jp/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/ja-jp/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
     <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">
      <!--Google Fonts-put off the loading of render blocking CSS-->   
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/ja-jp/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-64.png" sizes="64x64">
      <!--end manifest-->
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
     <meta property="og:title" content="魂の生きた光は神ご自身の超自然的な光です">
     <meta property="og:site_name" content="聖なる慈悲">
     <meta property="og:url" content="https://holymercy.com/ja-jp/living-light/">
     <meta property="og:description" content="あなたの魂はあなたの生命力であり、神からの生きた光です。 信仰、真実、愛の強力な超自然的な光である聖霊と永遠に結びつきます。">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/ja-jp/heart-of-light.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/ja-jp/">
     <meta property="twitter:url" content="https://holymercy.com/ja-jp/living-light/">
     <meta name="twitter:title" content="魂の生きた光は神ご自身の超自然的な光です">
     <meta name="twitter:description" content="あなたの魂はあなたの生命力であり、神からの生きた光です。 信仰、真実、愛の強力な超自然的な光である聖霊と永遠に結びつきます。">
     <meta name="twitter:image" content="/static/img/ja-jp/heart-of-light.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/ja-jp/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
      <header>
         <ul>
            <li><a href="/ja-jp/"><img class="logo" src="/static/img/ja-jp/holymercy-logo.webp" loading="lazy" id="logo" alt="左上のナビゲーション バーのロゴ" aria-label="左上のナビゲーション バーのロゴ" width="68" height="39"></a></li>
            <li><a href="/ja-jp/" aria-label="ウェブサイト ホームページ">家</a></li>
            <li><a href="#" aria-label="『サークル・オブ・ラブ』の章">章</a>
               <ul>
                  <li><a href="/ja-jp/the-vision" aria-label="ビジョン">ビジョン</a></li>
                  <li><a href="/ja-jp/spiritual-realms" aria-label="霊的領域">霊的領域</a></li>
                  <li><a href="/ja-jp/soldiers-of-light" aria-label="光の戦士たち">光の戦士たち</a></li>
                  <li><a href="/ja-jp/guardian-angels" aria-label="ガーディアンエンジェルス">ガーディアンエンジェルス</a></li>
                  <li><a href="/ja-jp/living-light" aria-label="リビングライト">リビングライト</a></li>
                  <li><a href="/ja-jp/unconditional-love" aria-label="無条件の愛">無条件の愛</a></li>
                  <li><a href="/ja-jp/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/ja-jp/about-us" aria-label="だいたい">だいたい</a></li>
            <li><a href="/ja-jp/ebook" aria-label="電子書籍">電子書籍</a></li>
            <li><a href="#" aria-label="共有">共有</a>	
               <ul>
                  <li><a href="/ja-jp/share-the-faith" aria-label="信仰を分かち合う">信仰を分かち合う</a></li>
                  <li><a href="/ja-jp/powerful-scripture" aria-label="力強い経典">力強い経典</a></li>
                  <li><a href="/ja-jp/prayer-request" aria-label="祈りのお願い">祈りのお願い</a></li>
                  <li><a href="/ja-jp/contact-us/" aria-label="コンタクト">コンタクト</a></li>
               </ul>
            </li>
         </ul>
      </header>
        <!--Google Translate Top-->
        <div id="google_translate_element" title="Google翻訳の言語を選択するボタン"></div>
        <div id="images_hz" class="center-align"> 
      <div id="font-type">
         <div id="main">
            <h1>あなたの超自然的な魂の生きた光は神の生きた光です</h1>
            <br>
           <img src="/static/img/ja-jp/heart-of-light.webp" loading="lazy" title="魂の生きた光" alt="魂の生きた光" aria-label="魂の生きた光" class="heart-of-light" width="203" height="189">
          <p>どうすればわかりますか? 私は自分の魂の内側を見ることを許され、最も純粋な光を本質とする神の天使たちを見たり交流したりすることを許されました。 神は生きた光です。なぜなら、神は存在するすべての超自然的で自然な光の究極の定義だからです。 神の生ける光は、すべての天の最高にある神の最も神聖な御座から生じます。 それは信仰を通して簡単に発見し、感じ、アクセスし、見ることができますが、それはその人自身のものです。なぜなら、彼の生きた光はその人の生きた魂の本質だからです。 神はすべての創造物と生命そのものの究極の定義です。 彼自身の息がなければ、何も存在できませんし、存在することもできません。 神は最大の光の力であり、神の愛を切望するすべての人に光を与えます。 すべての神の中の私たちの神が彼らの魂に入るのを許すと、奇跡と啓示が起こり始め、つながりが強く保たれていることを安心させます。 天界全体および天界内でつながりと通信がネットワーク化され始め、それによって高次元へのアクセスが可能になりました。 神とキリストが自分自身の心、霊、魂の中に招かれると、天上の光のすべてがあなた自身の魂を祝福するので、霊的な変容が起こり始めます。 これは、自分が内側から彼ら全員とつながっていることを本当に知るときです。 そして、ひとたび参加すると、あなたのまさに生きている魂は、すべての中で最も偉大で無限の精神的な宝を刈り取り始めます。 真実、光、信仰、愛、霊、魂の永遠の秘密を学ぶためのつながり。それは常にあなた自身のものであり、キリストを通して永遠であることが保証されています。
         </p>
         </div>
         <p>あなたの生きた魂は、すべての霊的および超自然的な宝物の中で最も豊かであり、あなたがその秘密、その力、その真実、そしてその報酬を発見するのを辛抱強く待っています。 あなたの魂は、永遠の命の目的のために与えられた、あなたの内なる存在のまさに核心、まさに本質です。 あなたはあなた自身の光です。 あなたがここにいるのは、神の聖霊を世界と分かち合うための魂の光を与えられたからです。 あなたは輝いていて、美しく、素晴らしく、そして愛されています。 すべての天は、あなたがすべてを理解するのを辛抱強く待っています。 天使のいる場所へ飛び立つ方法を学ぶのに、この世界には神以外に何も必要ありません。 あなたの魂は、これから学ぶ必要がある天体に関するすべての答えを持っています。 彼らはあなたにその神秘のすべてを教え、天国が存在するすべての光の中で最も明るい場所にあなたを導きます。 自分のスピリットと魂の声に注意深く耳を傾け、彼らの欲望やニーズをすべて満たせるようになりましょう。 あなたの魂が望むすべてを捧げれば、それはあなたに豊かな報酬を与えてくれるでしょう。 神聖さの至福であなたの魂に栄養を与え、その秘密を明らかにしてください。 魂の光は、神聖で真実なものすべてによって支えられることを渇望しています。 あなた自身のすべてを信頼してください。 あなたは何よりもまずあなた自身の生きた魂です。 あなたの魂は奇跡であり、まさに神のみの働きです。 自分の内側を見つめれば、本当の自分という宝物が見えるでしょう。 あなただけが全宇宙で最も貴重な宝物です。 そして、魂の第一の黄金律を常に覚えておいてください。それは疑ったり疑ったりすることはできません。 天から祝福され、天から祝福される自分自身のすべてを祝福するということは、疑いの余地のない信仰によってのみ受け入れられます。
         </p>
         <h2>魂の生きた光と神の生きた光について私が学んだこと</h2>
          <p>霊の中で生きる人にとって、人生とは、強さを得るために魂の状態を学ぶことです。 信仰が成長するにつれて、生ける光への意識も高まりますが、信仰が義に基づいていない場合、人の認識はそうでないものによって簡単にコントロールされてしまいます。 信仰について学ぶ人は光と闇について学び、そうでない人は両方に盲目になります。 私自身、聖霊の光を最もよく知っています。聖霊は、自分自身とつながりたいと願うすべての人に無条件で与えられます。 私は息をするたびに神の生ける光を賛美します。なぜなら、私を含むものはすべて神のものだからです。 そして、私の信仰が私をどこへ導いたのか、私は何よりも彼の生きた光を信じています。 聖霊の生きた光は最も強力な自然光であり超自然光であり、聖霊の愛情を切望し、望むすべての人にその愛を分け与え、照らします。 私たちの神、救い主キリスト・イエス、そして聖霊は、すべての無条件の愛、すべての永遠の光、すべての揺るぎない信仰の源です。 神の生ける光について真実であると信じることは、希望が疑わないとき、自分自身にとっての真実です。 彼の光は、彼自身のものすべてへの信仰を通して見ることができ、感じることができる畏敬の念を抱かせる光です。 彼の生きた光はまさに生きた魂の本質であり、それを認識しそこから学ぶ方法を学ぶためにすべての人に与えられています。
            </p>
         <p>自分自身である光を認識し、理解しようとする前に、まず神の光を認識しなければなりません。 はい、誰もが発見すべき独自の魂の光を持っています。 信仰を通してのみ、人はその光が構成するすべてを学ぶことができます。 ひとたび神の最も神聖な光のために生き始めると、すべての霊的真理に対する認識が始まり、成長していきます。 すべては信仰の強さを学ぶことであり、意識が成長すると、目に見えない生きた光が見えるようになります。 これが聖霊の中に生きることが明らかにすることです。 神の聖光を心と魂に迎え入れたことのある人は皆、啓発されます。なぜなら、神は人生そのものの本質の最大の現実であり、信者の魂との最も強力な絆だからです。
         </p>
      <p>自分の魂の声に耳を傾けることを学び、自分のスピリットの声に耳を傾けることを学びましょう。 自分の魂の声に耳を傾けることを学ぶために、自分の魂の声に耳を傾けることを学びましょう。 そうして初めて、人は意識がいかに自分の生命力の理解を始めるトリオの一部であるかを学びます。 自分の信仰に耳を傾けることを学ぶために、あなたのトリオに耳を傾けることを学びましょう。 そして、それぞれが完全に理解されると、あなたの人生の贈り物である 4 つのスピリチュアルな力が、最も真実かつ最大限の理由で、あなたの人生の目的が何であるかを学び始める時と場所になります。 ここは、あなたが自分の運命にあるすべてのものとつながり、コミュニケーションをとり始める場所であり、あなたの信仰がどのように、そしてなぜ、天上と結びつくのかということです。 あなたの生きた光は生きています。 あなたに与えられた魂は永遠であり、あなたがその真実を知ることを切望しています。 できるだけ多くのことを学ぶには時間が非常に重要です。 学ぶのが遅すぎた場合、その祝福をどれだけ与え、分かち合うことができるでしょうか。 あるいは、生きている魂の真実を決して学ばないとしたら、人がこの世を去らなければならないとき、それは何を意味するのでしょうか？ どうかあなたの霊的な未来を危険にさらさないでください。 この世で定められた時間を生きる中で、人それぞれが学ぶべき教訓がたくさんあります。 時間を過ぎさせないでください。 今すぐあなたの霊的運命の一部になれば、あなたは祝福されるでしょう。
      </p>
      <p>魂の光の認識は私の人生全体を変えました。 それは私に、できる限りすべての霊的真実を見つけたいという、否定できない憧れを与えてくれました。 垣間見せてもらった今、霊的に成長できるよう学びたいことがたくさんあります。 私は全力を尽くして主に仕えるという私の意志について、聖主に喜んでいただきたいと思っています。 魂の認識により、私は献身的なスピリチュアルな人に変わりました。 私はすべての中に真実を探します。 そして私が目覚めたおかげで、私は今理解し始めたばかりの多くのことに恵まれました。 ここからどこへ行くかは関係ありません。 私の献身を妨げるものは何もありません。 私は常にキリストにあって一つであるために自分の命と魂を明け渡しました。 彼の生きた光は共有したいことがたくさんあるので、私にとってそれ以外のことはもうどうでもいいのです。 天から放射されるこの神聖な愛とつながり続けることだけが私が生きているすべてであり、私は永遠に成長するように祈る最も深い愛で私の主を賛美します。
      </p>
         <h3>魂の超自然的な性質は、キリストの愛への信仰によって目覚めます</h3>
      </div>
       <p>私たちの世界は、神の聖なる子であり光であるイエス・キリストを彼の慈悲の証しとして受け入れました。その結果、すべての被造物は彼の受肉に対して責任を負うことになります。 クリスチャンとして、私たちは彼の栄光から、また彼の栄光のために救いを受けました。 彼の光は、物質的で超自然的なものすべてを通して放射されます。 彼の昇天への信仰を通して、二人はもはや分離していません。 彼らは一つになる。 彼の光は被造物すべてに触れ、彼の慈悲と愛が常にそうであるように、それは絶えず祝福をもたらします。
         </p>
         <p>ほとんどの人は、私たちが現実だと理解しているものと同じくらい現実的な超自然的な光が私たちの中に存在していることに気づいていません。 誰もが一度スピリチュアリティを真剣に受け止めると、すぐにこの真実に気づくようになります。 注意してください、注意してください、この最初の認識は、ほとんどの人がだまされて、聖性ではない壮大な形の超自然的な光を信じるようになります。 聖書の真実に基づいてすべての超自然的な光を疑えば、誤解を招くことはありません。 私が最もよく知っているすべてのことの中で、聖霊の影響が最も優先されます。 ここが私の信仰が届く場所であり、私の信仰が繁栄する場所です。 私の信仰は私がどんな人間になったかをすべて定義しており、私の信仰は成長のための制限を無視します。
         </p>
         <p>時には、あなた自身以外の超自然的な光が、さまざまな理由で現れることがあります。 これが起こったときは、自分が見ているものを疑わないでください。疑うと、すぐに消えてしまいます。 そして、霊的真理に関する計り知れないものや想像を絶するものを疑ったり疑ったりしないこと、そして信仰を決して疑わないことをもっと学ぶまで、それは再び戻ってくることはありません。 これらの超自然的な光はいつでもどこでも、可視または不可視の光源から直接照らすことができます。 信仰と光がどのように共存するかを認識するまでは、光を見つめて光のすべてとコミュニケーションをとることはできません。
         </p>
         <p>聖霊の祝福を受けると、すべての霊に対する識別力と超自然的な光が与えられます。 信仰のこの時点では、疑いはもう存在しません。 最も素晴らしい真実には、圧倒的な信頼だけが生きます。 すべての超自然的な光には、感じることができる独自の精神があることを知ってください。 ひとたび霊を感じ、意識することを学ぶと、さまざまな光の霊を認識できるようになります。 どのような光からでも感じる最初の直観は常に正しいことを知ってください。 これは聖霊が自分自身と対話していることです。 疑わしい場合は、反対している可能性が高くなります。 自分の直感に反すると、騙されてしまう可能性が高いです。 超自然的な光はすべての創造物の中に存在しますが、それを見ることができるのは疑いのない霊的な目を通してのみであることを知ってください。 暗闇の中にも、それ自体に属する超自然的な光があることを知ってください。 光の中に闇は存在できませんが、光は闇の中に存在します。 ただし、聖霊の光ではない闇の霊からなる超自然的な光があることを理解することが最も重要です。 クリスチャンがそれぞれの光の霊に疑問を持たない場合、あるいは聖霊の信仰を通して十分に強くない場合、彼らは盲目的に惑わされていることに気づかずに、神聖ではない輝かしい光に騙されてしまいます。
         </p>
         <p>これについては考えすぎないでください。 これらは非常にシンプルで理解しやすい真実です。 あなたの信仰とあなたの意志はあなたの霊が持っているすべてなので、過度に心配しないでください。 そして、あなたの精神は、さまざまな種類の超自然的な光を引き寄せたり、反発したりするものです。 人が持つどんな価値観も、スピリットを介して、自分自身に引き寄せられる種類の光と結びついています。 クリスチャンとして、これらの問題について深く考えたり心配したりしないでください。信仰があなたに勝利する力を与えているからです。 あなたの霊は正義の本質であり、魂の光を祝福して照らし、聖性のあるものに変えます。 超自然的で霊的な光について、あなたが知る必要があることをすべて教えてくださるよう主にお願いしてください。そうすれば主は教えてくださるでしょう。
         </p>
         <p>あなたの中に生きている生きた光があなたの生きた魂です。 これはあなたの人生の贈り物であり、誰もが学び、知ることができるようにするためのものです。 この生きた光は、このスピリチュアルな世界に関して理解する必要のあるすべてをあなたに教え、あなたの魂が最終的に行く次の場所への準備をさせてくれます。 間違いなく、あなたは天から来た人です。 あなたは彼の最も素晴らしい愛の直系の子孫です。 あなたは彼の最も単純な真実に気づき始めたので、彼らの霊的な成長を祝福してください。 あなたが持つ光は、それに触れるものすべてを祝福します。 そして、それが祝福すると同時に、それもまた祝福されます。 あなたの生きた光は常に聖霊と結びついて、すべての人を祝福し、祝福されるでしょう。
         </p>
         <p>自分の魂の中に生きる光を祝福するには、疑いのない信仰と正直な精神状態を持ち続けなければなりません。 これらの組合は、そのユニークで素晴らしいコンテンツに対する意識を高めます。 セルフスピリットの定義を完全に理解するには、自分自身のスピリチュアルなエネルギーを持つ、自分が持つあらゆる思考や欲望をコントロールする必要があります。 ネガティブなエネルギーがあるかポジティブなエネルギーがあるかによって、自己の霊の状態と、内に繁栄を望む聖霊の光が決まります。 ネガティブなエネルギーとポジティブなエネルギーは一緒に成長することはできません。 彼らは常に対立しており、そのため意識、霊魂、魂の霊的な成長や真実の認識を奪っています。 ひとたび自分の考えを神聖さによって抑制すると、祝福がその人の全存在を変え始めます。 そうすれば、自分自身の中に生きている生きた光が現れ、成長についてのコミュニケーションと教えが始まります。 自己の光には、共有したいものがたくさんあります。 成長を通じてのみ、私たちは生命の神秘を認識することを学ぶことができます。 繁栄を達成するには、意識、精神、魂が信仰において共に成長しなければなりません。
         </p>
         <p>霊的な成長の道に沿って、弱さと強さについて学ばなければならないことを理解してください。 誰もが強くなるためには、疑わしいものや敵対的なものに直面しなければなりません。 誰もが自分の間違いから学ばなければなりません。 そうなったときは、何があっても決して諦めないでください。 力を求めて祈り、忍耐強くなれば、忍耐して勝利するための答えが示されるでしょう。 自分自身が引き起こしたすべての痛みを経て、私の人生の目的は、神、キリスト、聖霊の生ける光の真理を学び、自らのすべてと一つになることであると、ようやく理解しました。
         </p>
         <p>「永遠に生きる神の光よ、私の魂を救い出し、私の魂を回復させ、私の意識、霊魂、そして魂を解放してくれてありがとう。愛の涙とともに、私は自分の命と魂を、常にあなたのものになるように明け渡します。私はあなたをとても愛しています」 とても感謝しています。二度とあなたから離れることのないように祈ります。あなたの愛情にとても感謝しています。あなたは私を強くし、あなたは私を強くしてくれます。あなたは私のすべてであり、あなたは私が生きているすべてです。 あなたの光は太陽よりも明るいです。実際、すべての創造物に存在するすべての星が力と光を合わせたとしても、あなた方の星に比べれば、彼らの星は単なる火花にすぎません。そして私がこの世を去る時が来たら 間違いなく、それは私を揺るがしません、私は震えません、私はつまずきません、そして私は転びません、私は準備ができています、私はあなたの聖地に強く立ち、賛美と栄光を与えます あなたへ。私があなたの意志に従って生きる唯一の理由はあなたです。あなたが私に与えてくださった命の息吹に感謝します。あなたの愛は私の存在全体を貫き、飲み込みます。 私は両手を広げてあなたの前に立っています。 あなたは私が私の人生を充実させるために必要としたすべてであり、私が常に謙虚であなたの愛される存在であり続けることをすべての創造物に知ってもらうために、私はそれを天と星に向かって叫びます。 そして、私の魂の中に生きているあなたの生きた光が常に残り続けるように祈ります。 私の聖なる父なる神、私の主イエス・キリスト、そしてすべての霊の中であなたの最も聖なる者よ、私はあなたを愛しています。」
         </p>
         <br>
         <p>最初の 10 ページにアクセスしていただきありがとうございます。<br>第 5 章「愛の輪の生きる光」の完全版 (40 ページ) にアクセスするには、ログインするか、7 ドルのメンバーシップにサインアップしてください。</p>
         <div class="auth-btn">
         <a href="/ja-jp/login/" aria-label="ログイン" title="ログイン" class="btn-auth">ログイン</a>
           &emsp;&emsp;&emsp;
           <a href="/ja-jp/signup/" aria-label="登録する" title="登録する" class="btn-auth">登録する</a>
      </div>
        <br>
      <div class="center3"><a href="/ja-jp/living-light" aria-label="トップへ戻る リンク" title="トップへ戻る リンク">&nbsp;トップ<img src="/static/img/ja-jp/back-to-top-link.webp" loading="lazy" alt="トップへ戻る リンク" width="48" height="48"></a></div> 
      <br>
      </div> 
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="寄付リンク" title="寄付リンク"><p>ヘルプ共有リンク</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ja-jp/contact-us">私達に電子メールを送り</a>
            <h4>コンタクト</h4>
            </div>
            <ul class="footer__nav">
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                           <a href="/ja-jp/" aria-label="ホームページ">家</a>
                     </li>
                     <li>
                        <a href="/ja-jp/the-vision" aria-label="ビジョン">ビジョン</a>
                     </li>
                     <li>
                        <a href="/ja-jp/spiritual-realms" aria-label="霊的領域">霊的領域</a>
                     </li>
                     <li>
                        <a href="/ja-jp/soldiers-of-light" aria-label="光の戦士たち">光の戦士たち</a>
                      </li>
                  </ul>
               </li>
               <li class="nav__item nav__item--extra">
                  <ul class="nav__ul nav__ul--extra">
                     <li>
                        <a href="/ja-jp/guardian-angels" aria-label="ガーディアンエンジェルス">ガーディアンエンジェルス</a>
                     </li>
                     <li>
                        <a href="/ja-jp/living-light" aria-label="リビングライト">リビングライト</a>
                     </li>
                     <li>
                        <a href="/ja-jp/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                     </li>
                     <li>
                        <a href="/ja-jp/unconditional-love" aria-label="無条件の愛">無条件の愛</a>
                     </li>
                     <li>
                        <a href="/ja-jp/about-us" aria-label="だいたい">だいたい</a>
                     </li>
                     <li>
                        <a href="/ja-jp/ebook" aria-label="電子書籍">電子書籍</a>
                     </li>
                  </ul>
               </li>
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/ja-jp/share-the-faith" aria-label="信仰を分かち合う">信仰を分かち合う</a>
                     </li>
                     <li>
                        <a href="/ja-jp/powerful-scripture" aria-label="力強い経典">力強い経典</a>
                     </li>
                     <li>
                        <a href="/ja-jp/prayer-request" aria-label="祈りのお願い">祈りのお願い</a>
                     </li>
                     <li>
                        <a href="/ja-jp/terms" aria-label="利用規約">利用規約</a>
                     </li>
                  </ul>
               </li>
            </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ja-jp/facebook-24.webp" title="フェイスブック アイコンリンク" alt="フェイスブック アイコンリンク" aria-label="フェイスブック アイコンリンク" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/twitter-24.webp" title="ツイッター アイコンリンク" alt="ツイッター アイコンリンク" aria-label="ツイッター アイコンリンク" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/instagram-24.webp" title="インスタグラム アイコンリンク" alt="インスタグラム アイコンリンク" aria-label="インスタグラム アイコンリンク" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/pinterest-24.webp" title="ピンタレスト アイコンリンク" alt="ピンタレスト アイコンリンク" aria-label="ピンタレスト アイコンリンク" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/snapchat-24.webp" title="スナップチャット アイコンリンク" alt="スナップチャット アイコンリンク" aria-label="スナップチャットアイコンリンク" width="24" height="24"></a>
         </div>
         <p>&copy;著作権 2024 holymercy.com/ja-jp/ 全著作権所有</p>
            <div class="legal__links"> 
            <span>連絡を取り合いましょう。ホーリーマーシーはこれから素晴らしいものになります！</span>
            </div> 
         </footer>
         <!--google translate-->
        <span>
        <script>
//<![CDATA[
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'ja', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,id,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
//]]>
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </span>

      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/ja-jp/add-service-worker.js"></script>
 <script src="/static/js/ja-jp/service-worker.js"></script>
</body>
</html>