<!doctype html>
<html lang="ja-jp">
   <head>
      <meta name="robots" content="index, follow">
      <title>アプリのプライバシー ポリシーとウェブサイトの利用規約</title>
      <meta name="description" content="Holymercy アプリのプライバシー ポリシーとウェブサイトの利用規約: このサイトにアクセスすると、コンプライアンスの責任を負うことに同意したものとみなされます。">
      <meta charset="utf-8">
      <link rel="canonical" href="/ja-jp-terms/">
      <link rel="alternate" hreflang="x-default" href="/terms/">
      <link rel="alternate" hreflang="en-us" href="/terms/">  
      <link rel="alternate" hreflang="en" href="/en/terms/">
      <link rel="alternate" hreflang="en-gb" href="/en-gb/terms/">
      <link rel="alternate" hreflang="en-in" href="/en-in/terms/">
      <link rel="alternate" hreflang="es" href="/es/terms/">
      <link rel="alternate" hreflang="es-es" href="/es-es/terms/">
      <link rel="alternate" hreflang="es-mx" href="/es-mx/terms/">
      <link rel="alternate" hreflang="es-co" href="/es-co/terms/">
      <link rel="alternate" hreflang="es-ar" href="/es-ar/terms/">
      <link rel="alternate" hreflang="es-pe" href="/es-pe/terms/">
      <link rel="alternate" hreflang="es-ve" href="/es-ve/terms/"> 
      <link rel="alternate" hreflang="zh" href="/zh/terms/">
      <link rel="alternate" hreflang="zh-tw" href="/zh-tw/terms/">
      <link rel="alternate" hreflang="zh-hk" href="/zh-hk/terms/"> 
      <link rel="alternate" hreflang="zh-sg" href="/zh-sg/terms/"> 
      <link rel="alternate" hreflang="hi" href="/hi/terms/">
      <link rel="alternate" hreflang="hi-in" href="/hi-in/terms/">
      <link rel="alternate" hreflang="fr" href="/fr/terms/">
      <link rel="alternate" hreflang="fr-fr" href="/fr-fr/terms/">
      <link rel="alternate" hreflang="fr-ca" href="/fr-ca/terms/"> 
      <link rel="alternate" hreflang="pt" href="/pt/terms/">
      <link rel="alternate" hreflang="pt-pt" href="/pt-pt/terms/">
      <link rel="alternate" hreflang="pt-br" href="/pt-br/terms/">
      <link rel="alternate" hreflang="de" href="/de/terms/">
      <link rel="alternate" hreflang="de-de" href="/de-de/terms/">
      <link rel="alternate" hreflang="ja-jp" href="/ja-jp/terms/">
      <link rel="alternate" hreflang="id-id" href="/id-id/terms/">
        <link rel="alternate" hreflang="ar" href="/ar/terms/">
      <link rel="alternate" hreflang="bn" href="/bn/terms/">
      <link rel="alternate" hreflang="ko" href="/ko/terms/">
      <link rel="alternate" hreflang="ru" href="/ru/terms/">
      <link rel="alternate" hreflang="ur" href="/ur/terms/">    
      <!--favican-->
      <link rel="icon" type="image/x-icon" href="/static/img/ja-jp/favicon.ico" sizes="32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/css/ja-jp/styles.css" rel="stylesheet" type="text/css">
      <!--Improve page load speed with preconnect-->
   <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX">      
      <!--Google Fonts-put off the loading of render blocking CSS-->
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap"></noscript>
      <!--Web app manifest-->
      <link rel="manifest" href="/static/js/ja-jp/manifest.json">
      <meta name="theme-color" content="#0808ed">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/maskable_icon_512.png" sizes="512x512">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-256.png" sizes="256x256">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/maskable_icon_192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-128.png" sizes="128x128">
      <link rel="icon" type="image/png" href="/static/img/ja-jp/icon-64.png" sizes="64x64">
      <!--end manifest-->  
      <!--Materialize-->
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></noscript>
      <!-- Open Graph Meta Tags - Facebook Meta Tags -->
     <meta property="og:title" content="アプリのプライバシー ポリシーとウェブサイトの利用規約">
     <meta property="og:site_name" content="聖なる慈悲">
     <meta property="og:url" content="https://holymercy.com/ja-jp/terms/">
     <meta property="og:description" content="Holymercy アプリのプライバシー ポリシーとウェブサイトの利用規約: このサイトにアクセスすると、コンプライアンスの責任を負うことに同意したものとみなされます。">
     <meta property="og:type" content="website">
     <meta property="og:image" content="/static/img/ja-jp/angel-from-christ-meta.webp">
     <!-- Open Graph Meta Tags - Twitter Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta property="twitter:domain" content="holymercy.com/ja-jp/">
     <meta property="twitter:url" content="https://holymercy.com/ja-jp/terms/">
     <meta name="twitter:title" content="アプリのプライバシー ポリシーとウェブサイトの利用規約">
     <meta name="twitter:description" content="Holymercy アプリのプライバシー ポリシーとウェブサイトの利用規約: このサイトにアクセスすると、コンプライアンスの責任を負うことに同意したものとみなされます。">
     <meta name="twitter:image" content="/static/img/ja-jp/angel-from-christ-meta.webp">
      <!-- End Open Graph Meta Tags -->
      <!--ahref-->
      <meta name="ahrefs-site-verification" content="ae6a0c99b2259e552a218a12460538d066cb1590eb76f7e2e3d5fde361454f20">
      <!--Bing WebMaster <meta> tag containing the authentication code to the <head>-->
      <meta name="msvalidate.01" content="063E773A156618893FBC5B2572C16F74">
      <!--apple touch icons-->
      <link href="/static/img/ja-jp/apple_touch_icon-48x48.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-64x64.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-128x128.webp" rel="apple-touch-icon">
      <link href="/static/img/ja-jp/apple_touch_icon-256x256.webp" rel="apple-touch-icon">
    </head>
   <body>
      <header>
         <ul>
            <li><a href="/ja-jp/"><img class="logo" src="/static/img/ja-jp/holymercy-logo.webp" loading="lazy" id="logo" alt="左上のナビゲーション バーのロゴ" aria-label="左上のナビゲーション バーのロゴ" width="68" height="39"></a></li>
            <li><a href="/ja-jp/" aria-label="ウェブサイト ホームページ">家</a></li>
            <li><a href="#" aria-label="『サークル・オブ・ラブ』の章">章</a>
               <ul>
                  <li><a href="/ja-jp/the-vision" aria-label="ビジョン">ビジョン</a></li>
                  <li><a href="/ja-jp/spiritual-realms" aria-label="霊的領域">霊的領域</a></li>
                  <li><a href="/ja-jp/soldiers-of-light" aria-label="光の戦士たち">光の戦士たち</a></li>
                  <li><a href="/ja-jp/guardian-angels" aria-label="ガーディアンエンジェルス">ガーディアンエンジェルス</a></li>
                  <li><a href="/ja-jp/living-light" aria-label="リビングライト">リビングライト</a></li>
                  <li><a href="/ja-jp/unconditional-love" aria-label="無条件の愛">無条件の愛</a></li>
                  <li><a href="/ja-jp/heavenly-realms" aria-label="天堂境界">天堂境界</a></li>
               </ul>
            <li><a href="/ja-jp/about-us" aria-label="だいたい">だいたい</a></li>
            <li><a href="/ja-jp/ebook" aria-label="電子書籍">電子書籍</a></li>
            <li><a href="#" aria-label="共有">共有</a>	
               <ul>
                  <li><a href="/ja-jp/share-the-faith" aria-label="信仰を分かち合う">信仰を分かち合う</a></li>
                  <li><a href="/ja-jp/powerful-scripture" aria-label="力強い経典">力強い経典</a></li>
                  <li><a href="/ja-jp/prayer-request" aria-label="祈りのお願い">祈りのお願い</a></li>
                  <li><a href="/ja-jp/contact-us/" aria-label="コンタクト">コンタクト</a></li>
               </ul>
            </li>
         </ul>
      </header>
           <!--Google Translate Top-->
           <div id="google_translate_element" title="google 翻訳の世界共通言語クイック選択ドロップダウン"></div>
           <div id="images_hz" class="center-align">
      <div id="font-type">
         <h1>アプリのプライバシー ポリシーとウェブサイトの利用規約</h1>
         <p>Holymercy PWA 開発者は、Holymercy アプリを無料アプリとして構築しました。 このサービスは、Holymercy PWA 開発者によって無料で提供されており、そのまま使用することを目的としています。 
          </p>
          <h2>Google PlayおよびAndroidアプリストアに関連付けられています</h2> 
          <p>このページは、誰かが私のサービスを使用することを決定した場合に、個人情報の収集、使用、開示に関する私のポリシーを訪問者に通知するために使用されます。 私のサービスを使用することを選択した場合、このポリシーに関連した情報の収集と使用に同意したことになります。 私が収集した個人情報は、サービスの提供と改善のために使用されます。 このプライバシー ポリシーに記載されている場合を除き、私はあなたの情報を使用したり、誰かと共有したりすることはありません。 このプライバシー ポリシーで使用される用語は、当社の利用規約と同じ意味を持ち、このプライバシー ポリシーで別途定義されていない限り、ご自由にアクセスできます。
         </p> 
          <h3>情報の収集と利用   </h3> 
          <p>当社のサービスをより快適にご利用いただくために、NA を含む (ただしこれに限定されない) 特定の個人情報を当社に提供していただくようお願いする場合があります。 私が要求した情報はあなたのデバイスに保存され、私によって収集されることはありません。 このアプリは、お客様を特定するために使用される情報を収集する可能性のあるサードパーティのサービスを使用します。 アプリで使用されるサードパーティ サービス プロバイダーのプライバシー ポリシーへのリンク
         <a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play サービス</a></p>
          <h3>Google Playのログデータ</h3>
          <p>あなたが私のサービスを使用するたびに、アプリでエラーが発生した場合、私はあなたの携帯電話上でログデータと呼ばれるデータと情報を（サードパーティ製品を通じて）収集することをお知らせしたいと思います。 。 このログデータには、デバイスのインターネット プロトコル (「IP」) アドレス、デバイス名、オペレーティング システムのバージョン、サービス使用時のアプリ構成、サービスの使用日時、その他の統計などの情報が含まれる場合があります。
          </p> 
          <h3>Google Playのクッキー</h3> 
          <p>Cookie は、匿名の一意の識別子として一般に使用される少量のデータを含むファイルです。 これらは、アクセスした Web サイトからブラウザに送信され、デバイスの内部メモリに保存されます。 本サービスはこれらの「Cookie」を明示的に使用しません。 ただし、アプリは情報を収集しサービスを向上させるために「Cookie」を使用するサードパーティのコードとライブラリを使用する場合があります。 これらの Cookie を受け入れるか拒否するかを選択でき、Cookie がいつデバイスに送信されるかを知ることができます。 当社の Cookie を拒否することを選択した場合、本サービスの一部を使用できなくなる場合があります。
          </p>
          <h3>サービスプロバイダー</h3> 
         <p>私は、次の理由により、サードパーティの企業や個人を雇用することがあります。 当社のサービスを促進するため。 当社に代わってサービスを提供するため。 サービス関連サービスを実行するため。 または当社のサービスがどのように使用されているかの分析を支援するため。 このサービスのユーザーに、これらの第三者がユーザーの個人情報にアクセスできることを知らせたいと思います。 その理由は、私たちに代わって彼らに割り当てられたタスクを実行するためです。 ただし、他の目的で情報を開示または使用しない義務があります。
          </p> 
          <h3>セキュリティ</h3>
          <p>私は、個人情報を当社に提供していただくお客様の信頼を大切にしているため、商業的に許容される個人情報を保護する手段を使用するよう努めています。 ただし、インターネット上の送信方法や電子保存方法は 100% 安全で信頼できるものではなく、その絶対的な安全性を保証することはできないことを覚えておいてください。
            </p>
          <h3>他のサイトへのリンク</h3> 
            <p>本サービスには他のサイトへのリンクが含まれる場合があります。 サードパーティのリンクをクリックすると、そのサイトに移動します。 これらの外部サイトは私が運営しているものではないことに注意してください。 したがって、これらの Web サイトのプライバシー ポリシーを確認することを強くお勧めします。 私は、第三者のサイトやサービスのコンテンツ、プライバシー ポリシー、慣行を管理することはできず、責任を負いません。
          </p>
         <h3>子供のプライバシー</h3>
            <p>これらのサービスは 13 歳未満には対応しません。私は、13 歳未満の子供から故意に個人を特定できる情報を収集しません。 13 歳未満の子供が私に個人情報を提供したことが判明した場合、私は直ちにその情報を当社のサーバーから削除します。 あなたが親または保護者で、お子様が当社に個人情報を提供したことをご存じの場合は、必要な措置を講じるため、お問い合わせページから私にご連絡ください。
              </p>
            <h3>このプライバシーポリシーの変更</h3>
            <p>当社のプライバシーポリシーは随時更新される場合があります。 したがって、変更がないか定期的にこのページを確認することをお勧めします。 変更があった場合は、このページに新しいプライバシー ポリシーを掲載してお知らせします。
          </p>
          <h3>このポリシーは 2024 h 年 7 月 17 日から発効します。</h3>
          <p>私のプライバシーポリシーに関してご質問やご提案がございましたら、お問い合わせください。 お気軽にsupport@holymercy.comまでご連絡ください。
          </p> 
            <h3>このサイトの素材は著作権法および商標法によって保護されています</h3>
            <p>この Web サイトにアクセスすることにより、お客様は、これらの Web サイトの利用規約および適用されるすべての法律および規制に拘束されることに同意し、適用される現地の法律を遵守する責任があることに同意するものとします。 これらの条件のいずれかに同意しない場合は、このサイトの使用またはアクセスを禁止します。 この Web サイトに含まれる資料は、適用される著作権法および商標法によって保護されています。
            </p>
            <h3>ライセンスの用途</h3>
            <p>個人的、非営利、一時的な閲覧のみを目的として、holymercy.com の Web サイト上の資料 (情報またはソフトウェア) の 1 コピーを一時的にダウンロードする許可が与えられます。 これはライセンスの付与であり、所有権の譲渡ではありません。このライセンスに基づいて次のことを行うことはできません。 素材を変更またはコピーする。 商業目的または公共展示 (商業または非商業) のために素材を使用すること。 holymercy.com の Web サイトに含まれるソフトウェアを逆コンパイルまたはリバース エンジニアリングしようとすること。 著作権またはその他の所有権のある表記を素材から削除します。 資料を他人に譲渡する。 または、他のサーバー上のマテリアルを「ミラーリング」します。 これらの制限のいずれかに違反した場合、このライセンスは自動的に終了し、holymercy.com によっていつでも終了される場合があります。 これらの資料の閲覧を終了する場合、またはこのライセンスが終了する場合には、電子形式または印刷形式を問わず、所有するダウンロードされた資料をすべて破棄しなければなりません。
            </p>
            <h3>Apple ライセンスアプリケーションのエンドユーザーライセンス契約</h3>
            <p>App Store を通じて入手できるアプリは、販売されるものではなく、ライセンスが付与されるものです。 各アプリに対するお客様のライセンスは、このライセンスされたアプリケーションのエンド ユーザー ライセンス契約 (「標準 EULA」)、またはお客様とアプリケーション プロバイダーの間のカスタム エンド ユーザー ライセンス契約 (「カスタム EULA」) (該当する場合) のいずれかに事前に同意することが条件となります。 提供された。 この標準 EULA またはカスタム EULA に基づく Apple アプリに対するお客様のライセンスは Apple によって付与され、この標準 EULA またはカスタム EULA に基づくサードパーティ アプリに対するライセンスは、そのサードパーティ アプリのアプリケーション プロバイダーによって付与されます。 この標準 EULA の対象となるアプリはすべて、本明細書では「ライセンスを取得したアプリケーション」と呼ばれます。 アプリケーション プロバイダーまたは Apple (該当する場合) (「ライセンサー」) は、この標準 EULA に基づいてお客様に明示的に付与されていないライセンス アプリケーションに関するすべての権利を留保します。
            </p>
            <p>a. ライセンスの範囲: ライセンサーは、お客様が所有または管理し、使用規則で許可されているすべての Apple ブランド製品でライセンス アプリケーションを使用するための譲渡不可のライセンスをお客様に付与します。 この標準 EULA の条項は、ライセンス アプリケーションからアクセスできる、またはライセンス アプリケーション内で購入されるすべてのコンテンツ、マテリアル、またはサービス、および元のライセンス アプリケーションを置き換えまたは補足するライセンサーによって提供されるアップグレードに適用されます。 ただし、かかるアップグレードにカスタム EULA が添付されている場合は除きます。 使用規則に規定されている場合を除き、複数のデバイスで同時に使用できるネットワーク上でライセンス アプリケーションを配布したり、利用可能にしたりすることはできません。 ライセンスを取得したアプリケーションを譲渡、再配布、またはサブライセンスすることはできません。Apple デバイスを第三者に販売する場合は、その前に Apple デバイスからライセンスを取得したアプリケーションを削除する必要があります。 ライセンスを取得したアプリケーション、アップデート、またはその一部のコピー (このライセンスおよび使用規則で許可されている場合を除く)、リバース エンジニアリング、逆アセンブル、ソース コードの導出の試み、修正、または派生作品の作成を行うことはできません ( ただし、前述の制限が適用法によって禁止されている場合、またはライセンスされたアプリケーションに含まれるオープンソース コンポーネントの使用を規定するライセンス条項によって許可されている場合を除きます。)
            </p>
            <p>b. データの使用への同意: お客様は、ライセンサーがソフトウェア更新の提供を容易にするために定期的に収集される技術データおよび関連情報 (お客様のデバイス、システム、アプリケーション ソフトウェア、および周辺機器に関する技術情報を含みますがこれらに限定されません) を収集および使用する場合があることに同意します。 、製品サポート、およびライセンスされたアプリケーションに関連するその他のサービス (存在する場合)。 ライセンサーは、お客様を個人的に特定しない形式である限り、その製品を改善したり、お客様にサービスやテクノロジーを提供したりするために、この情報を使用することがあります。
            </p>
            <p>c. 終了。 この標準 EULA は、お客様またはライセンサーによって終了されるまで有効です。 この標準 EULA に基づくお客様の権利は、お客様がその条件のいずれかに従わなかった場合、自動的に終了します。
            </p>
            <p>d. 外部サービス。 ライセンスされたアプリケーションにより、ライセンサーおよび/またはサードパーティのサービスおよび Web サイト (総称して個別に「外部サービス」) へのアクセスが可能になる場合があります。 お客様は、外部サービスをご自身の責任で使用することに同意するものとします。 ライセンサーは、第三者の外部サービスの内容または正確性を検査または評価する責任を負わず、かかる第三者の外部サービスに対して責任を負わないものとします。 財務情報、医療情報、位置情報を含むがこれらに限定されない、ライセンスされたアプリケーションまたは外部サービスによって表示されるデータは、一般的な情報提供のみを目的としており、ライセンサーまたはその代理店によって保証されるものではありません。 お客様は、本標準 EULA の条項に矛盾する方法、またはライセンサーまたは第三者の知的財産権を侵害する方法で外部サービスを使用してはなりません。 お客様は、外部サービスを個人または団体に対する嫌がらせ、虐待、ストーキング、脅迫、または中傷するために使用しないことに同意し、ライセンサーはそのような使用に対して責任を負わないことに同意します。 外部サービスは、言語や居住国によっては利用できない場合があり、特定の場所での使用が適切でない場合や利用できない場合があります。 このような外部サービスを使用することを選択した範囲において、適用される法律を遵守することについてはお客様が単独で責任を負います。 ライセンサーは、お客様への通知や責任を負うことなく、いつでも外部サービスに対するアクセス制限や制限を変更、一時停止、削除、無効化、または課す権利を留保します。
            </p>
            <p>e. 無保証: お客様は、ライセンスされたアプリケーションの使用がご自身の単独のリスクであることを明示的に認め、これに同意するものとします。 適用法で許可される最大限の範囲で、ライセンスされたアプリケーション、およびライセンスされたアプリケーションによって実行または提供されるサービスは、すべての欠陥があり、いかなる種類の保証もなく、「現状のまま」および「利用可能な状態」で提供され、ライセンサーはここに否認します。すべての保証 および、明示的、黙示的、または法定の、ライセンスされたアプリケーションおよびサービスに関する条件（商品性、満足のいく品質、特定の目的への適合性の暗黙の保証および/または条件を含みますがこれらに限定されません） SE、正確性 、静かに楽しむこと、および第三者の権利を侵害しないこと。 ライセンサーまたはその権限を有する代理人によって与えられる口頭または書面による情報またはアドバイスは、保証を形成するものではありません。 ライセンスを取得したアプリケーションまたはサービスに欠陥があることが判明した場合、必要なサービス、修理、または修正の費用はすべてお客様が負担するものとします。 一部の法域では、消費者の該当する法的権利に対する黙示の保証または制限の除外が認められていないため、上記の除外および制限がお客様に適用されない場合があります。
            </p>
            <p>f. 責任の制限。 法律で禁止されていない限り、ライセンサーは、いかなる場合においても、人身傷害、または利益の損失、データの損失、業務の中断、またはその他の損害を含むがこれらに限定されない、あらゆる偶発的、特別、間接的、結果的損害に対して責任を負わないものとします。 ライセンスされたアプリケーションの使用または使用不能に起因または関連して生じるその他の商業的損害または損失は、原因の如何に関わらず、責任理論 (契約、不法行為、またはその他) に関係なく、またライセンサーが次のような通知を受けていた場合でも発生します。 かかる損害の可能性。 一部の法域では、人身傷害、偶発的損害または結果的損害に対する責任の制限が認められていないため、この制限が適用されない場合があります。 いかなる場合も、お客様に対するライセンサーのすべての損害賠償責任の総額 (人身傷害を伴う場合に適用法で義務付けられる場合を除く) は 50 ドル ($50.00) を超えないものとします。 上記の制限は、上記の救済策がその本質的な目的を達成できない場合でも適用されます。
            </p>
            <p>g. 米国法およびライセンス アプリケーションが取得された管轄区の法律で許可されている場合を除き、ライセンス アプリケーションを使用したり、輸出または再輸出したりすることはできません。 特に、ただしこれに限定されませんが、ライセンスされたアプリケーションは、(a) 米国の禁輸国、または (b) 米国財務省の特別指定国民リストまたは米国商務省の取引拒否者リストに記載されている人物に輸出または再輸出することはできません。 リストまたはエンティティ リスト。 ライセンスされたアプリケーションを使用することにより、お客様は、そのような国に居住していないこと、またはそのようなリストに載っていないことを表明および保証するものとします。 また、核、ミサイル、化学兵器や生物兵器の開発、設計、製造、製造など、米国の法律で禁止されている目的にこれらの製品を使用しないことに同意するものとします。
            </p>
            <p>h. ライセンスされたアプリケーションおよび関連ドキュメントは、48 C.F.R. で定義されている「商用アイテム」です。 §2.101 は、「商用コンピュータ ソフトウェア」および「商用コンピュータ ソフトウェア ドキュメント」で構成されており、このような用語は 48 C.F.R. で使用されています。 §12.212 または 48 C.F.R. §227.7202 (該当する場合)。 48 C.F.R. に準拠 §12.212 または 48 C.F.R. §227.7202-1 から 227.7202-4 に該当する場合、商用コンピュータ ソフトウェアおよび商用コンピュータ ソフトウェア ドキュメントは、(a) 商用アイテムとしてのみ、および (b) 他のすべてのユーザーに付与されている権利のみとともに、米国政府のエンド ユーザーにライセンスされます。 エンドユーザーは、本契約条件に従ってください。 未公開の権利は米国の著作権法に基づいて留保されます。
            </p>
            <p>私。 次の段落に明示的に規定されている範囲を除き、本契約およびお客様と Apple との関係は、抵触法の規定を除き、カリフォルニア州法に準拠するものとします。 お客様と Apple は、本契約から生じるあらゆる紛争または申し立てを解決するために、カリフォルニア州サンタクララ郡内にある裁判所の対人管轄権および専属管轄権に服することに同意するものとします。 (a) あなたが米国国民ではない場合。 (b) 米国に居住していない場合。 (c) 米国から本サービスにアクセスしていない。 (d) お客様は、以下に特定される国のいずれかの国民である場合、お客様は、本契約に起因する紛争または請求には、抵触法の規定に関係なく、以下に定める適用法が適用されることに同意するものとします。 これにより、以下に特定される法律が適用される州、地方、または国にある裁判所の非専属管轄権に取消不能の形で服従します。
            </p>
            <p>あなたが欧州連合諸国、スイス、ノルウェー、またはアイスランドの国民である場合、準拠法および法廷地は、通常の居住地の法律および裁判所となります。 本契約への適用から特に除外されるのは、国際物品売買に関する国連条約として知られる法律です。
           </p>
            <h3>免責事項</h3>
            <p>holymery.com のアプリおよびウェブサイト上の素材は「現状のまま」提供されます。 holymercy.com は、明示的か黙示的かを問わず、いかなる保証も行わず、商品性、特定の目的への適合性、知的財産の非侵害、またはその他の権利侵害の黙示的な保証または条件を含むがこれらに限定されない、その他すべての保証を否認および無効にします。 さらに、holymercy.com は、そのインターネット Web サイト、またはそのような資料に関連する資料、またはこのサイトにリンクされているサイト上の資料の使用の正確性、予想される結果、または信頼性に関して、いかなる保証も表明も行いません。
            </p>
            <h3>制限事項</h3>
            <p>holymercy.com またはそのサプライヤーは、いかなる場合においても、holymercy.com のインターネット上のマテリアルの使用または使用不能から生じる損害 (データまたは利益の損失、または事業中断による損害を含むがこれに限定されない) に対して責任を負いません。 holymercy.com または holymercy.com の認定代表者がそのような損害の可能性について口頭または書面で通知されていた場合でも、サイトにアクセスできなくなります。 一部の管轄区域では、黙示的保証の制限や結果的または付随的損害に対する責任の制限が認められていないため、これらの制限はお客様には適用されない場合があります。
            </p>
            <h3>改訂と正誤表</h3>
            <p>holymercy.com の Web サイトに掲載されている資料には、技術的誤り、誤植、または写真上の誤りが含まれている可能性があります。 holymercy.com は、その Web サイト上のいかなる資料も正確、完全、または最新であることを保証しません。 holymercy.com は、Web サイトに含まれる資料を予告なくいつでも変更することがあります。 ただし、holymercy.com は資料を更新することを約束しません。
            </p>
            <h3>リンク</h3>
            <p>holymercy.com は、そのインターネット Web サイトにリンクされているすべてのサイトを調査したわけではなく、そのようなリンクされたサイトの内容については責任を負いません。 リンクが含まれていても、holymercy.com によるサイトの承認を意味するものではありません。 このようなリンクされた Web サイトの使用は、ユーザー自身の責任で行われます。
            </p>
            <h3>サイト利用規約の修正</h3>
            <p>holymercy.com は、予告なくいつでも Web サイトのこれらの利用規約を改訂することがあります。 この Web サイトを使用すると、これらの利用規約のその時点の最新バージョンに拘束されることに同意したものとみなされます。
            </p>
            <h3>準拠法</h3>
            <p>holymercy.com の Web サイトに関する申し立ては、抵触法の規定に関係なく、アメリカ合衆国コロラド州法に準拠するものとします。 アプリおよびウェブサイトの使用に適用される一般利用規約。 当社は、個人情報の機密性を確実に保護し維持するために、これらの原則に従って業務を遂行することに尽力します。
            </p>
            <br>
            <br><br>
      <div class="center3"><a href="/ja-jp/terms" aria-label="トップへ戻る リンク" title="トップへ戻る リンク">&nbsp;トップ<img src="/static/img/ja-jp/back-to-top-link.webp" loading="lazy" alt="トップへ戻る リンク" width="48" height="48"></a></div> 
         <br>
      </div>
      </div>
      <footer class="footer">
         <a href="https://www.paypal.com/donate/?hosted_button_id=2K6ZX5MSA72M2" target="_blank" rel="noreferrer" class="chaptertitle-share" aria-label="寄付リンク" title="寄付リンク"><p>ヘルプ共有リンク</p></a>
      <div class="footer__addr">
            <br>
            <a class="footer__btn" href="/ja-jp/contact-us">私達に電子メールを送り</a>
            <h4>コンタクト</h4>
            </div>
            <ul class="footer__nav">
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                           <a href="/ja-jp/" aria-label="ホームページ">家</a>
                     </li>
                     <li>
                        <a href="/ja-jp/the-vision" aria-label="ビジョン">ビジョン</a>
                     </li>
                     <li>
                        <a href="/ja-jp/spiritual-realms" aria-label="霊的領域">霊的領域</a>
                     </li>
                     <li>
                        <a href="/ja-jp/soldiers-of-light" aria-label="光の戦士たち">光の戦士たち</a>
                      </li>
                  </ul>
               </li>
               <li class="nav__item nav__item--extra">
                  <ul class="nav__ul nav__ul--extra">
                     <li>
                        <a href="/ja-jp/guardian-angels" aria-label="ガーディアンエンジェルス">ガーディアンエンジェルス</a>
                     </li>
                     <li>
                        <a href="/ja-jp/living-light" aria-label="リビングライト">リビングライト</a>
                     </li>
                     <li>
                        <a href="/ja-jp/heavenly-realms" aria-label="天堂境界">天堂境界</a>
                     </li>
                     <li>
                        <a href="/ja-jp/unconditional-love" aria-label="無条件の愛">無条件の愛</a>
                     </li>
                     <li>
                        <a href="/ja-jp/about-us" aria-label="だいたい">だいたい</a>
                     </li>
                     <li>
                        <a href="/ja-jp/ebook" aria-label="電子書籍">電子書籍</a>
                     </li>
                  </ul>
               </li>
               <li class="nav__item">
                  <ul class="nav__ul">
                     <li>
                        <a href="/ja-jp/share-the-faith" aria-label="信仰を分かち合う">信仰を分かち合う</a>
                     </li>
                     <li>
                        <a href="/ja-jp/powerful-scripture" aria-label="力強い経典">力強い経典</a>
                     </li>
                     <li>
                        <a href="/ja-jp/prayer-request" aria-label="祈りのお願い">祈りのお願い</a>
                     </li>
                     <li>
                        <a href="/ja-jp/terms" aria-label="利用規約">利用規約</a>
                     </li>
                  </ul>
               </li>
            </ul>
         <div class="legal">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer">&emsp;<img src="/static/img/ja-jp/facebook-24.webp" title="フェイスブック アイコンリンク" alt="フェイスブック アイコンリンク" aria-label="フェイスブック アイコンリンク" width="24" height="24"></a> 
            <a href="https://twitter.com/i/flow/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/twitter-24.webp" title="ツイッター アイコンリンク" alt="ツイッター アイコンリンク" aria-label="ツイッター アイコンリンク" width="24" height="24"></a>
            <a href="https://www.instagram.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/instagram-24.webp" title="インスタグラム アイコンリンク" alt="インスタグラム アイコンリンク" aria-label="インスタグラム アイコンリンク" width="24" height="24"></a>
            <a href="https://www.pinterest.com" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/pinterest-24.webp" title="ピンタレスト アイコンリンク" alt="ピンタレスト アイコンリンク" aria-label="ピンタレスト アイコンリンク" width="24" height="24"></a>
            <a href="https://accounts.snapchat.com/accounts/v2/login" target="_blank" rel="noreferrer">&emsp;&emsp;<img src="/static/img/ja-jp/snapchat-24.webp" title="スナップチャット アイコンリンク" alt="スナップチャット アイコンリンク" aria-label="スナップチャットアイコンリンク" width="24" height="24"></a>
         </div>
         <p>&copy;著作権 2024 holymercy.com/ja-jp/ 全著作権所有</p>
            <div class="legal__links"> 
            <span>連絡を取り合いましょう。ホーリーマーシーはこれから素晴らしいものになります！</span>
            </div> 
         </footer>
           <!--google translate-->
          <span>
               <script>
       //<![CDATA[
       function googleTranslateElementInit() {
         new google.translate.TranslateElement({
           pageLanguage: 'ja', includedLanguages: 'en,es,zh-CN,zh-TW,hi,id,fr,id,ar,bn,pt,ur,in,de,ja,ko,ru,mr,te,tr,ta,vi,tl,ko,fa,ha,sw,jw,it,pa,kn,gu,th,sq,nl,hr,cs,bg,kl,or,su,ro,az,ml', autoDisplay: false,
           layout: google.translate.TranslateElement.InlineLayout.SIMPLE
         }, 'google_translate_element');
       }
       //]]>
               </script>
               <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
           </span>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9YTTLPE2DX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9YTTLPE2DX');
</script>
 <script src="/static/js/ja-jp/add-service-worker.js"></script>
 <script src="/static/js/ja-jp/service-worker.js"></script>
</body>
</html>